[2018-10-18 22:17] AndreiMisiukevich commented on #124
If you like this plugin you may set star 🌟

[2018-10-19 11:40] Phenek opened #125 "[Bug Android] Scrolling vertically on ListView, make a swipe out of range."
Hello There,

I got an issue with Carousel View with two listViews Content, it's just happening on Android

It's literally swipe out of range, when I'm doing a vertical scroll on ListView.
then I just do a click and the List is coming back.
I didn't get this issue on iOS
There a demo:
![Alt Text](https://media.giphy.com/media/iMBdMRfKSinEYdTFYZ/giphy.gif)

If you got any idea where could be the pr

[2018-10-19 11:48] AndreiMisiukevich commented on #125
Hi
Try to play with
1) VerticalSwipeThresholdDistance = 1000
2) SwipeThresholdDistance = 100
etc.

I need a sample for debugging it, what is causing animation

[2018-10-19 13:55] Phenek commented on #125
Yeah I tried
I have not enough time to give you a sample right now.

It's seems to come when I change manually the CarouselView.SelectedIndex then I swipe

[2018-10-20 09:46] JTOne123 opened #126 "UWP crashes with XF 3.3.0.912540 when Sliding"
With the latest XForms, something crashes when sliding with the next exception

`System.AccessViolationException: 'Attempted to read or write protected memory. This is often an indication that other memory is corrupt.'`

[2018-10-20 12:03] jonasrembratttetrapak opened #127 "Crash in Foundation when sliding back and forth"
I have experienced the below crash several times during testing when sliding items quickly back and forth with CarouselView. The crash happens with 1.6.3 and 1.6.4-pre. I have tested it in Simulators and with physical devices and I can repro with both. I have been using Visual Studio 2017 (I have not tested with VS4M yet):

Unhandled Exception:

[code]

[2018-10-20 19:47] AndreiMisiukevich commented on #126
@JTOne123 hi) I have no idea, how can we solve it)
I'm sure, we should create an issue for Xamarin.Forms team.

[2018-10-20 19:50] AndreiMisiukevich commented on #127
Hi @jonasrembratttetrapak i think, this is xamarin.forms bug.. something isn't locked in iOS renderer (I think adding/removing Child in AbsoluteLayout)

[2018-10-20 20:06] AndreiMisiukevich commented on #126
@JTOne123 could you please create this issue for XF team (attach sample)
Because it doesn't look like CardsView bug

[2018-10-20 20:06] #126 closed

[2018-10-20 20:07] #127 closed

[2018-10-20 20:15] AndreiMisiukevich commented on #121
@grammatnMcK are you sure that IsPanInteractionEnabled ins't working?

[2018-10-20 20:35] AndreiMisiukevich commented on #121
But how to use it with panning feature -- have no idea

[2018-10-20 21:10] AndreiMisiukevich commented on #125
@Phenek try it now please
if you want, you can debug, why CurrentView == CurrentBackViews[0].
It seems, that SetupBackViews isn't called sometimes

[2018-10-20 21:11] AndreiMisiukevich commented on #117
I'm afraid, you need to use IsPanInteractionEnabled = false
That's only one solution, which i see now :(

[2018-10-20 21:11] #117 closed

[2018-10-20 21:12] AndreiMisiukevich commented on #121
IsPanInteractionEnabled only :(

[2018-10-21 09:07] JTOne123 commented on #126
Exception is here
![image](https://user-images.githubusercontent.com/3457140/47264999-cd53d980-d529-11e8-946a-71aa0ea7e275.png)

It looks like an issue with corner radius that was fixed at 3.3 for UWP

https://github.com/xamarin/Xamarin.Forms/issues/2838

https://github.com/xamarin/Xamarin.Forms/commit/6031bbfb691033680c877bb7da79fc5d6c717299

[2018-10-21 09:10] AndreiMisiukevich commented on #126
@JTOne123 amazing! Good job.
What do you think regarding to this issue?
Should we do anything?

[2018-10-21 10:08] JTOne123 commented on #126
I'm fixed it with the custom frame renderer

[code]

The issue in Control.ClearValue(BackgroundProperty);

It happens because do not set UnselectedIndicatorStyle and without explicit value background color, the nex XF frame renderer tries to Control.ClearValue and that cause an exception.

Workaround:
Use fixrenderer or set UnselectedIndicatorStyle

[2018-10-21 10:50] AndreiMisiukevich commented on #126
Cool
Let's leave it as is.

[2018-10-21 12:38] AndreiMisiukevich commented on #125
try 1.6.4

[2018-10-21 12:38] #125 closed

[2018-10-21 14:50] AndreiMisiukevich commented on #127
Also you could try to set DesiredMaxChildrenCount = 12

[2018-10-21 16:37] grammatnMcK commented on #121
Hi Andrei,

either IsPanInteractionEnabled is true of false, I cannot scroll the listview to bottom or to the top when I try to scroll on then cardview. What exactly did you tested?

[2018-10-21 17:04] grammatnMcK commented on #121
[CardsViewInListView.zip](https://github.com/AndreiMisiukevich/CardView/files/2499422/CardsViewInListView.zip)

[2018-10-21 18:03] AndreiMisiukevich commented on #121
@grammatnMcK i tested with my sample) I will check yours

[2018-10-22 06:32] jonasrembratttetrapak commented on #127
Hi @AndreiMisiukevich. I'll try and run with Xamarin.Forms source code and see what I find. I'll also test setting the `DesiredMaxChildrenCount` as you suggested.

If it's a Xamarin.Forms thing I'll add an issue for it

[2018-10-22 08:10] grammatnMcK commented on #121
@AndreiMisiukevich  actually adding the following line doesn't fix the problem:

new CardsViewRenderer(); // or CardsViewRenderer.Preserve();

[2018-10-22 08:16] jonasrembratttetrapak commented on #127
Alas, I could still repro the crash with `DesiredMaxChildrenCount` set to 12. I'll try running with your (and Xamarin.Forms) source code next to see what's going on.

[2018-10-22 08:40] AndreiMisiukevich commented on #121
@grammatnMcK incredible.. I tested on your sample

[2018-10-22 08:40] AndreiMisiukevich commented on #121
@grammatnMcK do you still use IsPanInteractionEnabled=false?

[2018-10-22 08:42] jonasrembratttetrapak commented on #127
Alas, setting `DesiredMaxChildrenCount = 12` did not help; I can still repro the crash.

[2018-10-22 09:04] Phenek commented on #125
Hey first Thanks,
unfortunately 1.6.4 didn't worked, I still get the issue like in the Gif.
I will investigate why CurrentView == CurrentBackViews[0]
when I got time.

[2018-10-22 10:05] AndreiMisiukevich commented on #125
I think, this issue is related to embedding view only and doesn't affect ItemTemplate approach

[2018-10-22 11:36] grammatnMcK commented on #121
@AndreiMisiukevich this doesn't work by just adding the new CardsViewRenderer.
Did you edit anything else too?

[2018-10-22 11:38] grammatnMcK commented on #121
sorry.. ok with this change and the IsPanInteractionEnabled = false is working.

[2018-10-22 12:14] AndreiMisiukevich commented on #121
@grammatnMcK super! =) Enjoy

[2018-10-22 16:55] abanoub-labib commented on #112
A workaround is to bind the "IsRightToLeftFlowDirectionEnabled" of the carousel view to the current page flow direction and to set the "IsRightToLeftFlowDirectionEnabled" of the indicators to false.

By setting this, it works fine in both directions.

[2018-10-22 18:36] AndreiMisiukevich commented on #112
@abanoub-labib thanks for reply =) Checking now, it seems, that i know the reason

I tested RTL without setting FlowDirection to RTL (i changed only IsRightToLeftFlowDirectionEnabled prop)

[2018-10-22 20:07] AndreiMisiukevich commented on #127
@jonasrembratttetrapak i appreciate ! Thank you very much. Keep me posted

[2018-10-23 11:29] alicint opened #128 "In cardsview if the cards are semi transparent then after swiping to left or right the next card will be visible under the current card"
try adding a semi transparent card and swipe to any directon partialy and then stay on the original card, the new card will be created under the current card and because current card is semi transparent the next card will be visible under it. I think this is a bug.

[2018-10-23 11:32] alicint opened #129 "Any event handler for SelectedIndex Changed?"
It is possible to listen to the SelectedIndex changed when user is swiping with OnUserInteracted but when the selected index is changed programmatically it is not possible to listen to SelectedIndex changes.

[2018-10-23 11:37] AndreiMisiukevich commented on #129
@alicint  Hi) thanks for feedback

Have you tried ItemAppearing event ? :)

*if you like this plugin, you may STAR it*

[2018-10-23 11:39] AndreiMisiukevich commented on #128
@alicint hey, thanks for feedback

How should it work in your opinion? Let's imagine, that you have 1000 cards. It won't be great idea to renderer them on start, will it?

[2018-10-23 11:42] #129 closed

[2018-10-23 11:43] AndreiMisiukevich commented on #129
See more info there https://github.com/AndreiMisiukevich/CardView/blob/master/docs/CardsView.md

**ItemAppearing** / **ItemDisappearing**
or
**ItemAppearingCommand** / **ItemDisappearingCommand**

[2018-10-23 11:51] alicint commented on #129
Thanks Andrei, ItemAppearing works. having a SelectedIndexChanged event would be more convenient since thats the common pattern.
And yeah I do like it and have already starred it ;)

[2018-10-23 11:53] alicint commented on #128
yeah definitely I don't mean that it should load all at once, maybe hiding the next card when user isn't swiping yet?

[2018-10-23 12:02] AndreiMisiukevich commented on #128
@alicint in this case you are loosing pretty animation.
Well, if you want to customize animation, you may easily achieve it

Inherit these classes:
- https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCardFrontViewProcessor.cs
- https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCardBackViewProcessor.cs

And implement your approac

[2018-10-23 12:02] #128 closed

[2018-10-23 12:06] AndreiMisiukevich commented on #129
@alicint thanks for feedback, but can't agree. This name is unified (ListView use the same) it came from WPF

[2018-10-23 16:46] acidbless opened #130 "Is it possible to prevent left or right swipe gesture in Carousel control?"
Hi Andrei.
I need to navigate through the collection in a forward direction in the carousel, so the swipe gesture should be restricted in right to left. It seems IsOnlyForwardDirection property is what I need, but the problem is that it does not restrict the left to right gesture. Did I miss something?

[2018-10-23 19:34] AndreiMisiukevich commented on #130
@acidbless hi, This is good question, i think, the best solution for you would:

1) Don't use IsOnlyForwardDirection (leave it default)
2) Set IsCyclical = false
3) Handle **ItemDisappearing** event or **ItemDisappearingCommand** and remove disappeared one (Which has got index 0)

So, you will achieve such behavior.

Is everything clear?)

[2018-10-23 19:34] #130 closed

[2018-10-25 12:53] ZeroByte1987 opened #131 "Error - AccessViolation exception on UWP platform"
I get **AccessViolation** exception on **UWP** when there's more than one image in source collection for **CarouselView**.
CardView version - **1.6.4** (also tested in 1.6.3)
Xamarin.Forms version - **3.3.0**

It seems to work properly on Android and iOS, i.e. this is likely UWP-only issue.

My colleague says it worked some time ago with multiple images, so maybe the problem is with new Xamarin.Fo

[2018-10-25 13:00] AndreiMisiukevich commented on #131
@ZeroByte1987 yes, i think so too

[2018-10-25 13:01] AndreiMisiukevich commented on #131
I don't have Windows PC for testing it. I use Mac

[2018-10-25 13:07] AndreiMisiukevich commented on #131
Who wants to debug it ?))

[2018-10-25 13:10] ZeroByte1987 commented on #131
Oh, seems like this suggestion here fixed the problem.
https://github.com/AndreiMisiukevich/CardView/issues/126

Sorry for disturbing you. :)

[2018-10-25 13:17] AndreiMisiukevich commented on #131
@ZeroByte1987 don't worry

[2018-10-25 13:17] #131 closed

[2018-10-26 08:43] gmwilhelm opened #132 "[Android] ArrowControl require double taps instead of single"
Hello,

i'm playing around with your sample application.

I noticed that in the CarouselSampleXamlView the arrows only react on a double tap.
Is it possible to set this to a single tap?

Regards,
  Dirk

[2018-10-26 09:28] AndreiMisiukevich commented on #132
@gmwilhelm hm, that's strange stuff!
I need to check it
Perhaps you click it too fast, no?

[2018-10-26 19:58] AndreiMisiukevich commented on #132
What version forms do you use? Android or iOS ?

[2018-10-29 06:53] gmwilhelm commented on #132
Hello,

i tested it on Android, both simulator (Android 6.0) and a real device (Android 8.0), with the forms version 2.5.1.444934 and 3.3.0.912540.

Couldn't test on iOS yet, since i get different errors when i try to compile the sample. but that is a different problem.

[2018-10-29 08:00] AndreiMisiukevich commented on #132
@gmwilhelm got it, thanks
I will check on simulator.. but as you can see in source code, I use regular tapgesture

[2018-10-29 14:21] martinvds81 opened #133 "Handling adding items dynamically"
Hi,

I have a problems with the view when updating collection. I have created a setup where I can endlessly swipe through dates (disabled the infinite scroll option). So what I did was create a collection with three dates and set the selected index on the middle one. On the `CardsViewItemSwipedHandler` I then handled the right or left swipe and based on that do the following:

**right swipe** (pre

[2018-10-29 21:18] AndreiMisiukevich commented on #133
Hi, if i understood you correctly you want to have 3 active views (3 items)
SelectedIndex = 1 (regular state)
And if you swipe right (you want to make right view as centered - index = 1, remove left one, old centered make as index = 0 and added new one with new index = 2)
Is it correct?

I think you should use ItemAppearing event (and if index = 0 or 2, you recycle views)

[2018-10-30 07:47] martinvds81 commented on #133
Thanks for your reply Andrei,

How do I go about recycling the views? I will setup a sample.

[2018-10-30 07:57] AndreiMisiukevich commented on #133
@martinvds81 great. I wait

[2018-11-05 06:40] rredoh commented on #102
Hi @AndreiMisiukevich can you check it again? Because I tried with TapGesture to CarouselView and it's not working

[2018-11-05 07:45] AndreiMisiukevich commented on #102
@rredoh could you please share your code/xaml ?

It's needed to add tapgesture to itemTeplate :) I can help, if you show me code/sample

[2018-11-05 10:01] rredoh commented on #102
Here. The [repro](https://github.com/rredoh/CardViewTap)

[2018-11-05 15:23] ernestoyaquello opened #135 "Quick swipe gestures get ignored sometimes if the page to load is heavy [Android]"
Hi, I have detected an issue with this control and I have found a workaround for it.

I am using the `CarouselView` in a fairly big app in which each page of the carousel is a very complex view that takes time to load. The issue is that **sometimes the swipe gesture made by the user gets ignored on Android, specially when the gesture is performed fast**. This problem **only happens on Android** (o

[2018-11-05 15:49] AndreiMisiukevich commented on #135
Hi) thanks for feedback
I will check the PR today/tomorrow

[2018-11-05 20:13] AndreiMisiukevich commented on #102
@rredoh
Well, there is no bug, you just use wrong BindingContext for tapGesture.
You should bind tapGesture command to parent's command with x:Reference

The first option
[code]

OR

The second option
[code]

As you wish

[2018-11-05 20:13] #102 closed

[2018-11-05 20:44] AndreiMisiukevich commented on #133
@martinvds81 don't forget)

[2018-11-06 07:20] toshitani23 opened #137 "First and Fourth Page Duplicate ISSUE"
Hi, I tried to use the "CarouselView" of this Plugin in order to display list of data and everything works fine. However, the only thing that I found some issue is that after every three pages, the next three pages (fourth, fifth, sixth and so on...) unexpectedly duplicate some of the UI Design from the first three pages without touching/changing anything on the current index/page as shown in imag

[2018-11-06 08:11] martinvds81 commented on #133
I changed the setup yesterday and is seems to be working now. Instead of adding and removing the items in the carousel, they now have some fixed items and enabled cyclic again. In
the CardsViewItemSwipedHandler I now only register the left or right action and based on that reload the bindable data in the card.

Anway thanks for this control and your help 👍

[2018-11-06 08:11] #133 closed

[2018-11-06 08:28] AndreiMisiukevich commented on #137
@toshitani23

Hi, do you use bindings for managing carousel?
It seems, that bindings doesn't work.. you should clear view each time when they will appear.
hmm..
So, you can try to set **"IsViewCacheEnabled = false"**, but it isn't very good solution.
Or try to subscribe BindingContextChanged in your cards and clear view...
There are a lot of possible fixes/workarounds

It would be great to have sm

[2018-11-06 08:29] AndreiMisiukevich commented on #132
@gmwilhelm i found the reason. Will try to fix today

[2018-11-06 09:45] toshitani23 commented on #137
Hi @AndreiMisiukevich, thank you for helping me.

Here is the small sample you're requesting.

[CarouselViewDuplicateItem.zip](https://github.com/AndreiMisiukevich/CardView/files/2552508/CarouselViewDuplicateItem.zip)

[2018-11-06 09:48] AndreiMisiukevich commented on #137
@toshitani23 i will try to check it today-tomorrow :)

[2018-11-06 19:40] Luke03 opened #138 "Force redraw of card layout"
Hi,
I am trying to build the following functionality:
When a card is tapped it should turn around and show some additional information.
To achieve this I added a TapGestureRecognizer which sets a boolean flag on the data object.
The CardView uses a TemplateSelector which selects between two templates, one for the front-side and one for the back-side of the card. If the boolean flag is true it sele

[2018-11-06 20:18] AndreiMisiukevich commented on #138
Hi, https://github.com/AndreiMisiukevich/CardView/issues/91

The same issue.
I tried to implement such feature, but it causes some errors

In your case i suggest some of next approaches

1) Create template with two layouts and select needed regarding to boolean value
[code]
2) Or you can use two different carousel view and hide/show when it needed

[2018-11-06 20:19] #138 closed

[2018-11-07 09:37] MaxenceMax commented on #17
@AndreiMisiukevich No news ? :)

[2018-11-07 09:47] Phenek commented on #17
@MaxenceMax, unfortunately, I still have to take a break of a month and a half on Open Source.
But I did not finish with this feature, I think about it every day

[2018-11-07 10:09] AndreiMisiukevich commented on #17
@Phenek @MaxenceMax
Hm, from my point of view somebody can try with pre-release version of CoverFlowView :)
Why not?)

[2018-11-07 10:50] MaxenceMax opened #139 "t ferrand"

[2018-11-07 11:08] AndreiMisiukevich commented on #139
?

[2018-11-07 11:11] AndreiMisiukevich commented on #137
I checked your sample
You don't use bindings properly for storing selected image.

I can create small sample, how to use it .. because it's difficult a little to understand your code :)

[2018-11-07 11:12] #139 closed

[2018-11-07 15:29] Phenek commented on #17
Yeah @MaxenceMax you can try it now.

[2018-11-07 15:38] vecalion opened #140 "ImageSource Binding Issue"
Hey Andrei,

I'm looking for some ideas here. I'm putting the CardView control into a real project and getting some binding issues. Let me try to describe:

There are a lot of cards, one of the cards let the user choose a photo from the gallery (so OnDisappearing / OnAppearing fires). When a photo is selected, it's loaded into a property of a type ImageSource. This property is bound to an Image co

[2018-11-07 15:42] AndreiMisiukevich commented on #140
@vecalion hm, do you use FFImageLoading ?)
If not, try please it. If yes, try to use Xamarin.Forms.Image =)

I think, it can be image loading issue.. also you can try to set new ImageSource it MainThread

[code]

[2018-11-07 20:01] AndreiMisiukevich commented on #137
[test.zip](https://github.com/AndreiMisiukevich/CardView/files/2558962/test.zip)

I created very similar sample, check it :)
You just need to figure out with your bindings )

[2018-11-07 20:02] #137 closed

[2018-11-07 20:02] AndreiMisiukevich commented on #132
It will be available in the next release

[2018-11-07 20:02] #132 closed

[2018-11-07 20:04] AndreiMisiukevich commented on #140
@vecalion if you decide to create repro/sample, could you please do it in your fork repository?
it would be better for debugging :)
But I'm sure, that this is thread issue with Image (FF or regular XF Image)

[2018-11-07 20:10] vecalion commented on #140
@AndreiMisiukevich yeap, looks like that. The main thread didn't help. I'll play a bit to get more details and if nothing helps, create a repro project in my fork. Thanks.

[2018-11-07 20:31] AndreiMisiukevich commented on #140
@vecalion thanks)
Btw, do you call PropertyChanged after setting new value ?) Maybe you miss something.. (just hypothesis)

[2018-11-07 21:00] vecalion commented on #140
Yep, the PropertyChanged is called.

Here is the repro project (iOS, select the CarouselView Xaml menu item): https://github.com/vecalion/CardView/tree/master/PanCardViewSample

What I found during creation is that it works perfectly if the ImageSource is the property of the card view model. In my case it's a property of a parent view model and is bound like this:

`<Image Source="{Binding Source=

[2018-11-07 21:47] AndreiMisiukevich commented on #140
@vecalion and it won't help, right?

[code]

[2018-11-07 21:50] vecalion commented on #140
Nope, looks like there is an interesting bug here. :)

[2018-11-07 21:50] AndreiMisiukevich commented on #140
Does FFImage work wrong in that place as well? @vecalion

[2018-11-07 21:54] AndreiMisiukevich commented on #140
@vecalion maybe it's something related to Stream ImageSource ?
What will happen, if we set URI or File Image source instead of Stream?

[code]

[2018-11-08 22:22] AndreiMisiukevich commented on #140
@vecalion closing for now
because it doesn't seem to be cardView issue

[2018-11-08 22:22] #140 closed

[2018-11-11 14:08] kchan4 opened #141 "Is there any way I can find out which direction the user swiped?"
Is there anyway I can determine the direction of the swipe?
I was used to use the PositionChanged to determine is left or right.
But now the events seems removed.

[2018-11-11 14:16] AndreiMisiukevich commented on #141
Hi
Yes, currently you should use ItemAppearing / ItemDisappearing events or commands. As you wish

[2018-11-11 14:17] #141 closed

[2018-11-23 04:14] SagarPanwala opened #142 "Can we use Stack or Grid as ItemLayout instead of Absolute CoverFlowView?"
Can we use Stack or Grid as ItemLayout instead of Absolute in CoverFlowView?
I tried to use, but it won't work properly. Sometimes scroll not work , sometime width not calculating properly. I almost spend 1.5 day to make this work butterly. Your help will get me out of trouble.
Thanks

[2018-11-23 06:44] AndreiMisiukevich commented on #142
Yes, we can
But background images will be disabled for these controls

Is it ok ?

[2018-11-23 07:37] SagarPanwala commented on #142
Sorry don't understand you,
In coverflowview, I want to put stack or grid layout and those can contain
any childview?

Also in the sample, if we change height of items, control functionality got
broke.

On Fri, Nov 23, 2018, 12:14 PM Andrei <notifications@github.com wrote:

[2018-11-23 08:30] AndreiMisiukevich commented on #142
Coverflowview is in beta. It isn't stable. And was developed by another guy. It would be better to ask him.

Probably stabl Carousel View would be ok for you..

[2018-11-23 09:15] AndreiMisiukevich commented on #142
@SagarPanwala let's go ahead in the original github-ticket
https://github.com/AndreiMisiukevich/CardView/issues/17

[2018-11-23 09:15] #142 closed

[2018-11-23 09:16] AndreiMisiukevich commented on #17
@Phenek hey
Could you please answer the question of @SagarPanwala RE #142 ?

[2018-11-23 09:52] Phenek commented on #142
Hello @SagarPanwala ,
For now all items have to get the same Width.

I have to do some rework and add some logics to get them dynamics like
"HasUnevenRowsProperty" do on ListView. (this will affect performances)

Unfortunately this feature is not implemented for now.

[2018-11-23 09:57] AndreiMisiukevich commented on #142
@Phenek Thanks :)

--
_OFFTOPIC: recommend to check https://github.com/AndreiMisiukevich/HotReload_

[2018-11-23 10:02] SagarPanwala commented on #142
My concern is let them make , same width, but if I change in sample from
130 to 200, scrolling breaks.

On Fri, Nov 23, 2018, 3:27 PM Andrei <notifications@github.com wrote:

[2018-11-23 14:05] SagarPanwala commented on #142
Thanks,

I will be glad if any way I can contribute.
I also need ur help if u can send me ur email or PM me.

On Fri, Nov 23, 2018, 4:53 PM Vice <notifications@github.com wrote:

[2018-12-01 18:41] nawidy opened #143 "Disabling animation when changing ItemSource"
Hi @AndreiMisiukevich,

Is there a way to remove the animation when changing ItemSource?

Code to repro could be the following:

resetting the item where myContentList is a pointer to another container that has been refreshed but not picked up by ItemSource event handler. Forcing a reset by changing the source to Null before resetting it to myContentList
[code]

or simply changing the itemsource t

[2018-12-02 19:41] stealthcold opened #144 "Add ThumbnailControl"
Hi guys!

First of all: thanks for this awesome plugin! 😀

I would like to know if you have some ideas (and if is possible) to change the indicator of the CarouselView, to achieve the same thumbnail style as Syncfusion Rotator control:

![Syncfusion thumbs](https://help.syncfusion.com/xamarin/sfrotator/images/thumbnail.png)

Thanks in advance

[2018-12-02 19:49] AndreiMisiukevich commented on #144
Hi @stealthcold
Very good question.
Yes, you can achieve it yourself
But perhaps it can be great enhancement
-
So, i think, we can create ThumbnailControl
Is it urgent for you? You can try to do it yourself (Add horizontal listView or scrollView with the same ItemsSource etc.)

[2018-12-02 20:03] stealthcold commented on #144
Hi @AndreiMisiukevich ,

Would be a nice feature!
Right now I'm trying to combine inside a StackLayout the CarouselView with a CoverFlowView right below.

My app needs such thing, but I can release without it by now.

Thanks,

[2018-12-03 12:00] stealthcold commented on #144
Hey @AndreiMisiukevich,

I had no success with my Stack + Carousel + CoverFlowView idea. ☹️
The CoverFlowView  doesn't have an "ItemTapped" event for me to link with the selectedIndex change of de Carousel. And don't know why, the CoverFlowView got some weird behavior when showing the images from the ItemSource (not scolling correctly and flickering).

Do you plan implement the thumbnails? I'll wa

[2018-12-04 09:26] JTOne123 opened #145 "[UWP] [XBOX] ParentScrollView does not work with typically scrolling with RS"
A user isn't able to scroll down with Right Stick (RS) if cursor over the image.

[2018-12-04 09:30] AndreiMisiukevich commented on #145
@JTOne123 "IsPanInteractionEnabled = false" as workaround only... )

[2018-12-04 09:34] JTOne123 commented on #145
I run my app at Xbox console and get that issue, I cannot scroll down the page because of the issue.

The IsPanInteractionEnabled is not the case. The issue at the vertical scrolling.

[2018-12-04 09:43] AndreiMisiukevich commented on #145
@JTOne123 yes, but IsPanInteractionEnabled should help, because it disables PanGesture. So, scroll should work.

As for xBox.. not sure, that i am keen to support it :)

[2018-12-04 10:11] JTOne123 commented on #145
Ideally, you should not support it, the same codebase)

I see your point about PanGesture but ideally, I want to save horizontal swiping.

-

Anyway, I did next renderer and it blocks horizontal swiping in PC but does nothing at Xbox :(
[code]

[2018-12-04 10:57] JTOne123 commented on #145
Maybe you can suggest me another idea?

[2018-12-04 12:30] AndreiMisiukevich commented on #145
@JTOne123 let's leave it as workaround and close this issue

[2018-12-04 12:31] #145 closed

[2018-12-04 13:03] JTOne123 commented on #145
It is the workaround at very limited situations like mine.

I guess, the root issue in XF itself.

[2018-12-07 12:54] alexmartinezm commented on #80
Thanks to this issue I have solved a big crash in GoogleAds plugin implementation. Thank you so much!

[2018-12-10 11:45] shoeIT commented on #80
The issue hasnot occured anymore over the last month, I think it works right now

[2018-12-10 12:09] AndreiMisiukevich commented on #80
@shoeIT thanks a lot for update :)

[2018-12-13 14:03] shoeIT commented on #127
I also get this error now...@jonasrembratttetrapak   did you find something to solve this ?

[2018-12-13 14:11] jonasrembratttetrapak commented on #127
Alas, no. We're using this control now instead: https://github.com/alexrainman/CarouselView

[2018-12-13 14:12] shoeIT commented on #127
ok, funny, since I've started with Alex control and changed to this one, since I got to many errors with the other one, especially these NSGenericExceptions.

[2018-12-13 14:30] jonasrembratttetrapak commented on #127
Yes, Alex's control is not bug free but we've found it to be quite robust. There's been a few issues and the latest version isn't packaged yet so we're running the source code. We found one GC/Dispose bug but we fixed that (and we will be forwarding it to Alex).

[2018-12-13 16:09] nimashshz opened #146 "Images in CarouselView have low quality."
Hi,
CarouselView decreases the quality of images.
I set IsViewCacheEnabled to false but didn't worked.
Please help me.

Thanks

[2018-12-13 16:13] AndreiMisiukevich commented on #146
@nimashshz hi
It's impossible
What type of image do you use?
What image control do you use?
What Image Aspect do you use?

Attach the sample please

[2018-12-13 16:22] nimashshz commented on #146
Hi, Thanks for reply.
I using JPG image.
I using ffimageloading:CachedImage.
I using AspectFill. (I used all type of Aspect).

I used my image control without CarouselView with same size and Aspect.
I saw the difference of quality between of they.

This is my code:
`<cards:CarouselView x:Name="crvImages" HeightRequest="350" HorizontalOptions="FillAndExpand" FlowDirection="LeftToRight" BackgroundCo

[2018-12-13 19:30] AndreiMisiukevich commented on #146
Send this image to me
I will try to reproduce
Also try please with Image from Xamarin

[2018-12-14 09:03] AndreiMisiukevich commented on #146
@nimashshz it's VERY strange, if images have lower quality than without carousel, as Carousel -- regular AbsoluteLayout. Let's check

[2018-12-14 09:04] AndreiMisiukevich commented on #127
@shoeIT @jonasrembratttetrapak that's very well, when there is alternative, i think :)

[2018-12-16 20:16] AndreiMisiukevich commented on #131
@amirvenus hi
have you tried this approach https://github.com/AndreiMisiukevich/CardView/issues/126 ?

[2018-12-17 19:18] AndreiMisiukevich commented on #146
well, if you experience the same issue, try to use Xamarin.Forms.Image instead

[2018-12-17 19:18] #146 closed

[2018-12-17 20:15] pallavgithub opened #147 "PanCard carousel View in Listview"
When PanCard carousel View is in xamarin form Listview, Listview scroll stops sometime in IOS only.
It is working in Android.

Below is the example with using syncfusion listview but it is also occuring on xamarin listview.

[code]

[2018-12-17 20:19] AndreiMisiukevich commented on #147
Hi.. i think, i need to set this as default value...

From Readme:
-> If you don't want to handle vertical swipes or they interrupt your scrolling, you can set VerticalSwipeThresholdDistance = "2000" This property responds for vertical swipe detecting threshold

[2018-12-17 20:20] AndreiMisiukevich commented on #147
Is it helpful?

[2018-12-17 20:20] #147 closed

[2018-12-17 21:37] AndreiMisiukevich commented on #144
@stealthcold hi, sorry for delay
Just tried to implement it with ListView -- no luck

I think, you can achieve it with HorizontalScrollView. Just put several items(images) with tapGesture to ScrollView.

I guess it's OK for you, if you don't have 10+ items in carousel.
As for virtualization...hm, i think CollectionView can help.

@Phenek sorry for disturbing :)
Are you still interested in supporti

[2018-12-17 21:41] #144 closed

[2018-12-19 06:02] nimashshz commented on #146
Hi, Thanks for your attention.
I set DownsampleToViewSize="False" of ffimageloading:CachedImage and my problem was solved.

[2018-12-19 09:16] AndreiMisiukevich commented on #146
@nimashshz cool!) thanks for feedback :)

[2018-12-20 18:53] stealthcold commented on #144
@AndreiMisiukevich

Thanks for the suggestions! I'll take a look!

Thanks,

[2018-12-24 14:50] amirvenus opened #148 "macOS and WPF support"
I was just wondering if there will be any macOS and WPF support as most of my clients only use WPF and macOS version of the apps I create! (Wired right?!)

[2018-12-24 15:17] AndreiMisiukevich commented on #148
It should work on these platforms now.. maybe with issues.

[2018-12-24 15:52] amirvenus commented on #148
How would I enable it then?

Because it throws Exception even when the app is being started.

It might be that I need to init it in Delegate or Main.cs files.

[2018-12-24 15:56] AndreiMisiukevich commented on #148
Doesn't it work for Mac as well?
I will check.
But as for UWP.. I don't have Windows PC for debugging

[2018-12-24 16:30] amirvenus commented on #148
macOS is of higher priority at the moment.

Please advise what I need to add to the delegate/main.cs file.

[2018-12-24 19:18] AndreiMisiukevich commented on #148
@amirvenus let me check it firstly please

[2018-12-24 22:18] AndreiMisiukevich commented on #148
@amirvenus i created a sample for Mac
https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardViewSample/MacOS

should work for WPF too

[2018-12-24 22:18] #148 closed

[2018-12-31 05:58] khadeeja-alif opened #149 "Can't seem to set Indicators for CarouselView"
I get this issue when setting indicators for CarouselView

<img width="599" alt="screenshot 2018-12-31 at 11 23 47 am" src="https://user-images.githubusercontent.com/14857549/50555200-e2e63c00-0cee-11e9-8ae8-7641662a59fc.png">

This is my CarouselView Code
[code]

[2018-12-31 10:55] AndreiMisiukevich commented on #149
What type of linking do you use ?

[2018-12-31 19:10] AndreiMisiukevich commented on #149
@khadeeja-alif try to set indicators control in code behind:
[code]

[2018-12-31 19:11] AndreiMisiukevich commented on #149
@khadeeja-alif wait your feedback. If nothing helps, i will reopen issue and continue investigation :)

[2018-12-31 19:11] #149 closed

[2019-01-02 14:06] gilbertocarcano opened #150 "App crashes when the device is rotated"
Hi,
in this very basic example the app stop working when IsViewCacheEnabled="False" and the device (real) is rotated. Thank you for your great work.
[cv.txt](https://github.com/AndreiMisiukevich/CardView/files/2720932/cv.txt)

[2019-01-02 14:11] AndreiMisiukevich commented on #150
@gilbertocarcano hi, thank you for feedback

[code]

A little bit strange sample :)
You use views as items source and ItemTemplate :)
And you don't use your views in itemsSource..

Ok, as i understand, i can set ItemsSource any two items array and app will crash with this sample.

Have you got any stacktrace of the crash ?

Is it iOS or Android?

[2019-01-02 14:20] gilbertocarcano commented on #150
Is it Android, I'm not able to test in iOS.
I can't get any staktrace becouse I'm using your plugin as DLL and Visual Studio only says me that there was an exception in the external code.

[2019-01-02 14:35] AndreiMisiukevich commented on #150
Ok, i will try to reproduce

Is there any additional info?
Should i rotate screen during swiping or just open screen with you xaml and rotate device.

Thx

[2019-01-02 14:44] gilbertocarcano commented on #150
Thanks for your response.
The crash happens just opening the screen and rotating the device. I tried IsViewCacheEnabled="True" and the crash go away but this is not an option in my application.

[2019-01-02 15:05] AndreiMisiukevich commented on #150
@gilbertocarcano thanks, i'll check

[2019-01-02 15:33] gilbertocarcano commented on #150
I've downloaded the repo and tried IsViewCacheEnabled ="false" in the CarouselSampleXamlView. The error come from currentViewPair.Value.Clear(), line 492 of CardsView.cs, in the OnSizeChanged() event handler.

[2019-01-02 15:41] AndreiMisiukevich commented on #150
@gilbertocarcano super :) your are right **_viewsPool** is empty, because caching disabled

Do you want to create PR with fix ?)

[code]

[2019-01-02 15:43] AndreiMisiukevich commented on #150
@gilbertocarcano it would be awesome if you adjust this fix and test it on your case :)

[2019-01-02 15:51] gilbertocarcano commented on #150
I've tried the fix and it works! The test condition is actually currentViewPair.Value!=null and not currentViewPair!=null
Thank you

[2019-01-02 16:46] gilbertocarcano commented on #150
Sorry, I'didn't understand. I don't know what is a PR  so i guess you should fix it yourself. :) I'm going to study how github works asaic :). Good new year!

[2019-01-02 17:10] AndreiMisiukevich commented on #150
@gilbertocarcano ok)

[2019-01-02 20:05] #150 closed

[2019-01-04 14:57] AhmedSalahKhodair opened #151 "ArrowControl disappear when removing ToFadeDuration."
When I either remove `ToFadeDuration` or setting it by 0, the arrow disappear and become invisible, but it is still clickable tho.

For trial purpose:
[here](https://github.com/AndreiMisiukevich/CardView/blob/87326b56e1a3690fa42145cefe9cddb171fe0d29/PanCardViewSample/PanCardViewSample/Views/CarouselSampleXamlView.xaml#L43): remove `ToFadeDuration="2500"`.

For removing ambiguity: I need it both vi

[2019-01-04 15:06] AndreiMisiukevich commented on #151
@AhmedSalahKhodair hi, thanks, got it.

Does anybody want to debug, realize the reason, fix and make PR?
Must be something easy :)

[2019-01-04 15:08] AndreiMisiukevich commented on #151
I think, adding ```Opacity = 1;``` here https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/ArrowControl.cs#L144 will solve the issue

[2019-01-04 15:54] AhmedSalahKhodair commented on #151
It works but not stably.
Consider the left arrow case:
When I set `IsCyclical="False"` and remove `SlideShowDuration="3500"` and swipe to the first page (the left arrow disappear and that's good) but when I swiped to the second page (the left arrow disappear too and that's wrong) and when I swiped to next it appears again and works fine, and if I repeat the swiping process again, error happens aga

[2019-01-04 18:20] AndreiMisiukevich commented on #151
@AhmedSalahKhodair don't worry
I will fix it)

[2019-01-04 20:56] AndreiMisiukevich commented on #151
1.6.8 version

[2019-01-04 20:56] #151 closed

[2019-01-07 16:33] amirvenus opened #153 "pancardview disappears on InitializeComponent()"
Hi,

I have a need to call InitializeComponent() inside the OnAppearing() override but when I do that, it disappears the pancardview I use.

Please advise.

[2019-01-07 16:43] AndreiMisiukevich commented on #153
@amirvenus can you provide small sample project?

[2019-01-08 08:20] AndreiMisiukevich commented on #153
@amirvenus hi, tested on my sample and it works fine

![image](https://user-images.githubusercontent.com/10124814/50818123-22d4a100-1337-11e9-8e11-e65e085a0579.png)

Can you provide more info? Or it would be better to create reproduction sample.
Seems you missed something on your side :)

[2019-01-08 09:37] Phenek commented on #142
For those who want a simple Horizontal list [Here the CollectionView](https://docs.microsoft.com/fr-fr/xamarin/xamarin-forms/user-interface/collectionview)
It will be available in Xamarin.forms 4.0

[2019-01-08 09:40] AndreiMisiukevich commented on #142
@Phenek what do you think about future of CardsView controls
Does it make sense to support it at all?)

[2019-01-08 10:20] Phenek commented on #142
Regarding this [topic](https://blog.xamarin.com/xamarin-forms-4-0-feature-preview-an-entirely-new-point-of-collectionview/)
There will be a carouselView, I did not try it to get 3 items at the same time.
But the idea of a CardsView and CoverFlowView will not be implemented.

I think CoverFlowView should inherit from CollectionView to get the Velocity scroll, and cause the recycler logic is already

[2019-01-08 10:46] AndreiMisiukevich commented on #142
@Phenek good points

[2019-01-08 10:48] AndreiMisiukevich commented on #17
@Phenek yep, it makes sense

[2019-01-08 13:39] amirvenus commented on #153
I will provide you with my code later on but in your code if you call InitializeComponent in Constructor as well as on OnAppearing override, you will see what I mean.

[2019-01-08 14:04] AndreiMisiukevich commented on #153
oh, okay)
i will check it)

[2019-01-08 14:05] AndreiMisiukevich commented on #153
@amirvenus but why you call it twice ?

**InitializeComponent** creates controls and sets up named variables (x:Name)

Are you sure you need to do it twice??

[2019-01-08 14:50] amirvenus commented on #153
Thank you for your response and the amazing code! I really love it!

The reason is that imagine I have a Cart icon on top and when taps on it, I PushModalAsync to the Cart page and then user might delete items from the cart and PopModalAsync back to the back that contains the cardsview.

So far everything is ok, but I will need to refresh the colour binding of that Cart icon so that if there is no

[2019-01-08 15:04] AndreiMisiukevich commented on #153
hm, you can remove binding and set it again in OnAppearing

[code]

I am sure it's something too easy :) if you want, i can assist you to solve your problem without calling Initialize method each onAppearing

And i haven't realized what you meant "I don't have a setter in the viewmodel".
How do you bind color to viewModel ? ObservableCollection with converter?

[2019-01-08 15:17] amirvenus commented on #153
This is what I have:

`        private ObservableCollection<ProductNew.Obj> _carts = new ObservableCollection<ProductNew.Obj>();
        public ObservableCollection<ProductNew.Obj> Carts {
            get => _carts;
            set
            {
                _carts = value;
                Change(nameof(Carts));
                Change(nameof(CartsColour));
                Change(nameof(TotalCar

[2019-01-08 16:59] AndreiMisiukevich commented on #153
@amirvenus did it help?

[2019-01-08 21:16] #153 closed

[2019-01-09 09:44] amirvenus commented on #153
Thanks I will give that a try and let you know if there problem is still there.

[2019-01-09 09:47] AndreiMisiukevich commented on #153
@amirvenus deal

[2019-01-09 18:17] angelru opened #154 "IndicatorsControl visible"
Hello, great control...

I have one issue, the control IndicatorsControl only visible when the property ToFadeDuration is higher 0.

I don't understand, How I do for that always visible?

[2019-01-09 19:53] AndreiMisiukevich commented on #154
Hi
Have you tried latest version?
What version do you use ?

[2019-01-09 20:35] angelru commented on #154
I'm using the lasted version: 1.6.8,
if add the arrows (left and right) is visible, but only IndicatorsControl not visible

[2019-01-10 00:20] AndreiMisiukevich commented on #154
Thanks, I check it

[2019-01-10 09:15] AndreiMisiukevich commented on #154
@angelru

![image](https://user-images.githubusercontent.com/10124814/50958255-564b3300-14d1-11e9-9170-e8d405ec86e8.png)

it's visible for iOS. What platform did you test?

[2019-01-10 20:12] angelru commented on #154
I tested in emulator with android 9.0. With physical device with android 8.0 it's visible.

[2019-01-10 20:50] AndreiMisiukevich commented on #154
@angelru ok great
Try to play with **WidthRequest** and **HeightRequest** or ```AbsoluteLayout.SetLayoutFlags``` and ```AbsoluteLayout.SetLayoutBounds``` as CardsView/CarouselView is AbsoluteLayout and you can set measure of you indicators yourself, but keep in mind that IndicatorsControl has:
```Margin = new Thickness(0, 20)``` by default

[2019-01-10 20:52] AndreiMisiukevich commented on #154
@angelru or probably it's emulator specific issue..
Closing for now. Keep me posted :)

[2019-01-10 20:52] #154 closed

[2019-01-10 23:35] AndreiMisiukevich commented on #154
@angelru me too :(

Are you able to play with setting size ?

[2019-01-16 15:21] rjcollingham opened #155 "Support IEnumerable instead of IList (enhancement)"
This is a very good library, works really nicely. It would be great if CardsView.cs could be changed to IEnumerable to cover more situations instead of using IList.

[2019-01-16 15:41] AndreiMisiukevich commented on #155
@rjcollingham hi. It's reasonable )

[2019-01-16 15:46] AndreiMisiukevich commented on #155
ItemsSourceProperty -> propertyChanged: We should to determine if new ItemsSource is IList (if not - convert to IList) and store it internally. And use InternalItemsSource property.

[2019-01-16 15:50] rjcollingham commented on #155
I pulled the code and used it in a project, this is updated for IEnumerable, works great. Sorry I am not a big user of git so it will take me a while to submit a pull...

`using PanCardView.Behaviors;
using PanCardView.Controls;
using PanCardView.Enums;
using PanCardView.Extensions;
using PanCardView.Processors;
using PanCardView.Utility;
using System;
using System.Collections;
using System.Collec

[2019-01-16 17:23] tdoell opened #156 "Style doesn't affect IsCyclical & MoveWidthPercentage properties"
Styles are not applying in the CarouselView class. **Have not tried CardsView**.

This is the style I have been trying to apply.

[code]

In trying this, I have tried to use the style as an `Implicit`, `Explicit` and referencing it by using the `StaticResource` and giving it a `x:Key` to reference the style by. None of the methods of applying a style works.

**P.S.** Styling the `IndicatorControl`

[2019-01-16 17:32] tdoell commented on #156
Looking more into it, it seems like the style is being applied, because I can change the `BackgroundColor` via the style. Since the `IsCyclical` and 2 other properties are being set in the constructor of the `CarouselView` as default values, that will **overwrite** any style applied that modifies any of those 3 properties.

[2019-01-16 20:38] AndreiMisiukevich commented on #156
@tdoell nice catch! Thanks for the info.
Hm, how can we solve it? Any ideas?

[2019-01-16 20:45] tdoell commented on #156
Some coworkers and I have come up with a solution in a package we have made for work, because we experienced the same issue. I can provide a pull request either this afternoon or in the morning with the proposed fix.

[2019-01-16 20:47] AndreiMisiukevich commented on #156
@tdoell it would be interesting to see it.
But it looks like XF issue.

[2019-01-16 21:08] AndreiMisiukevich commented on #156
@tdoell i found a workaround - Force set Style's properties

[2019-01-16 21:13] tdoell commented on #156
The solution we came up with is to provide an instance method in the `CardsView` class that `CarouselView` or another view can override that provides the default value for the properties.

Then in the **BindableProperty.Create** declarations, you would refer to the bindable instance and call the default value method.

**Example**
[code]

Then the **CarouselView** class could override that method a

[2019-01-16 21:51] AndreiMisiukevich commented on #156
@tdoell cool. Do you want to make PR ?

[2019-01-16 21:55] AndreiMisiukevich commented on #156
[code]

[2019-01-16 21:58] tdoell commented on #156
Yeah I can make a PR for those 3 properties if you would like. And I can make default value as properties like you just specified with the `DefaultMoveWidthPercentage` example.

Okay I will get to work on that.

[2019-01-16 21:59] AndreiMisiukevich commented on #156
@tdoell for those 2 properties :) as the first one wan't designed by me. It's Layout's own. We cannot modify it.

[2019-01-16 22:02] AndreiMisiukevich commented on #155
@rjcollingham i want to preserve indexer for those types which support it (IList, Array etc.)

[2019-01-16 22:55] #156 closed

[2019-01-16 22:55] #155 closed

[2019-01-17 11:01] amirvenus commented on #17
I still prefer CardsView and I really do hope the author keeps maintaining it even if the feature is present in native Xamarin.Forms feature set.

[2019-01-30 03:58] logicsandbox commented on #109
@AndreiMisiukevich Sorry to bring up this old issue. In our testing, the issue is not distinguishing between CarouselView swipes and Tab swipes, but rather that the CarouselView swipes seem to stop registering after 5-10px of swiping. After that, the swipe action is completed automatically, without the user lifting their finger.

If you swipe in a diagonal motion (I saw something in the code that

[2019-01-30 08:59] AndreiMisiukevich commented on #109
@logicsandbox hi
could you please provide small sample and, maybe, video?

Also, try to set **IsPanInteractionEnabled = false**

[2019-01-30 09:35] AndreiMisiukevich opened #158 "CoverFlow AutoAnimations"
Currently it's impossible to animate CoverFlow items by changing **SelectedIndex** or **SelectedItem**.

Need to adjust

[2019-01-30 14:21] logicsandbox commented on #109
@AndreiMisiukevich Here is a video: https://youtu.be/I3oW44nWZXg

This video was recorded without trying your IsPanInteractionEnabled = false, but enabling it did not seem to change anything.

I've attached a zip of the app in the video. I will make a GitHub repo out of it when I get home from work (8 hours from now at least).

[TestApp.zip](https://github.com/AndreiMisiukevich/CardView/files/2812

[2019-01-30 14:30] logicsandbox commented on #109
@AndreiMisiukevich I was having trouble getting the solution to build because the Droid and iOS projects are not part of the solution. Are there instructions anywhere?

[2019-01-30 14:35] AndreiMisiukevich commented on #109
@logicsandbox sorry, what do you mean?

![image](https://user-images.githubusercontent.com/10124814/51988269-57aac280-24b5-11e9-8529-5eecc01269d4.png)

[2019-01-30 14:40] logicsandbox commented on #109
@AndreiMisiukevich https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/PanCardView.sln Only has the one project in it?

[2019-01-30 15:01] AndreiMisiukevich commented on #109
@logicsandbox if you want you can make a PR (remove that file)

[2019-01-30 16:51] logicsandbox commented on #109
@AndreiMisiukevich I just tried on an iPad and the swiping seems to work fine. This may be only an Android issue.

[2019-01-30 17:34] AndreiMisiukevich commented on #109
@logicsandbox i think there is only one solution for now -- disable tabbedPage scrolling :(

[2019-01-30 17:35] AndreiMisiukevich commented on #158
@GabrielSchimidtMylla
Sorry, what exactly do you mean?

[2019-01-30 17:38] GabrielSchimidtMylla commented on #158
@AndreiMisiukevich  I'm sorry, I'm using a more accurate translator: during the ItemAppearing event I would like to access the previous and next view

[2019-01-30 17:42] GabrielSchimidtMylla commented on #158
DataTemplate

[2019-01-30 17:45] AndreiMisiukevich commented on #158
@GabrielSchimidtMylla

var index = coverFlowView.SelectedIndex;
var current = coverFlowView.CurrentView;
var next = coverFlowView.Children.FirstOrDefault(x => x.BindingContext == coverFlowView[index+1]);
var prev = coverFlowView.Children.FirstOrDefault(x => x.BindingContext == coverFlowView[index-1]);

Something like this, maybe

[2019-01-30 17:46] GabrielSchimidtMylla commented on #158
Thank you for the quick reply, I'll implement

[2019-01-31 05:13] InstanceGG opened #160 "CoverFlowView IsCyclical crash"
Setting  IsCyclical to false in the CoverFlowView causes a null exception.

[2019-01-31 09:16] AndreiMisiukevich commented on #109
@logicsandbox hm.. i think yes.

[2019-01-31 09:16] #109 closed

[2019-01-31 09:17] AndreiMisiukevich commented on #160
@InstanceGG thank you, i will check it

[2019-01-31 09:18] AndreiMisiukevich commented on #160
@InstanceGG could you please provide base sample? Or it is possible to reproduce on test one?

[2019-01-31 09:59] Phenek commented on #17
Andrei it Look awesome!
I am still in rush for my company..
I'm glad that you make it works 👍
Thanks

[2019-01-31 11:02] InstanceGG commented on #160
[CoverFlowSample.zip](https://github.com/AndreiMisiukevich/CardView/files/2816860/CoverFlowSample.zip)

[2019-01-31 14:47] logicsandbox commented on #109
@AndreiMisiukevich

#161 Added TabbedPage workaround to Readme

[2019-02-01 02:34] rredoh commented on #109
Ahh.. Thanks then :)
I'll try it and tell the result soon

[2019-02-01 23:47] Eldin66 opened #162 "CoverFlowView next item does not render"
When I use the Coverflow example the next item on the CoverFlow Carroussel does not render untill I touch the screen.

Your demo project does not have this issue. Did I forget something?

[2019-02-02 21:10] AndreiMisiukevich commented on #162
Hi
Did you copy whole sample ?

[2019-02-03 20:41] #158 closed

[2019-02-03 20:41] #160 closed

[2019-02-04 13:41] Eldin66 commented on #162
Hi @AndreiMisiukevich
Yeah, I copy pasted your xaml. Anyway, I upgraded the package to 2.0.1 and it works now. So consider it fixed I guess. Thank you for trying to help!

[2019-02-04 14:00] modplug opened #163 "Default to last item in collection"
One thing I would like to see supported is to be able to set SelectedItem to the last item in the collection upon an ItemsSource change or a reset action for INotififyCollectionChanged.

An example would be a collection of months within a year and you want to start at the last month and navigate "backwards in time".

I've actually run into this issue with two apps recently and my "fix" has been to

[2019-02-04 14:53] Eldin66 commented on #50
For some reason I had this problem as well, just on iOS. I 'fixed' it by calling CardsViewRenderer.Preserve() in AppDelegate.

[2019-02-04 17:40] AndreiMisiukevich commented on #163
Hi @modplug could you please create small sample for demonstrating this issue?

I think, i understood your point.. but afraid to be wrong.

So, you try to set SelectedItem and ItemsSource simultaneously and it doesn't work, right?

[code]

can you try to work around like:

[code]

[2019-02-04 17:43] AndreiMisiukevich commented on #50
@Eldin66 yeah, i added this step to setup section :)

[2019-02-05 18:46] Eldin66 commented on #162
Seems like this issue has not been resolved. The issue only happens when there are 4 items or less in the collection. It does not happen with 5 or more items.

Here is a sample: https://github.com/Eldin66/CoverflowSample

[2019-02-05 19:15] AndreiMisiukevich commented on #162
Super, thanks
I will check)

[2019-02-05 22:14] AndreiMisiukevich commented on #162
@Eldin66 2.0.2 version :)

[2019-02-05 22:17] AndreiMisiukevich commented on #163
Hey @modplug

Have you tried it?

[code]

[2019-02-05 22:21] AndreiMisiukevich commented on #163
There is a problem now.
![image](https://user-images.githubusercontent.com/10124814/52308060-a4523a00-299c-11e9-914a-96d5ffac7d20.png)

We need to know real ItemsSource before setting SelectedItem/SelectedIndex ..

[2019-02-06 09:14] Eldin66 commented on #162
@AndreiMisiukevich Thats fast. Thank you for the amazing work!

[2019-02-06 14:55] Eldin66 opened #164 "Coverflow updating itemssource buggy"
Sorry to bother you again.

When the CoverFlowView ItemsSource gets replaced the view acts really buggy. Sometimes a card stays in view on top of the new cards. Sometimes one stays in view in the previous or next item. Not sure if I am doing something wrong but here is a sample again: https://github.com/Eldin66/CoverFlowRefreshBugSample

[2019-02-06 22:30] AndreiMisiukevich commented on #164
ok, thanks, i will check

[2019-02-09 00:59] AndreiMisiukevich commented on #164
for now without animation

[2019-02-09 01:06] AndreiMisiukevich commented on #163
I presume, it can be good workaround. Just set properties in proper order.

[2019-02-09 01:06] #163 closed

[2019-02-09 14:01] Eldin66 commented on #164
Hmm, the bug still happens. After refresh the previous and/or next item gets stuck after a couple swipes.

[2019-02-09 16:32] AndreiMisiukevich commented on #164
@Eldin66 with latest version?

[2019-02-09 16:41] AndreiMisiukevich commented on #164
@Eldin66 hmm, just updated CardsView to 2.0.3 and tried on iphone simulator https://github.com/Eldin66/CoverFlowRefreshBugSample this sample

Everything works fine, are you sure, you use latest version?

[2019-02-09 16:41] #164 closed

[2019-02-09 17:03] Eldin66 commented on #164
Yeah I tried it with 2.0.3 also on an iPhone simulator. I'll try it again in a few hours and let you know.

[2019-02-09 22:21] Eldin66 commented on #164
@AndreiMisiukevich You were right. It did not happen on my sample, however for some reason it did still happen on our app. I cannot figure out why. But, calling clear() on the item collection before assigning new items seems to resolve the issue. Thank you again for your hard work!

[2019-02-09 22:30] AndreiMisiukevich commented on #164
@Eldin66 hm.. maybe try to remove bin/obj/packages clean/rebuild/restore and also remove CardsView nuget from proj and add again.. very strange

[2019-02-10 13:52] AndreiMisiukevich commented on #127
Hey guys
Did you go to another solution?)

[2019-02-10 13:56] AndreiMisiukevich commented on #127
I think, this issue can go away with new releases )

[2019-02-14 10:08] shoeIT commented on #127
Hey Andrei, still with your solution, do I have to change anything to avoid the issue? What did you change in this release?
I updated from 2.00 to 2.03 and some of my logic don't work anymore I gonna check now, whats up exactly. Besides I saw the UserInteraction event. Is it new? I think this could help since the error mosty happend when there was fast user interaction an swipes.

[2019-02-14 10:10] AndreiMisiukevich commented on #127
@shoeIT could you please show errors - i will help resolve them

Yes, i obsolete and removed some logic...

[2019-02-18 06:55] aman720gupta opened #165 "tapgesturerecognizer of stack layout in data tamplet not working xamarin forms iOS inside CarouselView"
I'm trying to use tapgesturerecognizer in stack layout inside the data templet but its not working in iOS working fine in Android.

[code]

[2019-02-18 08:11] AndreiMisiukevich commented on #165
@aman720gupta hi, thanks for creating issue
What versions of XF do you use?

[2019-02-18 11:54] aman720gupta commented on #165
@AndreiMisiukevich  I'm using 3.4.0.1009999

[2019-02-18 11:56] aman720gupta commented on #165
@AndreiMisiukevich I have resolved it by adding  ` InputTransparent="true" `  in line `  <ffSvg:SvgCachedImage Grid.Row="0" HeightRequest="209" Aspect="AspectFill" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand" Source="{Binding Photo}" />`

[2019-02-18 11:57] aman720gupta commented on #165
Although I'm facing issues when I'm using this inside list view pages automatically scrolls when I scroll list view can you please help me out with this

[2019-02-18 12:11] AndreiMisiukevich commented on #165
@aman720gupta
https://github.com/AndreiMisiukevich/CardView/issues/90 ?

[2019-02-18 12:11] #165 closed

[2019-02-18 12:16] aman720gupta commented on #165
@AndreiMisiukevich will check and let you know.

Thanks a lot :)

[2019-02-18 14:27] emipasat commented on #165
Hi, unfortunately, it's happens to my iOS, too. This is my carousel:
`<cards:CarouselView x:Name="myCarousel"
            ItemsSource="{Binding ItemsSource}"
            InputTransparent="True"
            IsEnabled="False"
            VerticalSwipeThresholdDistance="1000"
            IsPanInteractionEnabled="False"
            IsPanSwipeEnabled="False"
            IsAutoInteractionRunning="False"

[2019-02-18 17:27] AndreiMisiukevich commented on #165
@emipasat could you please prepare small sample?

[2019-02-18 18:15] emipasat commented on #165
Meanwhile, I got it solved. It was IsPanInteractionEnabled which should be True for iOS and False for Android. In my case was False, tested first on Android.

[2019-02-18 21:34] AndreiMisiukevich commented on #165
@emipasat awesome )

[2019-02-19 05:37] aman720gupta commented on #127
I have been facing same

[2019-02-19 07:40] AndreiMisiukevich commented on #127
@aman720gupta hi

Have you tried latest version?
Also, try to set MaxChildrenCount и DesiredMaxChildrenCount = 30

[2019-02-19 10:59] shoeIT commented on #127
atm I have no time to look into the problems. I work with verson 2.0 and it works well so far. But I will have a look and contact you.

btw. how could MaxChildrenCount and DesiredMaxChrildenCount change the behaviour. I don't completly understand the properties out of the documentation.

[2019-02-19 11:00] shoeIT commented on #127
with Alex CV or with this one?

[2019-02-19 11:24] AndreiMisiukevich commented on #127
@shoeIT ..need to update documentation.

MaxChildrenCount - absolute maximum count of children (cards) which can be added to CardsView (AbsoluteLayout) in one time. So if you swipe quickly in any moment you can create a lot of cards. for better memory managing we remove several (if user interacts with CardsView now)
DesiredMaxChildrenCount - very similar.. but it manages "best" count of children (

[2019-02-19 20:38] AndreiMisiukevich opened #166 "Make IndicatorsControl using IEnumerable as Context Source (like CardsView)"
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/IndicatorsControl.cs

[2019-02-19 22:42] AndreiMisiukevich commented on #166
Make property IEnumerable (like in CardsView)

[2019-02-20 04:30] aman720gupta commented on #127
Hi

I'm using latest version but let me check with this values

[2019-02-20 04:34] aman720gupta commented on #127
I'm facing a crash in Alex CV on removing element from list view having carousel, and also facing crash here as well

[2019-02-20 08:55] AndreiMisiukevich commented on #127
It would be awesome to have sample with fast reproduction of this crash.

[2019-02-20 14:33] anathemus opened #167 "Question with SetBinding"
Attempting to set the binding of the TextProperty of a Label in this line:

`            slideHeader.SetBinding(Label.TextProperty, "HeaderText");`

Which references the following:

`public class CarouselSampleScrollViewModel
	{

		public CarouselSampleScrollViewModel()
		{
            Items = new List<KeyValuePair<string, string>>();
            Items.Add(new KeyValuePair<string, string>("HeaderT

[2019-02-20 14:38] AndreiMisiukevich commented on #167
@anathemus hi)
Why do you use **KeyValuePair** ?)
KeyValue pair is instance with 2 properties { Key ; Value; }

So, in you sample, i guess, you should bind to Value

slideHeader.SetBinding(Label.TextProperty, "Value");

[2019-02-20 15:00] anathemus commented on #167
Thank you! I'm still learning as a Junior Developer. I understand much better now!

[2019-02-20 15:00] #167 closed

[2019-02-20 21:26] lewcianci opened #168 "Putting a partial view in a CarouselView doesn't work (PRISM)"
Hi,

Using Prism 7.5, and trying to put a Partial View in a CarouselView doesn't work.  The page is never navigated to.

I don't know if this is a Prism thing or a CardView thing... I spent a few hours trying to work out why my partial view wouldn't work though.

Attached a repro project.  CarouselView is on the main page with a partial view, and it is supposed to navigate there, but it never gets

[2019-02-22 15:07] ssotir opened #169 "Slow first appearance if you set the SlideShowDuration"
If you set the SlideShowDuration the the first card takes SlideShowDuration time to appear the first time. You should not delay the first appearance.

[2019-02-22 15:07] ssotir commented on #169
If you set the SlideShowDuration the the first card takes SlideShowDuration time to appear the first time. You should not delay the first appearance.

[2019-02-22 15:12] AndreiMisiukevich commented on #169
Are you sure, that it works like you described?

[2019-02-22 15:13] AndreiMisiukevich commented on #169
1) version of package
2) forms version
3) platform with issue and OS version
4) Sample
please

[2019-02-22 15:18] ssotir commented on #169
Yes and to bypass it I've set the SlideShowDuration to lets say 1000 and then to the needed value of 6500. I am using the CoverFlowView. Latest forms 3.5.

I have it in the XAML :

<cards:CoverFlowView x:Name="Top10Carousel" PositionShiftValue="120" IsCyclical="True"
                                        BackViewsDepth="2" AreAnimationsEnabled="true" IsAutoInteractionRunning="false"

[2019-02-22 15:24] AndreiMisiukevich commented on #169
@ssotir why did you set all these properties?
IsCyclical="True" // true by default
BackViewsDepth="2" // 2 by default
AreAnimationsEnabled="true" // true by default
IsAutoInteractionRunning="false" // You must not set it by yourself... in next release setter will be private
IsUserInteractionRunning="true" // You must not set it by yourself... in next release setter will be private

Remove all them

[2019-02-22 15:25] AndreiMisiukevich commented on #169
could you please provide small repro sample?

[2019-02-22 15:26] ssotir commented on #169
Well I did a lot of testing with trial and error and those properties were left there. I will prepare it for you

[2019-02-22 17:29] ssotir commented on #169
You have right. Something else was the problem. Everything is working fine!!!!!

Thank you my friend.

[2019-02-22 18:59] #169 closed

[2019-02-24 07:18] lewcianci commented on #168
I would love to help with this, I see you've attached the "help wanted" flag.  Is there anything I can do?

[2019-02-24 12:17] AndreiMisiukevich commented on #168
@lewcianci yep.
It would be awesome if you can debug your issue and find what is wrong.
It's very strange that there is such bug. I don't think it's on CardsView side.. because works fine with Image, CachedImage, ContentView etc.

[2019-02-24 22:09] #166 closed

[2019-02-25 12:56] AndreiMisiukevich commented on #168
@lewcianci would you like to help with debugging your case ?)

[2019-02-26 13:10] Snirdude opened #170 "Selected Index change while IsCyclical false"
Hello,

I seem to be having trouble with changing SelectedIndex while IsCyclical is false. I tried with a very simple example of CoverFlowView, put in 3 squares with colors, swiped to the most right and then clicked a button which changes the SelectedIndex to 0.

this is the xaml:

[code]

this is my cs:

[code]

thanks

[2019-02-26 13:15] AndreiMisiukevich commented on #170
@Snirdude Hi
I will check this case.
What is the actual behavior?

[2019-02-26 13:31] Snirdude commented on #170
@AndreiMisiukevich Hey,
When changing to index 0, it looks like it returns to the second item in the item source, but in fact it is the first. You can see the edges of other items when you shouldn't because it's not cyclical and I picked the first item. More little things like these.

Not exclusive to index 0, I think it is because of the IsCyclical false.

[2019-02-26 13:46] AndreiMisiukevich commented on #170
@Snirdude thx. Need to debug this case. But can't promise ideal solution.
In such cases i will change cards without animation, i guess.
Need to think..

[2019-02-26 13:48] Snirdude commented on #170
@AndreiMisiukevich Alright thanks.

[2019-02-26 23:43] zwilkin opened #171 "Example to Display Previous/Next Items"
Hello,

Could you please provide documentation on how to properly set up the CoverFlowFiew to display a partial view of the previous/next item and make it seems to transition directly into that item?

When setting this up based on your example, currently, only 1 item is presented each swipe; not like visually represented in this photo...
![image](https://user-images.githubusercontent.com/9438425/5

[2019-02-26 23:53] AndreiMisiukevich commented on #171
@zwilkin hm.
How it's possible?
Did you run my sample project?

[2019-02-26 23:53] AndreiMisiukevich commented on #171
It would be great to see small reproduction sample here :)

[2019-02-26 23:56] AndreiMisiukevich commented on #171
As for your question:
here is small doc https://github.com/AndreiMisiukevich/CardView/blob/master/docs/CoverFlowView.md

it must be your center view occupy all space.. try to add margins/paddings maybe.
Or just send me your sample :)

[2019-02-27 01:37] zwilkin commented on #171
I figured out my issue. I was attempting to adjust the size of the internal frame which visually was working, however I forgot to set a padding on the internal ContentView to allow the previous/next items to "bleed" onto the page.

Amazing library, amazing support, great work man keep it up!

Please feel free to close this thread.

Zach Wilkin
zach@goeis.net | www.goeis.net

(352) 236-4500 Office

[2019-02-27 01:42] AndreiMisiukevich commented on #171
@zwilkin i'm glad to hear it :)
Thx

[2019-02-27 01:42] #171 closed

[2019-02-28 00:09] marioduck commented on #170
I'm having the same issue, and I think it's regardless of whatever IsCyclical is set to.

So here's the behavior I have observed:

I have 6 elements in my cover flow. If I'm at index 1, for example, and set index to 6, it will slide only one card to the right and display the element I have at index 2, even though, internally, `SelectedIndex` is set to 6, which in turn means that if I swipe left on

[2019-03-01 19:59] lewcianci commented on #168
I would but I don't know where to start, as the issue lays somewhere between Prism and CardView...

[2019-03-04 07:57] Brosten commented on #170
I'm having the same issue. SelectedIndex doesn't work with any number over 1 (the second image).
This problem was introduced in version 2.0.1. It worked fine in 2.0.0.
Until fixed I'll stay in 2.0.0.

Btw, thanks for a great Control! Except for this, it works like a charm!

[2019-03-04 08:49] AndreiMisiukevich commented on #170
@Brosten thanks for info :)
Do you mean CoverFlowView, correct?

[2019-03-04 09:03] Brosten commented on #170
@AndreiMisiukevich
Oh, sorry for being unclear. I'm using the CarouselView.

[2019-03-04 09:13] AndreiMisiukevich commented on #170
@Brosten seems, it's another issue)
Could you please create separate jira task and attach small sample?
I will be grateful

[2019-03-04 09:18] Brosten commented on #170
@AndreiMisiukevich Sure! Just one thing… I'm not familiar with jira… I shouldn't add it as a regular github-issue, or? (I'm pretty new to github as well…)

[2019-03-04 09:20] AndreiMisiukevich commented on #170
ohhh) sorry, github issue for sure :)

[2019-03-04 10:42] Brosten opened #172 "SelectedIndex not working on CarouselView when IsCyclical = false"
I know, this feels related to #170 but I was told to add a separate issue and include a sample.

I used the sample from the repo but modified the _CarouselSampleViewNoTemplate_ to look like below.
Please notice the "IsCyclical = false". Having that set to True will make it work like expected.
If using the nuget-package, the issue seems to be introduced in 2.0.1. (Works in 2.0.0).

[code]

[2019-03-07 23:03] Magendanz opened #173 "Setting SelectedItem indexes to wrong item in Carousel"
Summary: If I set the SelectedItem (or SelectedIndex, for that matter), the Carousel control will index to the last item displayed, not the new SelectedItem.

I've confirmed that SelectedItem is being set to the correct item and I'm receiving an ItemAppearing event where it's still set correctly.  However, the control just animates back to the previously displayed item, whichever direction that wa

[2019-03-07 23:20] AndreiMisiukevich commented on #173
@Magendanz

https://github.com/AndreiMisiukevich/CardView/issues/170
https://github.com/AndreiMisiukevich/CardView/issues/172

Are those issues the same?

[2019-03-07 23:29] Magendanz commented on #173
No, my problem occurs even if IsCyclical is set to true.

[2019-03-07 23:33] AndreiMisiukevich commented on #173
is it possible to reproduce on iOS ?

[2019-03-07 23:50] Magendanz commented on #173
Yes, it seems the behavior is the same on iOS.

[2019-03-08 08:06] AndreiMisiukevich commented on #173
Thanks. I see the reason. I am keen to fix this issue.
Btw, you may use version 2.0.0
Seems, there is no such bug there

[2019-03-08 09:09] Magendanz commented on #173
Excellent! Thanks, Andrei!

I'm not in a rush, so I'll probably hold my release until the fix is available.

[2019-03-09 00:19] AndreiMisiukevich commented on #168
don't see any issues from my side.
probably Partial Views it's something that isn't supported by this lib. Or you should ask Prism DEVs

[2019-03-09 00:19] #168 closed

[2019-03-09 00:27] AndreiMisiukevich commented on #170
Check 2.0.4 version please

[2019-03-09 00:27] #170 closed

[2019-03-09 00:27] AndreiMisiukevich commented on #173
Check 2.0.4 version please

[2019-03-09 00:27] #173 closed

[2019-03-09 00:27] AndreiMisiukevich commented on #172
Check 2.0.4 version please

[2019-03-09 00:27] #172 closed

[2019-03-09 01:14] Magendanz commented on #173
Fixed!  Thanks for the quick turnaround, Andrei!

[2019-03-14 11:55] AndreiMisiukevich opened #174 "GTK support"
would like to see it too

[2019-03-15 11:32] #174 closed

[2019-03-16 12:33] taublast opened #175 "Default constructor not found for type PanCardView.Controls.IndicatorItemView using Full Linking"
CardsView 2.0.5
Forms 3.5.0.16..
tested on Android 6.0:

If i create everything in Xaml only then after full linking, user and sdk,  i get '

'.

[code]

Adding a '`var preserveStuff = new IndicatorItemView();`' to somewhere solves this.
Knowing that we already have an added a 'CardsViewRenderer.Preserve()' seems the above line could be added inside the built-in Preserve() method.

[2019-03-16 12:49] AndreiMisiukevich commented on #175
Hi
Yes.. would you like to make PR ?

[2019-03-17 20:20] AndreiMisiukevich commented on #175
Hope it will be enough

[2019-03-18 00:40] AmKum opened #176 "Is it possible to use CardView Nuget package in PanCardViewSample"
I am using Visual Studio 2017 Community version and learning to use CardView.

I have reduced the PanCardViewSample solution to just have 3 projects
1. PanCardViewSample
2. PanCardViewSample.Droid
3. PanCardViewSample.iOS

Removed PanCardView project dependency from PanCardViewSample project.
Removed PanCardView.Droid reference from PanCardViewSample.Droid and PanCardView.iOS reference from PanCar

[2019-03-18 01:03] AndreiMisiukevich commented on #176
Hi
Why are you trying to do it?

[2019-03-18 01:20] AmKum commented on #176
Wanted to build a sample using the release nuget package. This way I can seamlessly update to newer packages.

I build another project using cardview package and that is giving issues for OnPanUpdate call and I am not getting Completed or Canceled messages. So wanted to start from a Sample and see what could be the issue.

[2019-03-18 08:14] AndreiMisiukevich commented on #176
Hm, you can debug without removing source code. Test it with refs. This way you will find the reason

[2019-03-18 15:22] AmKum commented on #176
In my other project I am using CardView, NuGet package and it wouldn't be same if I used PanCardViewSample with PanCardView projects ref'd directly.

My assumption is that PanCardView, PanCardView.iOS and PanCardView.Droid projects are released as CardView NuGet package.

[2019-03-18 20:12] sis2004 opened #177 "Carousel view in ListView crashes in Android"
When I use carousel views inside a ListView (where each cell has its own carousel view), it crashes in an Android emulator with the following exception:
[code]
[Full stack trace](https://github.com/AndreiMisiukevich/CardView/files/2980015/CarouselFrameException.txt)

When I debugged it using a local Xamarin.Forms nuget package built from the latest master, I noticed that the children of the Carous

[2019-03-19 08:16] AndreiMisiukevich commented on #177
Hi, this is the same issue (i guess)
https://github.com/AndreiMisiukevich/ContextMenu/issues/4 (another my package)

No, really, i have no idea. But certainly it's XF bug..

[2019-03-19 08:17] AndreiMisiukevich commented on #177
I think, we need to report this issue as bug to XF team.

[2019-03-19 10:42] AndreiMisiukevich commented on #176
Did you call CardsViewRenderer.Preserve ?

[2019-03-19 18:38] AmKum commented on #176
Yes I have added that.
**MainActivity.cs**
[code]

###This to handle On_PanUpdated
**Items.xaml**
[code]
**Items.cs**
[code]

[2019-03-19 19:33] AndreiMisiukevich commented on #176
I don't understand your goal
Why do you use pangesture ?

[2019-03-19 19:41] AmKum commented on #176
I have a CarouselView control and in that I wanted to do special handling when gesture up or down is done. For left and right default is fine. Using gesture I want to do some calculation for gesture up and down.

[2019-03-20 08:38] AndreiMisiukevich commented on #176
@AmKum hmm, https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L128

have you tried this event?

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Enums/UserInteractionStatus.cs

[2019-03-20 10:53] AndreiMisiukevich commented on #177
@sis2004 let's continue discussion of this problem on XF repo

[2019-03-20 10:53] #177 closed

[2019-03-20 10:54] AndreiMisiukevich opened #178 "WPF & tvOS support"
Should be easy

[2019-03-24 00:01] #178 closed

[2019-03-24 00:02] AndreiMisiukevich commented on #176
Also you can check my another package
https://github.com/AndreiMisiukevich/TouchEffect

it allows to detect touchStart and touchEnd etc.

[2019-03-24 00:02] #176 closed

[2019-03-24 00:12] #175 closed

[2019-03-25 22:26] AndreiMisiukevich opened #179 "Small binding issue"
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L85

Make default binding mode OneWayToSource

Change and test samples
Too easy

[2019-03-26 08:49] Snirdude opened #180 "Changing slides height"
Hello Andrei,

Is there a way to size each slide's height according to the content within the slide?
I made a listview within the slide and every slide has different amount of list items within.
Is it possible?

Thank you,
Snir

[2019-03-26 09:40] AndreiMisiukevich commented on #180
hmmm, yes, why not?

[2019-03-26 11:34] Snirdude commented on #180
I don't understand how to do it because right now the height of the slides stays the same.
When I swipe to a slide with a lot of items, the height is adjusted to the content. However, when I swipe to a slide with less items, the height doesn't adjust, it stays like before.

[2019-03-26 12:17] AndreiMisiukevich commented on #180
Do you use in inside listView with recycle elements?
You need to call ForceUpdateSize i guess or use DataTemplateSelector

It's difficult to realize you goal without sample

[2019-03-26 14:33] Snirdude commented on #180
Turns out it was something in my code that caused the unwanted behavior.
Thanks anyway for the quick reply.

[2019-03-26 16:32] #180 closed

[2019-03-27 23:09] #179 closed

[2019-03-28 00:21] MarkTRooney commented on #62
I added a 'throw-away' resource to my resources folder, recompiled, and the warning went away.  Apparently Android needed to rebuild the Resource designer to bring in the updated packages.

[2019-03-28 00:24] AndreiMisiukevich commented on #62
@MarkTRooney thanks :)

[2019-04-03 14:21] Monikaprime commented on #14
Image not coming if Source is from URL please solve and let me know

[2019-04-03 14:24] Monikaprime opened #182 "Image not coming from URL"
Have set image source=URL Path, it is not showing

[2019-04-03 14:27] AndreiMisiukevich commented on #14
@Monikaprime create please issue and explain your case.
Have you tried FFImageLoading?

[2019-04-03 14:27] AndreiMisiukevich commented on #182
Have you tried FFImageLoading?

[2019-04-03 14:29] AndreiMisiukevich commented on #182
Check the sample: https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleXamlView.xaml

I use CachedImage (FFImageLoading package) because Xamarin.Forms Image works awful.

But frankly speaking i am not sure, that it's your case.

Could you please provide me sample with this issue? I think, there is bug in your code

[2019-04-03 18:41] AndreiMisiukevich commented on #182
Provide please sample
Because I cannot reproduce this issue

[2019-04-03 21:05] IbrahimElshafey opened #183 "Issue with CoverFlowView"
I have tabs page with two pages the first contains a  `CoverFlowView` that bind to a list in the view model and display a bunch of cards when I navigate to the other tab page and return back to page one the cards in `CoverFlowView`  overlapping on top of each other.

**Note**: the first time the page displayed there is no overlapping, and when I swipe item or tap the `CoverFlowView` it displayed c

[2019-04-03 21:12] AndreiMisiukevich commented on #183
Hi) thanks for feedback
Could you please provide small sample)? it will help me :)

[2019-04-03 21:17] IbrahimElshafey commented on #183
Thanks for your quick response, I'll create a sample and send it tomorrow.

[2019-04-03 21:45] IbrahimElshafey commented on #183
When I try to create a sample an exception occurred when try to intilaize `CardsViewRenderer.Preserve();`, here is it:
`{System.TypeInitializationException: The type initializer for 'PanCardView.CardsView' threw an exception. ---> System.ArgumentException: Not a valid default value
Parameter name: defaultValue
  at Xamarin.Forms.BindableProperty..ctor (System.String propertyName, System.Type retur

[2019-04-04 07:17] Monikaprime commented on #182
Tried FFImageLoading as sample, but it is not showing image for next slide, only 1st Image  comes

[2019-04-04 08:00] AndreiMisiukevich commented on #182
@Monikaprime provide me sample please
because, as you can see, everything works fine on my samples. It hints me that there is a bug in your code.

[2019-04-04 08:01] AndreiMisiukevich commented on #183
@IbrahimElshafey did you change/add any bindable properties? it says, that there is mismatch of types there.

[2019-04-04 08:11] AndreiMisiukevich commented on #182
@Monikaprime

[code]

It's FFImage issue

[2019-04-04 08:27] AndreiMisiukevich commented on #183
I cannot replicate this issue

[2019-04-04 08:29] IbrahimElshafey commented on #183
I created a sample but it doesn't happen I'll try again.

[2019-04-07 10:34] #182 closed

[2019-04-07 10:38] AndreiMisiukevich commented on #183
@IbrahimElshafey ping me please with sample, if you create it :)

[2019-04-08 01:45] Unlonlyness commented on #50
This is amazing !
 I had the problem on iOS.  When I call the CardsViewRenderer.Preserve() in AppDelegate.
The problem has gone.

[2019-04-08 05:22] AndreiMisiukevich commented on #50
@Unlonlyness cool

[2019-04-09 15:35] xsethx opened #186 "Mix of 2 CarouselView"
Hello Andrei,
Can we have a mix of 2 controls you have create?
We want if is possible the CarouselFlowView for main display.
But we want if is possible the CarouselView the dots below the image display.
Do you think it's easy to set up?

Thank you for you help and you dev
Ludovic

[2019-04-09 20:44] AndreiMisiukevich commented on #186
Hi, could you please show me mock up / image ?
What do you want to achieve?

[2019-04-10 07:32] xsethx commented on #186
Hello, I made a model.
You think it's possible?
And as you can see I also made the two elements more visible on the sides.
Thank you for your help !
What attribute should I use to do this in the CoverFlowView?
![Mock_Image CarouselView](https://user-images.githubusercontent.com/49283207/55859829-27e20000-5b73-11e9-8044-c39812ab688f.png)

[2019-04-10 08:43] AndreiMisiukevich commented on #186
IndicatorsControl :)

Just add it as child to your CoverFlowView or add anywhere and set your coverFlowView as bindingContext :)

[2019-04-10 08:43] #186 closed

[2019-04-10 16:21] keyduq opened #187 "'PanCardView.CardsView' threw an exception. ---> System.ArgumentException: Not a valid default value"
I'm getting this exception when `CardsViewRenderer.Preserve()` is called from FinishedLaunching on iOS:

[code]

I'm using Xamarin.Forms 3.1.0.697729, any suggestion?

[2019-04-10 16:25] AndreiMisiukevich commented on #187
@keyduq Hi do you call Preserve AFTER **Forms.Init** ?

[2019-04-10 16:31] keyduq commented on #187
Yes after Forms.Init and I'm using `Link Framework SDKs Only` but I just tried without linker and same exception.

[2019-04-10 16:32] AndreiMisiukevich commented on #187
@keyduq hmm what a hell ...

[2019-04-10 16:33] AndreiMisiukevich commented on #187
@keyduq could you please create small sample?

[2019-04-10 16:54] keyduq commented on #187
I just created it, I think the problem is with xamarin.forms version, when I created the sample (with xamarin 3.2) it was working but I downgraded it to xamarin.forms 3.1 and now it throws the same exception.
[SampleCardViewException.zip](https://github.com/AndreiMisiukevich/CardView/files/3064923/SampleCardViewException.zip)

[2019-04-10 16:59] AndreiMisiukevich commented on #187
@keyduq it's too strange...

[2019-04-10 16:59] AndreiMisiukevich commented on #187
@keyduq thanks) maybe this issue will be closed as XF bug :)

[2019-04-10 18:07] keyduq commented on #187
Yes I think so, I just update xamarin.forms to 3.2 on the original project and now it is working great.

[2019-04-10 21:30] Sauder91 opened #188 "Accessibility issues"
I've noticed some Accessibility issues and inconsistencies.

The big one is it would be great if the CardsViews/CarouselViews was selectable by  responded to the appropriate accessibility interaction (adjustable on iOS so you could swipe up and down to navigate the view with accessibility, https://developer.apple.com/documentation/uikit/accessibility/delivering_an_exceptional_accessibility_experie

[2019-04-10 21:43] AndreiMisiukevich commented on #188
Hey, thanks for reaction)
I will reply on weekend

[2019-04-10 21:44] #187 closed

[2019-04-11 11:34] shoeIT opened #189 "System.InvalidOperationException: Cannot change ObservableCollection"
Hey Andrei,
I try to implement the orientation change in my app and there is an error coming up.
I'm not quite sure if its a CardView bug, but when you look at the call stack it seems to be an issue there or in XF. I use the latest version of both (2.0. 6 | 3.6.0.293080)

I have to different CardViews (Carousels) each in one page. When I change pages and then change my orientation to landscape an

[2019-04-11 12:33] AndreiMisiukevich commented on #189
@shoeIT hi
small sample please

Children is observable collection. So, i think, it's XF bug indeed

[2019-04-12 13:18] Jululu opened #190 "UI Error when I come back to page with SetProperty refresh elements"
Hi!
I have an error when I use Binding icons in carrousel, when I go back to this page and binding values call to SetProperty to refresh data I see something like this. Battery is the last item in carousel.

![sc idal bug ok](https://user-images.githubusercontent.com/8309379/56040156-1137d680-5d36-11e9-9287-a753cf3e9825.jpg)

My code is:

[code]

[2019-04-12 13:20] shoeIT commented on #189
thx I will se what I can do, its difficult to reproduce with a small sample

[2019-04-12 21:32] AndreiMisiukevich commented on #190
Hi. Thanks for submitting the issue.

Would you able to create small sample please? Only necessary things. It will help me to solve this issue asap

[2019-04-13 07:48] AndreiMisiukevich commented on #189
@shoeIT hmmm probably we will have to call something in MainThread..

[2019-04-14 18:50] AndreiMisiukevich commented on #190
@Jululu could you please crate small sample?

[2019-04-14 18:52] AndreiMisiukevich commented on #190
btw, no need to change these properties

IsAutoInteractionRunning="False"
                IsAutoNavigatingAimationEnabled="False"

[2019-04-14 23:40] AndreiMisiukevich commented on #190
cannot reproduce
are you sure you don't have mistake in your code?

Anyway, provide sample if you want that i fix this issue asap

[2019-04-14 23:40] #190 closed

[2019-04-14 23:40] #189 closed

[2019-04-14 23:55] AndreiMisiukevich commented on #188
sorry, it's crossplatform controls (iOS, Android, UWP, Tizen, GTK, Mac). I am not keen to support all platform-specific features for now

[2019-04-14 23:55] #188 closed

[2019-04-15 10:40] Jululu commented on #190
Sorry, it's something related with my code. Thank you very much!

[2019-04-15 13:08] AndreiMisiukevich commented on #190
@Jululu thanks for feedback

[2019-04-15 13:29] nick5454 opened #191 "Unable to see items at runtime"
I have verified that I have items in the collection. At design time I can see the items, but at runtime the view is blank. I'm using the ObservableRangeCollection for the List to bind to

VIew:
[code]

AppDelegate:
[code]

[2019-04-15 14:14] AndreiMisiukevich commented on #191
Hi
Could you pleas attach small project? it will allow to solve this issue asap.
Also, what is the platform you tested on?

[2019-04-15 15:01] Snirdude opened #192 "IsRightToLeftFlowDirectionEnabled With CoverFlowView Issue"
Hello Andrei,

I have a problem with IsRightToLeftFlowDirectionEnabled. When I'm using it with CoverFlowView it seems a little buggy visually. the code is this:

xaml:

[code]

xaml.cs:

[code]

Thanks

[2019-04-15 15:17] AndreiMisiukevich commented on #192
Thanks for report :)
Do you want to debug it?)

[2019-04-15 15:27] Snirdude commented on #192
I can try, but I'm not promising anything :)

[2019-04-15 15:45] AndreiMisiukevich commented on #192
@Snirdude sure :) or i will check it when i have i time)

[2019-04-15 19:24] nick5454 commented on #191
@AndreiMisiukevich  I tried it with just a textbox also. Can I give you access to my GitHub? It's a new project, but it has a lot of empty viewmodels. It only has 1 page right now, the WelcomePage

[2019-04-15 21:33] AndreiMisiukevich commented on #191
@nick5454 yes, you can
also you can send me zip archive with project to andrei.misiukevich@gmail.com

[2019-04-16 09:05] AndreiMisiukevich commented on #191
@nick5454 i guess, there is any mistake in your code
you can always try on my samples (or send me zip-archive with sample)

[2019-04-16 09:05] #191 closed

[2019-04-16 09:38] AndreiMisiukevich commented on #192
fixed) will be available in the next release )

[2019-04-16 17:55] amirvenus commented on #34
It looks like the issue is back again...

[2019-04-16 18:49] AndreiMisiukevich commented on #34
hi, have you read the conversation ?)

This issue is not related to this nuget package

I don't use those private methods

[2019-04-18 06:41] nawidy opened #193 "Ability to swipe in both directions"
Thanks as always for the consistent updates and support!
I’d like to be able to use this package to swipe left and right between items and then swipe up and down (deleting the item). Currently I’m doing this by overloading OnPanUpdated on a gesturerecognizer for frame, it be awesome to have native support for smoother animations/customizations for animation speed going up and down along with optio

[2019-04-18 07:14] AndreiMisiukevich commented on #193
@nawidy hi
Hm, it won't be super easy, but it's good idea to consider this possible enhancement :)

[2019-04-18 07:17] nawidy commented on #193
Thanks @AndreiMisiukevich  as always for your prompt response!
The current method I have works with the exception of a quick swipe (I'm guessing because I'm using pan update). Also do you know if there's a difference between iOS and android for this swipe? my custom up swipe works nicely on iOS but on android the frame won't move much when trying to swipe up.
Thanks,
- Nawid

[2019-04-18 07:27] AndreiMisiukevich commented on #193
@nawidy i think, that's due my renderer's code ... https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/CardsViewRenderer.cs

So, that's why i said - it won't be super easy :)

I think, i will have to add one more property for managing possibility to swipe vertically..

[2019-04-18 07:29] nawidy commented on #193
I see thanks for clarifying :)

[2019-04-18 13:29] nick5454 commented on #191
This was an issue with my app using MVVM and tabs.

[2019-04-18 13:33] AndreiMisiukevich commented on #191
@nick5454 great to know)

[2019-04-19 17:29] Wolfteam opened #194 "System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection."
Hi, thanks for your awesome lib /,,,/.

Im trying to achieve a layout like the following :
![Untitled](https://user-images.githubusercontent.com/1976115/56435389-38e2ed80-62a6-11e9-8139-13b62763acee.png)

In the image the oval represents the `CarouselView`.
I'm using the visual state manager to change the position of the items when the device rotates and everything seems to work except that i get

[2019-04-19 22:20] AndreiMisiukevich commented on #194
Hi, thank you very much for feedback.
Yes, from first sight it looks like XF bug indeed. But let me confirm it :)

[2019-04-21 13:53] #192 closed

[2019-04-21 14:23] #194 closed

[2019-04-21 14:24] AndreiMisiukevich commented on #194
Added workaround for this issue

[2019-04-22 11:47] AndreiMisiukevich commented on #192
v 2.0.9

[2019-04-22 11:47] AndreiMisiukevich commented on #194
v 2.0.9

[2019-04-23 21:42] AndreiMisiukevich commented on #83
@LeoJHarris did you decide to leave this plugin and switch to Alex's one? :)

[2019-04-23 23:14] nawidy commented on #193
@AndreiMisiukevich, is this something that could be potentially worked on and be provided in the next 3 weeks or so?
Thank you for all of your support!

[2019-04-24 08:29] AndreiMisiukevich commented on #193
@nawidy not sure..
BTW, you can try ItemSwiped event as well

[2019-04-26 01:52] LeoJHarris commented on #83
@AndreiMisiukevich Hi sorry I forgot to get back on this, I actually ended up using this library: https://github.com/stormlion227/PhotoBrowser.Forms

[2019-05-05 16:25] Hasanajouz commented on #162
I wanted to test card CardFlowView for the first time so i set a small example but i have this issue.
i set the data statically
and this is what i wrote

<panCardView:CoverFlowView
                Grid.Row="1"
                PositionShiftValue="90"
                IsCyclical="True"
                SlideShowDuration="3000"
                IsAutoNavigatingAimationEnabled="True"
                IsAu

[2019-05-05 16:27] Hasanajouz commented on #162
![Annotation 2019-05-05 182643](https://user-images.githubusercontent.com/11570997/57197101-6c3ea100-6f63-11e9-8f29-9737ca65ee4a.jpg)

[2019-05-05 16:30] Hasanajouz commented on #162
If I add five items manually it is working fine.
So i think the problem is not fixed if you add the itemsource within xaml

[2019-05-05 16:45] AndreiMisiukevich commented on #162
IsAutoInteractionRunning="false"
IsUserInteractionRunning="false"

No need to set them

[2019-05-05 16:46] AndreiMisiukevich commented on #162
@Hasanajouz could you please create small sample for me ?

[2019-05-05 16:48] Hasanajouz commented on #162
@AndreiMisiukevich of course i will create one and send it as zip file

[2019-05-05 16:49] Hasanajouz commented on #162
because i tried to set
IsAutoInteractionRunning="True"
IsUserInteractionRunning="True"
but nothing changed

[2019-05-05 17:16] Hasanajouz commented on #162
[cvtest.zip](https://github.com/AndreiMisiukevich/CardView/files/3145833/cvtest.zip)

@AndreiMisiukevich
please check this simple solution. with three content views
just run it and swip once
wait it to auto swip and you will notice the bug.
add two more content views. this will not happen.

[2019-05-05 21:20] AndreiMisiukevich commented on #162
@Hasanajouz I think I know what is the issue.. I will check

[2019-05-07 16:07] Skorska opened #196 "How to set transparent background for CoverFlowView?"

[2019-05-07 17:00] AndreiMisiukevich commented on #196
Hi
What exactly do you mean here ?

IsClippedToBounds = false ?

More info please: actual/expected

[2019-05-07 17:13] Skorska commented on #196
![Фотографии 2019-05-07 20 10 32](https://user-images.githubusercontent.com/2912287/57319044-5ddbbb00-7104-11e9-8995-f96b5a03fb1f.png)
Can you look at that picture? By default background of cover flow view is white. I can change color for any other colors but cannot do transparent.

[2019-05-07 17:33] Skorska commented on #196
![Card - skorskaira@gmail com - Gmail - Google Chrome 2019-05-07 20 31 06](https://user-images.githubusercontent.com/2912287/57320339-61247600-7107-11e9-8039-854a3c09997a.png)

[2019-05-07 18:56] AndreiMisiukevich commented on #196
weird..
Could you please provide small sample?
I presume it's bug in your code.

How did you put map under the coverflow ? Seems you put them inside stack layout, what is wrong.

You should use absolute layout

[2019-05-07 19:02] AndreiMisiukevich commented on #196
Yeah, I am sure you uses wrong layout type.

Use absolute layout or grid instead

[2019-05-07 19:25] Skorska commented on #196
Thanks for your help. I really appreciate this. Fixed.

[2019-05-07 19:25] #196 closed

[2019-05-07 19:51] AndreiMisiukevich commented on #196
@Skorska cool :)
If you like this plugin, you may star 🌟 it )

[2019-05-08 21:27] AndreiMisiukevich commented on #162
Why don't you want to use ItemTemplate for views creating ?

I presume, this issue will go with it.

[2019-05-08 22:20] Hasanajouz commented on #162
yes of course.
but i was just reporting to help you improve the plugin.
Regards.

[2019-05-09 06:51] jerryno6 opened #197 "It only works properly after I refresh the ItemsSource"
**I'm using VS 2019 for MAC, Xamarin.Forms 3.2.0.871581**

I used this library in my project, and I saw that, It only works properly if I refresh the ItemsSource.
For the first time of loading, it still had the peek for previous Item even when I was displaying the first Item.

I setup as below
 `               <cards:CoverFlowView
                    IsViewCacheEnabled="false"

[2019-05-09 07:13] AndreiMisiukevich commented on #162
@Hasanajouz I appreciate it :)

I am just thinking about this issue.. seems it's almost impossible to fix.
Because views are cycled.. and system tries to use the same card from both sides (left, right)..
Well, you see only 3 cards at the same time, but system works with 5 ones. Because we need to "pre-render" possible next/prev cards. Hope it makes sense

[2019-05-09 07:20] AndreiMisiukevich commented on #197
Hi,
Thanks for reporting

Why do you use IsViewCachingEnabled ?

Provide please sample. I will help to solve your case.

[2019-05-09 07:29] jerryno6 commented on #197
The reason why I set IsViewCachingEnabled="false" is that:
On my view, there is a Delete button, and if user click on it, the card would disappear. But afther that, when I refresh the ItemsSource, some items, it display white ( blank) and some Items it can display the view.

It sounds like the issue only appear on my project. I will try to reproduce this issue on an empty xamarin project.

[2019-05-09 07:49] AndreiMisiukevich commented on #197
@jerryno6 yeah)
It would be awesome, if you fork my repository, add code with issue, then send me branch name.
It will allow me to debug easily

[2019-05-09 08:24] jerryno6 commented on #197
[https://github.com/jerryno6/CardView/tree/197](https://github.com/jerryno6/CardView/tree/197)

Here is the branch that I have folked and commit some changes.
It does not work well if I use Xamarin.Forms 3.2.0.871581

*** The peek layout on the left, it does not move, when I drag.**

[2019-05-09 23:22] AndreiMisiukevich commented on #197
@jerryno6 i think, you needn't have to disable view caching
Could you please provide sample what's wrong with view caching?
Show me the error

[2019-05-09 23:29] AndreiMisiukevich commented on #197
Disabling view caching has no sense for CoverFlowView

[2019-05-09 23:30] AndreiMisiukevich commented on #197
seems your problem can be solved by bindings easily.

So, show me initial issue and we will solve it without cache disabling

[2019-05-09 23:36] AndreiMisiukevich commented on #162
@Hasanajouz yes.. unfortunately it's impossible to fix. Check next sample

[left_card_1]-[left_card_0)-(current_card)-(right_card_0]-[right_card_1]

[] - invisible
() - visible

So, as you can see, at one time we should show current, and two sides cards (also we should pre-render two more cards (from each side)

So, when we don't use ItemTemplate and have only 3 items.. it's impossible to show one

[2019-05-09 23:36] #162 closed

[2019-05-11 21:38] AndreiMisiukevich commented on #197
anyway: don't set IsViewCacheEnabled to **false** (it's important to keep **true** for coverFlowView)

[2019-05-11 21:43] AndreiMisiukevich commented on #197
removing items works fine, just tried on sample
So, if you want to get help, provide sample. I think, there is some bug in your code.

[2019-05-11 21:43] #197 closed

[2019-05-13 01:55] jerryno6 commented on #197
Yes, I will test it again, and provide you the simplest code, if I can reproduce it. Thanks for your support.

[2019-05-14 20:43] ryanherman opened #198 "1 Item Still Swipes"
Depending on certain properties, there may be only 1 item for the CarouselView to load.  When 1 item is loaded, you can still swipe the view slightly off the screen.  Is there anyway to disable swiping so they cannot swipe but still use the view?

[2019-05-15 07:20] AndreiMisiukevich commented on #198
@ryanherman hi :) yes, of course
But you can achieve it by several ways.

1) If carousel.ItemsCount == 1, set IsUserInteractionEnabled = false, else IsUserInteractionEnabled = true

[2019-05-15 07:25] AndreiMisiukevich commented on #198
@ryanherman but the most proper way would be:

2) Check this class https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCarouselFrontViewProcessor.cs#L17

Use it like

[code]

[2019-05-15 07:25] #198 closed

[2019-05-22 12:41] Xonshiz opened #199 "Showing more than 3 elements in CoverFlowView"
Currently, the CoverFlowView shows elements like this :
![image](https://user-images.githubusercontent.com/13240567/58175047-e76eb980-7cbc-11e9-8aab-29f2d098c5fa.png)

Is it possible to show more than that? The issue is that I have a `ImageButton` with an image in it inside CoverFlow. And for some reason it looks weird (Can't maintain the aspect ratio). I wanted to shrink it down a little and show

[2019-05-22 12:45] AndreiMisiukevich commented on #199
I think, you can preserve 3 items, but just put more images on one card

----------card0 --------------------card1------------------------card2---------
[(image)(image)(image)] - [(image)(image)(image)]  - [(image)(image)(image)]

[2019-05-22 12:56] Xonshiz commented on #199
That won't work for me. I mean, won't work for what I'm trying to achieve.
Please refer to this wireframe : https://xd.adobe.com/view/7d0551f6-fd34-4a15-7a4d-64d63f5dc096-0b34/

I'm trying to achieve the one under the "Hot Items" in a Horizontal scroll. It looks exactly like what CoverFlow shows. But, for some reason, I can't get it to shrink the images down.

I've implemented it here : [Implement

[2019-05-22 13:19] AndreiMisiukevich commented on #199
@Xonshiz ah ) ok)
Is it super urgent for you?) I can check it on my free time
That's fine to get sample

Btw, could you please put screenshot here ?

[2019-05-22 13:21] AndreiMisiukevich commented on #199
also i suggest you to check my sample. You missed some necessary properties (Shift value and margins for your cards)

[2019-05-22 13:29] Xonshiz commented on #199
No urgent. Take your time. I'll post the screenshots in a while. I'll check the shift value and margins as well. IIRC, I did put them there. But, they didn't work for some reason, so removed them and did some workaround.

Take your time in taking a look at this. No hurry.

[2019-05-27 09:51] VladislavAntonyuk opened #200 "Left and right arrow control have the same arrow and execute the same swipe direction"
![image](https://user-images.githubusercontent.com/33021114/58411942-21094100-807e-11e9-953c-7e15fa75352e.png)

[2019-05-27 10:02] AndreiMisiukevich commented on #200
@VladislavAntonyuk hi

is it UWP ?

[2019-05-27 10:03] AndreiMisiukevich commented on #200
Is it possible to reproduce on iOS or Android ?

[2019-05-27 10:26] VladislavAntonyuk commented on #200
Hi, the issue is reproduced on GTK, WPF, Android. Looks like in code LeftArrowControl has invalid Text

[2019-05-27 10:45] AndreiMisiukevich commented on #200
are you sure about the same swipe direction ?

[2019-05-27 10:46] AndreiMisiukevich commented on #200
Does anybody want to debug, solve and make PR?

[2019-05-30 02:53] InnerScript opened #201 "Indicator IsVisible Property Nonfunctional"
Setting the IsVisible property in the indicator XAML does not have effect, as the IsVisible property is set automatically regardless.

The issue occurs in IndicatorsControl.cs : 217 - ResetVisibility()

**Suggestion:**
Make a private property that respects the XAML state and view models property change notification that ResetVisibility() respects.

**Example of Intended Implementation:**
[code]

[2019-05-30 08:49] AndreiMisiukevich commented on #201
@InnerScript hm, do you need to make it invisible sometimes?

don't set ToFadeDuration="0", just remove this property and you will be able to manage IsVisible yourself

[2019-05-30 14:53] InnerScript commented on #201
@AndreiMisiukevich

Setting ToFadeDuration as you suggested does not make IsVisible functional. (v 2.1.2)

My use case for hiding the indicator is that in our app, often there will be only one item is the list. The dot below the select in this case isn't useful and not visually appealing.

        public bool IndicatorVisible
        {
            get {
                return _connectedDevices.Cou

[2019-05-30 15:09] Pirate911 opened #202 "Binding color to any child element has no effect"
Hi ,
Something weird is happening . If I try to bind BackGroundColor to any element inside CarouselView it doesn't have effect . If I move the tag to outside Carousel control it change background color .

This doesn't work
[code]

but if I move the **BackgroundColor="{Binding Choice1Color}"** to Frame before opening of
<cv:CarouselViewControl  it bind correctly .

What's the problem ?

[2019-05-30 15:34] AndreiMisiukevich commented on #201
@InnerScript so, in this case you can made binding ToFadeDuration to ItemsCount...
sounds difficult

Ok, i think, we can add new property..

[2019-05-30 15:38] AndreiMisiukevich commented on #202
Hi, you made a mistake. That's the problem :)

In first case xamarin.forms tries to find Choice1Color in your **QuestionData** MODEL, because that model becomes the BindingContext for that card.

So, you need to bind to your pages.binding context

```BackgroundColor="{Binding Choice1Color, Source={x:Reference page.BindingContext}}"```

where page - x:Name="page" of your page

[2019-05-30 15:39] InnerScript commented on #201
@AndreiMisiukevich

As I suggested in the opening post, I think tracking the intended state of IsVisible as a non-visible/non-bndingable property is the best result

In that way, you can then change the appearance as intended. For example, if there are properties set for fade, possibly when IsVisible changes state, the fade animation is played for all

To be clear, developers would expect IsVisibl

[2019-05-30 17:06] Pirate911 commented on #202
Thanks for the reply .
I used below code but it's the same result :

` <Frame  BackgroundColor="{Binding Choice1Color, Source={x:Reference Testpage1} , Path=BindingContext}" `

this one errors out : Position 92:36. Can not find the object referenced by `Testpage.BindingContext`

` <Frame BackgroundColor="{Binding Choice1Color, Source={x:Reference Testpage.BindingContext}}"`

[2019-05-30 17:30] Pirate911 commented on #202
I got it working this way :
`BackgroundColor="{Binding BindingContext.Choice1Color , Source={x:Reference Testpage1}}"`

Thanks a lot @AndreiMisiukevich for pointing out the issue .

[2019-05-30 17:31] #202 closed

[2019-05-30 21:31] AndreiMisiukevich commented on #202
@Pirate911 you are welcome

[2019-05-31 10:37] Cali03 opened #203 "Binding Errror with last Xamarin Forms"
Hi,

I just update the new release of Xamarin.Forms v4.0.0.471375 and i got an error using
CarouselView.ItemTemplate

No property, bindable property, or event found for 'ItemTemplate', or mismatching type between value and property.

Seems to be they change something because i have similar error with another plugins respect binding property

Thanks

[2019-05-31 10:48] AndreiMisiukevich commented on #203
@Cali03 hi, do you call ```CardsViewRenderer.Preserve() ``` ?

[2019-05-31 10:50] AndreiMisiukevich commented on #201
but how can we achieve it? :) it is possible at all?

[2019-05-31 10:51] Cali03 commented on #203
Hi @AndreiMisiukevich, yes i did. All was working like a charm untill today. They publish the new Xamarin.Forms 9 hours ago. Did you try it?

[2019-05-31 10:53] AndreiMisiukevich commented on #201
Ok, i think, i will add new properties

***MinimumVisibleIndicators (-1)** and **MaximumVisibleIndicators (-1)**

And you will be able to manage visibility state

[2019-05-31 10:56] AndreiMisiukevich commented on #203
@Cali03 not yet.
Probably we should post issue to them.
It's super strange

[2019-05-31 10:57] AndreiMisiukevich commented on #203
@Cali03 try via code maybe?

[2019-05-31 10:59] Cali03 commented on #203
@AndreiMisiukevich yes it very strange and like i say i got same error with another plugins (Iconize and SegmentedControl) but i downgrade Xamarin.Forms and all works.
Just hope it's a real issue and don't create that for nothing.

try via code maybe? don't unterstand that ...

[2019-05-31 11:12] AndreiMisiukevich commented on #203
@Cali03 try to set binding through the code :)

carousel.SetBinding(...)

:)

[2019-05-31 11:21] Cali03 commented on #203
@AndreiMisiukevich ok i will try it.
I can tell you that I was able to remove the error for the SegmentedControl Plugin using x:StaticRessource for color properties, instead of generic colors like White, Gray or Blue.

[2019-05-31 12:01] mzaeemkhan commented on #203
Same issue for me as well after update...
![Screenshot_3](https://user-images.githubusercontent.com/43844004/58704500-ae71cb80-83c5-11e9-8ad6-28aec01b862d.png)

[2019-05-31 12:12] maukur opened #204 "Wrong layoyt if you set items source before appearing"
I have a bug with bad layout items in CoverFlowView.

I use custom [StateContainer](https://github.com/xDelivered-Patrick/Xamarin.Forms.Essentials/blob/master/Essentials/Controls/State/StateContainer.cs) with CoverFlowView into ScrollView.

**But when i try set items source i get the result:**

![image](https://user-images.githubusercontent.com/8806716/58704660-7498c900-83b5-11e9-84dc-e7888db63532

[2019-05-31 12:18] AndreiMisiukevich commented on #204
it would be great, if you could fork my repo and apply your test sample in your fork

[2019-05-31 12:45] maukur commented on #204
Okey i update my repository and add source for CardView.
[CarouselBug](https://github.com/maukur/CarouselBug)

[2019-05-31 21:14] AndreiMisiukevich commented on #199
@Xonshiz is it your issue https://github.com/AndreiMisiukevich/CardView/issues/204 ?

[2019-05-31 21:54] davidortinau commented on #203
Think this is related to what is also causing this https://github.com/xamarin/Xamarin.Forms/issues/6375

We are working on correcting it. Apologies.

[2019-05-31 23:10] AndreiMisiukevich commented on #203
@davidortinau
thanks for participation David

[2019-06-01 02:18] Xonshiz commented on #199
Not completely, but yes I do get those borders and stuff around as well.
But, I haven't set the Itemsource before appearing.

Thank You,
Dhruv Kanojia
(Github <https://github.com/Xonshiz>| Website <http://psychoticelites.com/>
| Twitter <https://twitter.com/Xonshiz> | LinkedIn
<https://in.linkedin.com/in/dhruvkanojia> | Google+
<https://plus.google.com/+DhruvKanojia>)

On Sat, Jun 1, 2019 at 2:44

[2019-06-01 12:50] AndreiMisiukevich commented on #199
https://github.com/Xonshiz/CoManga/blob/master/src/comic_dl/comic_dl/Pages/manga/MangaListing.xaml#L59 it's totally wrong

SelectedItem is model / bindingcontext of selected card, not event!

[2019-06-01 12:53] AndreiMisiukevich commented on #199
also check settings there:

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CoverFlowSampleXamlView.xaml#L19-L27

You should set ShitfPositionValue and set Margin or Padding to your Card template

[2019-06-01 17:07] InnerScript commented on #201
I think you're correct... Was looking into how to override the base IsVisible property, and it just wasn't as clean as I had initially thought it would be.

Using a new property MinimumVisibleIndicators would be a much cleaner code implementation internally.

[2019-06-01 22:09] AndreiMisiukevich commented on #203
closed as XF bug

[2019-06-01 22:09] #203 closed

[2019-06-01 22:26] AndreiMisiukevich commented on #199
really, check my sample and play with margin and ShiftValue

[2019-06-01 22:26] #199 closed

[2019-06-01 23:25] AndreiMisiukevich commented on #201
docs: https://github.com/AndreiMisiukevich/CardView/blob/master/docs/IndicatorsControl.md

[2019-06-01 23:30] InnerScript commented on #201
👍

I agree it's a good idea to keep the minimum default at 1, so it behaves identically for previous API users.

Is there anything I can do to help implement/test?

[2019-06-02 00:26] AndreiMisiukevich commented on #200
updated arrows

[2019-06-02 00:43] #204 closed

[2019-06-02 00:43] #200 closed

[2019-06-02 00:43] #201 closed

[2019-06-02 01:45] AndreiMisiukevich commented on #201
@InnerScript yes, please
could you please install latest nuget version and test this new feature :)

[2019-06-02 16:35] InnerScript commented on #201
@AndreiMisiukevich

I just got a chance to test the MinimumVisibleIndicatorsCount just now. It is verified.

- When not set, works as previous (regression)
- When set to 2, works as I hoped when opening this issue
- When a second is added to the list at runtime, the indicator appears
- When a second item is removed from the list at runtime, the indicator disappears

Thank you very much for impleme

[2019-06-02 19:16] AndreiMisiukevich commented on #201
@InnerScript thanks :)

[2019-06-03 12:34] Kelve17 opened #206 "Is it possible to have more than 1 item displayed on carousel view ?"
I want to display 3 items at every swipe the user makes? Is it possible ?

[2019-06-03 14:11] danstraughn opened #207 "IAnimationsChecker is throwing exceptions when testing with MockForms"
During writing unit tests using Moq and Nunit i noticed that the pages that i had the CarouselView implemented were throwing an exception that was daunting at first.  But i have narrowed it down to what is causing the issue.

https://github.com/AndreiMisiukevich/CardView/blob/ed15026214d1e42a43742a09065609a1009bbd2f/PanCardView/Utility/AnimationWrapper.cs#L42

The DependencyService can never resol

[2019-06-03 20:13] AndreiMisiukevich commented on #206
Hi, yes, sure. Check readme — coverflowview.

Or just make model which will contain 3 submodels. And create ItemTemplate with 3 views

[2019-06-03 21:44] Kelve17 commented on #206
I tried coverflowview but it does not show 3 items on same row. Some item is shown cutted, i mean not full. and on android when swiped to left, the last item disapears.

[2019-06-03 21:55] AndreiMisiukevich commented on #206
Okay, use another approach.

[2019-06-03 22:24] Kelve17 commented on #206
Is it possible to make the way u said ? with 1 model having 3 submodels ? Because i want to swipe on submodels.

[2019-06-03 22:48] AndreiMisiukevich commented on #207
what is the exception ?? if animationChecker = null it means that animations aren't managed and enabled by default.

So, i don't think it should return false (it will disable iOS animations!)

[2019-06-03 22:53] AndreiMisiukevich commented on #206
@Kelve17 yes, of course. That's trivial task

[2019-06-03 22:59] Kelve17 commented on #206
Sry, im newbie. Would you take a look at my code and see if im in the right way ?

[2019-06-03 23:05] AndreiMisiukevich commented on #206
@Kelve17 yes, i can

[2019-06-03 23:09] Kelve17 commented on #206
Alright. Thanks for the patience!
` public class Example : INotifyPropertyChanged
    {
        public event PropertyChangedEventHandler PropertyChanged;

        private string _titulo;
        public string Titulo
        {
            get
            {
                return _titulo;
            }
            set
            {
                _titulo = value;
                OnPropertyChanged(n

[2019-06-04 08:55] AndreiMisiukevich commented on #206
oh... okay. i will provide you pseudocode of what you really need. Then you will be play with it

ViewModel
[code]

[2019-06-04 09:00] AndreiMisiukevich commented on #206
and xaml

So, carouselView is what you need

[code]

[2019-06-04 09:00] #206 closed

[2019-06-04 09:32] Kelve17 commented on #206
Hi @AndreiMisiukevich. With this aprouch, when i swipe to select the next `Item,` it will target the next `ItemBunch` and not the next `Item`.

[2019-06-04 09:47] AndreiMisiukevich commented on #206
@Kelve17 okay, in this case check code in my samples - Coverflow sample. Also you can download source code and run the sample.

https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardViewSample

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CoverFlowSampleXamlView.xaml

[2019-06-04 15:34] danstraughn commented on #207
Here is the exception, i'm not entirely sure what the solution would be.  Since these tests are not running on an actual platform but in a Mocked environment using XamMocks it throws the following exception:

Output stream:
Unhandled Exception: System.ArgumentException: Destination array was not long enough. Check the destination index, length, and the array's lower bounds.
Parameter name: destina

[2019-06-04 16:45] AndreiMisiukevich commented on #207
@danstraughn it's Xamarin.Forms issue
as you can see -- ```at Xamarin.Forms.AnimationExtensions.Animate```

[2019-06-04 16:46] AndreiMisiukevich commented on #207
@danstraughn ah, no. it's crash inside you test framework

look at stacktrace :)

[2019-06-04 16:49] AndreiMisiukevich commented on #207
https://github.com/xamarin/Xamarin.Forms/blob/e50775037ad45e42a9407088db7a8a949482efef/Xamarin.Forms.Core/Internals/Ticker.cs#L109-L127

[2019-06-04 16:50] AndreiMisiukevich commented on #207
could you please provide me small sample project how can i reproduce this issue?

[2019-06-04 16:52] AndreiMisiukevich commented on #207
https://stackoverflow.com/questions/10362023/destination-array-not-long-enough

thread-safety issue https://stackoverflow.com/questions/10362023/destination-array-not-long-enough

[2019-06-04 22:00] Kelve17 commented on #206
I think the best option for me is to create a custom renderer based on your coverflow and display the 3 items per swipe. The only problem is that i have no idea on how to do such. Could u give me some tips or recommend some link where i could learn how to do such ?

[2019-06-04 22:44] AndreiMisiukevich commented on #206
@Kelve17 show me please what do you try to achieve? Video / imagery

[2019-06-04 22:52] Kelve17 commented on #206
@AndreiMisiukevich ![2](https://user-images.githubusercontent.com/39514753/58918710-528ba780-8723-11e9-9926-b16725db7b65.jpg)
What i want to achieve is: In the top of this example mockup , there are 3 frames with label/image inside of ite. The 1st frame is the selected one. And the 2nd frame is the one that should be selected when the user swipes left. and the 3rd should be move to left 1 position

[2019-06-04 22:53] Kelve17 commented on #206
here : https://forums.xamarin.com/discussion/140962/xamarin-form-how-to-show-2-or-3-images-together-using-carousel u can have another example. But for me, i need the next 2 items to be always visible.

[2019-06-04 23:34] danstraughn commented on #207
If you write any unit tests targeting Xamarin forms pages with this component in Xaml including your sample project you have using XamMocks it will happen.

[2019-06-05 07:46] AndreiMisiukevich commented on #206
@Kelve17 probably it can be achieved with coverflowView. but it's not so easy

[2019-06-05 08:02] AndreiMisiukevich commented on #207
@danstraughn the best idea -- resolve this bug on XF project)
so, if you provide me sample, i'll try to do it

[2019-06-05 09:15] Kelve17 commented on #206
somehow i managed to come very close to what i need with this :

[code]

But everytime i swipe to left, the last item disapears. It might be a bug i guess... Works fine when i swipe to right side.

[2019-06-05 09:28] AndreiMisiukevich commented on #206
You always can try to debug ut

[2019-06-05 15:06] PaulsonMac commented on #189
Ok, may I know which nuget package version this fix was applied..?

[2019-06-05 15:08] shoeIT commented on #189
the current one works fine, error is gone, thanks Andrei!

[2019-06-05 15:14] PaulsonMac commented on #189
@shoeIT, thanks for the quick reply. I hope you have verified it correctly, because I couldnt do it...

[2019-06-05 23:54] paulPlaza opened #208 "VerticalSwipe is reset when is into a Listview"
Hello Andrei,

Question, the carousel changes position when moving vertically within a stacklayoud-BindableLayout or listview in Android.

Now try configuring ParentScrollView and the VerticalSwipeThresholdDistance (2000) properties.

How can I do so that I do not have this behavior?

Source:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26031851/58997610-fe380480-87c2-11e9-

[2019-06-06 09:32] AndreiMisiukevich commented on #208
Hi, have you read documentation yet?

https://github.com/AndreiMisiukevich/CardView/blob/master/docs/CardsView.md

MoveThresholdDistance

[2019-06-06 09:32] #208 closed

[2019-06-06 17:41] paulPlaza commented on #208
hello Andrei.
thank you for your answer, if you review all the documentation and likewise probe with these exaggerated values so that I stop changing my view, but I did not succeed.

![image](https://user-images.githubusercontent.com/26031851/59053126-49e7be00-8856-11e9-936e-9adf40e76459.png)
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/26031851/59053751-c038f000-8857-11

[2019-06-06 20:49] AndreiMisiukevich commented on #208
Only disabling panGesture... IsPanInteractionEnabled = false

[2019-06-06 21:28] paulPlaza commented on #208
Thank you very much, that property also I already put it in false, and I still do not have the expected result.

[2019-06-07 00:00] #207 closed

[2019-06-08 07:37] waletoye opened #209 "show up to two items"
A carouselview or coverflow view should be able to show up to two items at a time.

Is there a way to achieve this sample below?

![1559741445296699592626202681020](https://user-images.githubusercontent.com/32836274/59143920-4411ea00-89c8-11e9-872e-309068758570.jpg)

[2019-06-08 15:05] SkeletonJohn opened #210 "Views sometimes don't render when adding or removing from ObservableCollection"
I have a CarouselView bound to a collection of ContentViews.

[code]

[code]

All works well on initial load, but when I add items:

[code]
(ListItemView is a simple ContentView.)

Sometimes the view doesn't render, and I end up with a blank page.  If I stop and restart the app, the new view renders as expected.

This also seems to happen when I delete an item from the collection.  Has anyone else

[2019-06-08 16:43] AndreiMisiukevich commented on #210
Hi, provide sample please
I presume, there is some bug in your solution )

[2019-06-08 16:45] AndreiMisiukevich commented on #209
It's regular coverflow, no ?

[2019-06-08 16:47] waletoye commented on #209
I'm suggesting an enhancement. Your views cover just about the entire parent view,

[2019-06-08 17:57] AndreiMisiukevich commented on #209
@waletoye got it)

[2019-06-08 17:58] AndreiMisiukevich commented on #209
@waletoye actually you can achieve it now, if one card contains 2 frames. Does it make sense?

[2019-06-08 18:01] waletoye commented on #209
@AndreiMisiukevich yeah i think it does.
I figured i could use a horizontal stacklayout in an horizontal scrollview to get the same effects.

Thanks

[2019-06-08 18:01] SkeletonJohn commented on #210
Thanks for responding.  I've found that if I turn off Caching (IsViewCacheEnabled="False") I don't have the issue, but then it's extremely slow.  I'll try to put together a sample, but on a tight deadline right now.  We've decided to go with a different approach for now.

----------------------------------------
 From: "Andrei" <notifications@github.com>
Sent: Saturday, June 8, 2019 12:43 PM
To: "

[2019-06-09 12:46] SkeletonJohn commented on #210
We were unable to re-create this in a small sample project.  We re-implemented it in out project and it seems to be working as expected.  I'm not sure exactly what happened.  Thank you.

[2019-06-09 12:46] #210 closed

[2019-06-10 18:07] danstraughn opened #211 "Left and Right arrows are the same on Android not happening on iOS"
![Screen Shot 2019-06-10 at 11 05 14 AM](https://user-images.githubusercontent.com/2358467/59216140-dbfe0800-8b6f-11e9-8107-608596b7faa9.png)

This is happening on the latest version?  No customization just a carousel on android, happens in emulator and on devices.

EDIT:  Looks like the source resources in your repo for the images for Left and Right are the same all ,pointing right.  I don't know

[2019-06-10 18:36] mr-johnlocke8 opened #212 "[iOS only] CollectionView inside CarouselView throws "System.NullReferenceException"."
I get "Object reference not set to an instance of an object" when navigating a CarouselView with CollectionView inside.

To reproduce:
A ViewModel with Items property, having **2** items (with 3 for example I get no crash, sometimes with 7.. it is "random").

[code]

and ItemTemplate
[code]

Browsed the code looking for it, no luck so far.

Also, using CardsView / CoverFlowView fix that problem.

[2019-06-10 20:00] mr-johnlocke8 commented on #212
Another thing I just figured out: if "SubItems" is not empty then no crash occurs. Only when "SubItems" is an empty collection (ObservableCollection in my case)

[2019-06-10 21:38] #209 closed

[2019-06-11 08:03] AndreiMisiukevich commented on #211
@danstraughn hi.

What a hell is going on ...

![image](https://user-images.githubusercontent.com/10124814/59254124-41b5c700-8c38-11e9-8e2d-f9a5f083d69d.png)

![image](https://user-images.githubusercontent.com/10124814/59254209-7033a200-8c38-11e9-990c-33cb436290ec.png)

How is it possible?
--

Okay, does left arrow navigate to proper direction? Can you try to set Rotation = 180 for left arrow ?

[2019-06-11 08:12] AndreiMisiukevich commented on #212
Hi @mr-johnlocke8
could you please provide small sample for reproducing this issue and / or exception stacktrace at least

[2019-06-11 08:14] AndreiMisiukevich commented on #212
i presume it's Xamarin.Forms bug. Seems iOS collection view implementation throws an exception in case of its ItemsSource isn't empty and you try to set empty / null value.

so, provide sample or stacktrace please

[2019-06-11 14:08] danstraughn commented on #211
Yes it is reproducible using your latest sample in the repo.  The arrows work as they should it's just the image that is off.  I can try to use the Rotation as work around, but you should try the sample Carousel Xaml and see that the arrows are in fact the same.  Strange that iOS works and Android has this issue.

[2019-06-11 15:53] AndreiMisiukevich commented on #211
stupid bug... i will look at it. tooooooo strange!

[2019-06-11 15:54] AndreiMisiukevich commented on #211
and why isn not workaround working ?.. very strange

[2019-06-11 16:00] danstraughn commented on #211
The workaround is working! I just added the rotation to android only.  It works great for Android.  iOS is still solid.

[2019-06-11 16:09] AndreiMisiukevich commented on #211
@danstraughn ah, sorry. my bad :)

okay, need to find the reason...

[2019-06-12 11:10] vijaypalve opened #213 "[UWP] System.AccessViolationException: Attempted to read or write protected memory"
I have implemented application using Xamarin.Forms 4.0.0.482894 and CardView 2.1.3
Uwp app: “System.AccessViolationException: Attempted to read or write protected memory”
Above exception throws only on UWP, iOS and Android works fine

[2019-06-12 11:18] AndreiMisiukevich commented on #213
Hi, why did you decide, that this issue is related to CardsView ?

[2019-06-12 19:19] pmahend1 opened #214 "Resource/leftArrow.png is incorrect"
Resource/leftArrow.png is RightArrow actually. Please change it or set flow direction

I had to ```FlowDirection="RightToLeft" IsRightToLeftFlowDirectionEnabled="True"``` to fix this

[2019-06-13 02:50] vijaypalve commented on #213
@AndreiMisiukevich
I have used same data structure and image url in scroll view, it's working fine.
And also this CardView works fine for iOS and Android.

`<StackLayout Grid.Row="1" Orientation="Vertical" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand" Padding="10">
                    <cards:CarouselView ItemsSource="{Binding Images}" SelectedIndex="{Binding SelectedIndex}">

[2019-06-13 05:11] vijaypalve commented on #213
Hello @AndreiMisiukevich
After I have removed following lines from code, it works.

[code]

[2019-06-13 05:11] vijaypalve commented on #213
But I need indicators...

[2019-06-13 07:51] AndreiMisiukevich commented on #214
https://github.com/AndreiMisiukevich/CardView/issues/211

[2019-06-13 07:51] #214 closed

[2019-06-13 08:05] AndreiMisiukevich commented on #213
@vijaypalve this is some kind of XF issue, definitely.
but you can try workaround this issue

maybe copy-paste code from https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/IndicatorsControl.cs

And try to play with it

[2019-06-13 08:07] AndreiMisiukevich commented on #213
@vijaypalve https://github.com/xamarin/Xamarin.Forms/issues/1823 ?
is it our case?

[2019-06-13 08:11] AndreiMisiukevich commented on #212
Can you provide sample?

[2019-06-13 12:53] vijaypalve commented on #213
@AndreiMisiukevich
Please find the attached project.
And reproduced removed/ adding following lines  from code, it works.
[code]
[App1.zip](https://github.com/AndreiMisiukevich/CardView/files/3286084/App1.zip)

[2019-06-13 13:01] shivangimittal41 commented on #211
Change in the Resource Image is needed indeed.
That's all

[2019-06-13 13:24] AndreiMisiukevich commented on #211
@shivangimittal41 really?) Why does it work fine on iOS ?) They uses the same images from crossplatform assembly.

[2019-06-13 13:26] AndreiMisiukevich commented on #211
stupid mac images rotation lol. Really, i don't know HOW does it work on iOS right now.

[2019-06-13 13:40] AndreiMisiukevich commented on #211
https://www.nuget.org/packages/CardsView/2.1.4

[2019-06-13 13:40] #211 closed

[2019-06-13 13:42] AndreiMisiukevich commented on #212
report this bug to XF project

[2019-06-13 13:42] #212 closed

[2019-06-14 01:59] Cklauber opened #215 "No way to stop infinite loop in Carousel View"
I am using the CarouselView and I am trying to find so when I am at the last image, it doesn't go back to the first image.

Any way we can do that?

Thanks.

[2019-06-14 02:04] Cklauber commented on #215
Now I just found the IsCyclical, but when I set it to false, the indicators control disappear.

[2019-06-14 02:15] Cklauber commented on #215
Nevermind, this only happens with Nox.
Please, close this issue.

Thank you.

[2019-06-14 02:15] #215 closed

[2019-06-14 05:16] aldousrealo opened #216 "Swipe Direction on UserInteracted"
Hi! I would just like to thank you for your project because now I can use a stable and optimized CarouselView with lots of options, features, and its very convenient to use.

Anyway, is there any chance you could add a swipe direction in your UserInteractedEventArgs? It would be great as I was trying to do some work around using CarouselView with ListView in it. The Card/ContentView inside the Car

[2019-06-14 08:27] AndreiMisiukevich commented on #216
Hi) https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/EventArgs/UserInteractedEventArgs.cs#L16

This property is what you need.

```if(Diff < 0)``` - means that user is swiping to **left** side
```if(Diff > 0)``` - means that user is swiping to **right** side

[2019-06-14 08:27] #216 closed

[2019-06-14 08:29] AndreiMisiukevich commented on #216
Also you can try to set MoveThresholdDistance = 20. Perhaps it will solve your problem

[2019-06-14 08:30] AndreiMisiukevich commented on #215
great)

[2019-06-14 08:34] AndreiMisiukevich commented on #213
@vijaypalve hi :)
i'm going to create pre-release version without batching for UWP

https://github.com/xamarin/Xamarin.Forms/issues/1823#issuecomment-501906681

Will you be able to test it ? (unfortunately i work on mac)

[2019-06-14 08:57] vijaypalve commented on #213
@AndreiMisiukevich Please let me know version number.

[2019-06-14 09:16] AndreiMisiukevich commented on #213
@vijaypalve i will create it a little bit later and let you know :)
Thanks

[2019-06-14 09:27] vijaypalve commented on #213
@AndreiMisiukevich OK :)
thanks

[2019-06-14 11:21] AndreiMisiukevich commented on #211
Does it work fine now?

[2019-06-14 19:53] pmahend1 commented on #211
Yes.

[2019-06-15 08:14] AndreiMisiukevich commented on #211
Great

[2019-06-15 22:43] AndreiMisiukevich commented on #213
@vijaypalve please check 2.1.5-pre version

[2019-06-16 06:11] vijaypalve commented on #213
@AndreiMisiukevich
Thank you ,
 I will check and let you know.

[2019-06-17 03:33] vijaypalve commented on #213
Hello @AndreiMisiukevich
I have checked after updating plugin, but issue remains same.
Please find the attached screen shots and sample app.
<img width="667" alt="Capture" src="https://user-images.githubusercontent.com/14092016/59576816-a52f7100-90de-11e9-8f2c-0339786b10b3.PNG">

[App17062019.zip](https://github.com/AndreiMisiukevich/CardView/files/3295173/App17062019.zip)

[2019-06-17 10:42] ValonK opened #217 "System.NullReferenceException Galaxy S8+ (Android 9)"
**Device:**                                Samsung S8+
**Android Version:**                  9
**Xamarin.Forms:**  4.0.0.425677
**CardsView:** 2.1.3

Hi,

im trying to use the CarouselView and get a NullReferenceException.

[code]

[code]

[code]

**Stacktrace**:

[code]

[2019-06-17 10:59] AndreiMisiukevich commented on #217
Hi, is it possible to reproduce on emulator? Can you reproduce it on other devices.

Provide small sample please

[2019-06-17 11:03] ValonK commented on #217
when I'm back at Home I will try to create a sample Project and reproduced this on other Devices

[2019-06-17 11:10] AndreiMisiukevich commented on #217
btw, what is **datatemplates:HighlightDataTemplate**

[2019-06-17 11:12] AndreiMisiukevich commented on #217
Is **datatemplates:HighlightDataTemplate** subclass of **DataTemplate** ?

[2019-06-17 11:14] ValonK commented on #217
Added the HighlightDataTemplate Code

I've checked everything on the Page with the Carousel, nothing seems to be null

[2019-06-17 11:15] AndreiMisiukevich commented on #217
@ValonK Is datatemplates:HighlightDataTemplate subclass of DataTemplate ?

[2019-06-17 11:16] AndreiMisiukevich commented on #217
@ValonK what is BaseDataTemplate??

[2019-06-17 11:17] ValonK commented on #217
there is nothing init simple BaseDataTemplate : DataTemplate

[2019-06-17 11:19] AndreiMisiukevich commented on #217
Okay) you made mistake in your code ))

[code]

[2019-06-17 11:22] ValonK commented on #217
Sorry i made a mistake this is the BaseDataTemplate

[code]

[2019-06-17 12:39] AndreiMisiukevich commented on #217
in this case i wait reproduction sample) and check if you can replicate this issue on other android devices/emulators.

Thx

[2019-06-18 04:44] vijaypalve commented on #213
Hello @AndreiMisiukevich, any update?

[2019-06-18 08:33] AndreiMisiukevich commented on #213
no) but you can ping XF team on their github.

[2019-06-18 11:49] AndreiMisiukevich commented on #217
i think here is the reason https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L964-L965

[2019-06-18 12:07] AndreiMisiukevich commented on #213
@vijaypalve here is workaround https://github.com/xamarin/Xamarin.Forms/issues/1823#issuecomment-503072496

[2019-06-18 20:47] AndreiMisiukevich commented on #217
hey, try to reproduce this issue on my samples please

[2019-06-19 15:20] Charuwaka opened #218 "Please check that your Nuget Package versions are compatible. Issue"
Xamarin Forms 4.0
Card View Latest Version I'm using 2.1.4 (after i uninstalled no warnings build went fine)
This Nuget is Causing  lot of warnings as well as  **INCREASING BUILD TIME  MORE**

3>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(1783,2): warning XA0106: Skipping CAAA.Droid.Resource.Animation.tooltip_enter. Please ch

[2019-06-21 09:26] AndreiMisiukevich commented on #217
ping

[2019-06-21 09:27] AndreiMisiukevich commented on #218
<TargetFrameworkVersion>v9.0</TargetFrameworkVersion>

What is yours?

[2019-06-21 09:30] ValonK commented on #217
Hi @AndreiMisiukevich sorry, you had to wait,
i can't reproduce the issue on your samples, I cant also reproduced it on a fresh project...

seems like there is an issue with my project which i cant share.

[2019-06-21 12:12] AndreiMisiukevich commented on #217
@ValonK ok, i will create new release soon (maybe on the next week).
perhaps my fix will help ..

[2019-06-21 12:36] ValonK commented on #217
Thanks for your quick response, I will get back to you when I have testet with the new release

[2019-06-21 20:55] AndreiMisiukevich commented on #213
So, use workaround :)

[2019-06-21 20:55] #213 closed

[2019-06-22 10:28] PaulsonMac commented on #217
I'm also getting app crash for this error -

**XAML of one content page where carousel is used**
[code]

**XAML of another content page where carousel is used**
[code]

[2019-06-22 10:29] PaulsonMac commented on #217
This crash is in the live app, troubling many users. Kindly release the fix asap. Thanks for your understanding!

[2019-06-24 09:33] AndreiMisiukevich commented on #217
try 2.1.5

[2019-06-24 09:33] #218 closed

[2019-06-24 09:34] AndreiMisiukevich commented on #218
try latest version (2.1.5)

[2019-06-24 09:35] PaulsonMac commented on #217
@AndreiMisiukevich, thanks! v2.1.5 fixes this issue..? I'm asking this because you have labelled the issue as "cannot reproduce" ..!

[2019-06-24 09:36] AndreiMisiukevich commented on #217
@PaulsonMac yeah. I had no luck to reproduce this issue, but i added some null-checks. It should prevent crashing

[2019-06-24 09:39] PaulsonMac commented on #217
Great..! But v2.1.5 is not appearing in the nuget window inside VS, only v2.1.4 is shown as latest

![image](https://user-images.githubusercontent.com/42689728/60008562-ee109800-9691-11e9-9a11-7249af79cb6c.png)

Should I have to uninstall then and check..?

[2019-06-24 09:40] PaulsonMac commented on #217
PM > Install-Package CardsView -Version 2.1.5
This would do guess...

[2019-06-24 09:44] AndreiMisiukevich commented on #217
@PaulsonMac just wait 20 mins))

[2019-06-24 09:45] PaulsonMac commented on #217
No worries @AndreiMisiukevich, I could install it in the Nuget PM console like I told earlier..
Thank you very much, I'll try to review whether this issue was fixed or not..

[2019-06-24 14:13] JTOne123 opened #219 "[Android] CardsView.OnTouchChanged (System.Double diff) System.NullReferenceException: Object reference not set to an instance of an object"
Hi, I got the issue on the next phone
Android 9
Mi A2

**CardsView.OnTouchChanged (System.Double diff)
System.NullReferenceException: Object reference not set to an instance of an object**

[code]

[2019-06-24 14:48] AndreiMisiukevich commented on #219
Duplicated https://github.com/AndreiMisiukevich/CardView/issues/217

[2019-06-24 14:48] #219 closed

[2019-06-26 11:22] AndreiMisiukevich commented on #217
Hey guys
Have this issue gone?

[2019-06-26 11:23] PaulsonMac commented on #217
@AndreiMisiukevich , I hope it is not coming in v2.1.5. I didnt get any of them yet

[2019-06-26 11:24] AndreiMisiukevich commented on #217
@PaulsonMac but does carousel view work properly?)

[2019-06-26 14:14] PaulsonMac commented on #217
@AndreiMisiukevich, the app is hanging while using carousel..! Don't know why.. has never occurred earlier

[2019-06-26 14:20] AndreiMisiukevich commented on #217
@PaulsonMac oh no.. is it possible to reproduce this issue on emulator?
can you debug it?

[2019-06-26 14:21] PaulsonMac commented on #217
But, this hang is happening even when I reverted back to v2.1.3.. Is this problem with my app..?

[2019-06-26 14:22] AndreiMisiukevich commented on #217
@PaulsonMac need sample... not sure
do you use Android 9 ?

[2019-06-26 14:22] PaulsonMac commented on #217
Sorry @AndreiMisiukevich, I totally got confused... this hang is happening in my iPhone 6 (iOS app)

[2019-06-26 14:23] #217 closed

[2019-06-26 14:24] AndreiMisiukevich commented on #217
@PaulsonMac i think there are problems with your code
can you provide sample and post it in separate issue. I will help to resolve

[2019-06-26 14:36] PaulsonMac commented on #217
Great @AndreiMisiukevich .. I'll try to do that..

[2019-06-27 07:07] PaulsonMac commented on #217
@AndreiMisiukevich , I figured out the problem on my side - thanks very much..! 👍

[2019-06-28 05:55] maruhe opened #220 "[Enhancement] Item is used detection"
at first, you did a great work!!

I use CarouselView with a ScrollView inside the item's view and can't set the scroll position when I create the view (ScrollToAsync seem's not to work before the view gets displayed)
so currenlty I do ScrollToAsync on MyCarousel_ItemAppearing and this is quite unbeautiful
I know this is a general thing in xamarin forms but may you already have a workaround?

regar

[2019-06-28 09:30] AndreiMisiukevich commented on #220
Hi,
How about ScrollToAsync(animated = false) ?

[2019-06-28 09:32] AndreiMisiukevich commented on #220
how about adding new event ?

[2019-06-28 09:32] PaulsonMac opened #221 "[Documentation] Spelling mistake"
Isn't this BeginInvokeOnMainThread..??

Please modify the quoted text from the docs - https://github.com/AndreiMisiukevich/CardView#workarounds

Thanks for the carousel control !  👍

[2019-06-28 09:34] AndreiMisiukevich commented on #221
@PaulsonMac i appreciate any assistance :) if you'd like, you may validate all documentation and make PR with fixing it :)

[2019-06-28 09:38] AndreiMisiukevich commented on #220
@maruhe or just try

[code]

[2019-06-28 09:45] PaulsonMac commented on #221
👍

[2019-06-28 11:55] maruhe commented on #220
ScrollToAsync(animated = false) for sure
currently I do something like
myCarousel.ItemsSource = new ObservableCollection<myView>() { new myView(CurrentDay) };
and add more view's in MyCarousel_ItemAppearing so I get an endless carousel
may because of this index is always null in my case?
I'll have a look changing this to using an ItemTemplate and a Data-Objects in ItemsSource

[2019-06-28 12:25] maruhe commented on #220
look's good, I just have to change some stuff to get it endless again..
this.Children[index.Value] as myView
is the best way to access the correct view?

[2019-06-28 12:56] AndreiMisiukevich commented on #220
@maruhe unfortunately no (order of children can be different)

I suggest you to call scroll updates from your model

[2019-06-28 20:15] maruhe commented on #220
hmm.. I'm unsure what exactly you mean by

so I added a little test-project to show my try
https://github.com/maruhe/AnotherCardTest
there is no accessable Collection of item-view's in CardView?

[2019-06-28 20:44] maruhe commented on #220
after some more testing I came to the problem-point where I cahnged my ItemsSource to al Collection<View> some days ago:
OnBindingContextChanged in the ItemView sometimes is no getting called
I updated my test-project

[2019-06-28 20:46] AndreiMisiukevich commented on #220
@maruhe does it work for you now?

[2019-06-28 21:06] maruhe commented on #220
nope
it works correclty for about 8 of 12 item-views ;-D
may you have a look at https://github.com/maruhe/AnotherCardTest and just swipe through, there you see
OnBindingContextChanged sometimes does not get called for the ItemView (not or to late)

[2019-06-28 22:09] maruhe commented on #220
...and index is oftain null in SetupBackViews

[2019-06-30 09:12] USAMA-app opened #222 "Cant Access CardView Class in Shared Project"
Hello,
I added this control from nuget packages but in my shared project i cant find any namespace with a name of PanCardView. in android and ios project i easily find PanCardView namespance.

please check it out or suggest me the solution.
thanks

[2019-06-30 15:51] AndreiMisiukevich commented on #222
provide me a sample please

[2019-06-30 18:32] AndreiMisiukevich commented on #222
![image](https://user-images.githubusercontent.com/10124814/60400591-93d67200-9b7e-11e9-9955-7c43a8343fb5.png)

[2019-06-30 18:34] AndreiMisiukevich commented on #222
Cannot reproduce on new project. Try to remove bin / obj. Restore packages. Restart VS etc.

[CardsShared.zip](https://github.com/AndreiMisiukevich/CardView/files/3343199/CardsShared.zip)

[2019-06-30 18:34] #222 closed

[2019-06-30 18:36] AndreiMisiukevich commented on #221
@PaulsonMac would you like to make PR ?)

[2019-06-30 19:42] AndreiMisiukevich commented on #220
i guess you need access to those views which are processing in certain moment, don't you?

[2019-06-30 20:03] maruhe commented on #220
exactly, this would be best

[2019-07-01 21:34] AndreiMisiukevich commented on #220
[code]

[2019-07-02 19:50] #221 closed

[2019-07-02 20:16] AndreiMisiukevich commented on #220
2.1.6

[2019-07-03 14:51] alexpetin opened #223 "Some props inaccessible in code (PCL)"
Hello!

I'm using CarouselView in PCL project - Profile111
It works in XAML with appropriate bindings, but some properties could not be used in code - build error on using ItemsSource, for example:

`Error CS0012 The type 'IEnumerable' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd

[2019-07-03 23:51] AndreiMisiukevich commented on #223
@alexpetin try this https://github.com/dncuug/X.PagedList/issues/59#issuecomment-255189553

[2019-07-04 06:45] maruhe commented on #220
okay, so now I have to please you to show me my fault :-(

I updated the sample https://github.com/maruhe/AnotherCardTest
in OnBindingContextChanged I generate the View-Content
in MyCarouselView_ItemBeforeAppearing and MyCarouselView_ViewsInUseCollectionChanged I perform the ScrollToAsync

if you chek the sample and slide thoug you'll see a different behavior

it may can be a bug in xamarin forms

[2019-07-04 11:46] alexpetin commented on #223
`Installing Microsoft.NETCore.Portable.Compatibility 1.0.1.
  OK https://www.nuget.org/api/v2/package/Microsoft.NETCore.Jit/1.0.2 2381ms
Installing Microsoft.NETCore.Jit 1.0.2.
Install failed. Rolling back...
Package 'Microsoft.NETCore.Jit.1.0.2' does not exist in project 'MDU'
Package 'Microsoft.NETCore.Jit.1.0.2' does not exist in folder 'C:\Work\mdu\MobileApp\D\packages'
Executing nuget actions

[2019-07-04 11:48] AndreiMisiukevich commented on #223
@alexpetin could you pls try to install older prerelease versions?

[2019-07-04 11:51] AndreiMisiukevich commented on #223
btw seems Installing Microsoft.NETCore.Jit 1.0.2. cannot be installed

[2019-07-04 11:54] AndreiMisiukevich commented on #223
https://github.com/dotnet/standard/issues/542#issuecomment-465375220 ?

[2019-07-04 12:02] alexpetin commented on #223
PCL Profile111 project is not a NetStandard project, nothing to rename :)

[2019-07-04 12:05] alexpetin commented on #223
`Could not install package 'Microsoft.NETCore.Portable.Compatibility 1.0.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.`

[2019-07-04 12:07] alexpetin commented on #223
`Could not install package 'Microsoft.NETCore.Runtime.Native 1.0.2-rc2-24027'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.`

[2019-07-04 12:07] AndreiMisiukevich commented on #223
@alexpetin try it https://forums.xamarin.com/discussion/80045/error-using-nuget

Add project.json to your PCL

[2019-07-04 12:12] alexpetin commented on #223
PCL Profile111 is not compatible with netstandard 2.0
Никакой жсон не поможет :)

[2019-07-04 12:13] alexpetin commented on #223
1.x only

[2019-07-04 12:16] AndreiMisiukevich commented on #223
"CardsView": "1.6.2"

can you install this version? because this version works fine on one of my projects (i added project.json file for sure)

[2019-07-04 12:29] alexpetin commented on #223
Yes, no errors with 1.6.2. Without any json.

[2019-07-04 12:46] AndreiMisiukevich commented on #223
@alexpetin piece of s***t :)

Hm, i will try to find workaround, but cannot promise. PCL is deprecated )

[2019-07-04 12:52] alexpetin commented on #223
ok, thanks!

[2019-07-05 02:34] huyjack178 opened #224 "Binding view model for each carousel item"
I have multiple view models for multiple item in carousel view. When ItemAppearing, I set the CurrentView's BindingContext to the specific ViewModel. But after I swipe to another view, then swipe back, the ViewModel is not be kept in the old view was binded. Is there any solution for it?
Take a look at the screenshot. The view before appear is always have no data
![image](https://user-images.githu

[2019-07-05 06:37] AndreiMisiukevich commented on #224
Hi,
Why don’t you use DataTemplateSelector ?

[2019-07-05 06:43] huyjack178 commented on #224
@AndreiMisiukevich I have already used DataTemplateSelector. But the item is not being cache for previous state
`  protected override DataTemplate OnSelectTemplate(object item, BindableObject container)
        {
            var tabItem = item as TabModel;

            return tabItem.Template;
        }`

[2019-07-05 06:46] AndreiMisiukevich commented on #224
Could you please create small and simple sample with your case ?) I am sure it’s something we will resolve without plugin code changes :)

[2019-07-05 06:47] huyjack178 commented on #224
Here is my code
`<ContentView xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:local="clr-namespace:LiveScore.Core.Controls.TabStrip"
             x:Name="this"
             xmlns:cards="clr-namespace:PanCardView;assembly=PanCardView"
             x:Class="LiveScore.Core.Controls.TabStrip.TabStrip"
             Ver

[2019-07-05 06:49] AndreiMisiukevich commented on #224
It’s not code) it’s just xaml. I need to see full picture, you know :)

[2019-07-05 06:51] huyjack178 commented on #224
Page after 1st load
![image](https://user-images.githubusercontent.com/11793001/60703438-f7202580-9f2b-11e9-8905-15cb31bff56e.png)

Then move to other page and swipe back

![image](https://user-images.githubusercontent.com/11793001/60703438-f7202580-9f2b-11e9-8905-15cb31bff56e.png)

[2019-07-05 07:32] AndreiMisiukevich commented on #224
I don’t understand why do you set binding context on itemappearing

Can you create sample project ?

[2019-07-05 07:40] AndreiMisiukevich commented on #224
I even don’t understand why model has Template property...

[2019-07-05 07:41] AndreiMisiukevich commented on #224
Well, provide small sample (UI does not matter)
And I will help you.

[2019-07-05 16:51] vecalion opened #225 "[iOS only] ListView inside CarouselView throws an exception"
Hey Andrei,

Here is an odd behavior that I'm experiencing in a project. I have CarouselView, each card contains a ListView that is bound to an ObservableCollection. If I call collection.Clear(), the app gets in an unstable state - if I continue to add/remove items to the collection, I get an exception:

Here is a repro project: https://github.com/vecalion/CardsViewBugRepro
Here is a video on how

[2019-07-05 21:10] AndreiMisiukevich commented on #225
Hi
How about

[code]

[2019-07-05 22:04] vecalion commented on #225
Yeah, I had to mention that I saw about `Device.BeginInvokeOnMainThread` in the FAQ. It doesn't help.

[2019-07-05 22:27] AndreiMisiukevich commented on #225
@vecalion could you please try to change ListView to CollectionView ?)

[2019-07-06 04:10] vecalion commented on #225
@AndreiMisiukevich, CollectionView is in a preview right now and doesn't support context actions. Anyway, that looks like a workaround. There is an issue that leads to this crash. I wonder if you have any ideas where to start looking?

[2019-07-06 08:57] AndreiMisiukevich commented on #225
I am almost sure, that it is XamarinForms issue.
Adding / removing elements causes native crash (since something happens in background thread)

[2019-07-06 09:51] vecalion commented on #225
I don't think this is a Xamarin.Forms bug. Similar errors happen when there are multiple subscriptions to the same event that forces UITableView to update elements or unnecessary views stay in memory. The fact that this happens only with CarouselView in a particular scenario is quite suspicious.

[2019-07-06 10:45] vecalion commented on #225
@AndreiMisiukevich, I did a short investigation and I'm quite confident that this is NOT a XF bug. When `IsViewCacheEnabled` is set to false, the `PrepareView` method is called 3 times for the card with index 1 in the scenario on the video (1 time when the app starts and 2 times when the app is navigated to the second card). Each time `CreateRetrieveView` returns a new view since the caching is sw

[2019-07-06 11:04] AndreiMisiukevich commented on #225
But IsViewCache enabled isn’t safe property. You should not use it in regular case

[2019-07-06 14:12] vecalion commented on #225
@AndreiMisiukevich, not sure that I understood correctly. You're saying that the `IsViewCacheEnabled` should always be set to `false`, unless there is a reason not to do that?

[2019-07-06 14:57] vecalion commented on #225
@AndreiMisiukevich, please take a look at this commit:
https://github.com/vecalion/CardView/commit/fb535b44587cedac092cb4b92821bfc6a8d94d78

I've added a few methods to remove the binding from views that are going to be replaced. It could be a solution except for the method: `TryAutoNavigate`.

Take a look at this code:
https://github.com/AndreiMisiukevich/CardView/blob/92c234b7578710e637159663443

[2019-07-06 21:17] AndreiMisiukevich commented on #225
@vecalion how does it help? You just clean bindingContext (what is can be wrong BTW, but doesn't matter for now)

[2019-07-07 11:46] AndreiMisiukevich commented on #223
So, 1.6.2 is for PCL
If you want to use latest updates, you should migrate to netstandard

[2019-07-07 11:46] #223 closed

[2019-07-07 23:02] AndreiMisiukevich commented on #220
as i said

update to latest version and use
[code]

[2019-07-07 23:02] #220 closed

[2019-07-07 23:04] AndreiMisiukevich commented on #224
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/data-templates/selector

That is how to use DataTemplateSelector

[2019-07-07 23:11] AndreiMisiukevich commented on #224
your item should not contain reference to DataTemplate.
DataTemplateSelector should decide which template should be chosen for particular item.

[2019-07-07 23:11] #224 closed

[2019-07-08 00:32] AndreiMisiukevich commented on #225
i mean you shouldn't change it (IsViewCacheEnabled = true is default value), but you changed it your sample

![image](https://user-images.githubusercontent.com/10124814/60775960-0b813f80-a131-11e9-9125-24f8bdcb96a3.png)

[2019-07-08 00:36] AndreiMisiukevich commented on #225
i am still think it's xamarin forms bug

your card contains ListView
you change collections which is bound to your listView
you get crash

why do you think it's related to carousel?

[2019-07-08 00:40] AndreiMisiukevich commented on #225
anyway i removed IsVieCachedEnabled="false" from your sample and cannot reproduce crash anymore

[2019-07-08 00:47] AndreiMisiukevich commented on #225
ah, i got what is the reason of crash

one viewModel is bound to multiple views. for some reasons it causes the crash.

But removing this line **IsVieCachedEnabled="false"** should resolve this issue

[2019-07-08 00:54] AndreiMisiukevich commented on #225
Does it help you?

[2019-07-08 00:54] #225 closed

[2019-07-08 08:11] vecalion commented on #225
@AndreiMisiukevich, I can work around that, but IMO `IsViewCachedEnabled` doesn't work properly and either should be fixed or removed (or at least this behaviour should be documented with triple exclamation marks). Our team expected (and I guess anyone would expect that too) that at any point of time there is only one view for each card. If a card is not needed - it's destroyed. Otherwise, it's no

[2019-07-08 17:51] AndreiMisiukevich commented on #225
@vecalion frankly speaking i agree with you
i think, it makes sense to remove it or amend logic re your comment.. hmmm

[2019-07-08 17:55] vecalion commented on #225
@AndreiMisiukevich let me know if I can help if you decide to change the logic.

[2019-07-08 18:00] AndreiMisiukevich commented on #225
@vecalion what is more preferable?

So, you think that IsViewCacheEnabled = false should provide one and only one view for each card?

[2019-07-08 18:01] AndreiMisiukevich commented on #225
@vecalion create pls separate ticket with you ideas, let's discuss and implement
It's not difficult.

[2019-07-09 07:11] vecalion opened #226 "Design Proposal: IsViewCacheEnabled Improvements"
Recently we've encountered a weird bug https://github.com/AndreiMisiukevich/CardView/issues/225. It turned out that the `IsViewCacheEnabled` flag is working not like we were expecting and there are potential issues with the current implementation.

### Current implementation

When the `IsViewCacheEnabled` is set to `false`, the lib creates multiple view instances of the same card. All these instan

[2019-07-09 07:11] vecalion commented on #225
Here ve go: https://github.com/AndreiMisiukevich/CardView/issues/226

[2019-07-09 08:37] AndreiMisiukevich commented on #226
[code]

i think we should add new property and mark old as obsolete

[2019-07-10 10:10] Abesoddy opened #227 "Implementation Ideas"
Hello everyone,

I would like to implement this plugin to have a functioning like this gif : http://www.giphy.com/gifs/Zai4isNPoelJHWeUIg

I don't know if this is the right place to ask for this but I think you know what it is possible to do with the plugin so I would like to know if it seems possible to you?

Thank you in advance for your feedback.

[2019-07-10 13:43] AndreiMisiukevich commented on #227
look at CoverFlowView

[2019-07-10 13:45] AndreiMisiukevich commented on #226
hmm, maybe we should came up with more suitable name..

how about **IsViewSharingEnabled** ?

Need opinion

[2019-07-10 13:46] Abesoddy commented on #227
Actually I implemented CoverFlowView but the events of the plugin do not allow to do like the gif?

[2019-07-10 13:48] AndreiMisiukevich commented on #227
ItemBeforeAppearing - changed size and opacity e.g

[2019-07-10 13:50] AndreiMisiukevich commented on #227
or you may inherit these classes

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCoverFlowFrontViewProcessor.cs

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCoverFlowBackViewProcessor.cs

and managed animations as you wish

[2019-07-10 14:00] Abesoddy commented on #227
And the event UserInteracted could not be more fluid?

[2019-07-10 14:10] AndreiMisiukevich commented on #227
@Abesoddy you can use it too. As you wish)

[2019-07-10 14:13] Abesoddy commented on #227
There is no direction property in the OnUserInteracted event though?

[2019-07-10 14:18] vecalion commented on #226
Let me think aloud here:
You want to add a new property to make sure that the changes will not break any existing clients?
The _NewProperty_ will work in conjuction with the `IsViewCacheEnabled `, i.e.:

- when `IsViewCacheEnabled` is set to `true`, _NewProperty_ has no effect;
- when `IsViewCacheEnabled` is set to `false` and _NewProperty_ is set to `false` - the lib works as it works now;
- when

[2019-07-10 14:19] AndreiMisiukevich commented on #227
@Abesoddy use Diff property (negative and positive - Left and right)

[2019-07-10 14:20] AndreiMisiukevich commented on #226
@vecalion no, i am going to mark old property as obsolete. Just want to choose the most suitable name

[2019-07-10 14:25] vecalion commented on #226
@AndreiMisiukevich well yeah, but there is still a transition period while you have both properties. So my question is: are you considering the new property as a replacement for the old one? And if yes - why do you want to change the name?

[2019-07-10 14:32] AndreiMisiukevich commented on #226
@vecalion yes, as replacement.

because "is view cache enabled" sounds not so clear, doesn't it?

[2019-07-10 14:44] vecalion commented on #226
It was clear to me until I got this bug :)

How about `CachingStrategy` with `RetainElement` / `RecycleElement` as it is in `ListView`?
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/listview/performance

[2019-07-10 14:46] AndreiMisiukevich commented on #226
@vecalion sound good) but what will RecycleElementAndDataTemplate do ?)
The same as RecycleElement ?

[2019-07-10 14:50] vecalion commented on #226
Nah, IMO it's better to omit that value. So the lib can have it's own enum that mimics the first two options from CachingStrategy.

[2019-07-11 08:27] AndreiMisiukevich commented on #226
@vecalion cool)

[2019-07-11 10:56] daxavarsanitatvasoft opened #228 "Views sometimes don't render when removing item from ObservableCollection"
When I am removing item from my Itemsource of ObservableCollection, carousel disappears sometimes. I have used indicator control. Only indicator control is visible.

[2019-07-11 11:45] daxavarsanitatvasoft commented on #228
`<cards:CarouselView VerticalOptions="FillAndExpand"  IsCyclical="False"
                  AbsoluteLayout.LayoutBounds="0,1,1,0.28" AbsoluteLayout.LayoutFlags="XProportional,YProportional,WidthProportional,HeightProportional"
                                       SelectedIndex="{Binding CurrentIndex}" ItemsSource="{Binding ItemCollection}" Margin="0,0,0,10">
                    <cards:CarouselVie

[2019-07-11 11:54] AndreiMisiukevich commented on #228
try to remove elements with Device.BeginInvokeOnMainThread

[2019-07-11 11:55] AndreiMisiukevich commented on #228
iOS / android?

[2019-07-11 11:57] daxavarsanitatvasoft commented on #228
both

[2019-07-11 11:57] daxavarsanitatvasoft commented on #228
both

[2019-07-11 12:48] AndreiMisiukevich commented on #228
@daxavarsanitatvasoft okay, try with main thread or provide me a sample project
because i cannot reproduce it. Thanks

[2019-07-12 01:04] americofreitasjr commented on #212
I'm having a similar problem, however when using a collectionview inside a carouselview.

[2019-07-12 05:13] AndreiMisiukevich commented on #212
@americofreitasjr as i said, i think it's XF bug. I need sample for reporting it to them.

[2019-07-12 05:43] FFJoseDelgado opened #230 "Next/Prev Elements Enable"
As discussed before a good idea would be to have two new properties.

public bool IsPanToNextElementsEnabled { get; set; }
public bool IsPanToPrevElementsEnabled {get; set; }

To be able to block the swipe to next or previous item depending on the needs.

Right now there is no property to make this.

[2019-07-15 07:23] AndreiMisiukevich commented on #227
hope it makes sense :) but perhaps i should add such property as well

[2019-07-15 07:46] AndreiMisiukevich commented on #227
@Abesoddy well, **Diff** property should be enough

[2019-07-15 07:46] #227 closed

[2019-07-15 07:49] Abesoddy commented on #227
Yes it's good thank you very much :)

[2019-07-15 08:01] AndreiMisiukevich commented on #226
@vecalion i was thinking about adding new enum. I think we won't do it. But also we won't use XF one.
Let me explain why

1) New one will require more complex setup via xaml (would be unclear for some newbie guys)
2) XF one has one useless value (+ it has name ListViewCaching strategy)

So, i am keen to add **IsViewReusingEnabled** property. Hope you would agree

[2019-07-15 15:57] AndreiMisiukevich commented on #228
cannot reproduce

i am sure there is a bug in your code, which i cannot know

provide sample project and i will help you to solve it

[2019-07-15 15:57] #228 closed

[2019-07-15 19:26] #230 closed

[2019-07-15 19:29] AndreiMisiukevich commented on #230
@FFJoseDelgado would be available in the next release

[2019-07-15 19:30] #226 closed

[2019-07-19 10:49] Monikaprime opened #231 "Image Zoom"
When we do image Zoom Pinch Gesture & Pan Gesture is  not working. Please can you add that functionality also

[2019-07-19 11:35] AndreiMisiukevich commented on #231
https://github.com/AndreiMisiukevich/CardView/issues/72

[2019-07-19 11:35] #231 closed

[2019-07-19 11:53] Monikaprime commented on #231
I tried with IsPanInteractionEnabled="False" but still not getting zoom effect
want i can submit my code and also i want Cards viw in Carousel View in this on making swipe in cards view, it is making Carousel view swipe please help for same

[2019-07-19 12:09] AndreiMisiukevich commented on #231
have you added PanGestureRecognizer and PinchGestureRecognizer?

[2019-07-19 12:22] Monikaprime commented on #231
I am not getting where to add this Recognizer

[2019-07-19 12:25] Monikaprime commented on #231
Can u please post or send any sample

[2019-07-20 13:29] maukur opened #232 "Crash while try get count until setup collection items"
I have a complex app logic and my app have a nre crash in method `public static int Count(this IEnumerable collection)` .
Sorry i have not get our source, because it is difficult.

[2019-07-21 13:52] hamid-shaikh opened #234 "System.ObjectDisposedException: Cannot access a disposed object. Object name: 'PanCardView.Droid.ParentScrollViewRenderer'."
Version = 2.1.6

Effected Platform = **Android**

UI Hierarchy
**cards:ParentScrollView** > **cards:CarouselView** > **ListView**

Error occurring while navigating back to previous page

[code]

Please let me know if more information required

[2019-07-21 21:01] AndreiMisiukevich commented on #234
Hi, don't think it's CardsView bug

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/ParentScrollViewRenderer.cs

it's super trivial renderer

[2019-07-21 21:01] AndreiMisiukevich commented on #234
what will happen if you change ParentScrollView to ScrollView ?

[2019-07-21 22:12] AndreiMisiukevich commented on #234
Xamarin.Forms.Platform.Android\Renderers\ScrollViewRenderer.cs:373

[2019-07-21 22:12] #234 closed

[2019-07-21 22:13] AndreiMisiukevich commented on #232
Do you use it yourself some other places?

[2019-07-22 05:13] hamid-shaikh commented on #234
Changing to ScrollView also produces same error. Hence it seems to be Xamarin bug.
I will report this issue on Xamarin.Forms forum.

Thanks for your quick support.

[2019-07-22 08:51] #232 closed

[2019-07-22 08:53] AndreiMisiukevich commented on #234
@hamid-shaikh if you provide me small sample i will fix this issue on Xamarin.Forms side :)

[2019-07-22 10:33] hamid-shaikh commented on #234
Sure will try to create a small sample on coming weekend and will update as soon as uploaded

[2019-07-22 18:02] bnSonic commented on #183
I have this problem with CoverFlowView too - it seems like the part on the screen isn't refreshed (the overlapping fragments of the previous/next view are left)

I just
- created a new Xamarin Forms project,
- added the NuGet Package (Version 2.1.7),
- added the CoverFlowView to the MainPage together with a simple TemplateSelector.
- I added a MyView.xaml/.cs (= ContentView)
- and a ViewModel.
all

[2019-07-22 18:24] AndreiMisiukevich commented on #183
@bnSonic create project, remove bin/obj, archive solution to zip and send me

[2019-07-23 05:07] bnSonic commented on #183
Here we go :)

Attached is the project/solution
and 4 screenshots showing the phenomenon in the iOS Simulator
1 - the App start; there are 3 Views in this demo
2 - first swipe to left - all looks good
3a - if you swipe right again to go back to the first view, you can see some artifact on the left side; looks like the overlapping part of that view isn't cleared
3b - if you swipe further the the le

[2019-07-23 09:21] AndreiMisiukevich commented on #183
great, i believe it will be easy to fix :)

[2019-07-26 00:06] AndreiMisiukevich commented on #183
@bnSonic
![image](https://user-images.githubusercontent.com/10124814/61916744-6351e000-af52-11e9-8a58-227f5ff7ca71.png)

[2019-07-26 00:08] AndreiMisiukevich commented on #183
[code]

[2019-07-26 00:08] #183 closed

[2019-07-26 05:03] bnSonic commented on #183
You mean why do i create a new instance of the template?
That was a test because in the real app I plan to use different views depending on the data - so I was curious to see if that would have an impact on performance

[2019-07-26 10:21] AndreiMisiukevich commented on #183
That is fine. But you made a mistake. You should create template only ONCE! Because template is not a view, it's like a factory

[code]

you should use it like this.

Does it make sense?

[2019-07-26 11:12] bnSonic commented on #183
Hehe sure - but see:
I could’ve either typed a lot to add 10 templates and create them once - or, for the sake of a quick an dirty very first look at your controls, write a single line to create them while swiping :) where’s the difference in the context of this little demo? (As long as i dont swipe around for hours ;))

[2019-07-26 12:12] AndreiMisiukevich commented on #183
Anyway you can use IsViewReusingEnabled = false, but DataTemplateSelector should return the same DataTemplate for particular item.

[2019-07-26 17:42] bnSonic commented on #183
*LOL* - Well NOW i got you! Pardon me, i thought you found some bad style while debugging - But what you meant is: THIS bad style is causing the problem :D

I changed it to 3 Templates that are created once - Problem gone m)

… i just was lazy doing a little "is this a component i like to use"-test and what i got was a homemade problem … i feel soooo … well …

Thank you and have a nice weekend :)

[2019-07-27 00:56] AndreiMisiukevich commented on #183
Nice to hear) great

[2019-07-29 05:39] garnelsoftware opened #235 "Fast paging with arrow controls causes images from other cards to stack on carousel"
Thanks for a great plugin, I'm finding it very useful but I've hit a problem with both my own paging control and the plugin Left/Right arrow control.
I'm using ffImage on the carousel which works well when swiping but if I move left or right with the arrow controls quickly then the images begin to stack up. Backviewsdepth and viewcacheenabled are set to default but I tried 0 and false respectively

[2019-07-29 08:43] AndreiMisiukevich commented on #235
@garnelsoftware hi
could you please record small video? How does it look?

[2019-07-30 02:07] garnelsoftware commented on #235
Hi Andrei,

Thanks for your reply, I really appreciate it.

I have tried to record a short video showing what happens when I start
"double clicking" e.g. tapping rapidly on the arrow control buttons.

Swipes and slow button taps are fine.

https://drive.google.com/a/garnelsoftware.co.uk/file/d/15pYbROAy5wtkzwz4miryFZ-Lr1AO2SiP/view?usp=drivesdk

Best regards,

Tom

On Mon, 29 Jul 2019, 09:43 Andre

[2019-07-31 08:01] AlexeyBuryanov opened #236 "Disable vertical swipe [IsVerticalSwipeEnabled]"
How to disable vertical swipe? It is possible?

[2019-07-31 09:52] MrMayTwenty opened #237 "CoverFlowView scaling of centered and uncentered view"
Hi, im trying out CardView right now and wondering if is there any property that change the scale of the uncentered view to 0.75 while the center view retains its original size?

I wanted this effect while scrolling

[2019-07-31 22:09] AndreiMisiukevich commented on #237
Hi, unfortunately there is no such option. But you can try to achieve it
yourself

On Wed, Jul 31, 2019 at 11:52 MrMayTwenty <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at On The Spot Development*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-08-01 17:09] wm1sr opened #238 "CarouselView flickering after rotate animation"
We have an application that runs on Android and iOS devices.

This week, we started using CarouselView to keep track of logged in users, but we're experiencing some weird behaviors after we apply a rotate animation in the parent layout that holds the CarouselView: some of the other elements starts to flicker on screen, and sometimes doesn't even appear.

This only happens in the iOS app.

If we di

[2019-08-02 02:11] MrMayTwenty commented on #237
Hi @AndreiMisiukevich

Already applied this effect using the Processors
using easing on the front and back processors
Thanks a lot for this useful library :)

[2019-08-02 15:55] AndreiMisiukevich commented on #237
Super!)
I think you are one of the first who customized processors) but this is the most powerful feature of plugin

[2019-08-02 16:00] AndreiMisiukevich commented on #238
Hmmm, interesting.
But I am sure it will be related to XF :( because code of this plugin is almost cross platform. And if android works fine, it means that it’s XF iOS specific issue.

Would you mind to create small sample?

[2019-08-02 16:04] AndreiMisiukevich commented on #237
Would you like to share your solution?) maybe we will enhance project a little

[2019-08-02 16:05] AndreiMisiukevich commented on #236
Hi, yes. Look at documentation please.

[2019-08-06 07:53] AlexeyBuryanov commented on #236
Of course I saw documentation before asking. It would be nice to have something like "IsVerticalSwipeEnabled"

[2019-08-06 13:29] AndreiMisiukevich commented on #236
@AlexeyBuryanov VerticalSwipeThresholdDistance = "2000"
Does it help?

[2019-08-06 13:30] AndreiMisiukevich commented on #237
@MrMayTwenty what do you think?)

[2019-08-06 13:42] AndreiMisiukevich commented on #235
@garnelsoftware so, did we solve this issue?

[2019-08-06 13:43] AndreiMisiukevich commented on #238
can you add small sample? and i will fix it asap (in case of it's CardsView issue)

[2019-08-06 17:59] garnelsoftware commented on #235
Hi Andrei, yes this was caused by setting the property IsAutoNavigatingAnimationEnabled on the carousel control to false.
It's working now, thank you for your help!

[2019-08-06 17:59] #235 closed

[2019-08-08 06:48] DevXtranet opened #239 "How to use it Xamarin.ios native app?"
I want to know is there any possibility to use it in Xamarin.ios native project if yes then how?

[2019-08-08 09:35] AlexeyBuryanov commented on #236
This does not work. Maybe because the carousel in scroll (a lot of them) and I use ParentScrollView

[2019-08-08 22:24] AndreiMisiukevich commented on #236
Do you test on android?

[2019-08-08 22:24] AndreiMisiukevich commented on #239
Only as Xamarain.Forms embedded part

[2019-08-09 08:53] AlexeyBuryanov commented on #236
Yes, and iOS too

[2019-08-09 20:12] j4ni opened #240 "Can not access element with x:Name property inside code behind"
Hi Andrei!

Just as the title says, I can not access  Frame and FFImageLoading objects daclared with x:Name property inside PancardView from the code behind.

Here is my View:
`image` and `frame` are not accessible from code behind.
1. I have tried Visual Studio 2017-2019.
2. I have tried clean solution -> rebuild.
3. Reopening VS
4. Building the project from scratch (clone from Bitbucket without

[2019-08-09 20:23] j4ni opened #241 "Question: How to size PancardView vertically so that the image maintains aspect and fills the whole width?"
* I display landscape oriented images from URL inside PancardView on a vertical phone.
* The images are generally of less width than the screen width.
* I would like to maintain the aspect ratio of the images but resize them to allocate the entire width of the screen (phone is vertical)

I could not find a method which would behave nicely with slightly different phone screen aspect ratios/sizes. I

[2019-08-10 08:05] DevXtranet commented on #239
Thanks for your response @AndreiMisiukevich. I am going to bind the native library in my Xamarin.iOS project.

[2019-08-10 12:03] JosHuybrighs opened #242 "Crash in iOS when assigning ContentViews to ItemsSource in Xaml"
Hi,
I encountered a strange fault with CarouselView running on iOS, which crashes the app when it runs on a physical device but not when it runs on the iOS simulator. Android is OK in both cases.
The error occurs when I populate ItemsSource of CarouselView within XAML with a number of  ContentView controls. When I assign the list using code-behind then the error does not occur.

This is what I do

[2019-08-10 12:06] AndreiMisiukevich commented on #241
Set AspectFill aspect to image

[2019-08-10 12:09] AndreiMisiukevich commented on #242
Weird. What is the stacktrace of exception ?
I don’t think it’s CardsView issue

[2019-08-10 12:13] AndreiMisiukevich commented on #240
Of course you cannot! Because it is template’s view. The same behavior with ListView or CollectionView for example.

But you can achieve your goal via accessing carouselView.CurrentView

[2019-08-10 12:43] JosHuybrighs commented on #242
Thanks for the prompt reply. I am afraid I can't provide more information (like console output or stacktrace) since I am developing using Mac-In-Cloud. I don't have a physical Mac and so are left with just trying to make ipa files and try to pinpoint the problem using trial and error methods.

I can of course try to come up with a simple "Hello Xamarin" app, add your plugin and my ContentViews and

[2019-08-11 18:15] AndreiMisiukevich commented on #236
Could you please explain what do you wish to achieve? why do you need to disable vertical swipe?

It's weird that VerticalSwipeThresholdDistance = "2000" doesn't work for android.. for iOS maybe, but for android should work

[2019-08-11 18:17] #240 closed

[2019-08-11 18:18] #239 closed

[2019-08-11 18:19] AndreiMisiukevich commented on #242
@JosHuybrighs thank a lot. Look forward

[2019-08-11 18:20] FruitAndAShape opened #243 "Don't know how to have both scroll and swipe"
I have a WebView in an absolute layout as a carousel screen.

On Android, I was using this to enable scrolling in the WebView...

[code]

But that stops swiping from working. If I don't add this code then I can have swipe but no vertical scrolling.

On iOS, I get vertical scrolling but no swipe.

How do I have scrolling and swipe on both platforms?

[2019-08-11 18:21] AndreiMisiukevich commented on #242
maybe try "{x:Type View}"
[code]

[2019-08-11 18:22] AndreiMisiukevich commented on #242
btw what is views:Intro1View. Maybe it uses "Parent" property in constructor ? (which is null in case of first approach)

[2019-08-11 18:25] AndreiMisiukevich commented on #243
IsPanInteractionEnabled = false only

[2019-08-11 18:25] #243 closed

[2019-08-11 18:29] FruitAndAShape commented on #243
I have tried adding `IsPanInteractionEnabled = false` to my carousel and it has no effect.

[2019-08-11 18:32] AndreiMisiukevich commented on #243
@FruitAndAShape it means that XF has such restriction. Because this property disables PanGestureRecognizer and navigation work via swipe gestures only.

[2019-08-11 18:37] FruitAndAShape commented on #243
I don't understand. Is it possible to have both swipe and scroll?

[2019-08-11 18:38] AndreiMisiukevich commented on #243
@FruitAndAShape seems not for WebView. Or i don't know how to achieve it.
If you know, feel free to make PR )

[2019-08-11 18:41] FruitAndAShape commented on #243
ok. Maybe I will try and trigger it in code from an interaction with the WebView.

Also, when jumping from one card to another, the flow direction isn't consistent. Is it possible to override the flow direction?

[2019-08-11 18:45] AndreiMisiukevich commented on #243
if i understood correctly: this method is private now

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L941-L965

But we can make it **protected virtual**

[2019-08-11 18:50] FruitAndAShape commented on #243
`IsCyclical="false"` has fixed it. Thanks.

[2019-08-12 05:58] barayuda opened #244 "IndicatorsControl always visible."
Hi Dev team,
Thank you for a great plugin.

A question, Is IndicatorsControl have any property to make it always visible without swipe first to the carousel?

[2019-08-12 06:04] barayuda commented on #244
Sorry found the answer to this.
Thank you 🙏

[2019-08-12 06:04] #244 closed

[2019-08-12 06:32] AndreiMisiukevich commented on #244
@barayuda thank you :)

[2019-08-12 06:32] #241 closed

[2019-08-12 06:34] AndreiMisiukevich commented on #236
can you confirm that VerticalSwipeThresholdDistance = "2000" for android as well ?
would be great to have a small sample

[2019-08-12 08:18] TobyKolk opened #245 "Carousel is swiping by itself inside ParentScrollView when scrolling page up and down."
I've put the carousel view inside the parentscrollview, I also tried setting the verticalswipethreshold however, as soon as I scroll the page up or down from the carousel it is paging (left right) by itself, this is unwanted behaviour, how can I stop this?  Android.

[2019-08-12 09:26] AndreiMisiukevich commented on #245
Hi, have you read documentation yet?

[2019-08-12 09:27] AndreiMisiukevich commented on #245
MoveThresholdDistance = 10 (or 20)

[2019-08-12 14:07] TobyKolk commented on #245
Hmm. nope this didn't help I'm afraid.  If I try to drag to scroll the page up or down by the carousel control, it is still rotating to the next option, even with the WidthThresholdDistance set to 10 or 20.

[2019-08-12 14:14] AndreiMisiukevich commented on #245
@TobyKolk show me the sample please

[2019-08-12 14:16] AndreiMisiukevich commented on #245
@TobyKolk stop! why did you use WidthThresholdDistance instead of **MoveThresholdDistance** ??

[2019-08-12 14:16] #245 closed

[2019-08-12 14:17] TobyKolk commented on #245
Ah ok, I will try that

[2019-08-12 14:19] TobyKolk commented on #245
Sorry my bad, I did use MoveThresholdDistance, not Width....

[2019-08-12 14:28] TobyKolk commented on #245
Ok I recorded a short webm clip to illustrate the issue, but looks like its not supported here... =/

[2019-08-12 14:44] TobyKolk commented on #245
![CarouselIssue](https://user-images.githubusercontent.com/52919405/62873840-00b16000-bd18-11e9-90ff-13cae5d66eb2.gif)

[2019-08-12 15:53] TobyKolk commented on #245
Hmm, I think I'm getting closer to better behavior using  VerticalSwipeThresholdDistance="200" SwipeThresholdDistance="30".  Does this look reasonable?

[2019-08-12 21:50] maruhe commented on #236
f.e. if you have vertical ScrollView's inside you CardView's full disabling of vertical swiping could be nice (I think)

[2019-08-13 08:36] AndreiMisiukevich commented on #245
@TobyKolk yeah, it is
does it solve your issue?

[2019-08-13 08:38] AndreiMisiukevich commented on #245
@TobyKolk btw, do you see it
![image](https://user-images.githubusercontent.com/10124814/62927241-ce0e7280-bdbe-11e9-9921-b51b2066db71.png) ?

seems to be a bug ) but not related to this plugin))

[2019-08-13 08:41] AndreiMisiukevich commented on #236
@maruhe would you mind to prepare sample?)

[2019-08-13 08:51] TobyKolk commented on #245
Hi, yes I saw that, its the ScreenToGif app I used to capture the animation for you.  Doesn't happen on the emulator or device :D.  And yes, it seems to behave better now although it does still glitch slightly but it is acceptable for now.

[2019-08-13 08:53] AndreiMisiukevich commented on #245
SwipeThresholdDistance = 20 and VerticalSwipeThresholdDistance = 2000 maybe better ?

[2019-08-13 08:53] AndreiMisiukevich commented on #245
and MoveThresholdDistance = 20 !

[2019-08-13 08:54] AndreiMisiukevich commented on #245
MoveThresholdDistance is very important

[2019-08-13 08:56] TobyKolk commented on #245
![CarouselIssue2](https://user-images.githubusercontent.com/52919405/62928547-a44e4f00-bdb0-11e9-8a39-2cfb5867fd46.gif)

Notice the slight movement to the right when I pull down?

[2019-08-13 09:08] TobyKolk commented on #245
Hmm, I prefer without movethresholddistance set tbh - gives the slide a better feel.

[2019-08-13 21:16] maruhe commented on #236
4sure, here you are: http://jonny.mobi/dev/CardsSampleScroll.zip

it works fin on Android, doesn't on UPW and i couldn't try on iOS

[2019-08-14 06:37] kotikmoi opened #246 "CoverFlowView animation artifacts on the left and the right sides"
Hello, I have some trouble using CoverFlowView. I have set up all the margins and paddings as in your sample. The result is in the attachment. As you can see, there is some strange static layout over the scroll on the view sides. It could be moved away only by the second scroll action.
Looking for any advice to resolve the situation.
Thanks in advance.

![replay](https://user-images.githubusercont

[2019-08-14 07:15] AndreiMisiukevich commented on #236
@maruhe so this bug is only on UWP ?

[2019-08-14 07:25] AndreiMisiukevich commented on #246
@kotikmoi hmm very interesting
could you please create small sample project (just one page with coverflowview which represents this behavior) ?

[2019-08-14 07:27] AndreiMisiukevich commented on #246
from first sight all is fine, but need to look deeper. perhaps you didn't add something valuable)
But no worries, just create sample and i will help in very short time

Thanks!

[2019-08-14 08:18] kotikmoi commented on #246
[here it is](https://github.com/kotikmoi/CoverFlowViewIssueSample)

thanks!

[2019-08-16 13:05] j4ni opened #247 "Problem with ffimageloading and ObservableCollection"
Hi!

I have encountered a problem using CardsView together with FFImageLoading and databinding the ItemsSource property to an ObservableCollection. My environment is xamarin.Forms(Android) with latest everything.

Setup:
My ObservableCollection initially holds a single ImageModel (this represents my image) which displays  fine on the UI. Then I try to add additional ImageModels to the end of the O

[2019-08-16 15:07] bnSonic opened #248 "Trouble compiling source - android"
Hi :)
I've downloaded the code
Created a clean solution (Visual Studio for Mac)
Added the downloaded projects (PanCardView, PanCardView.Droid, PanCardView.iOS)
Restored NuGet Packages

Problem:
the .Droid Version shows nearly every Xamarin-Reference with a Red circle X
After Adding NuGet Packages for Xamarin.Forms, Android.Arch etc. i left with 3 Compiler Errors:

/Users/me/Projects/CardView/packa

[2019-08-16 15:18] AndreiMisiukevich commented on #247
Hi, does it work if you change CachedImage to Image ?

[2019-08-16 15:19] AndreiMisiukevich commented on #247
Ah, sorry, i see.
So, i don't think it's CardsView issue since it works with Image

[2019-08-16 15:21] AndreiMisiukevich commented on #248
are you trying to compile this library?

try to add 9.0 as well

[2019-08-16 15:44] sarthak199526 opened #249 "ItemAppearing/ItemAppeared Event/Commad not calls for the first Time"
ItemAppearing/ItemAppeared Event/Commad not calls for the first Time.Once swiped Everything work Ok Then

[2019-08-16 15:47] bnSonic commented on #248
9.0 was there from the beginning

yes i was trying to compiling the library from scratch :) Just to have the code ready for debugging or tweaking

[2019-08-16 15:51] bnSonic opened #250 "Question: Using in Master-Detail App?"
Hi,

i you have a Master-Detail App, the "swipe from left to right"-gesture is there to show the Master-Page (Menu)

Any chance to place a CoverFlowView on a Detail Page an:
- Having the swipe-gesture moving the slides on the CoverflowView
- except if the user starts swiping from very far to the left, then the MainPage (Menu) should be shown

Is this possible?

[2019-08-16 16:06] j4ni commented on #247
where do we go from here?

[2019-08-16 16:18] bnSonic commented on #250
a bit of an ugly workaround:
- Place the CoverFlowView inside a Grid (just one cell with width = "*")
- after that place a Box in the same cell; the Box is now place on top of the coverflow. Make it VerticalOption = FillAndExpand; HorizontalOptions = "Start"; WidthRequest = "20"
Now you can add GestureRecognizer for the Box to get a Right-Swipe - In that Event you can make the MasterDetailPage to

[2019-08-16 18:54] AndreiMisiukevich commented on #247
@j4ni have you posted issue to FFimage proj yet?

[2019-08-16 18:56] AndreiMisiukevich commented on #250
you can put coverflow into absolute layout and put content view above coverflow. So, coverflow view won't get touches from content view area.
Does it make sense?

[2019-08-16 18:56] #250 closed

[2019-08-16 18:58] j4ni commented on #247
Not yet.

I dont really know what to tell there and was also hoping that you know right of the bat what causes the problem. Pretty annoying as I really would like to use FFImageLoading instead of image because of the loading/error placeholders

[2019-08-16 18:58] AndreiMisiukevich commented on #248
hmm try to remove bin/obj maybe

and..

![image](https://user-images.githubusercontent.com/10124814/63191308-dc83b500-c070-11e9-82fc-9eab31ec2b37.png)

![image](https://user-images.githubusercontent.com/10124814/63191324-e60d1d00-c070-11e9-8670-eaa240801fae.png)

![image](https://user-images.githubusercontent.com/10124814/63191339-ee655800-c070-11e9-9ef0-8732f187e491.png)

[2019-08-16 19:01] AndreiMisiukevich commented on #247
@j4ni try IsViewReusingEnabled = false

[2019-08-16 19:11] j4ni commented on #247
The bug is gone!! Thanks You very much!

Will this setting have any negative side effects? I expect at max around 60images and casual swiping left and right...

[2019-08-16 19:28] j4ni commented on #247
Ok, I confirmed that it works!

[2019-08-16 19:59] #247 closed

[2019-08-17 07:45] j4ni commented on #241
Hi There,

I have tried what you have suggested:
- Removed `HeightRequest="226"` from `Frame`
- Set `Aspect="AspectFill"` on `CachedImage`

The image loaded by FFImage has a W/H aspect of 1.7777

Result is here: [https://pasteboard.co/It4JJVN.jpg](https://pasteboard.co/It4JJVN.jpg)
[https://pastebin.com/4iwXJ8db](https://pastebin.com/4iwXJ8db)

You can see, that the image is not distorted, but top

[2019-08-17 07:50] j4ni commented on #241
I have to mention, that I have the aspect/width/height of the image to load in my ImageModel class as a public property for every image except the first one. for the first one I can reasonably assume that thats 1.77 (99% of the time), but never 4:3.

[2019-08-17 07:55] bnSonic commented on #250
:) yes, similar approach - but then the Coverflow wouldn't get any event… I think i will play with small overlay-boxes then because i like to swipe thru the coverflow AND let the user swipe in the MainPage … will see :)

[2019-08-17 08:41] bnSonic commented on #248
- deleted all bin / obj directories
- added the SDK / Tools you showed in the screenshots
- after first recompile i was able to Relocate all References (they had a yellow warning symbol)

Then it compiles :) Thank you.

With the Sample-Solution i have other problems but i'm not sure if i really like to search/solve them ;)

Dont' know, maybe it would help if you put a solution file into this repos

[2019-08-18 21:51] AndreiMisiukevich commented on #241
@jungjanos i think you should:
1) set IsViewReusing to **False**
2) play with Aspect, Width, Height of Frame for particular model (Bindings with converters)

[2019-08-18 21:52] AndreiMisiukevich commented on #250
@bnSonic yeah) i meant small overlay boxes ) not all space. Just a little spaces from left/right sides

[2019-08-18 21:54] AndreiMisiukevich commented on #248
@bnSonic https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardViewSample

here is solutions file)

[2019-08-18 21:54] #248 closed

[2019-08-18 22:33] AndreiMisiukevich commented on #242
hope it helped

[2019-08-18 22:33] #242 closed

[2019-08-18 22:34] #238 closed

[2019-08-18 22:35] AndreiMisiukevich commented on #249
thx, i will take a look

[2019-08-19 10:42] bartasx opened #251 "Error "Value cannot be null" | CollectionView inside TabViewControl"
Hello,

I have a problem with putting CollectionView inside TabViewControl. My project can't build properly because it shows me an error: "**Value cannot be null. Parameter name: fieldType**". I checked XAML syntax and it looks fine.

Here is an example:

[code]

[2019-08-19 11:28] AndreiMisiukevich commented on #251
Okay, and why did you decide to report it here?

[2019-08-19 11:30] AndreiMisiukevich commented on #251
This project is about CardsView, CarouselView, CoverFlowView and CubeView

[2019-08-19 11:30] #251 closed

[2019-08-19 11:31] AndreiMisiukevich commented on #251
you should ask help on forums or repot to XF team if you are sure that it's CollectionView bug

[2019-08-19 22:05] AndreiMisiukevich commented on #249
Just validated. Works fine

![image](https://user-images.githubusercontent.com/10124814/63302722-920b6e00-c2e6-11e9-994d-15923562cc37.png)

![image](https://user-images.githubusercontent.com/10124814/63302751-9e8fc680-c2e6-11e9-9aec-4c4e1f572064.png)

[2019-08-19 22:05] #249 closed

[2019-08-19 22:18] AndreiMisiukevich commented on #246
![image](https://user-images.githubusercontent.com/10124814/63303340-4659c400-c2e8-11e9-8e2e-a13c271d9162.png)

here is the issue. Please don't use value types (primitives) as ItemsSource. Change it to objects, instances of any class.. Or at least anonymous class

[2019-08-19 22:18] #246 closed

[2019-08-19 23:05] AndreiMisiukevich commented on #246
found the reason of the bug.

[2019-08-22 11:30] MrMayTwenty commented on #237
Hi @andrei unfortunately I don't have the time to post a sample :(

What I did was to play around the scale value of the view on the front and back processor

Using this formula
current = start + (end-start)*(elapsed/duration);
https://github.com/Michaelangel007/easing/blob/master/README.md#tldr-shut-up-and-show-me-the-code

To clamp the values from. 75 to 1

[2019-08-22 13:26] AndreiMisiukevich commented on #237
i am working on this feature)

[2019-08-22 15:09] AndreiMisiukevich commented on #236
@maruhe it's impossible

IsPanInteractionEnabled = false

Only this solution for you

[2019-08-22 15:29] AndreiMisiukevich commented on #236
iOS and Android solution only

IsVerticalSwipeEnabled

for UWP use IsPanInteractionEnabled = false

[2019-08-22 16:00] #236 closed

[2019-08-22 16:00] #237 closed

[2019-08-22 23:11] b12kab opened #252 "TapGestureRecognizer error message in application output"
I'm currently getting this message in the application output log:
_Element: Xamarin.Forms.TapGestureRecognizer is already a child of PanCardView.Controls.IndicatorItemView. Remove Xamarin.Forms.TapGestureRecognizer from PanCardView.Controls.IndicatorItemView before adding to PanCardView.Controls.IndicatorItemView._

Note that the functionality of the TapGestureRecognizer is still working, but I li

[2019-08-23 08:12] AndreiMisiukevich commented on #252
https://github.com/AndreiMisiukevich/CardView/blob/89f2e0bf469e6e633cca981a4c1b6abdd1bab34e/PanCardView/Controls/IndicatorsControl.cs#L359-L364

Seems they forbid to share gesture recognizers among several views.
Okay, it wont be easy to fix

[2019-08-23 08:13] MrMayTwenty commented on #237
Just tried this out! :)
It worked flawlessly

[2019-08-23 08:18] AndreiMisiukevich commented on #237
@MrMayTwenty thanks mate :)

[2019-08-23 11:20] b12kab commented on #252
Thanks for the information.

[2019-08-23 11:34] AndreiMisiukevich commented on #252
@b12kab if you wish, you can make PR :)

[2019-08-23 14:22] MindRus opened #253 "SlideShow Only forward cycling"
Hello, i use carouselview. My properties for this control:
IsCyclical="True" IsAutoInteractionRunning="True" IsOnlyForwardDirection="True" SlideShowDuration="2000"

When user scrolling iscyclical works fine, but if auto scrolling, then scrolling works like:
first element -> last element , first element <- last element

hence no cycle and IsOnlyForwardDirection="True"  doesnt helps this situation.

[2019-08-23 14:35] AndreiMisiukevich commented on #253
Hi, what are you trying to achieve?

[2019-08-23 14:37] AndreiMisiukevich commented on #253
IsAutoInteractionRunning="True" remove it. This property works in OneWayToSource binding mode. It's wrong to set it

[2019-08-23 14:37] AndreiMisiukevich commented on #253
don't change any property. IsCyclical="True" by default

[2019-08-23 14:39] AndreiMisiukevich commented on #253
IsOnlyForwardDirection="True"  means that all side cards are retrieved from further items

items indexs [0, 1, 2, 3, 4 ... 5]

e.g current index is 3. then left and right elements will be items with index 4 both

[2019-08-23 15:09] AndreiMisiukevich commented on #253
So, just don't change any property.

Still have any issues? ping me)

[2019-08-24 09:08] MindRus commented on #253
I did it, like you say. I want cyclic auto scrolling banners. User looping works, auto doesnt.

https://youtu.be/vFJviqyNjjA

[2019-08-24 19:47] dvirsf opened #254 "Error after installing the Nuget (any version from 2.1.2 to 2.2.0)"
Hi,
when trying to rebuild the project (Android) right after installing the NuGet, I get the following erro - The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'Xamarin.Forms.Style PanCardView.Controls.Styles.DefaultIndicatorItemStyles::get_DefaultUnselectedIndicatorItemStyle()' in assembly: 'PanCardView.dll' ---> Mono.Cecil.ResolutionException: Fai

[2019-08-25 22:48] AndreiMisiukevich commented on #253
@MindRus got it. Okay. It will work fine with 3 images

[2019-08-25 22:50] AndreiMisiukevich commented on #253
for two items i need to make "protected virtual" this method https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L934

and you will be able to override it and return "next" always

[2019-08-25 22:53] AndreiMisiukevich commented on #254
Do you use PCL or .netstandard?
What XF version do you use?

[2019-08-26 07:05] MindRus commented on #253
Yes, yes, with 3 or more banners it works well. Thank you.

[2019-08-26 19:29] dvirsf commented on #254
Hi,
XF version 4.2.0 and .NET standard.
Thanks

[2019-08-26 20:42] AndreiMisiukevich commented on #254
@dvirsf did you call Preserve method as described in Readme?

[2019-08-27 04:29] developer9969 opened #255 "Left and RightArrowControl when Set to IsVisible=False they still show."
Amazing Controls!!!

I have found an issue with LeftArrowControl and RightArrowControl. If you set it to IsVisible="False"  ,it does not seem to apply.
What I did is in  your CarouselSampleXamlView I did as follows but the arrows still show.

     <controls:LeftArrowControl  IsVisible="False"/>
        <controls:RightArrowControl  IsVisible="False"/>

Thanks for wonderful controls

[2019-08-27 09:36] sarthak199526 opened #256 "Zooming Funtionality"
Hi @AndreiMisiukevich  Can we have a zoom functionality at-least on carousel view.Like all other native carousel view facebook does that . Like using pinch gesture and double tapped

I tried adding on image view but it scalling is not the write idea it conflicts when pinching a place where image view was not present earlier before zooming but it does after zooming In this case pinchgesture does no