[2019-08-27 11:10] AndreiMisiukevich commented on #256
@sarthak199526 Hi, cannot answer on the spot. Need to try)
But you always can play with it yourself

[2019-08-27 11:13] AndreiMisiukevich commented on #255
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/ArrowControl.cs#L166-L209

Hi) yes, it's because IsVisible is used by ArrowControl

Do you really need to make arrows invisible? Just don't add them

[2019-08-27 16:37] sarthak199526 commented on #256
An example would be fabulous for only Image carousel view If you got time someday :)

[2019-08-27 18:50] developer9969 commented on #255
Thanks for your reply.
I am building a generic screen in a Prism module and this module can be used by different apps and  some app can have the arrows others dont.
That is why. I

[2019-08-27 20:53] dvirsf commented on #254
Yes I did and the error is still there. Anyhow I don't think it should change anything, the error is during compilcation

[2019-08-27 21:28] AndreiMisiukevich commented on #254
@dvirsf can you send me a sample? just create a new project and install this NuGet

[2019-08-27 21:30] AndreiMisiukevich commented on #255
@developer9969 well, try to set

UseParentAsBindingContext = false, IsVisible = false

[2019-08-28 04:31] developer9969 commented on #255
@AndreiMisiukevich  Many thanks for these wonderful controls! And yes that works

[2019-08-28 07:58] #255 closed

[2019-08-28 07:58] AndreiMisiukevich commented on #255
@developer9969 you may "star" this repo if you wish haha)

[2019-08-28 12:02] riteshdarji opened #257 "CarouselView bounce effect"
Can we stop bounce effect on first and last view from CarouselView?

[2019-08-28 15:54] AndreiMisiukevich commented on #257
h, yes, of course

[2019-08-28 15:54] AndreiMisiukevich commented on #257
NoItemMaxPanDistance in front processor. set it to 0

[2019-08-28 15:56] AndreiMisiukevich commented on #257
[code]

[2019-08-28 15:57] #257 closed

[2019-08-28 18:48] derdogant opened #258 "Upgrading from 2.1.7 to 2.2.0 - Broken Functionality"
The function below was adding new cards without any problem in 2.1.7 version. However, it started to fail after the new version 2.2.0. Doesn't raise any exception but sometimes doesn't display the new cards. However, new cards appear after the selected card index is changed.

<pre><code>
private void ButtonAddNew_Clicked(object sender, EventArgs e)
{
    var o = (CarouselSampleScrollViewModel)Bind

[2019-08-29 07:08] AndreiMisiukevich commented on #258
Hi
Could you please create a small sample project?

[2019-08-29 07:19] AndreiMisiukevich commented on #258
the best approach would be to fork my repository and add sample there

[2019-08-29 07:48] AndreiMisiukevich commented on #258
cannot reproduce on iOS simulator with CardsView

It must be you updates something else. Or just missed providing something

I wait for sample from you :)

[2019-08-29 07:52] AndreiMisiukevich commented on #258
QuestionChoice is it class or struct ?

Well, just crate sample and I will help you)

[2019-08-29 09:39] MrMayTwenty opened #259 "MasterDetail page selected index issue"
Hi @AndreiMisiukevich
Currently i'm encountering an issue with the CarouselView's selected index
It seems that when i navigate to page in a MasterDetail the selectedindex seems to change (Decreases by 1).

Found a similar issue on #173
but i'm already at the latest release 2.2.0

[2019-08-29 09:42] K232 opened #260 "Using Listview ItemTemplate in Xaml"
Hi Andrei,
I'm trying to use a listview within your carouselview. Here is a simple example:

     <cards:CarouselView x:Name="CarouselTest"
                                Grid.Row="1"
                                Grid.Column="0">
                <cards:CarouselView.ItemsSource>
                    <x:Array Type="{x:Type View}">
                        <ContentView>

[2019-08-29 09:43] riteshdarji commented on #257
Thanks  a ton! @AndreiMisiukevich

[2019-08-29 10:41] AndreiMisiukevich commented on #259
@MrMayTwenty hmmm, strange
Could you please fork my repository and add sample?) I will debug and resolve asap :)

[2019-08-29 10:42] AndreiMisiukevich commented on #260
@K232 I guess it's xamarin bug
try to use CollectionView instead. Just for test

[2019-08-29 13:31] K232 commented on #260
Unfortunately my App is still on XF 3.6  so I could not use CollectionViews yet 😞
Nevertheless thanks for fast reply, I'll try again as soon as I'm on XF 4.0 👍

[2019-08-29 13:31] #260 closed

[2019-08-29 13:37] AndreiMisiukevich opened #261 "Make UseParentAsBindingContext obsolete"

[2019-08-29 18:43] justinhorner commented on #260
I tried using a collectionView and got the same result

[2019-08-29 19:01] dvirsf commented on #254
Hi,
my bad. It was late and I checked the wrong project :(. Its a PCL project not .net standard.

[2019-08-29 20:46] AndreiMisiukevich commented on #254
@dvirsf PCL is not supported anymore. Not sure 2.1.4 probably latest version for PCL

[2019-08-29 20:46] #254 closed

[2019-08-29 20:53] AndreiMisiukevich commented on #260
Hey guys, seems there is any XF constraint/bug. Because I don't see any mistake in code.
I think it makes sense to report this bug to XF team

[2019-09-02 10:35] saurabh1993-05 opened #262 "ItemSwipeUp Issue"
Hey Andrey,
My Issue is that I want when I swipe up cube view will go back. I am using Item swiped Event for it but I did not
get Up or Down swipe.
Right and Left is working great.
Please help.

[2019-09-02 11:00] #261 closed

[2019-09-02 15:58] riteshdarji opened #263 "CarouselView IndicatorsControl Position Change"
Hi Andrey,

Can we change CarouselView IndicatorsControl Position?
Currently it is displayed at bottom side.
I want to display it at top of the screen.

[2019-09-02 20:18] AndreiMisiukevich commented on #263
Hi, yes of course
Just play AbsoluteLayout.LayoutFlags and AbsoluteLayout.LayoutBounds

So, just set AbsoluteLayout.LayoutBounds = ".5,0,-1,-1"

[2019-09-02 20:19] AndreiMisiukevich commented on #263
Did it help?

[2019-09-02 20:19] #263 closed

[2019-09-03 00:06] AndreiMisiukevich commented on #262
![image](https://user-images.githubusercontent.com/10124814/64136090-b2afe980-cdf7-11e9-85fa-e787e995e188.png)

are you sure you swipe with enough velocity?

[2019-09-03 00:06] AndreiMisiukevich commented on #262
in another case, try to add SwipeGestureRecognizer yourself

[2019-09-03 00:09] #193 closed

[2019-09-03 00:10] #258 closed

[2019-09-03 00:10] AndreiMisiukevich commented on #258
cannot reproduce

[2019-09-03 00:27] AndreiMisiukevich commented on #259
need sample

[2019-09-03 00:27] #259 closed

[2019-09-03 06:40] riteshdarji commented on #263
Thanks @AndreiMisiukevich
I am using CarouselView IndicatorsControl in Grid, So AbsoluteLayout.LayoutBounds = ".5,0,-1,-1" is not working for me.
But I got a solution I have set bottom margin of this control from code behind with screen height - 70.
this.indicators.Margin = new Thickness(0, 0, 0, App.Current.MainPage.Height - 70);
This is working for me.

Thanks a lot.

[2019-09-03 09:21] saurabh1993-05 commented on #262
When I am using ItemSwiped then I will get like this
  async  void Handle_ItemSwiped(PanCardView.CardsView view, PanCardView.EventArgs.ItemSwipedEventArgs args)
        {
            if (args.Direction.ToString()=="Right")
            {
}
}

you are getting ItemSwipeDirection and index.
I am using latest version 2.2.0 .

[2019-09-03 09:39] saurabh1993-05 commented on #262
it's working fine in iOS .
I am getting Up direction in iOS but not in Android.

[2019-09-03 09:48] ashishkumawat opened #264 "No Shadow option given."

[2019-09-03 10:46] huyjack178 opened #265 "TabsControl control"
Will you have a plan to support a tabstrip header above the carousel like this ?
![image](https://user-images.githubusercontent.com/11793001/64167091-b03ea580-ce72-11e9-8115-3c2112f65ffb.png)

[2019-09-03 11:59] AndreiMisiukevich commented on #264
What do you mean? Please clarify

[2019-09-03 12:01] AndreiMisiukevich commented on #265
Lol) I was thinking about this enhancement yesterday

[2019-09-03 12:01] AndreiMisiukevich commented on #265
if somebody wants to create this control, feel free to contact me :)

[2019-09-03 16:03] humbertoo98 opened #266 "Detect which view is selected"
Hello, I would like to know if it is possible to know which Item is selected in CarouselView.
I already searched the documentation and found nothing
greetings

[2019-09-04 02:56] huyjack178 commented on #265
@AndreiMisiukevich  I have already implemented it for my project, but got stuck for the animation of active orange line when swipe left/right. I want when swipe left/right, the orange line under the active tab is being scrolled as well. I think about the scroll view customization. Do you have any idea about it?

[2019-09-04 06:49] AndreiMisiukevich commented on #266
) you was not attentive

SelectedItem property
Or
SelectedIndex

On Tue, Sep 3, 2019 at 19:03 humbertoo98 <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at On The Spot Development*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-09-04 06:51] AndreiMisiukevich commented on #265
Yes, I have
Don’t think about scroll view

On Wed, Sep 4, 2019 at 05:56 huyjack178 <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at On The Spot Development*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-09-04 07:42] huyjack178 commented on #265
So how about your idea?

[2019-09-04 08:23] AndreiMisiukevich commented on #265
@huyjack178 AbsoluteLayout and playing with CurrentDiff etc.

[2019-09-04 08:24] AndreiMisiukevich commented on #266
![image](https://user-images.githubusercontent.com/10124814/64238177-964ea280-cf06-11e9-8ff3-7849a9bba8e0.png)

Hmm, probably i should update doc (sets or gets)

[2019-09-04 08:25] #266 closed

[2019-09-04 09:40] huyjack178 commented on #265
@AndreiMisiukevich can you help me with some sample code ?

[2019-09-04 09:45] AndreiMisiukevich commented on #265
@huyjack178 I haven't got it yet. Need to create it first)
that is why I marked this ticket as enhancement.

[2019-09-04 09:46] K232 commented on #260
Hi @AndreiMisiukevich , I've updated your sample to XF 4.2 and added a [collection view](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview/), seems to work so far 👍

Code is copied from Microsofts Collection View sample.

Here's the XAML:
[code]

And here is the .cs code:
[code]

Many thanks 👍

[2019-09-04 09:56] humbertoo98 commented on #266
Hello, Thanks for the availability.
Yes I saw that there is this action but I would like to know if there is any that detects that selectedindex has change

[2019-09-04 10:03] AndreiMisiukevich commented on #260
@K232 cool) thanks

[2019-09-04 10:05] AndreiMisiukevich commented on #266
@humbertoo98 ah) yeah) since SlectedIndex and SelectedItem are bindable properties, they will be notified about any changes. They work to both directions

[2019-09-04 10:27] humbertoo98 commented on #266
Thanks a lot for the help.
Lengths

[2019-09-04 13:30] jorgvanriet opened #267 "Stop ItemSwiped from finishing"
Hi @AndreiMisiukevich,

I am using the CarouselView and i want to use the OnItemSwiped or the ItemSwipedCommand to navigate between my items.
I am looking for a way to stop the swipe action (e.g. e.Handled = true) to prevent the swipe from finishing and remain in the original(pre-swipe) state.

Is this possible?

Regards

Jorg

[2019-09-04 14:04] AndreiMisiukevich commented on #267
Hi, for now -- no, unfortunately

[2019-09-04 14:19] AndreiMisiukevich commented on #267
can you show, what do you want to achieve?

[2019-09-04 22:12] #264 closed

[2019-09-04 22:12] AndreiMisiukevich commented on #264
No idea what it means

[2019-09-05 03:10] syakuronano opened #268 "Backward swipe issue on coverflow"
Hi, I get issue on coverflow when on backward swipe. Card looks double
![CarouselIssue](https://user-images.githubusercontent.com/20804761/64308970-b09f8380-cfcd-11e9-9a47-5950ceba69df.Gif)

Can you have any suggestion for my issue?
here my code:
https://github.com/syakuronano/bugrepropanvw

Thank you

[2019-09-05 07:04] AndreiMisiukevich commented on #253
you may validate it on my samples) would be included to next release

[2019-09-05 07:07] AndreiMisiukevich commented on #268
first of all i removed useless properites

[code]

[2019-09-05 07:10] AndreiMisiukevich commented on #268
![image](https://user-images.githubusercontent.com/10124814/64319551-539fcf80-cfc5-11e9-9b6a-26e380022fd0.png)

Frame should have MARGIN = "40, 0" e.g.

play with margin

[2019-09-05 07:10] #268 closed

[2019-09-05 07:22] MindRus commented on #253
Ok, thank you

[2019-09-05 07:29] syakuronano commented on #268
Thank you for your response but I got 2 questions
1. What do you mean remove useless properties? The properties are used for binding the objects.
2. I mean, my issue is when I swipe backyard on purple card, I get purple card again on left side. it is not like on forward swipe, which I get next color card part on right side and I need it to show in my app. set the margin means I do not get the next

[2019-09-05 08:37] jorgvanriet commented on #267
I am using the CasouselView as a Wizard.
By using a DataTemplateSelector i can use multiple views in the CarouselView.
I have a header for the view title and a footer for the "Next" and "Previous" buttons.

The buttons i use for navigating forward and backward through the wizard. On navigating i validate the content of the view and i can stop the carousel from going to the next view.

But when i s

[2019-09-05 09:31] AndreiMisiukevich commented on #268
Yes, but they work in OneWayToSource binding mode (check the documentation for more info about them)

[2019-09-05 09:46] AndreiMisiukevich commented on #267
Hm, just set IsUserInteractionEnabled = false

[2019-09-05 10:41] jorgvanriet commented on #267
Ok i'll  just disable the interaction for now

Thanx for the help !

[2019-09-05 10:41] #267 closed

[2019-09-05 10:45] AndreiMisiukevich commented on #267
also you can try to play wit IsNextItemPanInteractionEnabled IsPrevItemPanInteractionEnabled

Set them after you checks

[2019-09-05 16:35] AndreiMisiukevich opened #269 "Add RotationFactor to CarouselView processor"
Like Scale / Opacity

[2019-09-06 10:22] AndreiMisiukevich commented on #269
v.2.2.1

[2019-09-06 10:22] #269 closed

[2019-09-06 10:22] AndreiMisiukevich commented on #262
v.2.2.1

[2019-09-06 10:22] #262 closed

[2019-09-06 10:22] AndreiMisiukevich commented on #253
v.2.2.1

[2019-09-06 10:22] #253 closed

[2019-09-06 10:23] AndreiMisiukevich commented on #252
v.2.2.1

[2019-09-06 10:23] #252 closed

[2019-09-09 08:40] huyjack178 opened #270 "How to make swipe more smoothly?"
Hi, I have  tried the old carousel view https://github.com/alexrainman/CarouselView, and I saw it more smoothly than yours. Do you have any configuration for it?

[2019-09-09 08:42] AndreiMisiukevich commented on #270
what do you mean? Animation?

[2019-09-09 08:43] AndreiMisiukevich commented on #270
every processor has AnimationLength and AnimEasing properties, you may set desired value

[2019-09-09 08:44] huyjack178 commented on #270
Yes, the animation

[2019-09-09 08:45] huyjack178 commented on #270
let me try this

[2019-09-09 08:54] huyjack178 commented on #270
You can see in this screenshot, when I swipe right from the very first item, the space is still like the image, it make me feel not smoothly
![image](https://user-images.githubusercontent.com/11793001/64517149-f5068880-d319-11e9-9923-12de72fc6f03.png)

[2019-09-09 09:02] AndreiMisiukevich commented on #270
![image](https://user-images.githubusercontent.com/10124814/64517783-ab0daa80-d2f9-11e9-81fe-966848f2f4d4.png)

properties are there

[2019-09-09 09:02] AndreiMisiukevich commented on #270
AnimationLength and AnimEasing

[2019-09-09 09:03] AndreiMisiukevich commented on #270
would be better to see a video
the image doesn't provide more info

[2019-09-09 09:19] huyjack178 commented on #270
![image](https://user-images.githubusercontent.com/11793001/64519052-96dba480-d31d-11e9-9786-6cf17fdee215.png)

[2019-09-09 09:19] huyjack178 commented on #270
![RPReplay_Final1568020626](https://user-images.githubusercontent.com/11793001/64519078-a5c25700-d31d-11e9-93f1-f8e6460321be.gif)

[2019-09-09 09:23] huyjack178 commented on #270
This is my expectation
![RPReplay_Final1568020922](https://user-images.githubusercontent.com/11793001/64519386-36009c00-d31e-11e9-8735-338ee985f28f.gif)

[2019-09-09 09:59] AndreiMisiukevich commented on #270
Well, try to set https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCarouselFrontViewProcessor.cs#L18 to 100 for example

[2019-09-09 09:59] #270 closed

[2019-09-09 11:55] K232 opened #271 "Children does not return all elements"
Hi Andrei,
I've noticed a strange behaviour in the carousel view: The Children-Property does not return all children. I thought it's related to some controls, but it seems that the maximum of returned children is 3 ?

I'm using the code which I've posted here https://github.com/AndreiMisiukevich/CardView/issues/260#issuecomment-527827927 so childrens are added via XAML. Setting a Breakpoint in _fo

[2019-09-09 12:07] AndreiMisiukevich commented on #271
@K232 yes, that's true. Views are reused among all items. (like recycleElementStrategy). It was done for better performance and memory management

[2019-09-09 12:07] #271 closed

[2019-09-10 04:39] huyjack178 opened #272 "Setting BackViewsDepth make Carousel View hang for the first load"
Sorry for asking many times but I tried to use BackViewsDepth = 2 for best rendering, but on the first load, the carousel view is not work as normal. I don't know why, the first load not navigate to correct page. Please refer to the video

![new](https://user-images.githubusercontent.com/11793001/64584527-3d2bb680-d3bf-11e9-8237-d6c0e1871fbc.gif)

Without using BackViewsDepth, It's very normal. Ve

[2019-09-10 09:36] AndreiMisiukevich commented on #272
BackViewsDepth = 2, it means that you are trying to load **5** (!!!) views on start. It's so heavy.
(2 from the left side, 2 from the right side and one current)

[2019-09-10 09:37] huyjack178 commented on #272
I got it but data is loading on demand, so only empty view

[2019-09-10 09:37] AndreiMisiukevich commented on #272
what is the issue? Blinking?

[2019-09-10 09:38] AndreiMisiukevich commented on #272
@huyjack178 could you please fork my repository and reproduce it on any sample? I will debug this case if it is something on CardsView side :)

[2019-09-11 04:27] huyjack178 commented on #272
Sorry for replying late, I have work-arround solution by setting IsViewReusingEnabled="False" than setting BackDepthView, it make my swipe more smoothly, maybe each view doesn't reuse others make it

[2019-09-11 04:28] huyjack178 commented on #272
@AndreiMisiukevich
I have one more question, ask here for not creating issue
Sometimes, I see that issue, the view is crop like the image. Do you know why?
![image](https://user-images.githubusercontent.com/11793001/64668281-3c5e5780-d487-11e9-8498-4a2c4bc33cfb.png)

[2019-09-11 07:57] AndreiMisiukevich commented on #272
@huyjack178 i don't think it's related to CardsView. Seems something with layouting. Try to use FillAndExpand

[2019-09-11 08:33] AndreiMisiukevich commented on #272
@huyjack178 can you test in on my samples?

Just change any ItemTemplate to ContentView { BackgroundColor = Color.Red }

I am sure that there is no issue in CardsView. It's smth related to your code / xaml or XF

CardsView is AbsoluteLayout. It put cards into itself with AbsoluteLayoutFlags = "All" and AbsoluteLayouytBound = "0, 0, 1, 1"

[2019-09-11 09:54] huyjack178 commented on #272
It's only happening in iphone Xr, Xs is normal. So weird. Please ignore that issue. I will test it in real device and check later. Thank you so much

[2019-09-13 10:55] garnelsoftware opened #273 "OutOfMemory Exception"
Hi Andrei,

Thank you for your fantastic plugin but I wonder if you could help me?
I have two devices that I am playing with, one API 19 and the other API 27.

I am using your CarouselView with FFImageLoading and have just recently switched my PNGs to SVGs because of scalability.

My problem is that each card consumes 8MB of memory when creating the bitmap for the SVG. On the older device this see

[2019-09-13 11:52] AndreiMisiukevich commented on #273
Hi @garnelsoftware seems it's FFImage issue something is not disposed

[2019-09-13 12:26] garnelsoftware commented on #273
Thanks Andrei.

I have put an invalidatecache & GC collect in the card disappearing & back/home navigate and it stops the OOM.
A lot of internet searches on ffimageloading seems to imply that the carousels in use aren't attempting to dispose/destroy the images.
Do you have any advice on necessary cleanup when using the carousel? (i.e. which method to override etc) I feel that my approach is curren

[2019-09-13 19:58] AndreiMisiukevich commented on #273
No, better approach would be:

[code]

And try
[code]

[2019-09-13 20:49] garnelsoftware commented on #273
Great! Thanks Andrei, I'll try that later! I really appreciate your help, thank you again.

[2019-09-16 02:14] huyjack178 commented on #272
@AndreiMisiukevich Can not reproduce with your sample because of your simple layout. My project need a lot of info in ListView. When checking, I see it's easy happen when use mobile network (3G/4G, not wifi). My list view has more than 1000 rows and I saw it because of heavy listview make rendering wrong.

[2019-09-16 04:05] huyjack178 commented on #272
@AndreiMisiukevich Thanks god, I change stacklayout by flexlayout and that issue has gone. I think cardview have problem with item datatemplate using stacklayout

[2019-09-17 09:05] AndreiMisiukevich commented on #272
@huyjack178 it's no CardsView problem then :)
There is a problem with StackLayout :D
CardsView just moves layouts

[2019-09-17 09:05] #272 closed

[2019-09-17 09:23] #273 closed

[2019-09-17 11:06] LynoDesu opened #274 "UserInteracted event doesn't fire on iOS"
When I subscribe to this event, it only fires on Android. It is never fired on iOS.

[2019-09-17 12:26] AndreiMisiukevich commented on #274
Are you sure? There are no other properties set for iOS?

[2019-09-17 12:27] AndreiMisiukevich commented on #274
Show me the sample, please

[2019-09-17 12:45] LynoDesu commented on #274
Hi,

I'll out together a simple sample when I have a bit more time, but this is what I'm doing:

Works fine on Android, but never fires on an iOS device or simulator

[code]

[2019-09-17 15:14] AndreiMisiukevich commented on #274
let me check it

[2019-09-17 15:14] AndreiMisiukevich commented on #274
Can you post xaml as well?

[2019-09-18 13:45] Monikaprime opened #275 "Alignment issue in Carousel View"
Have use a stack layout with Labels in Carousel View, but for some labels text starting from start, even if Horizontal Text Alignment is in center

please help

[2019-09-18 14:18] Monikaprime opened #276 "Error on using IsViewCacheEnabled=TRUE"
Unhandled Exception:

System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer from native handle 0x7fca8dd924 (key_handle 0x27bc026). occurred

[2019-09-18 14:18] Monikaprime opened #277 "Error on using IsViewCacheEnabled=TRUE"
Unhandled Exception:

System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer from native handle 0x7fca8dd924 (key_handle 0x27bc026). occurred

[2019-09-18 14:23] AndreiMisiukevich commented on #276
Hi, first of all, IsViewCacheEnabled is deprecated
Use IsViewReusingEnabled

[2019-09-18 14:24] AndreiMisiukevich commented on #277
https://github.com/AndreiMisiukevich/CardView/issues/276

[2019-09-18 14:24] #277 closed

[2019-09-18 14:29] AndreiMisiukevich commented on #276
Seems this issue is closed by XF team https://github.com/xamarin/Xamarin.Forms/issues/5894

[2019-09-18 14:31] AndreiMisiukevich commented on #275
Use HorizontalOptions = CenterAndExpand

[2019-09-18 14:31] #275 closed

[2019-09-18 14:31] AndreiMisiukevich commented on #276
Try a latest pre-release version of forms

[2019-09-18 23:01] AndreiMisiukevich commented on #274
Just verified, works as expected.
Post sample please, i presume there is any bug in your xaml

[2019-09-18 23:03] AndreiMisiukevich commented on #274
http://www.giphy.com/gifs/fVJaPapy5Ppp80Q56y

[2019-09-19 06:51] ahag opened #278 "Hi,Whether to consider adding vertical scroll darection ?"
Hi,Whether to consider adding vertical  scroll darection ?

[2019-09-19 11:03] AndreiMisiukevich commented on #278
Hi,

It can be easily achieved.

Set CarouselView Rotation to 90 and your Item view Rotation to -90

Does it work?

[2019-09-19 11:03] #278 closed

[2019-09-20 21:24] #274 closed

[2019-09-20 21:25] #276 closed

[2019-09-23 08:21] PauchardThomas opened #279 "[Bug] SelectedIndex - CoverFlowView"
Hi,

I want to save the current index from the CoverFlowView and retrieve it when switching ItemSource.

I discovered a bug for the CoverFlowView :

Summary : When switching ItemSource the SelectedIndex is always set to -1 from the previous SelectedIndex.

Please see my repo : https://github.com/PauchardThomas/CardViewTest

[2019-09-23 14:24] shoeIT opened #280 "Swiping if Pangesture is not enabled"
Hey Andrei,
until version 2.16 it was possible to swipe the carousel view even if pangesture was set to false.
I need to set it to false on some views since I show a web view where the user can zoom in, it was still possible to swipe if the user starts at the very left or right end of the screen.
This is not possible anymore atm.
Is this expected behaviour ? Can I achieve the fuctionality otherwis

[2019-09-23 14:32] AndreiMisiukevich commented on #280
Can you provide a small sample?

[2019-09-23 14:35] AndreiMisiukevich commented on #280
So, 2.1.5 works fine, but 2.1.6 - not?

[2019-09-23 14:39] shoeIT commented on #280
I try to provide it the next days!
2.16 is working, afterwards not

[2019-09-23 14:39] AndreiMisiukevich commented on #280
@shoeIT ah, got it)

[2019-09-23 14:42] AndreiMisiukevich commented on #280
Did it work on iOS and Android ?? or Android only?

[2019-09-23 14:42] AndreiMisiukevich commented on #280
seems this guy updated behavior https://github.com/AndreiMisiukevich/CardView/commit/5b1ed5ff076e766099e653bcd3fed84aed05c27e

[2019-09-23 14:43] AndreiMisiukevich commented on #280
https://github.com/AndreiMisiukevich/CardView/commit/5b1ed5ff076e766099e653bcd3fed84aed05c27e#diff-8cc6ebe1b5bce65a7563dd4ee7cea8f5R499

[2019-09-23 14:43] AndreiMisiukevich commented on #280
Hmmm, I presume you tested on Android only, yeah?

[2019-09-23 15:04] shoeIT commented on #280
yes until now I tested only on Android.  iOS update ATM therefore I can try it later or tomorrow!

[2019-09-23 23:26] becarioWelldex opened #281 "IsVerticalSwipeEnabled Property Not Working"
Hi andrei, i have a problem with this property. when i tried to use it i set it to false and the carousel ignore the property and can still swipe vertical to change card.
`IsVerticalSwipeEnabled=false`

Version: 2.2.1.

Thank You.
BTW Nice nugget, love it.

[2019-09-23 23:57] #281 closed

[2019-09-24 00:06] becarioWelldex commented on #281
Solved

[2019-09-24 08:33] AndreiMisiukevich commented on #281
@becarioWelldex Hi) How did you solve it?

[2019-09-24 12:04] shoeIT commented on #280
in iOS everything works out of the box exactly like I want and as it worked until 216 in Android with pangesture = false

I mean, what is the expected behaviour if you show a svg in a webview. The should be able to zoom into the web view and the user should be able to swipe  right?
In Android atm you could either swipe or zoom but not both of it...I don't think that what we want?

[2019-09-24 12:19] samukasantos opened #282 "Double cards on the left part of the screen."
Hey Andrei,

I am using coverflow to fulfill one of the expected requirements but found one when using a TemplateSelector due to some differences between the cards. The IsCyclical property needs to be set as this is expected behavior. Here are two code snippets where the first is the DataTemplates definition and then how the component was defined in XAML.

![image](https://user-images.githubuserco

[2019-09-24 12:19] PauchardThomas commented on #279
@AndreiMisiukevich Any idea ?

[2019-09-24 14:00] AndreiMisiukevich commented on #282
@samukasantos Hi) May I ask you about small assistance?)
Could you please fork this repository and add sample which demonstrates this bug?

[2019-09-24 14:02] AndreiMisiukevich commented on #280
@shoeIT makes sense

[2019-09-24 14:02] AndreiMisiukevich commented on #256
https://github.com/AndreiMisiukevich/CardView/issues/280

@sarthak199526 how about this approach?) WebView

[2019-09-24 14:03] AndreiMisiukevich commented on #280
pangesture = false // could you pls explain it? Is it IsPanInteractionEnabled ?

[2019-09-24 14:06] AndreiMisiukevich commented on #280
Well, it would be fantastic, if you forked my project and applied a sample there :)
It will allow me to fix this issue ASAP. I believe I know what is the reason.

[2019-09-24 14:07] sarthak199526 commented on #256
I guess that would work :)

[2019-09-24 14:07] #256 closed

[2019-09-24 14:08] AndreiMisiukevich commented on #280
So, you used it like:

carousel.IsPanInteractionEnabled = Device.RuntimePlatform != Device.Android;

Yeah?

[2019-09-24 14:08] AndreiMisiukevich commented on #256
@sarthak199526 but stay online in case of any other questions :))

[2019-09-24 14:09] AndreiMisiukevich commented on #279
@PauchardThomas sorry mate, it was a SUPER busy month for me :(
But I am freer now. And I promise to check on this week (maybe today.. maybe a little bit later)

[2019-09-24 14:18] PauchardThomas commented on #279
@AndreiMisiukevich No problem ;-)

[2019-09-24 21:30] AndreiMisiukevich commented on #279
Hi, first of all i think you should add margin
![image](https://user-images.githubusercontent.com/10124814/65551893-97825680-df2b-11e9-94d1-8ff652e67613.png)

30, 0
or
25, 0 at least

[2019-09-25 08:17] shoeIT commented on #280
thank's for your support, I try to provide a sample asap!

I use data binding and on a certain position if
[code]
then I'm able to zoom in the webview containing a svg.

[code]

[2019-09-26 04:25] samukasantos commented on #282
Hi Andrei,

Here is the compressed project I hope it can help. Thanks !

[cardviewbugs-1.zip](https://github.com/AndreiMisiukevich/CardView/files/3655870/cardviewbugs-1.zip)

[2019-09-26 07:36] PauchardThomas commented on #279
Thank you very mch. Waiting for the release ;)

[2019-09-26 09:35] AndreiMisiukevich commented on #280
@shoeIT I added one new property. So I will create new release today

[2019-09-26 09:40] AndreiMisiukevich commented on #279
@PauchardThomas I am going to make it on this week)

[2019-09-27 14:22] AndreiMisiukevich commented on #282
@samukasantos yes, I see that there is an issue on your sample. But it's overloaded with other stuff.
Can you create a very simple sample project with this issue? cuz I cannot reproduce it on my samples

[2019-09-27 14:28] AndreiMisiukevich commented on #282
A simple project with one page, use BoxView for templates (just use different colors for example)

[2019-09-27 14:48] AndreiMisiukevich commented on #282
or I can reproduce... hmmm

[2019-09-27 14:51] AndreiMisiukevich commented on #282
IsCyclical=false fixes issue

[2019-09-28 02:42] samukasantos commented on #282
Hey Andrei,

Thanks for your feedback. I need to have IsCyclical=true I tested with false value and could realize it works but this behavior is totally important for the product. I could realize about the number of the elements too, I don't know if it makes sense but in a debugging session the OnSelectTemplate  from DataTemplateSelector is being called 5 times for 4 elements.

Cheers !

[2019-09-28 11:15] AndreiMisiukevich commented on #282
@samukasantos I know the reason of the bug :)
And 5 times for 4 elements is fine.. because:

[left2] - [left1] - [CURRENT] - [right1 - [right2]

Since you have 4 elements in ItemsSource, right2 should be the same with left2 (That is why cardsView creates one more element) I need to think, how to manage them.

So, no need any samples.

[2019-09-28 23:19] AndreiMisiukevich commented on #280
ShouldThrottlePanInteraction = true

[2019-09-28 23:24] AndreiMisiukevich commented on #279
v2.2.2

[2019-09-28 23:24] #279 closed

[2019-09-28 23:24] AndreiMisiukevich commented on #280
v2.2.2

[2019-09-28 23:24] #280 closed

[2019-09-28 23:24] AndreiMisiukevich commented on #282
v2.2.2

[2019-09-28 23:24] #282 closed

[2019-09-29 08:21] samukasantos commented on #282
Hey Andrei,

I tested in some devices and the issue gone! Thank you very much and I appreciate your help !

Cheers,

[2019-09-29 08:24] mzhukovs opened #283 "Individual Views for each Carousel Item"
The carousel I wish to create has some very different display needs per each item, making it a little tough to come up with an item template. Is it possible to just pass in a pre-defined collection of views as the ItemsSource and essnetially just have the CarouselView display them as they are? I guess one way to describe it would be as similar to an XF CarouselPage but within a CarouselView?

[2019-09-29 10:01] AndreiMisiukevich commented on #283
Hi, yes, sure. Just put collections of views to ItemsSource

![image](https://user-images.githubusercontent.com/10124814/65830540-250dcf80-e2b9-11e9-9c31-6dee80e27699.png)

[2019-09-29 10:01] #283 closed

[2019-09-29 10:02] AndreiMisiukevich commented on #282
@samukasantos glad to hear it)
if you like this plugin, you may start this project

[2019-09-29 11:22] mzhukovs commented on #283
ah so awesome, thank you!! @AndreiMisiukevich

[2019-09-30 10:23] matt-goldman opened #284 "NullReferenceException when using Processors"
I am using a carousel view, I've added the processors, as per documentation and samples. However when the view loads my app crashes with a NullReferenceException.

Here is the XAML:

[code]

Here is the exception detail:

I hope this helps, please let me know if you need any more information.

[2019-09-30 11:11] AndreiMisiukevich commented on #284
proc:Base**CoverFlow**FrontViewProcessor
proc:Base**CoverFlow**BackViewProcessor

Hi, yeah. You are using the wrong processors.
should be:

proc:Base**CarouselView**FrontViewProcessor
proc:Base**CarouselView**BackViewProcessor

if you want to use it within CarouselView

[2019-09-30 11:14] AndreiMisiukevich commented on #284
but I will add a check here:

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCoverFlowBackViewProcessor.cs#L123

So, just switch to proper processors :)

[2019-09-30 11:36] matt-goldman commented on #284
Ah I see - thanks!

[2019-09-30 11:36] #284 closed

[2019-09-30 21:36] becarioWelldex commented on #281
@AndreiMisiukevich only working right now in iOS not in Android

[2019-09-30 21:37] becarioWelldex commented on #281
i just type the verticalswipeenabled property to false

[2019-09-30 21:53] AndreiMisiukevich commented on #281
also try to set MoveThresholdDistance = 20

[2019-09-30 23:23] becarioWelldex commented on #281
When i scroll from carousel on iOS it lags a little

[2019-09-30 23:49] becarioWelldex opened #285 "IsPanInteractionEnabled not working."
Hi, i have the property IsPanInteractionEnabled="False" and is not swiping to the left or right, what is happening?.

In both platforms iOS and Android.

I am doing it wrong?

this is the code.

<cards:CarouselView
                    x:Name="CarouselSlide"
                    ItemsSource="{Binding Cartas}"
                    HeightRequest="400"
                    IsCyclical="False"

[2019-10-02 07:43] AndreiMisiukevich commented on #281
can you show, what do you mean? You said that iOS works fine

[2019-10-02 07:46] AndreiMisiukevich commented on #285
Hi :) sorry for the delay

[2019-10-02 07:48] AndreiMisiukevich commented on #285
IsPanInteractionEnabled forbids to use "panGesture" ... hmm, like smooth scrolling, but preserves the ability to use "swipeGesture". Does it make sense? :)

So, if you wish to forbid any user interaction with your carousel, you should use another property **IsUserInteractionEnabled**

[2019-10-02 07:48] #285 closed

[2019-10-02 13:03] shoeIT commented on #280
THX works fine so far.
PanGestureEnable = true
ShouldTrhottlePanInteractions = true   IF you need to zoom in and out or scroll on a View (e.g. WebView)

[2019-10-02 13:18] AndreiMisiukevich commented on #280
@shoeIT thanks for the feedback :D

[2019-10-02 15:16] alkharashiam commented on #265
any update on this ?

[2019-10-02 19:38] AndreiMisiukevich commented on #265
not yet :) But I am going try

[2019-10-02 20:56] becarioWelldex commented on #285
yeah it makes sense but that property don't let me to swipe in both platforms.
btw carouselview now works perfectly with parent:scrollview on android, now the carouselview doesn't move when i swipe up or down, it moves perfectly (smooth) in android but on iOS doesnt'.

Here are the values.
`
<StackLayout Padding="15">
                <cards:CarouselView
                    x:Name="CarouselSlide"

[2019-10-02 21:47] AndreiMisiukevich commented on #285
Yes, as for iOS it's known issue, that ParentScrollView works badly

[2019-10-02 21:48] AndreiMisiukevich commented on #285
What are you trying to achieve?

[2019-10-02 21:49] becarioWelldex commented on #285
Trying to make it smooth like a normal scrollview

[2019-10-02 21:50] AndreiMisiukevich commented on #285
IsPanInteractionEnabled = false and use regualar scrollView (you won't be able to pan cards, but still can swipe them)

[2019-10-02 23:21] becarioWelldex commented on #285
i did what you said (normal scrollview and IsPanInteractionEnabled = false ) but i can't swipe cards on both platforms

       <ScrollView>
            <StackLayout Padding="15">
                <cards:CarouselView
                    x:Name="CarouselSlide"
                    ItemsSource="{Binding Cartas}"
                    HeightRequest="400"
                    IsCyclical="False"

[2019-10-02 23:43] AndreiMisiukevich commented on #285
@becarioWelldex you cannot pan (panGesture) or swipe (swipeGesture)?

[2019-10-02 23:44] becarioWelldex commented on #285
@AndreiMisiukevich i can't swipe to change cards

[2019-10-03 01:12] AndreiMisiukevich commented on #265
WIP http://www.giphy.com/gifs/gFW9Z4RUgZXVvsgKz6

[2019-10-03 01:46] AndreiMisiukevich commented on #265
I will release the package with this TabsControl. But it still requires refactoring

[2019-10-03 01:49] AndreiMisiukevich commented on #265
v.2.3.0

[2019-10-03 01:55] #265 closed

[2019-10-03 02:19] AndreiMisiukevich commented on #285
@becarioWelldex I see a bug. But anyway I can swipe 1 time

[2019-10-03 02:31] AndreiMisiukevich commented on #285
check on my sample pls

[2019-10-03 15:14] fjorge-joshkautz opened #286 "[Feature Request] CoverFlow animate over multiple cards by changing SelectedIndex"
_Hopefully this isn't already implemented and I simply overlooked the feature (although, I would also be pleased if this was the case)._

In regards to #158 , I think it would be cool if there was the ability for CoverFlow to animate across _multiple_ cards by changing SelectedIndex or SelectedItem. From what I can tell, this is automatic animation works great for cards that are adjacent to one an

[2019-10-03 18:43] AndreiMisiukevich commented on #286
@fjorge-joshkautz hi) Yeah, I understand you. It would be really very cool feature. But I couldn't implement it. It isn't a trivial task :(

[2019-10-03 19:06] AndreiMisiukevich commented on #286
@fjorge-joshkautz how about Fade in / Fade out animation for such cases?

[2019-10-03 19:18] fjorge-joshkautz commented on #286
The ability for an animation of any kind in this use case seems like a useful user experience to me. I would be out of line demanding that that a feature be created - I just was thinking that it could be a cool and likely useful feature if it were to be developed. I have been playing around with the initial suggestion, and as you said, it certainly isn't trivial :) I think that fading animations i

[2019-10-03 20:24] AndreiMisiukevich commented on #286
http://www.giphy.com/gifs/StoKNYGnrd4fanT2lK

[2019-10-04 06:05] huyjack178 commented on #265
@AndreiMisiukevich Is there any docs or sample for new version :D

[2019-10-04 06:52] AndreiMisiukevich commented on #265
Yeah, sample in embedded to CubeView sample

Docs should be prepared )

[2019-10-04 06:53] AndreiMisiukevich commented on #265
I meant that I would prepare docs later

[2019-10-04 09:34] alkharashiam opened #287 "TabView value cannot be null."
Hi ,
I am experimenting with tab view , When I create  embedded tab view It works fine only if every tab content is emtpy . when I try to add a list view or collection view i get value cannot be null error .

[2019-10-04 09:46] AndreiMisiukevich commented on #287
please show me your case

[2019-10-04 09:47] AndreiMisiukevich commented on #287
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CubeSampleXamlView.xaml

here is my sample

[2019-10-04 09:52] alkharashiam commented on #287
this is new , I was using this one :https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleEmbeddedView.xaml

[2019-10-04 09:55] alkharashiam commented on #287
<tv:TabViewControl HeaderSelectionUnderlineColor="#800080" HeaderTabTextColor="#800080" HeaderBackgroundColor="#B666D2" HeaderTabTextFontSize="15" TabSpacing="40">
                            <tv:TabViewControl.TabItems>
                                <Binding>
                                    <Binding.Source>
                                        <x:Array Type="{x:Type tv:TabItem}">

[2019-10-04 10:04] alkharashiam commented on #287
[code]

how do i define different datatemplate for different cube?

[2019-10-04 11:58] fjorge-joshkautz commented on #287
In the past I've used a DataTemplateSelector in C#, here is the documentation to get you steered in the right direction (https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.datatemplateselector?view=netframework-4.8). I'll likely actually be playing around with setting multiple DataTemplates in XAML today, so if I find anything that I think would be helpful for you, I'll keep you p

[2019-10-04 12:12] AndreiMisiukevich commented on #287
@fjorge-joshkautz I know what is DataTemplateSelector lol :D
And you definitely can use it with this control. Just put it to CubeView.ItemTemplate

[2019-10-04 12:13] AndreiMisiukevich commented on #286
@fjorge-joshkautz I will release on this week I think)

[2019-10-04 12:14] alkharashiam commented on #287
I dont want to use a datatemplateselector . I meant to use something like this
<cubeview tab1>
<content 1>
<cubeview tab2>
<content 2>
in xaml

[2019-10-04 12:19] AndreiMisiukevich commented on #287
put your views array inside "ItemsSource"

[2019-10-05 14:04] AndreiMisiukevich commented on #287
just a moment, it's not a part of the library! this control is for test only

[2019-10-05 14:04] #287 closed

[2019-10-07 01:08] fjorge-joshkautz commented on #286
Awesome - I look forward to it! Thank you!

[2019-10-07 10:50] huyjack178 commented on #265
@AndreiMisiukevich TabControl can not work with IsCyclical = False. Please check

[2019-10-07 11:28] AndreiMisiukevich commented on #286
@fjorge-joshkautz I will release it on this week)

[2019-10-07 11:38] AndreiMisiukevich commented on #265
@huyjack178 just tested - no hanging

[2019-10-07 11:39] AndreiMisiukevich commented on #265
can you try to reproduce on my samples or provide small project.

[2019-10-07 11:40] huyjack178 commented on #265
@AndreiMisiukevich I have tried your sample. Doesn't happen, still don't know why, I removed IsCyclical then work well. Moreover, I want to set default selected index to TabControl but not work

[2019-10-07 11:43] AndreiMisiukevich commented on #265
@huyjack178 Well, create please issue and try to build a sample for IsCyclical issue.
As for SelectedIndex, I will check too

[2019-10-07 11:46] huyjack178 opened #288 "TabControl make app hanging when set CarouselView's IsCyclical = False"
Please refer my code

[code]

[2019-10-07 11:50] huyjack178 opened #289 "Cannot set default selected index in TabControl"
I have 7 items in my carousel view. I want to set the item 4 is the default when appearing in TabControl

[2019-10-07 12:09] AndreiMisiukevich commented on #289
Fixed

[2019-10-07 22:08] AndreiMisiukevich commented on #288
try on 2.3.2

[2019-10-07 22:08] #288 closed

[2019-10-07 22:08] AndreiMisiukevich commented on #289
2.3.2

[2019-10-07 22:08] #289 closed

[2019-10-07 22:08] AndreiMisiukevich commented on #286
2.3.2

[2019-10-07 22:08] #286 closed

[2019-10-08 02:50] huyjack178 commented on #289
@AndreiMisiukevich will new version work when I set selected index in Carousel View?

[2019-10-08 06:35] AndreiMisiukevich commented on #289
yes

[2019-10-08 06:37] AndreiMisiukevich commented on #289
so can I reproduce it on my sample? I just need to update XF to the latest version, right?

[2019-10-08 06:37] huyjack178 commented on #289
Yes :D

[2019-10-08 08:03] huyjack178 commented on #289
@AndreiMisiukevich any news? :D

[2019-10-08 09:43] AndreiMisiukevich commented on #289
2.3.3

[2019-10-08 09:52] huyjack178 commented on #289
@AndreiMisiukevich works like a charm, thanks a lot :)

[2019-10-09 07:58] jorgvanriet opened #290 "Cannot set initial position via SelectedItem binding"
Hi Andrei,

I am using the 'CoverFlowView' and when i bind the ItemSource and set the SelectedItem to the last item in the list, it keeps resetting the SelectedItem to the first item in the list.

Any tips?

Regards,

Jorg

[2019-10-09 08:19] AndreiMisiukevich commented on #290
Hi @jorgvanriet could you please share your xaml?

[2019-10-09 08:23] jorgvanriet commented on #290
`<panCardView:CoverFlowView x:Name="CoverFlowView1" ItemsSource="{Binding Path=BindingContext.ProgressList, Source={x:Reference Name=DevelopmentViewName}}"
                               VerticalOptions="FillAndExpand" IsCyclical="False" SelectedItem="{Binding Path=BindingContext.SelectedItem, Source={x:Reference Name=DevelopmentViewName}, Mode=OneWay}">
        <panCardView:CoverFlowView.ItemTemp

[2019-10-09 08:26] jorgvanriet commented on #290
Sorry quotes are messing it up

[2019-10-09 08:36] AndreiMisiukevich commented on #290
Mode=OneWay

I presume should be a default (two-way, cuz you want to keep it updated in case of any swipes)

[2019-10-09 08:36] AndreiMisiukevich commented on #290
```SelectedItem="{Binding Path=BindingContext.SelectedItem, Source={x:Reference Name=DevelopmentViewName}}"```

[2019-10-09 08:38] jorgvanriet commented on #290
It's not the OneWay that was just something i tried sorry

[2019-10-09 08:42] AndreiMisiukevich commented on #290
@jorgvanriet so, what is the issue?
You cannot select initial item with SelectedItem property, right? But then it works, yep?

[2019-10-09 08:53] jorgvanriet commented on #290
Yes, unable to set the initial item.

[2019-10-09 09:18] AndreiMisiukevich commented on #290
@jorgvanriet thx, I'll take a look on my sample )

[2019-10-09 21:34] AndreiMisiukevich commented on #290
[code]

Works fine for me

[2019-10-09 21:34] AndreiMisiukevich commented on #290
![image](https://user-images.githubusercontent.com/10124814/66522267-b5d47e80-eaf5-11e9-96cd-6324aee3688f.png)

[2019-10-09 21:35] AndreiMisiukevich commented on #290
try to build a small sample

[2019-10-10 01:29] laitauchocolat opened #292 "Disable add animations"
Hi, how can I disable the animations when I add items ?

[2019-10-10 09:39] AndreiMisiukevich commented on #292
[code]

[2019-10-10 09:39] #292 closed

[2019-10-10 09:46] AndreiMisiukevich commented on #290
btw there is SelectedIndex property if you want to use index instead of an item

[2019-10-11 07:43] jorgvanriet commented on #290
Andrei,

I am using the CoverFlowView and your example is the CarouselView.
When i use the SelectedIndex instead of the SelectedItem it works fine.

When i use the SelectedItem is does not work.

[2019-10-11 08:15] AndreiMisiukevich commented on #290
@jorgvanriet can I reproduce this issue on my CoverFlowView sample?

[2019-10-11 08:16] jorgvanriet commented on #290
You mean you can reproduce or you cannot?

[2019-10-11 08:17] AndreiMisiukevich commented on #290
@jorgvanriet sorry. It was a question :) Is it possible to reproduce this issue on my sample?

[2019-10-11 08:19] jorgvanriet commented on #290
As a work around i am now binding to the SelectedIndex where i am setting the SelectedItem (i need it for the information it holds)

I will try to reproduce it.

[2019-10-11 08:50] jorgvanriet commented on #290
It works with the simple version
I have no idea what the difference is between SelectedIndex and SelectedItem
And no clue why 'SelectedIndex' works and 'SelectedItem' doesn't

Tnx for the help

[2019-10-11 11:04] AndreiMisiukevich commented on #290
@jorgvanriet can you build a sample that represents this issue?

[2019-10-12 20:55] AndreiMisiukevich commented on #290
Seems I've fixed it

[2019-10-13 10:43] raboon opened #293 "can not set ScaleFactor,OpacityFactor for BaseCoverFlowFrontViewProcessor and BaseCoverFlowBackViewProcessor for CoverFlowView"
Hi,
Here is my source
[code]

[2019-10-13 14:16] technololy commented on #293
having same exact issue

[2019-10-13 14:33] technololy commented on #293
i updated to the latest version and it was fine

[2019-10-13 14:45] AndreiMisiukevich commented on #293
Have you added namespace import?
[code]

[2019-10-13 14:47] AndreiMisiukevich commented on #293
what is the error message?

[2019-10-13 14:56] raboon commented on #293
Hi

yes i did. it works fine without
`<x:Arguments>
                <proc:BaseCoverFlowFrontViewProcessor ScaleFactor="0.75" OpacityFactor="0.25" />
                <proc:BaseCoverFlowBackViewProcessor  ScaleFactor="0.75" OpacityFactor="0.25" />
            </x:Arguments>`

[2019-10-13 15:01] raboon commented on #293
Method not found: void PanCardView.Processors.BaseCarouselFrontViewProcessor.set_ScaleFactor(double)
Stacktrace

[2019-10-13 15:02] AndreiMisiukevich commented on #293
Can you build a sample?
It looks like XF bug.

What is the error message?

On Sun, Oct 13, 2019 at 17:56 Mohiuddin Ebna Kawsar <
notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-10-13 15:03] AndreiMisiukevich commented on #293
Try to create coverflowview from code
Looks like linker issue

On Sun, Oct 13, 2019 at 18:02 Andrei Misiukevich <
andrei.misiukevich@gmail.com> wrote:

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-10-13 15:06] raboon commented on #293
Hi tried from cs file to set it , but in that case if i navigate page crash
`((PanCardView.Processors.BaseCoverFlowFrontViewProcessor)coverFlow.FrontViewProcessor).OpacityFactor = .25;      ((PanCardView.Processors.BaseCoverFlowFrontViewProcessor)coverFlow.FrontViewProcessor).ScaleFactor = .75; ((PanCardView.Processors.BaseCoverFlowBackViewProcessor)coverFlow.BackViewProcessor).OpacityFactor = .25

[2019-10-13 15:28] raboon commented on #293
`PanCardView.Processors.BaseCoverFlowFrontViewProcessor baseCoverFlowFrontViewProcessor = new PanCardView.Processors.BaseCoverFlowFrontViewProcessor();
                baseCoverFlowFrontViewProcessor.OpacityFactor = 0.25;
                baseCoverFlowFrontViewProcessor.ScaleFactor = 0.75;
                PanCardView.Processors.BaseCoverFlowBackViewProcessor baseCoverFlowBackViewProcessor = new Pan

[2019-10-13 19:44] AndreiMisiukevich commented on #293
@raboon please build a small sample
I cannot reproduce it on my sample

Probably it is a NuGet cache (remove bing and obj/clean/restore/rebuild)

But anyway provide a sample project please

[2019-10-13 21:23] AndreiMisiukevich commented on #293
http://www.giphy.com/gifs/h8rc4Oq3GLlfjOsGK6

[2019-10-13 21:24] AndreiMisiukevich commented on #293
[CoverFlowTest.zip](https://github.com/AndreiMisiukevich/CardView/files/3722488/CoverFlowTest.zip)

here is the sample project
Works fine for me
So, I need your sample

[2019-10-14 07:59] raboon commented on #293
Thanks, I realize I had **Xamarin. Forms 3.4.1039999** maybe that's why it was failing. thanks for the project. I think this issue is solved.

[2019-10-14 10:35] #293 closed

[2019-10-14 13:51] georgemichailou opened #294 "CardView swipe up and down"
Can i create something like this with CardView ?

![image-asset](https://user-images.githubusercontent.com/14372162/66756430-aad96f80-eea2-11e9-9890-ee7e4fce23b7.gif)

Thanks for the amazing work !!!

[2019-10-14 14:06] AndreiMisiukevich commented on #294
Hi, yes, it's possible. But it will require customization because currently there is no exact animation.
Or you can use CardsView and play with rotation.

Also if you want I can consider this enhancement/sample

[2019-10-14 16:50] georgemichailou commented on #294
I will try the CardView but if I use rotation and my binding views is rotated also.....

I presiate your help and ideas very much!!

This is my project, on which I am working on
https://github.com/georgemichailou/ShaXam

[2019-10-15 06:55] callyrajiv opened #295 "Crash in Xamarin.iOS NSInternalInconsistencyException"
I have implemented CarouselView in a project at the beginning of this year, it's working fine till iOS 12 but recently there was a new OS update to iOS 13, and the app crashes when the user swipes fast through the slides. I tested the same issue in iOS 12 and below, i'm unable to replicate the above issue, it's occurring only in iOS 13, can you please look into it?

Note: UI is not being updated u

[2019-10-15 08:09] AndreiMisiukevich commented on #294
@georgemichailou yes, that is why you should set rotation twice

cardsView.Rotation = 90;

<DataTemplate>
  <ContentView Rotation="-90"
</DataTemplate>

[2019-10-15 08:20] AndreiMisiukevich commented on #295
Can you reproduce it on a simulator?

[2019-10-15 08:23] AndreiMisiukevich commented on #295
because I can't reproduce it on my sample on a simulator.
Probably I need a "heavy" UI for that?

Can you build a sample?

[2019-10-15 08:28] AndreiMisiukevich commented on #295
Now trying to "kill" the app with
![image](https://user-images.githubusercontent.com/10124814/66814187-da3dba00-ef3e-11e9-99b9-f7c97378c048.png)

[2019-10-15 08:29] AndreiMisiukevich commented on #295
still no crash on a simulator

Are you sure you don't change anything yourself?

Provide a sample with all necessary info, please

[2019-10-15 09:21] callyrajiv commented on #295
No, it does not crash on a Simulator but instead, it does not load the slide which should have crashed and the activity indicator shows that the swipe has occurred

[2019-10-15 09:28] AndreiMisiukevich commented on #295
@callyrajiv can you try to reproduce this bug on my sample?

[2019-10-15 09:29] AndreiMisiukevich commented on #295
https://forums.developer.apple.com/thread/121424

[2019-10-15 09:44] callyrajiv commented on #295
The link that you sent me, it has not been solved yet.

I'll prepare a sample and sent it to you by EOD or tomorrow

[2019-10-15 09:47] AndreiMisiukevich commented on #295
@callyrajiv great thanks

[2019-10-15 10:24] AndreiMisiukevich commented on #295
Just tried on a real device with "heavy" sample - no crash

So, yeah. Waiting for a sample from you :)

[2019-10-15 10:28] AndreiMisiukevich commented on #294
But I can consider such an enhancement.

maybe adding a new property "Orientation = [Horizontal | Vertical | Both (in future)]

[2019-10-15 10:29] AndreiMisiukevich commented on #290
@jorgvanriet I will create a release on this/next week :) if it's not super urgent for you

[2019-10-15 12:46] georgemichailou commented on #294
@AndreiMisiukevich Orientation property sounds like a very good feature !! I don't know if the Both option for orientation property is helpful.

[2019-10-16 06:43] aaa1902 opened #296 "CoverFlowView items overlaps"
Items on CoverFlowView overlaps on a specific device
So far i only encountered it on Galaxy Tab A2 (SM-T385)

Other devices works fine

It shows up like this
![actual](https://user-images.githubusercontent.com/55174616/66893825-8e177600-f021-11e9-85b7-77d793dcbc53.png)

also cards not centered tend to stay on top when swiped making it look like this
![other issue](https://user-images.githubusercon

[2019-10-16 06:44] aaa1902 opened #297 "[Question] could we use TabControl without cardview?"
Title says it all

[2019-10-16 09:10] Carl-Wen opened #298 "SelectedIndex did not changed after item removed"
[code]
First, I use it to display images, and I find that after I remove one image from ItemsSource, selectedIndex did not changed.
Second, **SelectedIndex="{Binding CurrentIndex, Mode=TwoWay}"** **Mode=TwoWay** seems not worked.

version: 2.3.4.

[2019-10-16 09:52] AndreiMisiukevich commented on #296
You forgot to set PositionShiftValue (e.g. 150). PositionShiftValue="150"

[2019-10-16 09:53] AndreiMisiukevich commented on #296
but it looks like "Margin" is ignored on this specific device. weird

[2019-10-16 09:54] AndreiMisiukevich commented on #296
can you try to move 80 from Margin to Padding?
[code]

[2019-10-16 09:56] AndreiMisiukevich commented on #297
yes, you can.
But you will have to set up several bindings

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/TabsControl.cs#L82-L86

[2019-10-16 09:57] AndreiMisiukevich commented on #297
How do you like to use it without carousel view ?

[2019-10-16 10:00] AndreiMisiukevich commented on #298
I guess it's related https://github.com/AndreiMisiukevich/CardView/issues/290 and already fixed :) just need to bump new version

[2019-10-16 10:03] AndreiMisiukevich commented on #298
Can you please explain?

example:
[0] - [1] - [2] - [3]
CurrentIndex = 1;
We try to remove image by index [2]
CurrentIndex is still 1 and it's right

what is your case?

[2019-10-16 10:04] AndreiMisiukevich commented on #298
it's TwoWay by default and should work. What is your case? Are you trying to remove it in ViewModel and nothing happened? Are you sure you raise PropertyChanged event

Could you pls prepare a sample, if you want to get it fixed in the next release (today / on weekend)

[2019-10-16 10:27] Carl-Wen commented on #298
Your example is A, it is right, and then B, C:
B:

C:

Now my case is B, I don't know which image showed after remove image by CurrentIndex, [0] and [2] is possible, but no mater which one is showed, CurrentIndex should not be 3.

[2019-10-16 10:34] Carl-Wen commented on #298
This is related to first issue, I will reply you after a test tomorrow.

[2019-10-16 13:37] jorgvanriet commented on #290
Tnx alot Andrei !
I will be looking forward to the update :)

[2019-10-17 05:59] aaa1902 commented on #297
Thanks! also another question what should i set on the Diff and max Diff?
and I also encountered this
Binding 'SelectedIndex' Property not found on 'MyViewModel', target property: 'PanCardView.Controls.TabsControls.SelectedIndex'

I was originally going to use it with carouselview using a datatemplate for each pane  unfortunately i have problems with it expanding.
As a workaround i just try to swi

[2019-10-18 17:21] AndreiMisiukevich commented on #297
@aaa1902 I don't think you need TabsControl indeed. Because the main goal of this control is providing "live" stripe. It moves with the CarouselView.

You can just create grid and add tap gestures there

[2019-10-18 17:21] #297 closed

[2019-10-20 03:58] kcrandall opened #299 "Improvement on Nesting CardView in ScrollView"
Improvement on nesting CardView in ScrollView. Your workaround is completely functional, save the fact that it doesn't enable high velocity scrolls (when a user scrolls fast and lifts it only scrolls a little bit). I have a suggestion to avoid the interface and possibly fix the scrolls not feeling smooth with the current workaround.

Put a boolean bindable prop in the card control named something

[2019-10-20 19:58] AndreiMisiukevich commented on #299
Have you tried this work around?

[2019-10-20 20:24] kcrandall commented on #299
I haven't implemented it into your library and tried it no. But it's the same thing you do, and I do it as well on another control I use. I'm just suggesting you implement the scrolling inside the cardview instead of attaching the interface externally. Inside your handleordinate function in the cardview just use this code to find the parent scrollview instead of requiring the scrollview to impleme

[2019-10-20 20:28] kcrandall commented on #299
I'm saying this because I implemented the interface on my content page because I use Sflistview. So I found the child scroll view in the sflistview and then manually handled the method you fire. It works well enough but it could be done entirely inside the library instead of externally with a lot less effort. (And the second thing I suggested could work much better with Adding native effects)

[2019-10-20 20:43] AndreiMisiukevich commented on #299
@kcrandall but it won't work. I mean "ScrollTo"
You can try it yourself (just download source code and update).

But if it works, feel free to make PR)

[2019-10-20 20:58] #296 closed

[2019-10-20 20:58] #295 closed

[2019-10-20 21:36] kcrandall commented on #299
I tried it and it works the same way as adding the interface. It's just all done inside the CardView. I made a PR. More work is needed to make the scrolling more fluid. This has to be done natively. If I have time ill look into it and adding an effect to the ParentScrollView I added in the PR.

[2019-10-20 22:15] #290 closed

[2019-10-20 22:16] AndreiMisiukevich commented on #298
try 2.3.5

[2019-10-20 22:16] #298 closed

[2019-10-20 22:57] kcrandall commented on #299
I just saw the new commit seems to be even better then my PR since it does it in the renderer. It looks like the ShouldRecognizeSimultaneously you implemented is way better then either your previous solution or my improvement. If that works all that's needed I guess is to improve the Android part so it doesn't need that scrollview renderer.

[2019-10-20 23:03] kcrandall commented on #299
This post seems promising if you pass the ParentScrollView down to the android renderer and just pass the touches there.

https://stackoverflow.com/questions/6374592/passing-touch-events-to-the-parent-view
[code]

[2019-10-20 23:08] kcrandall commented on #299
https://forums.xamarin.com/discussion/60621/pangesturerecognizer-stealing-input-in-listview
also I just like to comment here for anyone that uses Xamarin.Forms.ListView. If you use SfListView from syncfusion it has a ScrollView child. So CardView could find the ScrollView in the descendants, whereas I'm not sure if Xamarin.Forms.ListView can (I don't think it can).

[2019-10-20 23:09] AndreiMisiukevich commented on #299
yeah @rotorgames helped me
https://gist.github.com/rotorgames/89b124dd85a5bd22c4ca7883183e17e1

just need to embed android's flow to our renderer :)

[2019-10-20 23:10] kcrandall commented on #299
Awesome thanks :)

[2019-10-21 01:30] Carl-Wen commented on #298
@AndreiMisiukevich Thank you for the fix, it works fine now.

[2019-10-22 11:59] jorgvanriet commented on #290
Just to let you know it works like a charm!
Tnx for the quick response!

[2019-10-22 12:28] AndreiMisiukevich commented on #290
@jorgvanriet thanks for the feedback :)

[2019-10-25 06:48] kerbooo opened #301 "Auto play False after initialize"
Hello Andrei, firstly I would like to many thanks for your good plugin.

Probably I did not find. My question about "How to stop slides auto animations after carousel initialized". I mean is there any property like Carousel Auto Play? I would like to animate just with arrows or swipe.

Thank you in advance.

[2019-10-25 07:57] #301 closed

[2019-10-25 15:41] AndreiMisiukevich commented on #301
Hi mate)

I guess you set SlideShowDuration.
Remove this property)

[2019-10-26 21:12] AndreiMisiukevich commented on #301
@kerbooo I hope you fixed your issue

[2019-10-29 08:03] huyjack178 opened #302 "Carousel item is not resizing height when translate to"
I have used the carousel view and implement a behavior that is when I scrolling up the listview inside the carousel item, I translate the parent view to top for docking, but the issue is the carousel item height can not be scaled like the image below, there is the pink area at the bottom. Do you have any idea to fix this issue?

![giphy](https://user-images.githubusercontent.com/11793001/67748772-

[2019-10-29 09:21] huyjack178 commented on #302
@AndreiMisiukevich I used LayoutTo instead of TranslateTo and the issue is resolved. Thank you, I will closed this question

[2019-10-29 09:21] #302 closed

[2019-10-29 11:15] AndreiMisiukevich commented on #302
awesome thanks

[2019-10-30 19:37] talmurshidi opened #303 "Not working frature IsUserInteractionRunning"
The feature IsUserInteractionRunning on IndicatorsControl in PanCardView to prevent the user from using indicators to move between pages not working when it's value is false.
It is tested on Android OS
Nuget CardsView version 2.3.4

[2019-10-30 19:58] AndreiMisiukevich commented on #303
Hi @talmurshidi
This property doesn't respond to what you described.

Try to set IsEnabled = false.

[2019-10-30 19:58] #303 closed

[2019-10-30 20:33] talmurshidi commented on #303
I tried IsEnabled and it is working
I there an Event for indicator clicked?

[2019-10-30 21:07] AndreiMisiukevich commented on #303
@talmurshidi no, there is no such event/command.

Do you need it?

[2019-10-31 07:22] talmurshidi commented on #303
@AndreiMisiukevich
Yes, I need it and I am working on a project and it was necessary so I wrote a workaround solution.
I my case the user must complete all input field in the pages then can move using swipe or indicator.
If the second page not completed the the user cannot open third page and so on.
Could you provide some examples in the documentation explain how to use command, please?

int curre

[2019-10-31 07:48] talmurshidi opened #304 "RTL direction in v 2.3.5"
Nuget version 2.3.5
ContentPage FlowDirection="RightToLeft"
IsRightToLeftFlowDirectionEnabled="True" not working as expected because the list should be reversed and indicator also.

Nuget version 2.3.4
In this version it is working as expected.

Could you enhance the nuget to check flow direction for content page or parent, please?

Kind regards

[2019-10-31 08:20] AndreiMisiukevich commented on #303
@talmurshidi currently there is no command property that allows you to manage "indicator tapGestureRecognizer's command)

[2019-10-31 08:22] AndreiMisiukevich commented on #303
Also you can try "IsNextItemPanInteractionEnabled" of CarouselView. (Setting it to false will forbid to navigate to next cards)

[2019-10-31 08:25] AndreiMisiukevich commented on #304
@talmurshidi try to set FlowDirection="Default" and IsRightToLeftFlowDirectionEnabled="True" for carouselView

[2019-10-31 08:44] AndreiMisiukevich commented on #304
But I didn't change anything about FlowDirection from 2.3.4 to 2.3.5
Can you show me an example? What exactly doesn't work?

[2019-10-31 08:46] AndreiMisiukevich commented on #304
http://www.giphy.com/gifs/j5iD7iW8f7CzcYTJKl

ContentPage FlowDirection="RightToLeft"
IsRightToLeftFlowDirectionEnabled="True"

works fine for me

[2019-10-31 09:22] talmurshidi commented on #304
I set FlowDirection="LeftToRight" and IsRightToLeftFlowDirectionEnabled="True" for carouselView
and when open the page it shows the last page from left instead of first page from right.
I will try to upload an example.

[2019-10-31 09:30] AndreiMisiukevich commented on #304
check my GIF and sample.

What is wrong here? The last page from the left side, the first one is from the right?

[2019-10-31 12:36] talmurshidi commented on #304
I checked the GIF.
I built a project with v 2.3.4 and in the same project you can update the nuget to 2.4.5
In v 2.3.4 is the expected behavior to start from number 1 but in v 2.4.5 will start from number 5
Project link:
[https://drive.google.com/open?id=121ocfbEK0FHXr60kqWxgP9oqPRXCZ_UP](url)

[2019-10-31 13:32] AndreiMisiukevich commented on #304
You mean it starts from the most right element, correct?
But it's proper behavior! The first element is from right side

[2019-10-31 14:50] talmurshidi commented on #304
No, it should works as version 2.3.4 first element must be number 1 and beginning from right not left.

[2019-10-31 20:42] justwooper opened #305 "Order problem when using CardsView"
I was using this control great, but when I updated it to last version, my CradView is showing the last item first, before it was showing the first one as usual and then is showing the lastone first, is there any bug or is my code problem? here is how I inplement my code:
[code]
cubeView.ItemsSource = new List<Menu>()
                {
                    // Just create some dummy data here for now

[2019-10-31 20:54] AndreiMisiukevich commented on #304
seems related https://github.com/AndreiMisiukevich/CardView/issues/305

[2019-10-31 21:00] talmurshidi commented on #304
I think it is related.
Same thing in RTL showing last item before first one and the direction is not correct also.
It must start from right to left in RTL
Version 2.3.4 is correct but 2.3.5 is not correct direction.
Kind regards

[2019-10-31 22:36] AndreiMisiukevich commented on #299
2.3.6

[2019-10-31 22:36] #299 closed

[2019-10-31 22:37] AndreiMisiukevich commented on #304
2.3.6

[2019-10-31 22:37] #304 closed

[2019-10-31 22:37] AndreiMisiukevich commented on #305
2.3.6

[2019-10-31 22:37] #305 closed

[2019-10-31 22:45] justwooper commented on #305
Thanks alot, you are awesome

El jue., 31 de oct. de 2019 a la(s) 16:37, Andrei (notifications@github.com)
escribió:

[2019-11-05 06:29] kcrandall commented on #299
I have a question about this, I wasn't able to get it working in 2.3.6 on iOS was wondering if I have this configured wrong.
[code]
I've tried vertical swipe true and false. It wasn't passing vertical scrolls to the scroll view

[2019-11-05 08:41] AndreiMisiukevich commented on #299
@kcrandall did you call ```CardsViewRenderer.Preserve()```?

[2019-11-05 08:49] kcrandall commented on #299
No I did not, should I do that in the app delegate?

[2019-11-05 08:52] AndreiMisiukevich commented on #299
@kcrandall of course :) It's described in Readme

[2019-11-05 08:52] AndreiMisiukevich commented on #299
![image](https://user-images.githubusercontent.com/10124814/68192701-c841bb00-ffc2-11e9-8baf-a116da33c4d0.png)

[2019-11-05 08:55] kcrandall commented on #299
Oh damn sorry didn't see that lol. It works not thanks!

[2019-11-05 08:59] kcrandall commented on #299
Another cool improvement (that I can do manually with the IsPanEnabled property) would be to add the option to disable panning and movement of the carousel when there is only 1 item in the carousel so users don't have to do it externally by monitoring changes to their ItemSource.

[2019-11-06 04:09] huyjack178 opened #306 "Strange rendering in TabControl and Carousel Layout"
@AndreiMisiukevich  Sorry for open this issue again, but it really happen regularly in my app, emulators can not reproduce, only the real devices can get that issue. The TabControl sometimes break layout with bigger height, and the Carousel Layout sometimes is cropped at bottom. I even don't know why the issue happened, few days ago, I thought it related to Absolute layout issue of xamarin forms.

[2019-11-06 04:48] liangshaojiang commented on #294
您好 这个功能什么时候添加？

[2019-11-06 09:02] AndreiMisiukevich commented on #306
First of all. TabsControl doesn't affect a carouselView

[2019-11-06 09:03] AndreiMisiukevich commented on #306
Seems CustomListView height is wrong

Check CarouselView.Height and CustomListView heigh. Are they the same?

[2019-11-06 09:04] AndreiMisiukevich commented on #294
In English or Russian or Belarussian, please

[2019-11-06 09:40] AndreiMisiukevich commented on #294
Cannot tell you an exact date, sorry. But I hope in this month

[2019-11-06 13:53] AndreiMisiukevich commented on #306
You can set BackgroundColor to Red and make sure what is the root cause of the height issue.
I lean towards that this is ListView sizing bug.

[code]

[2019-11-07 07:49] huyjack178 commented on #306
Not same, I think list view has bug when put it in AbsoluteLayout
![IMG_0006](https://user-images.githubusercontent.com/11793001/68369810-bf411d00-016d-11ea-9d4e-ee780b040060.PNG)

[2019-11-08 09:39] AndreiMisiukevich commented on #306
@huyjack178 then you can work around it.

Bind ListView's **HeightRequest** to AbsoulteLayout's **Height**

[2019-11-08 09:41] AndreiMisiukevich commented on #306
or just set HeightRequest of you ListView

[2019-11-13 15:48] dukeval opened #307 "Expandable view"
Hi Andrei, thank you for that control.

Is there a way to create an expandable item within the carouselview?  I'm trying to hide/show a label based on users interaction within the view, so if they click a button or tap the content I want to be able to display a label with more information.

I've created a Observable collection that toggles the visibility property of the selectedItem and hope that

[2019-11-13 21:12] AndreiMisiukevich commented on #307
Hi @dukeval
Why don't use bindings for achieving that?) I mean refreash it on bindingContext changed or smth like that

if you provide me a sample, I will try to help

[2019-11-13 21:29] dukeval commented on #307
I do use binding.  I have a isvisible property in my model that's bound to my label which I'm toggling in my VM but it doesn't seem to render in the view.  So after setting Isvisible to true, the label is still hidden.

I don't currently have access to my code but I will send a code snippet later.

Thanks.

Sent from TypeApp<http://www.typeapp.com/r?b=15729>
On Nov 13, 2019, at 4:12 PM, Andrei <no

[2019-11-13 21:42] AndreiMisiukevich commented on #307
@dukeval looking forward :)

[2019-11-14 09:07] bPoller2810 opened #308 "Carousel UWP with Listview items Swipe not working correctly"
If i swipe on uwp most times its now working correct. The Carousel hangs in between views.

Is there any undocumented renderer i have to preserve or add to the additional assemblys?

[2019-11-14 09:51] AndreiMisiukevich commented on #308
Hi @bPoller2810, unfortunately not
This feature requires writing custom renderer for UWP (like it's done for iOS and Android)

If you wish, you can make PR :)

[2019-11-14 09:52] #308 closed

[2019-11-14 15:19] andrercarvalho opened #309 "CoverFlowView with swipegesturerecognizer doesn't work on Android"
Hi Andrei,
First of all thanks for your plugin.

Im trying to implement a coverflowview with swipegesturerecognizers and it does not trigger the events on android.

CardsView library version: 2.3.6
Xamarin.Forms version: 4.3.0.991211

`<StackLayout Spacing="0" HeightRequest="60" MinimumHeightRequest="60" HorizontalOptions="FillAndExpand" IsVisible="{Binding Path=IsSchoolSelectorVisible}">

[2019-11-14 15:38] AndreiMisiukevich commented on #309
Hi
No need to add SwipeGestureRecognizer
There is an event ItemSwiped
use it

[2019-11-14 15:38] #309 closed

[2019-11-14 22:53] AndreiMisiukevich commented on #294
added IsHorizontalOrientation property

[2019-11-14 22:53] #294 closed

[2019-11-15 09:33] mr5z opened #310 "CoverFlowView pan event syncing with MasterDetailPage"
We have an app with a root view of type MasterDetail. One of its detail page have CoverFlowView on it.
Every time we pan from left or right on Xamarin.iOS, the event propagates to the master's drawer.

Below is how we configure the page:

[code]

Take note that this issue doesn't exist on version 2.3.3

[2019-11-15 10:01] AndreiMisiukevich commented on #310
Hi,
first of all thanks for the fedback

No need to put ViewCell. you may remove it.
[code]

[2019-11-15 10:02] AndreiMisiukevich commented on #310
Can you please tell me the exact version, where this issue was introduced?

[2019-11-15 10:04] AndreiMisiukevich commented on #310
try 2.3.5 pls, then 2.3.6 or 2.3.4 :)

[2019-11-15 10:27] mr5z commented on #310
We are using 2.3.7

[2019-11-15 10:28] AndreiMisiukevich commented on #310
@mr5z yeah, got it. I just wonder what is the latest stable version. It will help me to find the reason )

[2019-11-15 10:44] mr5z commented on #310
Hi @AndreiMisiukevich

Unfortunately, I might have been mistaken when I said that it is working on version 2.3.3.

I've tried the following versions: 2.3.**3**, 2.3.**4**, 2.3.**5**, 2.3.**6**, 2.3.**7** and none of them prevents the pan event from propagating up to its parent. The drawer still pans along with the cards when I swipe from left to right.

[2019-11-15 10:46] mr5z commented on #310
Maybe it's because how `UISplitViewController` (Master-Detail internal implementation) works and this is a Xamarin Forms issue.

[2019-11-15 11:15] AndreiMisiukevich commented on #310
@mr5z thanks for the investigation :)

[2019-11-15 19:43] dukeval commented on #307
Hi Andrei, I figured it out.  I updated my model to implement INotifyPropertyChange. Then I was able to read the currently selected item from the carouselview and update the Isvisible property and that refreshed the UI.

I guess the issue was that I was expecting the UI to refresh once my Observable collection updated since it raises the PropertyChanged event.  Below is my original code..

`******

[2019-11-15 20:00] #307 closed

[2019-11-15 20:21] georgemichailou commented on #294
Thanks @AndreiMisiukevich for your time and help !!!

[2019-11-15 20:52] joshykautz commented on #310
Looks like you folks beat me to it - was about to report the same thing!
This  has only started happening recently - I've been able to work around it for the time being by setting MasterDetailPage's _IsGestureEnabled_ to false on iOS, since it's not really an issue on Android.

https://imgur.com/a/jT5OrP7

[2019-11-15 22:06] georgemichailou opened #311 "CardView inside to a CarouselView"
I use the new Xamarin Forms CarouselView control with different views.

I try to add the CardView in one view, but swipe doesn't work (i try the new IsHorizontalOrientation property).

I believe that the problem is the already swipe effect from Carousel control where block the CardView.

Here is my sample

https://github.com/georgemichailou/ShaXam

[2019-11-18 20:51] Char0394 opened #312 "CardView inside ScrollView"
Hi,
When using the CardView inside a Scrollview when scrolling the carrousel go to the next page.
What specific configuration should I add to prevent this automatic swipe?
I already set:
-             IsAutoNavigatingAnimationEnabled = false;
-               IsVerticalSwipeEnabled = false;
-             VerticalSwipeThresholdDistance = 30000;

Thanks in advance

[2019-11-18 21:08] AndreiMisiukevich commented on #312
Hi
I guess set MoveThresholdDistance to 20

[2019-11-18 21:08] #312 closed

[2019-11-20 15:00] joshykautz opened #313 "CoverFlowView gets out of sync with rapid trigger of SelectedIndex"
I've found something that _might_ be a new little bug. I'm using the CoverFlowView to display 3 distinct cards. I also have 3 distinct buttons, one for each card. When I click one of the buttons, the _SelectedIndex_ is changed for the CoverFlowView. The issue arises when I trigger the SelectedIndex very quickly - it appears that the animations get out of sync, that's the best that I can describe i

[2019-11-20 15:02] AndreiMisiukevich commented on #313
nice catch!)

[2019-11-20 15:03] AndreiMisiukevich commented on #313
need to think, how to work around it.
Will you be OK with "fade in"/'fade out" animation in case of fast selcetedIndex changes?

[2019-11-20 15:03] AndreiMisiukevich commented on #313
https://github.com/AndreiMisiukevich/CardView/issues/286

like this

[2019-11-20 15:04] AndreiMisiukevich commented on #313
or we can "ignore" fast taps.

[2019-11-20 15:33] AndreiMisiukevich commented on #313
@joshykautz if you want to ignore fast taps, you may observe IsAutoAnimationRunning (it true, then ignore button click)

[2019-11-20 16:45] joshykautz commented on #313
That sounds like a good option. However, the closest thing to _IsAutoAnimationRunning_ that I see is **IsAutoInteractionRunning**  - unfortunately I this didn't prevent the bug I was experiencing.

[2019-11-21 10:56] sonbt56 commented on #143
Hi @AndreiMisiukevich

With the newest version, I can not disable the bounce effect on CoverFlowView with your custom class above. Please help.

[2019-11-21 10:58] AndreiMisiukevich commented on #143
@sonbt56 please show me a short video, what exactly do you want to disable?

[2019-11-25 21:14] AndreiMisiukevich commented on #313
Hi
Are you sure that IsAutoInteractionRunning doesn't help? How do you use it?

[2019-11-25 21:19] joshykautz commented on #313
Hey there. I wouldn't be so naive as to say that _I'm sure_, but I wasn't able to access an ** IsAutoInteractionRunning** property. I did resolve my issue by doing something a little hacky.

[code]
Each time the button is pressed to cause the animation, I set a global variable that indicates an animation is in progress. After 350ms (roughly the duration of the animation) the global variable is cle

[2019-11-25 21:23] AndreiMisiukevich commented on #313
<CoverflowView x:Name="cover" />

....

if(cover.IsAutoInteractionRunning) // skip

?

[2019-11-26 09:36] AndreiMisiukevich commented on #311
I don't understand,
cardsView inside carousel view?
How will the app detect what view do you want to interact with?

I believe you should simplify your layout

[2019-11-26 09:36] #311 closed

[2019-11-28 10:31] huyjack178 commented on #306
@AndreiMisiukevich Issue happens in iphone X, Xr, Xs regularly, I try your recommendation but not work :(. Can you spend time to check it, I can not launch to production because of this issue

[2019-11-28 10:34] AndreiMisiukevich commented on #306
@huyjack178 for doing that I need to have a reproduction sample
Can you build it?

[2019-11-28 10:35] huyjack178 commented on #306
okay, please wait

[2019-11-28 10:36] AndreiMisiukevich commented on #306
@huyjack178 is it possible to reproduce on the simulator?

[2019-11-28 10:38] huyjack178 commented on #306
@AndreiMisiukevich Simulator is working normal, only real device happened

[2019-11-28 10:39] AndreiMisiukevich commented on #306
@huyjack178 and only on iOS, right?

well, it's definitely XF issue, but let's try to workaround. I am waiting for the sample

[2019-11-28 10:42] huyjack178 commented on #306
@AndreiMisiukevich yes iOS

[2019-11-28 10:54] huyjack178 commented on #306
https://drive.google.com/file/d/1pDvTt8IWIs0wA6TMU5M7uEQVwjfzmYEr/view?usp=sharing
Here you are, please check out the page in src/LiveScore.Features/Score/Views/ScoresView.xaml

[2019-11-28 10:57] AndreiMisiukevich commented on #306
Thx

[2019-11-28 10:57] AndreiMisiukevich commented on #306
I will look at this sample tonight

[2019-11-28 11:17] huyjack178 commented on #306
Please wait, I will send you new sample link

[2019-12-02 00:03] #310 closed

[2019-12-02 01:44] joshykautz commented on #313
Works perfectly - thank you Andrei!

[2019-12-02 01:45] joshykautz commented on #310
This works perfectly now - great work, thank you Andrei!

[2019-12-02 01:55] joshykautz commented on #313
Your new changes handle this perfectly - thank you a ton Andrei!

[2019-12-02 08:51] AndreiMisiukevich commented on #313
@joshykautz thanks for the quick feedback :)

[2019-12-02 14:32] Haapsaari-Juha opened #314 "CarouselView crash on UWP when right or left arrow control is used"
Following is working on Android (probably on iOS also, not tested yet) but in UWP it crashes app (exception is System.NullReferenceException: Object reference not set to an instance of an object):
[code]
Stack trace on UWP:
Xamarin.Forms
AnimationExtensions.DoAction (IAnimatable self, Action action)
Xamarin.Forms
AnimationExtensions.Animate[T] (IAnimatable self, String name, Func`2 transform, Acti

[2019-12-02 14:37] AndreiMisiukevich commented on #314
@Haapsaari-Juha hi
can you build a sample project? It should be reported to XF project

[2019-12-02 14:38] AndreiMisiukevich commented on #314
seems dispatcher is null for some reasons

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/AnimationExtensions.cs#L278-L302

But it's part of Xamarin.Forms project.

[2019-12-02 21:13] Haapsaari-Juha commented on #314
Sample project found from https://github.com/Haapsaari-Juha/DemoApp

[2019-12-02 21:17] AndreiMisiukevich commented on #314
@Haapsaari-Juha and steps for reproducing, please

[2019-12-02 21:46] Haapsaari-Juha commented on #314
1. Run UWP project from sample and exception is thrown
2. Run Android project from sample and no exception and arrows are shown on carousel view
3. Comment left and right arrow controls from MainPage.xaml in shared project
4. Running with UWP and Android projects both work

[2019-12-03 00:06] AndreiMisiukevich commented on #314
Seems UWP DispatcherProvider causes a crash.

[2019-12-03 02:49] huyjack178 commented on #306
@AndreiMisiukevich Is there any good news ? :)

[2019-12-03 08:45] AndreiMisiukevich commented on #306
@huyjack178 can you pack it to .zip file?

[2019-12-03 11:28] huyjack178 commented on #306
https://drive.google.com/file/d/1reNw2WsdIvZjPYRoZCO4B3zRXcpF6Yie/view?usp=sharing
@AndreiMisiukevich here you are

[2019-12-03 11:34] AndreiMisiukevich commented on #306
well, I see the issue and I see that it's not a CardsView issue. Because FlexLayout occupies the full height.

I suggest you to subscite sizeChanged of your FlexLayout and set its Height to HeighRequest of ListView (or use Layout method)

[2019-12-03 11:34] #306 closed

[2019-12-03 11:37] AndreiMisiukevich commented on #306
In MatchesTemplate

find flexLayout like

this.Parent.Parent etc.
subscribe sizeChanged event and do a trick

[2019-12-03 11:39] AndreiMisiukevich commented on #306
It will help, because

[code]
Helped for my iPhone XR.. so, just do a workaround

[2019-12-03 12:04] huyjack178 commented on #306
I try to implemented it in MatchesTemplate
[code]

[2019-12-03 12:07] AndreiMisiukevich commented on #306
No, MatchesTemplate has wrong size as well.
You should set the size of FlexLayout (root view)

[2019-12-03 12:08] huyjack178 commented on #306
It is inside the DataTemplate, how can I set the height?

[2019-12-03 12:14] AndreiMisiukevich commented on #306
[code]

[2019-12-03 12:32] huyjack178 commented on #306
this.Parent is null, I can not find the parent view

[2019-12-03 12:33] AndreiMisiukevich commented on #306
@huyjack178 oh... override OnParentSet

[2019-12-03 12:48] huyjack178 commented on #306
I still find the parent StackLayout, the root FlexLayout can not be reached

[2019-12-03 12:59] huyjack178 commented on #306
By the way, what if I access from the ScoreView, that contains CardsView

[2019-12-03 13:07] huyjack178 commented on #306
[code]

[2019-12-03 13:14] AndreiMisiukevich commented on #314
well, it's XF issue, that will be fixed in future releases.
here is the workaround:
[code]

[2019-12-03 13:14] #314 closed

[2019-12-04 09:29] chrisfoulds opened #315 "IndicatorsControl TapGesture Disable"
Hi,
I am using a carousel view for a startup sequence.
I keep having people on mobile press the IndicatorsControl which I am using to indicate the stage of the setup process they are in, so they are effectively skipping steps.
How can I disable the tap gesture, I can't see an obvious way.

[2019-12-04 10:37] AndreiMisiukevich commented on #315
This is a very good question :)

You can use IsEnabled = false, but much clearer would be adding a new property **IsTapToNavigateEnabled**

[2019-12-04 10:55] chrisfoulds commented on #315
Ah ok, I added the isenabled but wondered if I was missing a field.
IsTapToNavigateEnabled would be a good additions

[2019-12-05 13:40] LuisM000 commented on #143
Hi.
I think that @sonbt56 refers to this => https://github.com/LuisM000/CardView/commit/04457b8aaebd4f7b1ce59dde68cb29440f36b5dc

[2019-12-05 13:53] AndreiMisiukevich commented on #143
@LuisM000 what the reason to have this line https://github.com/LuisM000/CardView/commit/04457b8aaebd4f7b1ce59dde68cb29440f36b5dc#diff-967abc1dc5b5c72b0e48c637da8cffb1R56

?

Items is observable collection

[2019-12-05 13:58] LuisM000 commented on #143
It is just an example.
It is for you to see that, when updating the ItemsSource, an animation (unwanted) occurs
Thanks!

[2019-12-05 14:03] AndreiMisiukevich commented on #143
@LuisM000

[code]

[2019-12-05 14:42] LuisM000 commented on #143
@AndreiMisiukevich works fine!
Thanks!

[2019-12-06 08:43] huyjack178 commented on #306
@AndreiMisiukevich I have set the FlexLayout height but not work :(

[2019-12-06 08:47] AndreiMisiukevich commented on #306
How did you do it?
I tried to set HeightRequest 680 and it worked

On Fri, Dec 6, 2019 at 11:43 huyjack178 <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-12-06 08:47] AndreiMisiukevich commented on #306
On Fri, Dec 6, 2019 at 11:46 Andrei Misiukevich <
andrei.misiukevich@gmail.com> wrote:

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-12-06 09:36] huyjack178 commented on #306
I add code in ScoresView and update the CurrentView of CarouselView
![image](https://user-images.githubusercontent.com/11793001/70312585-81a3e280-1846-11ea-8264-d6270c6b6102.png)

[2019-12-06 12:02] huyjack178 commented on #306
https://forums.xamarin.com/discussion/37897/vertically-expand-listview-inside-an-absolutelayout
I found this issue already posted

[2019-12-09 20:04] AnthonyNjuguna commented on #313
This is still an issue on iOS - Rapid swiping on CarouselView makes data go out of sync. This happens if the _CarouselView.ItemTemplate_ contains a StackLayout with BindableLayout.ItemsSource and BindableLayout.ItemTemplateSelector

[2019-12-09 20:19] AndreiMisiukevich commented on #313
Read attentively. This issue is about CoverFlowView, not CarouselView.

I think you can try to work around your issue by setting IsViewReusingEnabled = false

[2019-12-10 10:47] AnthonyNjuguna commented on #313
Okay will create a new issue for CarouselView - I have tried using IsViewReusingEnabled = false but still causes issues on swipe.

[2019-12-10 10:52] AnthonyNjuguna opened #316 "CarouselView gets out of sync with rapid swiping of views"
I have a page with a CarouselView containing 4 view - on rapid swiping data gets out of sync.
The data that should be shown on 4th view is show on 3rd view and when you swipe to 4th view its blank.
I have tried setting IsViewReusingEnabled = false but still getting out of sync data.

Also in between swiping - i get the following message in the console.

_CardsView: Couldn't handle InvalidOperation

[2019-12-10 11:14] AndreiMisiukevich commented on #316
Hi @AnthonyNjuguna
Can you fork my repository and create reproduction sample there, then just send me a link to test branch. It will allow me to fix this issue ASAP

Thanks

[2019-12-10 11:15] AndreiMisiukevich commented on #316
@AnthonyNjuguna is it iOS, right

[2019-12-10 11:31] AnthonyNjuguna commented on #316
Yes issue only affecting iOS

[2019-12-10 11:44] AndreiMisiukevich commented on #316
Well, try to set DesiredMaxChildrenCount = 12

[2019-12-10 11:44] AndreiMisiukevich commented on #316
and provide a sample please

[2019-12-10 12:25] AnthonyNjuguna commented on #316
I have updated the sample on my fork - the first button opens a page with the issue - then if you swipe quickly from 1st to 3rd page the content on the 4th page is shown the if you swipe back and forth the animation breaks and you have views overlapping.

[2019-12-10 13:59] AnthonyNjuguna commented on #316
I will also have no more that 5 views so wouldn't mind if all views were cached and didn't have to recreate all the time

[2019-12-10 16:11] AndreiMisiukevich commented on #316
@AnthonyNjuguna is it possible to reproduce on simulator?

[2019-12-10 16:17] AnthonyNjuguna commented on #316
Yes

[2019-12-10 16:28] AndreiMisiukevich commented on #316
@AnthonyNjuguna cool, I will try

should I use any specific simulator?

[2019-12-10 16:29] AndreiMisiukevich commented on #316
https://github.com/AnthonyNjuguna/CardView

[2019-12-11 09:14] AnthonyNjuguna commented on #316
Did you manage to replicate?

[2019-12-11 09:54] AndreiMisiukevich commented on #316
@AnthonyNjuguna sorry, I haven't taken a look yet.

[2019-12-12 09:00] jendang opened #317 "Right Arrow does not work in CarouselView"
Hi,

I used CarouselView to display images, the left arrow works fine when I tap on that, the picture goes backward but the right arrow does not make picture goes forward. Please help me to check it

[code]

[2019-12-12 09:09] AndreiMisiukevich commented on #317
Hi @jendang can you provide a sample?

[2019-12-12 09:18] jendang commented on #317
I attached a gif file here, please check it out! Thanz

![carousel](https://user-images.githubusercontent.com/39712063/70698969-b2619d00-1cc8-11ea-8b9b-6db5f981c54c.gif)

[2019-12-12 09:21] AnthonyNjuguna commented on #316
anything?

[2019-12-12 10:59] AndreiMisiukevich commented on #317
Yes, I see the issue, but I cannot reproduce it.

[2019-12-12 10:59] AndreiMisiukevich commented on #317
Can you build a sample please? or just run my samples and tell me if you can reproduce this issue

[2019-12-12 11:00] AndreiMisiukevich commented on #317
https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardViewSample

[2019-12-12 11:46] jendang commented on #317
Yes, I will do

[2019-12-12 13:40] jendang commented on #317
@AndreiMisiukevich  : I figured it out why the arrow does not work in my case while I am reproduce the sample. Basically I have a grid layout of 6 rows and 5 cols
- I placed the content of the page including the carouselview like the code below, then I have FloatButton that overlap the grid with carouselview (because I want to make sure the FAB stay the same position when I am scrolling) thats why

[2019-12-12 13:41] #317 closed

[2019-12-13 08:39] AndreiMisiukevich commented on #317
@jendang I'm glad to hear that it works now :)

[2019-12-13 22:00] lightwalker01 opened #318 "System.TypeLoadException with Xamarin.Forms 3.4"
Xamarin.Forms 3.4
CardView  2.3.8
Target Platform: Android Oreo 8.1
VS2019
Basic project with single content page and a carousel view inside.

Same solution with Xamarin.Forms >= 3.5 works fine (but at the moment I cannot migrate).

[2019-12-15 23:32] AndreiMisiukevich commented on #318
What's the stacktrace?
Cannot reproduce

are you sure it's related to CardsView nuget?

[2019-12-15 23:33] AndreiMisiukevich commented on #318
don't forget to call CardsViewRenderer.Preserve(); in mainactivity

[2019-12-15 23:57] AndreiMisiukevich commented on #316
here is what i can reproduce

![image](https://user-images.githubusercontent.com/10124814/70871377-b8e56280-1faf-11ea-89cb-ddab49509805.png)

[2019-12-16 01:37] AndreiMisiukevich commented on #316
btw did you try on real device or simulator?

[2019-12-16 10:00] lightwalker01 commented on #318
Exception:
`System.TypeLoadException: Could not resolve type with token 01000071 from typeref (expected class 'Xamarin.Forms.NavigableElement' in assembly 'Xamarin.Forms.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null')`

Stacktrace:
`0x77 in App1.MainPage.InitializeComponent at C:\Users\[user]\Documents\GitHub\CardsViewTest\App1\App1\obj\Debug\netstandard2.0\MainPage.xaml.g.cs:22,9
	a

[2019-12-16 10:18] AndreiMisiukevich commented on #318
thx I will take a look

[2019-12-16 10:19] AndreiMisiukevich commented on #318
no idea for now. I don't use Xamarin.Forms.NavigableElement

[2019-12-16 11:57] lightwalker01 commented on #318
Update:
Referencing PanCardView and PanCardView.Droid from master  (downgraded to Xamarin.Forms 3.4) instead of the nuget package makes the app working again...

[2019-12-16 12:15] AndreiMisiukevich commented on #318
@lightwalker01 then I suggest you go ahead with this approach as a workaround :)
Or you can try to build local nuget with this settings

[2019-12-16 12:15] #318 closed

[2019-12-16 12:39] AndreiMisiukevich commented on #316
I removed TextType="Html" from Label and cannot reproduce this issue anymore.
I added some more checks in code, but seems it's XF issue

[2019-12-16 17:01] vunhutien commented on #316
Hi Andrei,
I got exactly same issue like this, although i'm using Lable TextType="Text", but it's intermittent issue, happened on both device and simulator, and only on iOS.

[2019-12-16 21:28] AndreiMisiukevich commented on #316
Do you use ScrollView or ListView ?

[2019-12-17 03:41] vunhutien commented on #316
Hi, order from top to bottom: I have 1 image (using ffimageloading), 1 label, and 1 listview (some screen i use collection view)

[2019-12-17 09:53] AndreiMisiukevich commented on #316
I will release new version today. Will you be able to re-validate it then?

[2019-12-17 14:48] vunhutien commented on #316
Hi, I updated to latest version 2.3.8 and validated. In some screens my Label set TextType="Text", i don't get this issue anymore but in another screen that my Label set TextType="Html" still get this issue.

One more thing, when i press Back button in Navigation header, it will back to previous card before navigating page, is it normal behaviour?

[2019-12-17 15:50] AndreiMisiukevich commented on #316
can you show a video?

[2019-12-17 16:45] vunhutien commented on #316
Check it out here : https://s3-ap-southeast-1.amazonaws.com/vunhutien.com/RPReplay_Final1576600570.MP4
Video include both 2 things i said above.

[2019-12-17 17:12] AndreiMisiukevich commented on #316
@vunhutien thanks

so, i think

1) TextType="Html" : it's something wrong with this label type. But it isn't related to this project, because it works fine with regular labels. No idea for now, what can be wrong
2) back button: it looks like UI glitch. Probably it is related to HTML label as well

[2019-12-17 17:17] vunhutien commented on #316
I agreed that issue no 1 may not related to this library, but i'm not very sure about No 2 cause in screen that i used Text Label it still got that issue.

BTW i highly appreciate your effort to create this lib, troubleshoot issue and resolve it. Thanks so much.

[2019-12-18 06:24] Noufalt opened #319 "Vertical scrolling is not happening when carousel view inside scrollview"
I have mutiple carousel views inside a scrollview .But the problem is when I vertically scroll scroll is not happening properly . In below mentioned code I have 5 carousel view control inside scrollview . Could you please guide me what could be the issue while scrolling vertically

**<cardsControl:ParentScrollView
                Grid.Row="1"
                Orientation="Vertical"

[2019-12-18 08:41] AndreiMisiukevich commented on #319
Hi, first of all ParentScrollView is deprecated. User ScrollView

[2019-12-18 08:41] AndreiMisiukevich commented on #319
and I don't see any CarouselView here

[2019-12-18 09:02] Noufalt commented on #319
Thanks for your quick reply .I had used scrollview before , then to check if ParentScrollview gives fix I have changed it .Actually carouse view is there in each content view inside scrollview .Below is the xaml for SpecialOfferView .Please have a look and guide me for this

**<ContentView
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"

[2019-12-18 09:44] AndreiMisiukevich commented on #319
can you fork my repository and create a sample with reproduction this issue?

[2019-12-18 11:40] AndreiMisiukevich commented on #319
reproduced. no need in sample

[2019-12-18 11:44] Noufalt commented on #319
Yes I have forked and made a sample to reproduce the issue .I have placed three carousel view in scrollview and i am trying to scroll vertically but its not scrolling down

Here is the sample :-
**https://github.com/Noufalt/CardView/tree/master/testCarousel**

[2019-12-18 11:45] Noufalt commented on #319
Ok Any workaround for this issue .

[2019-12-18 12:10] Noufalt commented on #319
It's Working fine in Android . only iOS has issue .

[2019-12-18 13:33] AndreiMisiukevich commented on #319
check 2.3.9 (processing now)

[2019-12-18 13:34] AndreiMisiukevich commented on #316
Check 2.3.9 with TEXT label please (not html)

[2019-12-18 13:34] #316 closed

[2019-12-19 05:54] Noufalt commented on #319
Hello Thanks for your quick  action on this . I have checked 2.3.9 version  . But still the same scroll issue persists .

[2019-12-19 08:51] AndreiMisiukevich commented on #319
@Noufalt oh... how it's possible....

well, can I reproduce it here https://github.com/Noufalt/CardView/tree/master/testCarousel ?

[2019-12-19 08:52] Noufalt commented on #319
Yes you can reproduce in that forked repo.Thanks

[2019-12-19 13:17] AndreiMisiukevich commented on #319
http://www.giphy.com/gifs/KbMuE7RxdIy6rYpFMz

[2019-12-19 15:29] vunhutien commented on #316
Issue no 2 still happens when update to 2.3.9.  I think when navigating back to previous page, back  animation makes the cardview think that user swipe or pan from left to right, so it will back to previous card.

[2019-12-19 15:33] AndreiMisiukevich commented on #316
I don't think so.
I guess It's UI glitch.
You can easily verify it if observe ItemAppearing event or just observe SelectedIndex property changing.

[2019-12-19 15:34] AndreiMisiukevich commented on #319
2.4.0 - should work

btw, I suggest to add OppositePanDirectionDisablingThreshold = 1 ;)

[2019-12-19 15:38] AndreiMisiukevich commented on #315
Added :) 2.4.0

[2019-12-19 15:38] #315 closed

[2019-12-19 15:40] chrisfoulds commented on #315
thank you sir

[2019-12-22 05:57] ubcharan opened #320 "Android 6 and 7 devices unable to update after using this control"
Hi,

I recently added cardview to my existing project and after released to play store, whoever having android 6 and 7 users are unable to update mobile app.

[2019-12-22 06:13] Noufalt commented on #319
Thanks for your time . Unfortunately in 2.4.0 with setting OppositePanDirectionDisablingThreshold=1 carousel also issue persists. Updated this in below forked repo. You can reproduce it in this

https://github.com/Noufalt/CardView/tree/master/testCarousel

[2019-12-23 05:53] #320 closed

[2019-12-23 10:10] AndreiMisiukevich commented on #319
What a hell

[2019-12-23 10:11] AndreiMisiukevich commented on #320
Hi @ubcharan How does it correlate with this project?
Did you solve your issue?

[2019-12-23 10:14] AndreiMisiukevich commented on #319
@Noufalt please, read documentation attentively

![image](https://user-images.githubusercontent.com/10124814/71351963-136d5880-2586-11ea-9d72-8b5d62783a61.png)

[2019-12-23 10:32] Noufalt commented on #319
Uff .....Apologize for this . After adding the Preserve method its working fine . Thanks you very much .

[2019-12-23 12:45] Noufalt commented on #319
@AndreiMisiukevich

Is there any provision to add multiple cards in a carousel view .I meant instead of showing one card in carousel i have to show two cards like the below screenshot .My datasource have multiple items and i would like to build small cards in it and swipe them

<img width="205" alt="Screen Shot 2019-12-23 at 3 35 57 PM" src="https://user-images.githubusercontent.com/11627833/71358

[2019-12-23 13:11] AndreiMisiukevich commented on #319
Sorry I didn't understand what you'd like to achieve

[2019-12-24 05:27] Noufalt commented on #319
@AndreiMisiukevich

I wants to display two items at a time in the carousel view .And I would like swipe them horizontally like a horizontal stack in a scrollview .Is it possible to achieve this in Cardview as card view has built in RTL flow direction .

In the below forked repo I have implemented this by using Xamarin forms Carousel .I would like to implement this by using CardView as it has RTL s

[2019-12-24 10:23] AndreiMisiukevich commented on #319
@Noufalt
![image](https://user-images.githubusercontent.com/10124814/71408838-98bd3f80-2650-11ea-86e7-e835e7a36047.png)

[2019-12-24 10:24] AndreiMisiukevich commented on #319
You owe me a star lol

[code]

[2019-12-24 11:53] Noufalt commented on #319
@AndreiMisiukevich
Sure Andrei .... Thanks for your quick insight on this

[2020-01-04 04:26] dblookup opened #321 "CoverFlowView doesn't render 100%"
Please, there is any method to force CoverFlowView's render? It is happening an intermittent issue when my app start. The CoverFlowView doesn't render 100%, please find attached.
![screenshot-2020-01-03_15 42 21 366](https://user-images.githubusercontent.com/39842294/71759794-33a7ec00-2e91-11ea-9b12-ae62f7220ebd.jpg)

[2020-01-04 19:28] AndreiMisiukevich commented on #321
Yes, your image/frame should have the same size.

It's not an issue of this library. You should fix your markup

Can you share it with me? I will help (provide a sample)

[2020-01-06 08:14] AndreiMisiukevich commented on #321
set HeightRequest, use FillAndExpand. I cannot help without a sample.
But I am sure you missed anything in your markup

[2020-01-06 08:14] #321 closed

[2020-01-07 15:23] vunhutien commented on #316
Hopefully you have time to re-open this issue, because when i try to use XF CarouselView and LabelType="Html", it works perfectly, but switch back to your libs, issue happens again, i like to use your control than default XF CarouselView.

[2020-01-07 17:51] AndreiMisiukevich commented on #316
@vunhutien, unfortunately, I cannot resolve this issue on my side, because I do not see any problem on my side.
Probably it's something related to AbsoluteLayout ... cuz my carousel is based on it.

[2020-01-08 06:41] kalaiy opened #322 "[question] Is it possible to scroll items horizontally in TabsControl?"
Hi Andrei,
I'm using tab control and CarouselView, I have a requirement to scroll items in horizontally when there are more items

**Code**
[code]

![image](https://user-images.githubusercontent.com/19687551/71955849-6c92e880-3224-11ea-810b-781d757b8da1.png)

Any Idea?

Regards,
Kalaiy

[2020-01-08 08:50] AndreiMisiukevich commented on #322
Try to wrap cardViewControl:TabsControl by ScrollView

[2020-01-08 09:57] kalaiy commented on #322
Thanks Andrei, But now it throws another issue. Scroll View is not scrolling when CarouselView items moved.

![ScrollIssue](https://user-images.githubusercontent.com/19687551/71968510-087e1d80-3240-11ea-97ae-5c9ce44be8ec.gif)

[2020-01-08 10:06] AndreiMisiukevich commented on #322
Then scroll it yourself when index changing :)

scrollView.ScrollToAsync(...)

[2020-01-08 12:12] kalaiy commented on #322
Thanks Andrea, it is working as expected.

[2020-01-08 12:12] #322 closed

[2020-01-08 12:39] AndreiMisiukevich commented on #322
@kalaiy if you wish, I can Add autoscrolling in the next release

[2020-01-08 12:53] kalaiy commented on #322
@AndreiMisiukevich It would be nice to have the auto-scroll feature.

I created in a customized way like this

`      private void caseDetailsListView_ItemSwiped(PanCardView.CardsView view, PanCardView.EventArgs.ItemSwipedEventArgs args)
        {
            if (view.BindingContext != null)
            {
                var viewModel = view.BindingContext as MyCaseDetailsViewModel;

[2020-01-08 22:33] jacob925 opened #323 "Every other image fails to load when this package is comined with FFImageLoading"
this started happening fairly recently. all packages are up to date

I have a carouselView with a data template which contains an image. It does not matter if the image source is a binding or a literal value.
With FFImageLoading enabled, every other image will fail to load/display. If I disable FFImageLoading, it works fine

All other images with FFImageLoading component work fine.

xaml:
[code]

[2020-01-09 08:52] AndreiMisiukevich commented on #323
Hi @jacob925
Why did you decide this issue is related to CardsView?

CardsView knows nothing about the content (including FFImageLoading library).
So it does not matter what kind of data to show. And if something failing in "loading" images, CardsView is not the reason.

Also, I have samples which work pretty finew with FFImage https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardViewS

[2020-01-09 08:55] AndreiMisiukevich commented on #323
Is it iOS or Android?
Can you try previous version 2.3.9

I need more info or sample

[2020-01-09 08:56] AndreiMisiukevich opened #324 "TabsControl autoscrolling (if it is wrapped with ScrollView)"
It's nice to have

[2020-01-10 12:50] TohWei opened #325 "Hi, how do I move the control indicator to the top of the screen?"
Hi,

Apparently, the 'paging' indicator control is always appear at the bottom of the ItemTemapltes regardless where I had it placed in Xaml.  If I am not mistaken, it has to be located within the '<cards:CarouselView></cards:CarouselView>'.

I've tried to place the indicator control before the '<cards:CarouselView.ItemTemaplte>', but it doesn't appear on the top of the carousel.

Just wondering,

[2020-01-10 14:03] AndreiMisiukevich commented on #325
[code]

[2020-01-10 14:03] #325 closed

[2020-01-13 19:31] RsZoli opened #326 "CubeView swiping bug on larger resolutions"
Dear Andrei!

As we have talked this about, here are the visual representations of the issue i'm having with the CubeView control, using [your sample code](https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CubeSampleXamlView.xaml) on larger resolutions and Android platform, the device is a Galaxy S10 running Android 10, though i have tested this on

[2020-01-15 11:43] Pomezny commented on #323
@jacob925 I experienced similar problem recently after updating Xamarin Forms and CarouselView. It turned out, that using HorizontalOptions="Center" on Image was causing it to shrink and not to expand after image was loaded. Issue was little undeterministic, since in depended on which images managed to get loaded before UI was drawn and which did not. In my case changing HorizontalOptions and Vert

[2020-01-15 13:01] Pomezny opened #327 "Unselected indicator is squared"
Hi, after updating, we started having this weird and subtle issue. It seems that Unselected Indicator on position of Selected Indicator is squared. From the looks of it it has low value of CornerRadius.

This is how indicators loook. When I open page with carousel and swipe to move to 2nd page:
![Screenshot1](https://user-images.githubusercontent.com/4263174/72435468-6e1d5d00-379e-11ea-8326-f7a9f7

[2020-01-15 13:13] AndreiMisiukevich commented on #327
weird... hmm
It looks like Xamarin.Forms issue
The frame starts to occupy more space than before after style updating.

[2020-01-16 10:31] AndreiMisiukevich commented on #327
Did you update XF version?

[2020-01-16 10:33] AndreiMisiukevich commented on #323
@jacob925 try this workaround.
Or report the issue to FFImage project

[2020-01-16 10:33] #323 closed

[2020-01-16 10:35] Pomezny commented on #327
Not yet. I have a deadline breathing on my neck. Will try soon and report my findings.

[2020-01-22 04:31] huyjack178 opened #328 "Android - ListView inside Carousel Scrolling issue"
Hi @AndreiMisiukevich, please take a look at the gif, when I pull down to refresh, the listview will be shaking like that. Can you help checking for me?

![untitled](https://user-images.githubusercontent.com/11793001/72865503-b0005300-3d0a-11ea-9d94-12cd2d868898.gif)

[2020-01-22 08:56] AndreiMisiukevich commented on #328
Hi, try MoveThresholdDistance = 20 or 10

[2020-01-22 09:53] huyjack178 commented on #328
@AndreiMisiukevich issue is still happened

[2020-01-22 09:59] AndreiMisiukevich commented on #328
okay, with 50 too ?

[2020-01-22 10:00] AndreiMisiukevich commented on #328
Try OppositePanDirectionDisablingThreshold = 1

[2020-01-22 10:49] huyjack178 commented on #328
I use CarouselView sir

[2020-01-22 10:58] huyjack178 commented on #328
Enable that property makes my listview scroll is hard and too laggy

[2020-01-22 11:02] huyjack178 commented on #328
I try the new version, and the issue is happening in iOS as well

[2020-01-22 11:26] AndreiMisiukevich commented on #328
try tot set 5 or 10

[2020-01-22 11:31] huyjack178 commented on #328
As I told you, enable that property make my listview scroll is hanging and too laggy

[2020-01-22 11:37] AndreiMisiukevich commented on #328
Weird. This property just disallow horizontal scrolling, if the gesture is vertical

[2020-01-22 11:37] AndreiMisiukevich commented on #328
Are you experienced your initial issue on iOS? or android only?

[2020-01-23 03:12] huyjack178 commented on #328
https://drive.google.com/file/d/1ZWvZZ-eL47HddAwzm-TbPEdZPPtOjAly/view?usp=sharing
Please help check, let's check the LiveScore.Features -> Scores -> Views -> ScoresView.xaml

[2020-01-28 09:46] AndreiMisiukevich commented on #327
Have you found the reason yet?

[2020-01-28 15:44] AnthonyNjuguna commented on #316
This is now causing the app to crash - I have included the stack trace maybe this could be of some help.

[code]

[2020-01-28 15:50] AndreiMisiukevich commented on #316
I see that the crash occurred in XF code

On Tue, Jan 28, 2020 at 18:44 AnthonyNjuguna <notifications@github.com>
wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-01-28 16:01] AnthonyNjuguna commented on #316
@AndreiMisiukevich  What would you suggest I do. Thanks

[2020-01-29 08:41] AndreiMisiukevich commented on #316
@AnthonyNjuguna can you build a sample that reproduces this issue?
It should be reported to XF project

[2020-01-30 01:51] AndreiMisiukevich commented on #327
oh?

[2020-01-30 07:22] Pomezny commented on #327
I hope I'll test on latest XF this weekend.

[2020-01-30 14:16] AnthonyNjuguna commented on #316
@AndreiMisiukevich The same sample I provided earlier is the one that is crashing.
Thanks

[2020-01-30 14:26] AndreiMisiukevich commented on #316
@AnthonyNjuguna seems XF crashes because I set BindingContext BEFORE adding a view to layout. But it's weird.

[2020-01-30 21:57] akamud commented on #328
I just confirmed I have the same issue on Android.

[2020-01-31 07:40] AndreiMisiukevich commented on #328
Hmm @akamud @huyjack178
Who knows how to resolve this stupid bug? Does anybody want to debug?

[2020-01-31 07:43] AndreiMisiukevich commented on #326
Probably we should report this issue to XF. Because it works fine for iOS and smaller Android resolutions

[2020-02-03 15:05] stanbav opened #329 "Card stuck when app moved to background while swiping"
1. Tap Home button while swiping items in CarouselView. Do not release your finger when Home button is pressed.
2. Move app to foreground.

Result:
One is card stuck

[2020-02-05 03:49] huyjack178 commented on #328
Hi @AndreiMisiukevich, I had time to debug your code, can you check on CardsViewRenderer in Android, this method

[code]

[2020-02-05 03:56] huyjack178 commented on #328
@AndreiMisiukevich , Hi, I had time to debug your code, I see the problem throws in these lines of code in CardsView.cs, in OnPanUpdated line 584, remove the code for Android

[code]

[2020-02-05 07:29] robertmiles3 opened #330 "Question: Changing opacity behavior for CardsView"
First, thanks for the work! It's a great control.

I would like to change the behavior a bit such that when using CardsView, the card doesn't fade the opacity but instead just moves it off screen. Similar to this in Quizlet...

![Feb-05-2020 10-28-31](https://user-images.githubusercontent.com/944302/73820206-5287fe00-4802-11ea-9bc6-ef5d0a1c00c3.gif)

Would this be possible by altering the processo

[2020-02-05 21:26] AndreiMisiukevich commented on #328
If I did that, it was needed.

[2020-02-05 21:29] AndreiMisiukevich commented on #330
Hi @robertmiles3
This is a good question. And yes, it's possible by writing custom processor

[2020-02-05 21:32] AndreiMisiukevich commented on #330
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCardBackViewProcessor.cs
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCardFrontViewProcessor.cs

Need to extend these two classes and write custom logic:
1) Remove all Opacity occurrences
2) Shift card outsides instead of fading

Feel free to ask questions

[2020-02-05 21:32] #330 closed

[2020-02-05 23:15] AndreiMisiukevich commented on #328
https://github.com/AndreiMisiukevich/CardView/commit/c50897e6b4fbebb72ca09ce90dfc849778330db9

[2020-02-06 02:13] huyjack178 commented on #328
Thanks, waiting for new version

[2020-02-06 18:49] #327 closed

[2020-02-06 18:50] AndreiMisiukevich commented on #329
cannot replicate this issue on the simulator

[2020-02-06 19:23] AndreiMisiukevich commented on #329
Also cannot reproduce on my real iPhone XS device

[2020-02-06 19:53] AndreiMisiukevich commented on #329
[code]

Please try this workaround on OnAppearing method of the page that contains carousel.

[2020-02-06 20:00] AndreiMisiukevich commented on #326
reproduced as described :(

[2020-02-06 20:41] AndreiMisiukevich commented on #326
RotationY and RotationX don't work as expected. So it's Xamarin.Forms issue

[2020-02-06 21:09] #329 closed

[2020-02-06 21:09] #328 closed

[2020-02-06 21:09] #324 closed

[2020-02-06 21:10] AndreiMisiukevich commented on #326
can you confirm that the issue is reproducible on real android devices?

[2020-02-07 14:21] webmetender opened #331 "Deleting last element in cards collection causes ArgumentOutOfRangeException"
Hello Andrei,

In the app, I am using CardsView 2.4.0 to display one or more attachments (images or PDFs) to a receipt. Deleting elements of the collection works fine except for when I delete the last element in the list. It causes this exception:
[MonoDroid] System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.ArgumentOutOfRangeExcepti

[2020-02-07 19:40] z07713 commented on #326
of course, i have tried it on Galaxies S8 & 10

[2020-02-08 21:31] AndreiMisiukevich commented on #326
https://twitter.com/jfversluis/status/1225545608196431874

[2020-02-09 13:05] AndreiMisiukevich commented on #331
Hi, can you please attach a small sample with this issue?
I couldn't reproduce it

[2020-02-09 15:08] AndreiMisiukevich commented on #331
2.4.2

[2020-02-09 15:08] #331 closed

[2020-02-10 10:03] huyjack178 commented on #328
Hi @AndreiMisiukevich, I have another issue, I used CarouselView as a ListView Header, when I pull down to refresh, it also affects the CarouselView. Please take a look at the gif below

![untitled](https://user-images.githubusercontent.com/11793001/74140232-4ac3c180-4c27-11ea-824f-2cea37996db1.gif)

[2020-02-10 18:58] AndreiMisiukevich commented on #328
Well, the previous issue is resolved, right?

[2020-02-10 18:58] AndreiMisiukevich commented on #328
OppositePanDirectionDisablingThreshold = 1 doesn't help, does it?

[2020-02-11 04:29] huyjack178 commented on #328
Yes, it doesn't

[2020-02-11 09:33] AndreiMisiukevich commented on #328
Can you get rid of headers? Just use datatemplateselector for this

[2020-02-11 11:09] huyjack178 commented on #328
What do you mean?

[2020-02-11 13:29] AndreiMisiukevich commented on #328
You said that the carousel view is the header of ListView.
I propose to put carousel view as a separate cell (first cell)

[2020-02-11 22:30] webmetender commented on #331
Hi Andrei
sorry, I was not able to respond earlier.
I too was not able to reproduce the bug in a small app, I guess it was happening because some binding mish-mash in the app I am working on.
Anyway, the fix you provided fixed the crash, I upgraded to 2.4.4 and all works perfectly, so thanks a lot for it :)

[2020-02-15 02:24] rredoh opened #333 "TabsControl IsCyclical not working"
Hi @AndreiMisiukevich . Would you mind check this? Thanks.
I cannot make it non-cyclical on android and ios

[2020-02-15 14:03] AndreiMisiukevich commented on #333
Hi) You should disable it on carousel.

carousel.IsCyiclical = false.

Or send me xaml over email or post here

[2020-02-18 08:03] rredoh commented on #333
okay. it's working as expected. thanks

[2020-02-18 08:16] #333 closed

[2020-02-18 23:01] winsonet opened #334 "How to get the arrow controls event?"
I want to show the difference photo notes when change to others, I can use the `ItemSwiped` event for handle this when swiped a photo, but how to handle when click the left and right arrow controls? I can't find any events about it :(

I just put a separate label for show the notes, please find below screen for my case:

![image](https://user-images.githubusercontent.com/1869995/74785419-3cd80580-

[2020-02-19 08:21] AndreiMisiukevich commented on #334
Hi, first of all you should not use ItemSwiped event.
You should use ItemAppearing/ItemAppeared event instead!

[2020-02-19 08:25] winsonet commented on #334
hum...I know the  ItemAppearing/ItemAppeared, but for left and right, I need to know the direction, otherwise I can't get the correct index, because the difference direction will be difference index :(

[2020-02-19 08:30] AndreiMisiukevich commented on #334
But ItemAppearing provides the index

[2020-02-19 08:31] AndreiMisiukevich commented on #334
Look

![image](https://user-images.githubusercontent.com/10124814/74815990-4e340880-530b-11ea-9e44-b8767b81f144.png)

Index, Item and IsNextSelected (True - right swipe. False - left)

[2020-02-19 08:31] winsonet commented on #334
ok, i will try it again, thanks!

[2020-02-19 08:31] #334 closed

[2020-02-19 08:35] AndreiMisiukevich commented on #334
@winsonet feel free to message me with any questions!

[2020-02-19 08:36] AndreiMisiukevich commented on #326
@z07713 I delegated this bug to Xamarin.Forms team)

[2020-02-19 08:48] winsonet commented on #334
ok, I will, thank you so much!

[2020-02-19 10:14] winsonet commented on #334
Yes! I tried to use ItemAppeared and it can get the correct index and don't need to handle again, thanks!!

[2020-02-20 08:21] z07713 commented on #326
@AndreiMisiukevich Thank you Andrei!

[2020-02-22 01:02] mmurfinsimmons opened #335 "Xamarin Forms - UWP - Item pages do not always render"
I am trying to to use this to present a swipeable 'tabbed pages' wizard data-entry pages effect.
ItemSource is set to an observable collection of custom complex contentview types (no template).
On **Android** and **IOS** this works correctly.
On **UWP** sometimes items appear 'blank' when navigated to from the tab-header or in code.
If I touch+drag even a tiny bit then the blank view is rendered,

[2020-02-22 19:08] AndreiMisiukevich commented on #335
Try v. 2.4.5

[2020-02-22 19:17] AndreiMisiukevich commented on #335
Try it and let me know the result)

[2020-02-23 22:07] mmurfinsimmons commented on #335
Thanks - that fixes it perfectly!

[2020-02-24 22:12] LeoJHarris opened #336 "ParentScrollView removed?"
Hi there,

Was ParentScrollView removed on a previous version? If it was is it safe to replace with XF scrollview. We did an update on this project and noticed the ParentScrollView could not be found.

[2020-02-24 22:14] AndreiMisiukevich commented on #336
Hi )
Yes, ParentScrollView is removed) just replace by ScrollView

[2020-02-24 22:14] #336 closed

[2020-02-24 22:18] LeoJHarris commented on #336
Cool thanks for the quick response 👍  thanks for the great work on the projects you provide @AndreiMisiukevich! 🥇 Amazing work!

[2020-02-24 23:11] AndreiMisiukevich commented on #336
thanks)

[2020-02-26 11:27] LuisM000 opened #337 "Sometimes Carousel item isn't painted"
Hi!

I have a problem (I think since version 2.4.1) of painting elements (at least on Android).
I added more elements on CarouselSampleListViewModel (https://github.com/AndreiMisiukevich/CardView/blob/199af3b52c70e7e4d216ea8d58d671c2e6917962/PanCardViewSample/PanCardViewSample/ViewModels/CarLelSample_CistLmpleo.cs) and swipe quickly.

![ezgif-7-7a0136e45b66](https://user-images.githubusercontent.c

[2020-02-26 11:40] AndreiMisiukevich commented on #337
Hi) haha lol, I am working on it. Today my colleague reported this issue

Thanks!

On Wed, Feb 26, 2020 at 14:27 LuisM000 <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-02-26 12:09] AndreiMisiukevich commented on #337
I am going to release a new version tonight

[2020-02-26 22:40] AndreiMisiukevich commented on #337
2.4.6

[2020-02-26 22:40] #337 closed

[2020-02-26 22:41] AndreiMisiukevich commented on #335
Please verify that issue doesn't exist on 2.4.6 as well

[2020-02-28 00:03] mmurfinsimmons commented on #335
Andrei - 2.4.6 reverted the code fixes and this defect has reappeared.

[2020-02-28 06:52] AndreiMisiukevich commented on #335
Ah, thanks.

[2020-02-28 06:53] AndreiMisiukevich commented on #335
Please reopen this issue

[2020-02-28 08:04] kerbooo opened #338 "Using plugin as Segmented Tabs"
Hello firstly thank you for sharing works.

I have researched but I did not find. I would like to ask "is there any way to use your plugin as segmented tabs".

I mean I would like to create 2 constant listviews on ContentPage than I would like to show them by click segmented tabs. I think your plugin created based on ItemSource?

Thank you in advance.

[2020-02-28 08:21] AndreiMisiukevich commented on #338
Hi, yes, you can do it easily.
There are two approaches:
1) Put two list views to ItemsSource
2) Use DataTemplateSelector for two different lists

[2020-02-28 08:39] kerbooo commented on #338
Can you write very simple sample? I am trying above code but it is giving me Null error.

[code]

[2020-02-28 08:56] AndreiMisiukevich commented on #338
Maybe that is because you don't have yourImage.png ?

[code]

[2020-02-28 08:58] kerbooo commented on #338
Sorry but result is same. I am getting same error.

[2020-02-28 09:03] kerbooo commented on #338
I am so sorry. Mistake is mine. I did not add XAML reference to top of page. Thank you for your help.

[2020-02-28 09:04] AndreiMisiukevich commented on #338
great :) if it works now

[2020-02-28 09:04] #338 closed

[2020-02-28 09:06] AndreiMisiukevich commented on #335
Don't you mind to try one more version? (I don't have Windows for testing)

[2020-02-28 09:19] kerbooo commented on #338
Hello again. I have tested in my real project but below code seems does not work. This approach is right or not?

[code]

[2020-02-28 10:01] AndreiMisiukevich commented on #335
Please try 2.4.7 (if it is not working as well, then I will revert changes and put my initial fix :) )

[2020-02-28 10:12] kerbooo opened #339 "Using plugin as Segmented Tabs"
Hello again. I have tested in my real project but below code seems does not work. This approach is right or not?

[code]

[2020-02-28 10:25] kerbooo commented on #339
I am getting below warning too

`NU1603: CardsView 2.4.6 depends on Xamarin.Forms (>= 3.0.0) but Xamarin.Forms 3.0.0 was not found. An approximate best match of Xamarin.Forms 3.0.0.446417 was resolved.`

**My Xamarin Forms version is 4.5.0.356**

[2020-02-28 10:26] AndreiMisiukevich commented on #338
yes, this approach is right.
What exactly doesn't work?

[2020-02-28 10:27] AndreiMisiukevich commented on #339
that's very strange. >= 3.0.0
But don't think it's the reason

[2020-02-28 10:29] AndreiMisiukevich commented on #339
[code]

Does it work? (without listView)
And did you add CardsViewRenderer.Preserve() in AppDelegate and MainActivity?

[2020-02-28 10:54] kerbooo opened #340 "```xaml"
[code]

Does it work? (without listView)
And did you add CardsViewRenderer.Preserve() in AppDelegate and MainActivity?

_Originally posted by @AndreiMisiukevich in https://github.com/AndreiMisiukevich/CardView/issues/339#issuecomment-592451350_

[2020-02-28 10:54] #340 closed

[2020-02-28 10:55] kerbooo commented on #339
Yes that is working.

[2020-02-28 11:01] AndreiMisiukevich commented on #339
then there is an issue with your ListView (maybe bindings are wrong)

[2020-02-28 11:08] kerbooo commented on #339
When I assign a x:Name for ListView I am getting error.

[2020-02-28 11:28] kerbooo commented on #339
Hello again I think that is bug. For example below code is working

[code]

But when I add ItemTemplate for ListView code can not build and work as below

[code]

Console error output

[code]

[2020-02-28 11:48] AndreiMisiukevich commented on #339
@kerbooo ah yes... It's known Xamarin xaml bug :(

I think you will have to use code

[2020-02-28 11:48] #339 closed

[2020-02-28 11:49] AndreiMisiukevich commented on #339
Try CollectionView. As I remember it should work

[2020-02-28 12:03] kerbooo commented on #339
No way :(

My project can not compile with CollectionView too. Do you have any suggestion for this approach?

[2020-02-28 12:06] AndreiMisiukevich commented on #339
yes, just try to add your views from C# code :)

[2020-02-28 12:20] kerbooo commented on #339
I am using MVVM prism. It can be possible?

[2020-02-28 12:30] AndreiMisiukevich commented on #339
yes of course, why not?

[2020-02-28 14:28] kerbooo commented on #339
So last question. Do you know any Tabbed View Plugin that has SelectedIndex Binding and animation properties like CarouselView controller?

[2020-02-28 14:31] AndreiMisiukevich commented on #339
Yes, it's already embedded in CardsView. PanCardView.Controls.TabsControl

[2020-02-28 20:19] mmurfinsimmons commented on #335
Andrei,  v2.4.7 [88f1181](https://github.com/AndreiMisiukevich/CardView/commit/88f1181fb7e03fd160ed2e867bc1cfa14f48c034) does **not** fix my original UWP problem.

[2020-02-28 21:36] AndreiMisiukevich commented on #335
2.4.8

[2020-02-28 21:36] #335 closed

[2020-03-02 20:36] mmurfinsimmons commented on #335
Thanks! 2.4.8 is rendering programmatic page switches again!

[2020-03-05 21:31] edooley commented on #143
@AndreiMisiukevich This is still a problem for me, despite trying both of your fixes above. I don't mind the animation so much but it is causing major issues for me when, in iOS, I background the app, then changes are made to the remote source, and I foreground it again. The animation gets "stuck" half way through and is partially faded/scaled out? I also tried setting IsAutoNavigatingAnimationEna

[2020-03-05 22:07] AndreiMisiukevich commented on #143
[code]

[2020-03-05 22:08] AndreiMisiukevich commented on #143
or provide me a sample with issue

[2020-03-19 21:17] CatOkHero opened #341 "CoverFlow issue with overlaping views when PositionShiftPercentage is greater then 0.4"
Dear Andrei,

I'm trying to achieve something like on the [video](https://imgur.com/a/qjdKdrE), but see the issue with that.
Here is my XAML:

     <cards:CoverFlowView
		**PositionShiftPercentage="0.5"**
                IsCyclical="false"
                SelectedIndex="{Binding CurrentIndex}"
                ItemsSource="{Binding Items}">
                <x:Arguments>
                    <proc:Ba

[2020-03-19 21:34] AndreiMisiukevich commented on #341
Hi @CatOkHero
Unfortunately, overlapping is not supported by coverflowView. I'd suggest you to redesign your screen to not have overlapping.

[2020-03-19 21:34] #341 closed

[2020-03-20 07:45] CatOkHero commented on #341
Thank you)

[2020-03-24 16:58] Dmbandit commented on #319
@AndreiMisiukevich
Hi Andrei, unfortunately this still seems to be an issue when using a Master Detail page setup. I just changed the MainPage in Noufalts fork to be inside a Master Detail page and vertical scrolling stops working. Do you think that anything that can be done here?

My app needs to use a master detail page. But it also needs to have horizontal panning on the CarouselView and also v

[2020-03-24 18:36] AndreiMisiukevich commented on #319
his fork is outdated. Fork my repository and validate the issue

[2020-03-25 18:04] Dmbandit commented on #319
Thanks @AndreiMisiukevich for the fast reply. I've forked your repo and replicated the issue here https://github.com/Dmbandit/CardView as requested.
The app now just opens a master detail page with the CarouselSampleXamlView as the detail page. I put it in a scroll view and added an extra stack just so that the page is actually scrollable. You will see that you cant start vertical scrolling from t

[2020-03-25 21:02] AndreiMisiukevich commented on #319
2.5.0

[2020-03-25 21:02] #319 closed

[2020-03-26 11:33] Dmbandit commented on #319
@AndreiMisiukevich
I have tested with latest nuget 2.5.0, working perfectly now, thank you so much for doing this so quickly!

[2020-03-30 13:55] igor-niv opened #342 "Возможно ли отключить анимацию при замене картинки."
Я использую PanCardView.CarouselView в Xamarin.Forms приложении.
После того, как фотографии отобразились в PanCardView.CarouselView, я должен, по нажатию кнопки пользователем, выполнить преобразовании фотографии, которая является текущей видимой в PanCardView.CarouselView, к Ч/Б. Затем должен вывести обработанную фотографию заместо старой в PanCardView.CarouselView.
Для хранения массива фотографий

[2020-03-31 08:36] AndreiMisiukevich commented on #342
привет) Да, конечно

выставь IsAutoNavigatingAnimationEnabled = false

[2020-03-31 08:37] #342 closed

[2020-04-08 19:13] Tommigun1980 opened #343 "CurrentItem doesn't refresh if the ItemsSource collection is edited"
Hi, and thanks for a great component!

I found this issue where the card view's CurrentItem doesn't update if the currently active card is removed from the ItemsSource. I haven't verified but I guess the same thing will happen if a card is added to the collection before the current card.

I added the following workaround to my code for now:
[code]
... which I call whenever I change the card view's

[2020-04-08 22:55] AndreiMisiukevich commented on #343
v.2.5.1

[2020-04-08 22:55] #343 closed

[2020-04-09 13:47] Tommigun1980 commented on #343
Wow, so fast and it works perfectly now! Thanks so much Andrei 👍

[2020-04-09 14:50] AndreiMisiukevich commented on #343
you are welcome)

[2020-04-12 10:01] hamid-shaikh opened #344 "Height Issue with CarouselView (Identified on iOS, not tested on Android)"
Thanking you for writing this wonderful CarouselView Control.

The following is my xaml example

The issue occurs in following two scenarios
Note:- Each ItemTemplate are different, each template will 3 to 6 expandcollapsecontrol

1. When changing selectionindex then previous template height is assigned to current selected template
2. when performing expand height is increased but when collapsing s

[2020-04-12 17:02] AndreiMisiukevich commented on #344
1. Try to set IsViewReusingEnabled = false

[2020-04-12 20:43] AndreiMisiukevich commented on #344
2. Maybe try to call ForceLayout or smth like this

[2020-04-15 23:59] #344 closed

[2020-05-01 19:08] ericallen13 opened #345 "ListView in CarouselView not rendering properly on iPhone 11 or X"
There seems to be an issue with the phones that have cutouts around space allocation of ListViews within CarouselViews when in landscape mode. When displayed in landscape mode the ListView is getting pushed over to one side or the other by blank space.

The following XAML displays as intended on android and all iOS phones that don't use the cutout but for whatever reason the cutout seems break the

[2020-05-01 19:27] AndreiMisiukevich commented on #345
Can you build a simple sample?
And can you show the expected screenshot? it's difficult to understand what's wrong.
Also, I see you use cards:CardViewExtended

[2020-05-01 19:32] AndreiMisiukevich commented on #345
![image](https://user-images.githubusercontent.com/10124814/80835519-a0db4c00-8bfb-11ea-82fb-0a425e9ad999.png)

Works as expected

[2020-05-01 20:56] AndreiMisiukevich commented on #345
I've just tried to put simple cell inside listview WITHOUT carousel

[code]

So, it's Xamarin.Forms issue

![image](https://user-images.githubusercontent.com/10124814/80841021-3d571b80-8c07-11ea-80d8-049590b69495.png)

[2020-05-01 20:56] #345 closed

[2020-05-04 12:40] ericallen13 commented on #345
I've created a project to reproduce it.

https://github.com/ericallen13/ListViewBug/tree/master/ListViewBugExample

Start app in portrait then rotate to landscape once the main view has loaded, you'll notice black bars on the left and right sides as you scroll.

[2020-05-13 12:18] PaulsonMac opened #346 "Fatal Exception: NSInternalInconsistencyException"
Hi @AndreiMisiukevich ,
I'm getting this in my crashlytics report for my iOS app (450+ times).. all crashes are from devices running iOS 13 OS (iOS 13.1.3, 13.3.0, 13.3.1).. Looks similar to this issue - https://github.com/AndreiMisiukevich/CardView/issues/295

I've also recently built my app with iOS 13SDK to comply with the latest apple guidelines.

**Did you try in a iOS device having iOS 13?**

[2020-05-13 12:18] PaulsonMac commented on #346
Referencing #295

[2020-05-13 12:28] AndreiMisiukevich commented on #346
what version of CardsView does your app have?

[2020-05-13 12:36] AndreiMisiukevich commented on #346
@PaulsonMac can you reproduce this issue on your device/simulator? (or it's only stack-trace from crashlytics)

[2020-05-13 12:39] PaulsonMac commented on #346
We didn't check in a device yet.. It's a stack-trace from crashlytics as of now

[2020-05-13 12:40] PaulsonMac commented on #346
I'm using 2.1.3

[2020-05-13 12:41] PaulsonMac commented on #346
Was this issue already addressed in any of the recent releases?

[2020-05-13 12:43] AndreiMisiukevich commented on #346
2.1.3 ??? :)) It's toooooooooo old, man

2.6.1 is the current one. Yes, I fixed such issues ~ 2 months ago

[2020-05-13 12:43] #346 closed

[2020-05-13 12:45] PaulsonMac commented on #346
ok, I'll try updating it.. Thanks

[2020-05-23 18:40] stefancvetkovic opened #347 "Last element has empty space to the right"
Do you have some tip how to remove empty space when Im scrolling, my frames, and when I reached to its last element, I have blank space. I want  not to have that space. Thanks

[2020-05-23 18:48] AndreiMisiukevich commented on #347
Hi, I need more info

What control do you use
Image with this bug
Your markup or preproduction sample (because I cannot reproduce it)

[2020-05-24 00:00] stefancvetkovic commented on #347
Hi,
I'm using CoverFlowSampleXaml file in your sample solution.
Meanwhile, I have another question regarding more complex elements in the frame element, like picture and text.
So, my problems are:

- How to move label to the right, to begin when frame begins?
[label has unknown padding/margin](https://i.imgur.com/QLDJLIZ.png)
I set background of this label to red on purpose, just you to see space

[2020-05-24 10:11] AndreiMisiukevich commented on #347
https://pastebin.com/0PkVQUUm

Well, I did. But it's exactly the same xaml

[2020-05-24 10:12] AndreiMisiukevich commented on #347
label has unknown padding/margin
I set background of this label to red on purpose, just you to see space around it.

Frame has default padding in Xamarin.Forms (20). So, just put 0...

[2020-05-24 10:13] AndreiMisiukevich commented on #347
Do you want to avoid this one?

![image](https://user-images.githubusercontent.com/10124814/82751505-5c893900-9dc0-11ea-952a-5889ccf0e0fa.png)

[2020-05-24 10:14] stefancvetkovic commented on #347
Exactly, jus in my case, I have a lot of extra white space after last element.

[2020-05-24 10:15] stefancvetkovic commented on #347
I already put Padding="0" for frame, but Label goes to the right..

[2020-05-24 10:19] AndreiMisiukevich commented on #347
Currently, that's impossible.
But you can set IsCyclical = true

[2020-05-24 10:21] stefancvetkovic commented on #347
I see..Cyclical  = true is not option for me, my designer wants to be just like this, but without extra space at the end. Anyway, thanks for pointing me in the right direction ;)

[2020-05-24 22:33] scteodor commented on #194
Where?

[2020-05-25 08:51] AndreiMisiukevich commented on #347
@stefancvetkovic I marked it as an enhancement. Perhaps I will try to implement that.

[2020-05-25 08:53] AndreiMisiukevich commented on #194
https://github.com/AndreiMisiukevich/CardView/commit/8e36b7e350d2da0871fa8ddd990c20b2f0b1489f

Seems this helped

[2020-05-25 22:50] AndreiMisiukevich commented on #347
I believe you should take a look at XF CollectionView for such feature :)
I am not sure that I will implement that near future.

[2020-05-25 22:50] #347 closed

[2020-05-25 22:51] AndreiMisiukevich commented on #347
Or you can use CarouselView with two elements on the one card

So two elements will be always visible at the moment

[2020-06-04 20:27] sunnyatticsoftware opened #348 "Image stream not being displayed in carousel"
I am having an issue, hopefully someone has the answer and lets me know if I'm doing anything wrong or it's a limitation of the carousel.

The idea is that I have several images being generated at runtime (qr barcodes), and I want to display those images along with some text in a carouselview.

## The problem

This is what I see on the first load

![1](https://user-images.githubusercontent.com/573

[2020-06-04 20:36] AndreiMisiukevich commented on #348
Hi, try to set
[code]

[2020-06-04 20:43] sunnyatticsoftware commented on #348
thanks for your reply. I've tried setting those options but it didn't make any difference. The images are not shown until a hot reload of XAML happens.

[2020-06-04 20:48] sunnyatticsoftware commented on #348
I've ran another test with the xamarin CarouselView. Same result as with `CardView`
[code]

First time page is rendered:

![1](https://user-images.githubusercontent.com/57327772/83808599-5bf07c80-a6b5-11ea-8c07-ba2e6906882a.JPG)

After hot reload:

![2](https://user-images.githubusercontent.com/57327772/83808615-63178a80-a6b5-11ea-8dab-0568705a5352.JPG)

Is CardView based on the same mechanism as

[2020-06-04 20:48] AndreiMisiukevich commented on #348
No, that's different mechanisms

[2020-06-04 20:50] AndreiMisiukevich commented on #348
Thanks for the report. I will take a look tomorrow.

Just to make sure that it is not XF bug (can you set WidthRequest and HeightRequest to your Image? 100 and 100 for example

[2020-06-04 20:53] sunnyatticsoftware commented on #348
Thanks, I appreciate your help and time.

I've just added with and height request. Same problem
[code]

[2020-06-04 21:10] sunnyatticsoftware commented on #348
In case it helps.. I just ran another experiment with a converter to see if I can find out what's going on. No luck, but there's something interesting.

[code]

Then in my image within the carousel
[code]

I set a breakpoint in the `Convert` method. On the first load, this converter is not even executed.
After I force the hot reload I can see it the method is finally executed, although the value i

[2020-06-05 06:50] sunnyatticsoftware commented on #348
I found the issue. It does not make any sense to me, but hopefully it makes to you and can share with me the WHY.

It turns out Re-Sharper was suggesting something risky, to add a `x:DataType`
It's all documented here: https://stackoverflow.com/questions/62200299/images-not-shown-in-carouselview-on-first-load

If you think this does not make sense and it's a Xamarin bug, I would happily open an is

[2020-06-05 07:39] AndreiMisiukevich commented on #348
That's not an image problem
try to change xaml **<Label Text="{Binding .}"></Label>** (And use text instead of stream) You will see that text is not displayed via binding as well

[2020-06-05 07:43] AndreiMisiukevich commented on #348
Add x:DataType to your DataTemplate
This will solve your problem
[code]

[2020-06-05 07:43] #348 closed

[2020-06-05 08:16] AndreiMisiukevich commented on #348
@sunnyatticsoftware does it work for you?

[2020-06-05 08:46] sunnyatticsoftware commented on #348
yes it does. Thanks!

[2020-06-15 01:12] alperen-ozdemir opened #349 "Giving Command to Items"
Hi Andrei,

I'm trying to give command binding to the items, or making images clickable. However, after searching for 2 days I couldn't figure it out. Is there a way to achive this.

Thank you so much.

[2020-06-15 08:29] AndreiMisiukevich commented on #349
Hi) Add TapGestureRecognizer to your item template

[2020-06-17 22:21] AndreiMisiukevich commented on #349
you can check my samples
How to achieve that via code

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CardsSampleView.cs

If you have any difficulties, feel free to message me.

[2020-06-17 22:21] #349 closed

[2020-06-19 09:47] angelru opened #350 "System.ArgumentOutOfRangeException"
this component has the same error as xamarin ... any solution?

https://github.com/xamarin/Xamarin.Forms/issues/10865

[2020-06-19 10:01] AndreiMisiukevich commented on #350
please provide a sample. I cannot reproduce that

[2020-06-19 10:18] angelru commented on #350
just add an item to the ObservableCollection, delete and then add another

[2020-06-19 10:20] AndreiMisiukevich commented on #350
So, the test case

1) Exists 1 item in CarouselView
2) I remove this item (Exists 1)
3) I add a new one - **crash**

Right?

[2020-06-19 10:55] angelru commented on #350
Right

[2020-06-20 00:01] AndreiMisiukevich commented on #350
Just tried. Cannot reproduce on iOS iPhone 11 Simulator.

[2020-06-20 00:13] AndreiMisiukevich commented on #350
Reproduced. Here is the stack trace.
But this crash is not related to CardsView. Check, it crashes in ObservableCollection, not in CardsView.

[code]

[2020-06-20 10:05] angelru commented on #350
XF carousel, did you get the exception? I'm sure I used yours too

[2020-06-20 16:53] AndreiMisiukevich commented on #350
No, I tried to reproduce with no luck (XF crashes, Mine -- not).
Can you create a small sample?

[2020-06-23 10:46] AndreiMisiukevich commented on #350
?

[2020-06-23 11:16] angelru commented on #350
did you try on android?

[2020-06-23 11:25] AndreiMisiukevich commented on #350
Yes, I did. So can you provide a sample?

[2020-06-24 07:46] angelru commented on #350
I just tried a new project and it works well, I don't know what happened, sorry for the annoying and I close the topic

[2020-06-24 07:46] #350 closed

[2020-06-24 08:31] AndreiMisiukevich commented on #350
no problem

[2020-06-30 10:59] TSerra-PT opened #351 "CarouselView with maps"
Hi Andrei!

I am using a CarouselView with many ContentViews and one of many this ContentViews has a Map (Xamarin.Forms.Maps). In ios works well (loads the apple maps and I can navigate with the gestures) but in android the navigation with the gestures doesn't work (the google maps takes a lot of time to renderer).
Can you help me with this problem?

[2020-06-30 11:07] AndreiMisiukevich commented on #351
Hi,

What do you mean "navigation with gesture"? CarouselView navigation or navigation in maps?

[2020-06-30 15:51] TSerra-PT commented on #351
Navigation in the maps (with the finger). I disabled the "swipe left and rigth" (in the CarouselView) with the proprety IsUserInteractionEnabled = "false"

[2020-06-30 18:52] AndreiMisiukevich commented on #351
Try to add this "ShouldThrottlePanInteraction = true"

[2020-07-01 08:10] AndreiMisiukevich commented on #351
Does it work?

[2020-07-01 09:05] TSerra-PT commented on #351
It's works!!!
Thank you so much @AndreiMisiukevich ;)
I owe you a beer ^_^

[2020-07-01 09:05] #351 closed

[2020-07-01 13:19] AndreiMisiukevich commented on #351
haha, yes

[2020-07-07 01:37] rdurish opened #352 "Next/Previous on Carousel View?"
I would like to have a next previous buttons in line with the paging dots in Carousel View.  Can that be an enhancement or am I missing how to accomplish that?  Thank you!

[2020-07-07 09:23] AndreiMisiukevich commented on #352
[code]

Also, you can try without margin (Or just play with that)

[2020-07-07 21:19] rdurish commented on #352
Thank you for the feedback...I am trying to get this effect, not sure I made sense above LOL:
[https://1drv.ms/u/s!AtiXKZF_BIouirRoCDMBPzfUUlk9cQ?e=zQ3gn7](url)

[2020-07-07 22:13] AndreiMisiukevich commented on #352
oh, okay then you should use your own buttons or labels
Add ProtectedViewBehavior and put inside carousel view with  AbsoluteLayout.LayoutFlags="0,1,-1,-1" Margin="0, 20" and AbsoluteLayout.LayoutFlags="1,1,-1,-1" Margin="0, 20"

[2020-07-07 22:13] AndreiMisiukevich commented on #352
or just show me your xaml

[2020-07-08 00:56] rdurish commented on #352
Here is my xaml, I can't see the back, next buttons (I tried even margin'ing (+/-) to try to see them) , I assume I need a bind of some sort as well to tell it to go back and form, is there something I can grab?  Also, another issue I am running into is a can not put a click even on my buttons inside the carousel.ItemSource, is there a work around for that too?  Sory I am a complete XAML newb, bee

[2020-07-08 08:09] AndreiMisiukevich commented on #352
Well, look at this stuff

[code]

[2020-07-08 08:10] AndreiMisiukevich commented on #352
Here is how to make navigations by buttons https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CubeSampleXamlView.xaml

[2020-07-08 08:11] #352 closed

[2020-07-29 21:35] jwosty commented on #175
This seems to be cropping back up in an app I'm working on. We're getting an exception along the lines of:

    CardViewExtensions.CreateView (Xamarin.Forms.DataTemplate template)
    System.MissingMethodException: Default constructor not found for type PanCardView.Controls.IndicatorItemView

CardsView 2.6.3
Xamarin.Forms 4.7.0.1179
Android 9.0 (emulator) - API 28

Only happens in Release mode wit

[2020-07-29 23:08] AndreiMisiukevich commented on #175
@jwosty have you added ```CardsViewRenderer.Preserve();``` to MainActivity?

[2020-08-01 06:49] Sarthak261995 opened #354 "How to disable horizantal swipe"
Hi how can we disable horizontal swipe so that I will able to create my custom tabs using carousel view I want to change the current index only though code that I am able to do through current index property.But how can I disable horizontal swipe over carousel view, also scroll view inside my content view does not work properly when horizontal swipe is enabled.

Anybody know workaround for this

[2020-08-01 07:08] Sarthak261995 commented on #354
Ok I found below properties and my requirement fulfilled by making them false but I don't think I really need to false all of them

            IsNextItemPanInteractionEnabled="False"
            IsPanInteractionEnabled="False"
            IsPanSwipeEnabled="False"
            IsPrevItemPanInteractionEnabled="False"
            IsRightToLeftFlowDirectionEnabled="False"
            IsUserInteractio

[2020-08-01 09:21] Sarthak261995 commented on #354
Figured it out.
Thanks for this fabulous library 👍

[2020-08-01 20:08] AndreiMisiukevich commented on #354
IsUserInteractionEnabled="False" should be enough 👍

[2020-08-17 14:15] shubhambhosale commented on #274
@AndreiMisiukevich
I think to replicate the issue we need to add the WebView inside the CarouselView.
Then it should stop the firing the UserInteracted event on the iOS.

[2020-08-17 14:17] AndreiMisiukevich commented on #274
Yes, there is a conflict of gestures. You should choose where PanGesture is working and where it isn't

[2020-08-17 14:27] shubhambhosale commented on #274
I have set IsPanInteractionEnabled="False" on the CarouselView. But still it didn't detect the UserInteracted event on the iOS.

[2020-08-17 15:13] AndreiMisiukevich commented on #274
You should set IsEnabled = false to your WebView

[2020-08-17 15:13] AndreiMisiukevich commented on #274
Or InputTransparent = true

[2020-08-20 05:55] amirvenus opened #355 "Strange positioning of IndicatorsControl"
Hi,

I am using Xamarin.Forms  to build iOS and Android and I have come across your wonderful library.

The problem is that I have to create the whole markup using C# and not XAML so I have:

`public List<ContentView> ContentViews { get; set; } = new List<ContentView>();`

and inside the constructor:

[code]

and when the page is loaded, I call this code:

[code]

It works fine for the first item:

[2020-08-20 07:38] AndreiMisiukevich commented on #355
https://github.com/AndreiMisiukevich/CardView/issues/263

[2020-08-20 07:45] AndreiMisiukevich commented on #355
As for labels position. Probably It's Xamarin Layout issue.
The first element is Label, but two others are Buttons.
Put labels into all three items and it will work the same.

[2020-08-20 07:47] #355 closed

[2020-09-10 11:55] InquisitorJax opened #356 "[HowTo] Allow Scrollable Content within items"
See sample: "Andrei" tab:
[CarouselViewSamples.zip](https://github.com/AndreiMisiukevich/CardView/files/5201361/CarouselViewSamples.zip)

How can I get the top CollectionView to scroll, as well as allowing the main Carousel to scroll when the SubItems Carousel has reached the end?
See the "Alex" tab implementation that works out of the box.

Is this possible?

[2020-09-10 19:25] AndreiMisiukevich commented on #356
Hi, now that's impossible)
But I guess such feature can be implemented.
We need to "pass" gesture event value to the parent carousel if it exists in case no items to scroll 👍

[2020-09-17 08:25] AndreiMisiukevich commented on #356
Would you like to have this feature? Or you find another solution

[2020-09-17 09:08] InquisitorJax commented on #356
@AndreiMisiukevich there currently isn't an up to date CarouselView that supports this, so I think it would be tremendously useful to the community as it adds a bunch of new content possibilities to the already very cool control.

Also, I definitely would like to have this feature ;)

[2020-09-17 09:11] AndreiMisiukevich commented on #356
Then need to try to implement it

[2020-09-17 09:13] InquisitorJax commented on #356
There was an issue logged on the Forms CarouselView in Dec. last year, and it's still not there :(
https://github.com/xamarin/Xamarin.Forms/issues/8960
You can see there's a few people looking for that kind of functionality.

[2020-10-03 01:06] AndreiMisiukevich commented on #356
2.6.4

[2020-10-03 01:06] #356 closed

[2020-10-14 10:25] amirvenus opened #358 "CarouselView - Poor performance and even crashing on older devices such as iPad 2"
Hi Andrei,

First of all thank you for your great library and amazing work!

I am using your library in my highly dynamic app where the views are all created using C# based on the JSON API response

I have something like this in my ContentPage:

[code]

RecordCreateContentViews is also an ObservableCollection of type ContentView.

So basically, what I am doing is creating ContentViews inside the O

[2020-10-14 10:33] AndreiMisiukevich commented on #358
Do other carousels provide better performance?

[2020-10-14 10:35] AndreiMisiukevich commented on #358
There is a caching mechanism in CardsView. But obviously, it works with ItemTemplate views only. How can we cache views which are dynamic? :)

[2020-10-14 10:35] amirvenus commented on #358
Well, to be honest with you, I don't think there is any other alternative.

I am running the same test with the built-in Xamarin.Forms's CV as I am writing this comment but the chances are I don't think any other implementation comes even close to yours in terms of feature-set and completeness.

[2020-10-14 10:37] amirvenus commented on #358
This is what I get from the native Xamarin.Forms's CV:

![image](https://user-images.githubusercontent.com/5879559/95978058-90b5d280-0e11-11eb-8a15-65a5818bef7a.png)

LOL!

[2020-10-14 10:38] AndreiMisiukevich commented on #358
What observable collection do you use? Regular or range?
Maybe you should try to add all views at the same time instead of adding them one by one

[2020-10-14 10:40] AndreiMisiukevich commented on #358
BTW, I see you disabled pan interaction. Why?

IsPanInteractionEnabled="False"
IsPanSwipeEnabled="False"

[2020-10-14 10:42] AndreiMisiukevich commented on #358
[code]

Can you try this markup?

[2020-10-14 10:51] amirvenus commented on #358
It's much better now and more responsive after using your new markup and adding CVs to a list and then at the end of the for loop AddRanging them to the OC.

I will have to test it on iPad 2 as well but sadly, I can only do that once the new version is released into TestFlight as it seems to be a limitation with macOS Catalina and 32-bit support.

[2020-10-14 11:00] AndreiMisiukevich commented on #358
I think this issue ticket can be closed)

[2020-10-14 11:00] #358 closed

[2020-10-21 10:53] xariosstewart commented on #313
We're using the CoverFlowView in our app that we're deploying to a FireTv.  If I set SelectedIndex during the page initialisation or the user navigates too quickly the content fades out and never returns.  I solved the rapid navigation by setting IsAutoNavigatingAnimationEnabled="False", Unfortuntely this doesnt cure the initialisation issue, so we simply dropped it for the time being (so the Cove

[2020-10-21 11:06] AndreiMisiukevich commented on #313
Hmmm, interesting.
Would you like to try override HardSetAsync and perform something like

[code]

[2020-10-21 12:18] xariosstewart commented on #313
Well, I was completely wrong.  HardSetAsync is being called multiple times the last of which is when the Opacity is set to 0 from a previous call.

[2020-10-21 12:26] AndreiMisiukevich commented on #313
Then we should fix that :)

[2020-10-25 22:26] AndreiMisiukevich commented on #313
Try 2.6.5

[2020-10-25 22:26] #313 closed

[2020-10-26 23:04] AndreiMisiukevich commented on #326
I am closing this ticket as XF bug. It should be fixed there :(

[2020-10-28 14:04] xariosstewart commented on #313
All good in 2.6.5, thanks for the quick turnaround.

From: Andrei <notifications@github.com>
Sent: 25 October 2020 22:27
To: AndreiMisiukevich/CardView <CardView@noreply.github.com>
Cc: Stewart Draper <stewart.draper@xarios.com>; Comment <comment@noreply.github.com>
Subject: Re: [AndreiMisiukevich/CardView] CoverFlowView gets out of sync with rapid trigger of SelectedIndex (#313)

Closed #313<http

[2020-10-28 14:05] xariosstewart commented on #313
All good in 2.6.5, thanks for the fix and quick turnaround.

[2020-11-03 07:45] aaa1902 opened #359 "TabsControl - System.ArgumentOutOfRangeException: Index was out of range [Android Only]"
Got an issue regard the TabsControl on Android
The page with the TabsControl crashes when navigating to another page.

Here's the error captured via MS AppCenter.

System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection. Parameter name: index

Collection`1[T].get_Item (System.Int32 index) /Users/builder/jenkins/workspace/archive-mon

[2020-11-03 22:52] AndreiMisiukevich commented on #359
2.6.7

[2020-11-03 22:52] #359 closed

[2020-11-04 10:51] Martin-4Spaces opened #360 "CoverFlowView, Android-only, "Method not found: bool PanCardView.CardsView.get_IsPanControllingdByChild()""
This error occurs when I start scrolling horizontal on ConverFlowView.

View
[code]

ViewModel
[code]

The package is installed with nuget in the shared project, android og iOS-project.
MainActivity
[code]

No issues in iOS. I use a Huawei smartphone API 28 as test device.

[2020-11-04 16:42] AndreiMisiukevich commented on #360
Hi @Martin-4Spaces

can you try to disable linker (Set to "Do not link") and check whether the issue exists

[2020-11-04 16:42] AndreiMisiukevich commented on #360
Also, make sure you installed the same CardsView nuget version to **ALL** your projects

[2020-11-04 17:41] Martin-4Spaces commented on #360
It is already set to Do not link for debug mode.
I cant build my Android app release after installing this library to the android project. It complains about the same error because linker is set to SDK assemblies only,
All projects is updated to version 2.6.7.

[2020-11-04 18:31] AndreiMisiukevich commented on #360
Try 2.6.8, please
if it doesn't work, let me know

[2020-11-04 18:45] Martin-4Spaces commented on #360
Same issue, new method name :/
[code]
Here is some screenshots showing i'm using the correct version.
![shared](https://user-images.githubusercontent.com/9819124/98155253-3a025c80-1ed6-11eb-9d79-f3dbdb6650c4.png)
![android](https://user-images.githubusercontent.com/9819124/98155261-3c64b680-1ed6-11eb-820f-84d7b7f632a3.png)
![android main](https://user-images.githubusercontent.com/9819124/98155270-

[2020-11-04 19:02] AndreiMisiukevich commented on #360
Could you please build a small sample and attach it here? Or put a link to github project with reproduction.

I will take a look

Thanks.

[2020-11-04 19:24] AndreiMisiukevich commented on #360
Cannot reproduce

[test.zip](https://github.com/AndreiMisiukevich/CardView/files/5490079/test.zip)

[2020-11-04 19:26] Martin-4Spaces commented on #360
@AndreiMisiukevich I tried too and it worked with sample.
So I started applying my own app into the sample.
The error began when I added the dependency to https://www.nuget.org/packages/PanCardView/.
Removed it and now everything works fine.

Thank you!

[2020-11-04 19:27] #360 closed

[2020-11-08 16:48] hackerjarvis007 opened #361 "PositionChangedEventArgs For CubeView"
Hi Andrei,
Thanks for the wonderful library and amazing work. I am trying to get the PostitionChanged event for CubeView.
In my CubeView , I am showing a video player. What I am trying to do is change a value when position of the cubeview item change.

I can achieve this using CarousalView like this :

[code]

Which event should I consume in cubeview?

[2020-11-09 15:11] AndreiMisiukevich commented on #361
Hi @hackerjarvis007 Thanks for your question!

You should use ItemAppearing / ItemAppeared / ItemDisappearing events (or commands)

Please choose the most suitable for you.
Feel free to ask more questions!

[2020-11-09 15:11] #361 closed

[2020-11-10 07:44] hackerjarvis007 commented on #361
Hi Andrei, How can I get the Previous position or Item using ItemAppearing event? Can you help me on that part?

[2020-11-11 09:21] AndreiMisiukevich commented on #361
Hi,

Use **OldIndex** property or just use ItemDisappearing event (and check args)

[2020-11-11 10:36] xariosstewart commented on #313
Hi Andrei,

We're seeing OOM FireTV client crashes with sustained rapid navigation (either repeated manual taps or by holding down the L/R navigation button.

AppCenter has caught the following stack traces:

<
Stacktrace

mono.java.lang.RunnableImplementor.run(RunnableImplementor.java:30);

Reason

Java.Lang.Error: Failed to allocate a 8294412 byte allocation with 3722960 free bytes and 3MB until

[2020-11-11 22:47] AndreiMisiukevich commented on #313
I don't think I can fix this issue without a reproduction sample :(
It seems to be a memory leak, right?
Would you like to debug CardsView to find where does it happen (Or maybe it's not related to CardsView at all?)

[2020-11-12 14:40] xariosstewart commented on #313
Hi Andrei,

This looks to be a problem with my code.  I’ve put an image in the CoverFlow.ItemTemplate that’s using a file that’s stored on the device rather than an embedded resource and I suspect that its loading them too fast for the large object heap garbage collector to keep up.  If I take the image off the template it doesn’t have the problem.  I’ll go back to the drawing board and come up wi

[2020-11-12 19:21] AndreiMisiukevich commented on #313
@xariosstewart thanks for letting me know 👍

[2020-11-21 17:19] hamidish opened #362 "gradiant overlay image and change position of elemnt when swipe"
hi
i want to have gradiant layer on image
i use this code
but when swipe between slider margin size on pancakeview change
and place of label and button too

  <cv:CarouselView Margin="0" x:Name="slider" HeightRequest="300"  >
                    <cv:CarouselView.ItemTemplate>
                    <DataTemplate>
                            <StackLayout>
                                <Image  Source

[2020-11-22 06:29] hamidish commented on #362
i fixed by use AbsoluteLayout

[2020-11-22 06:29] #362 closed

[2020-12-21 21:37] grounch commented on #354
Hi
It works for disable horizontal swipe, but also turning off the left and right buttons.
How can i disable only the swipe gesture?
The main issue is that, in my carouselview, i have few pages with sliders and other elements with pangesture.
On iOS it seems to calculate well the limit between the element gesture and carousel swipe gesture, but on android it's completely broken. Can't move the sli

[2020-12-21 22:14] AndreiMisiukevich commented on #354
Try to set IsPanInteractionEnabled = false and SwipeThresholdDistance = 100000

[2020-12-21 22:34] grounch commented on #354
Makes it work fine on ios (buttons changing the pages, swipe doesn't) but on android it disable everything but the indicatorControl to change pages. I need to also have the buttons working.

[2020-12-21 23:40] AndreiMisiukevich commented on #354
How do you add your buttons?

[2020-12-21 23:40] AndreiMisiukevich commented on #354
Can you build a sample?

[2020-12-22 00:00] grounch commented on #354
With the Left and RightArrowControl from the plugin. I only override the position.
Unfortunately it's not a samplable app, but you can reproduce easily by creating a CarouselView with 2 Contentview, containing sliders, and trying this settings.

[2020-12-23 14:22] #354 closed

[2020-12-23 14:23] AndreiMisiukevich commented on #354
Fixed in a new version of nuget

[2020-12-23 17:26] grounch commented on #354
Awesome it's working well on both platforms now with the arrows, thanks for your quick response!

[2020-12-24 17:31] hamidish opened #363 "tapped item nested"
hi
i use nested i want to tapp item
how can do it?
i use  collectionview instead of main carouselview .
i want tapped items but  not worked
can u help me?

[2020-12-24 17:34] AndreiMisiukevich commented on #363
Hi, how about adding TapGestureRecognizer or TouchEffect from XamarinCommunityToolkit?

[2020-12-24 17:37] hamidish commented on #363
i use tapgesture for carouselview template but not worked.
and use selectionchange for collectionview not worked

[2020-12-24 20:33] AndreiMisiukevich commented on #363
Can you build a small sample?

[2020-12-25 18:54] hamidish commented on #363
<DataTemplate x:Key="NestedItemTemplate" >
            <AbsoluteLayout  Padding="0" IsClippedToBounds="True">
                <Frame  Margin="80"
                       VerticalOptions="Center"
                       Padding="0"
                       HasShadow="True"
                       CornerRadius="10"
                          AbsoluteLayout.LayoutFlags="All"
                       Absolute

[2020-12-25 18:56] hamidish commented on #363
and i get data all data dynamically

[2020-12-25 20:11] p0dgana opened #364 "Label in CardView"
I was wondering if it's possible to add label to the cardview below the image?
[code]

[2020-12-25 20:34] AndreiMisiukevich commented on #364
Hi, yes, it's possible. You can build any layout you wish.
Just use StackLayout. I don't know how exactly do you want to place the views, but something like this will work.

[code]

[2020-12-25 20:34] #364 closed

[2020-12-25 20:36] AndreiMisiukevich commented on #363
That's why I asked to build a sample (A small project that I can run and see the problem)

[2020-12-25 21:00] p0dgana commented on #364
Thank you!

[2020-12-26 06:06] hamidish commented on #363
ok

[2020-12-26 06:41] hamidish commented on #363
[https://file.io/rwtnBsYp3T2n](url)

[2020-12-26 06:41] hamidish commented on #363
https://file.io/rwtnBsYp3T2n

[2020-12-26 10:44] p0dgana opened #365 "Is it possible to add an clicked/selected event?"
Is it possible to make it so user can click on the card?  I want to make it so it will open a different page...
[code]

[2020-12-27 13:57] p0dgana opened #366 "How can I reduce the space between the cards in CoverFlowView?"
Is it possible to reduce the space that is between the cards?

[2020-12-27 22:37] AndreiMisiukevich commented on #366
Hi, you should play with Margin of your template view and PositionShiftValue of CoverFlowView

![image](https://user-images.githubusercontent.com/10124814/103181018-2ad3d580-48ad-11eb-8ffd-c9221d1650c8.png)

[2020-12-27 22:40] AndreiMisiukevich commented on #366
e.g if Margin is "80, 0" it means that all cards have 80 points margin from Left & Right.
So 80 + 80 = 160 (Space that is among all cards is 160 points)
We set PositionShiftValue = 145 (It means that we shift side cards 145 points to the main view)

160 - 145 = 15. So the actual spacing is 15 now.

So, if you wish to reduce the spacing, you should increase PositionShiftValue (e.g. 155)

[2020-12-27 22:40] #366 closed

[2020-12-27 22:43] AndreiMisiukevich commented on #365
Hello, just add TapGestureRecognizer to Frame :)

[2020-12-27 22:43] #365 closed

[2020-12-27 23:03] AndreiMisiukevich commented on #363
Just move TapGestureRecognizer to NestedItemTemplate

Every item will handle taps (the same as the entire view handles taps)

![image](https://user-images.githubusercontent.com/10124814/103181298-c581e380-48b0-11eb-9cf3-1baa0c11e2c0.png)

[2020-12-27 23:03] #363 closed

[2020-12-28 12:43] hamidish commented on #363
thx so much

[2020-12-31 08:09] dirkzp opened #367 "Different Indicator position on IOS / Android devices"
Hello,

We are using the plugin to show images f the same size / dimensions on a Content Page. The Indicators should be at the bottom of the image or alternatively under the image. (Bottom of the image is implemented).

We see on our devices that on IOS the Indicators are under the image and on Android devices it is inside the image. Is it a bug or a wrong implementation? Thanks.

IOS View:
<img w

[2021-01-01 23:22] AndreiMisiukevich commented on #367
Hello, I don't think it's a bug
Probably images on android and iOS take different space sizes.

[2021-01-01 23:24] AndreiMisiukevich commented on #367
Indicators are exactly at that place where you put them)

It seems that Image doesn't expand to take all available card's space

[2021-01-04 01:36] AndreiMisiukevich commented on #367
Replace images with colored BoxViews and check if positions are different indeed.

[2021-01-05 08:00] #367 closed

[2021-01-06 01:49] AndreiMisiukevich commented on #326
v.2.7.0

[2021-01-06 01:49] #326 closed

[2021-01-06 16:33] AndreiMisiukevich opened #368 "CoverFlowView cards positions"
1) We should avoid forcing users to set Margins to item template cards
2) We should be able to have different margins from left and right elements (AbsolueLayout bounds OR different margins)

[2021-01-17 22:20] grounch opened #369 "TapGestureRecognizer Tapped create a build error"
Hi just noticed an issue with tapgestures.
If i want to assign an event handler to tapped event of tapgesture on an element nested in a CarouselView, it gives the following error at build:

Error: Common Language Runtime detected an invalid program

[code]

Works well with the Command="..." property to bind a command from the viewmodel, but i need to use an eventhandler in the view's .cs .

[2021-01-18 13:25] AndreiMisiukevich commented on #369
I propose you to bind TapGestureRecognizer.Command to your view's command.

[code]

Then in code-behind add TapCommand and handle click)

[2021-01-18 16:52] AndreiMisiukevich commented on #369
Feel free to ask more questions :)

[2021-01-18 16:52] #369 closed

[2021-02-06 17:30] grounch opened #370 "Compatibility with ReactiveUI bindings"
Hi

Not sure if it's really a bug of your plugin or a conflict with reactiveui.

I'm implementing design for an existing xamarin app using reactiveui.
The problem is to handle bindings. When this way of binding was working before

Code behind of xaml
[code]

it returns the error "Operation is not valid due to the current state of the object" once the slider is placed in a carouselview containing f

[2021-02-07 15:26] grounch commented on #370
I think it's definitely an init timing issue.
If i put this in the code behind:

[code]

and put breakpoints on them, the first one will be a Xamarin.Forms.Label, but the second will still be null and make he app crash.

[2021-02-08 03:06] AndreiMisiukevich commented on #370
Hi, and thank you for the interest in this project.

Does it work fine with Xamarin.Forms CarouselView?
I am pretty sure this bug is not related to this project.
That's more like your app's issue.

I can propose you to add views from the code behind

[2021-02-10 08:51] grounch commented on #370
Found same behavior with the original CarouselView, so yes it's not a bug of your project.

That's what i ended up doing, created different views with my elements instead of putting everything directly in the XAML of the CarouselView, then stored the views in an ObservableCollection & setting this collection as carousel.ItemsSource in code behind.
That way the reactui bindings are in each view's c

[2021-02-10 08:51] #370 closed

[2021-02-11 01:14] procyon97 opened #371 "nextViews and prevViews not returning proper values after the animation has ended in CardView"
nextViews and prevViews always ouput correct values during swipe (status is running), however the values I get after the swipe seem to be incorrect.
For example let's say there are 4 cards: A, B, C, D and A is the first card. And swipe is from A to B

During swipe:
[code]
Outputs:
[code]

So that's correct, however I'm running into a problem when I use this method after the swipe (status ending or

[2021-02-11 19:28] AndreiMisiukevich commented on #371
These properties are more for internal use.
And they show actual values only during interaction (because before interaction views can be absent).

CardsView doesn't create views for all items on start.
Also, CardsView reuses views created from DataDemplate.

So, yes. That's impossible to get the view before the movement started.

[2021-02-11 19:28] #371 closed

[2021-02-16 16:15] Jcook65 opened #372 "Carousel View sets selected index to 0 on init even though selected item is not index 0"
I am in a situation where I am trying to load a page with the `CarouselView` at the position that the user was in when they last left the page (or closed the application). I am doing this by binding the `SelectedItem` to the last selected item in the carousel's bound list. What is happening though is that the `CarouselView` always starts at index 0 regardless of what the `SelectedItem` is bound to

[2021-02-16 21:17] AndreiMisiukevich commented on #372
Hey @Jcook65 try next

1) Set IsAutoNavigatingAnimationEnabled = false
2) Set SelectedItems
3) Set IsAutoNavigatingAnimationEnabled = true

[2021-02-18 23:18] AndreiMisiukevich commented on #372
@Jcook65 did it help?

[2021-02-19 03:30] Jcook65 commented on #372
hey @AndreiMisiukevich, sorry for the delayed response. I actually ended up just converting the selected item to and index and binding to the SelectedIndex instead of the SelectedItem and it works fine now. I haven't had the time to go back and try it the way you suggested here. I must've missed that property on the carousel but it sounds like it would help this situation. Thank you for the swift

[2021-03-09 13:44] InquisitorJax opened #373 "Bug with TemplateSelector on Android when switching Shell Tabs"
See attached repro project

![cardsview](https://user-images.githubusercontent.com/1822976/110479698-5d405100-80ee-11eb-8ee5-e36981d9139d.gif)

[CardsCarouselSample.zip](https://github.com/AndreiMisiukevich/CardView/files/6108849/CardsCarouselSample.zip)

[2021-03-10 23:10] AndreiMisiukevich commented on #373
v2.7.1

[2021-03-10 23:10] #373 closed

[2021-03-20 13:27] wadekarswati opened #374 "Getting error "the given key "xamarin.forms.xaml.elementNode" was not present in the dictionary""
Took latest CardsView nuget added in all projects.
Follwoed all steps.
In project added Coverflowview in content view. but getting below error -

the given key "xamarin.forms.xaml.elementNode" was not present in the dictionary
KeyNotFoundException is coming.

Xamarin.Forms - 5.0.0
CardsView - 2.7.1

[2021-03-20 23:44] AndreiMisiukevich commented on #374
Hey @wadekarswati could you please build a sample app and add a stack trace of the exception.
I have never seen anything like this before.

[2021-03-22 23:41] AndreiMisiukevich commented on #374
CC @wadekarswati )

[2021-03-25 00:47] AndreiMisiukevich commented on #374
Feel free to reopen this issue if you have a reproduction sample)

[2021-03-25 00:47] #374 closed

[2021-03-30 23:35] AndreiMisiukevich commented on #372
@InquisitorJax I guess it happens because SelectedItem/SelectedIndex binding is performed before ItemsSource binding.

[2021-03-30 23:40] AndreiMisiukevich commented on #372
hmm, or maybe even vice versa (because index binding performed earlier)

[2021-03-30 23:57] AndreiMisiukevich commented on #372
@InquisitorJax try to reorder bindings in your xaml.

Or even try to bind ItemsSource in xaml and SelectedIndex in code-behind

[2021-03-31 00:00] AndreiMisiukevich commented on #372
@InquisitorJax I think we should open a new ticket for this problem, cuz this one is related to SelectedItem.

Unfortunately, SelectedItem cannot be used for setting initial value (because it just sets selected index)

[code]

And if ItemsSource is not set before the selected item, then it will be reset to null.

[2021-03-31 00:00] #372 closed

[2021-03-31 00:10] AndreiMisiukevich commented on #372
@InquisitorJax maybe you can create a new issue and attach a sample?
Or maybe you have a chance to debug the lib on your main project to see why it resets to 0?

[2021-03-31 00:13] AndreiMisiukevich commented on #372
Also, it can happen if you use "null" items or items with the same value (e.g. items are integers or strings with the same value)

[2021-03-31 00:14] AndreiMisiukevich commented on #372
Also, it can happen if you set SelectedIndex (e.g. to 3), bind ItemsSource to ObservableCollection (empty). And start to add elements one by one after that.

[2021-03-31 06:58] InquisitorJax commented on #372
I'll open a new ticket, thanks Andrei. So we bind ItemSource to generic List<T>, and Selected Index.
Attaching the project ot debug is a good idea - I'll try that, and report what I find.

[2021-03-31 07:00] InquisitorJax opened #375 "Setting the ItemSource collection resets the SelectedIndex to 0"
Similar to https://github.com/AndreiMisiukevich/CardView/issues/372

We bind ItemSource to List<T>, and SelectedIndex to a view model property.
When the view model loads, the user could request a pre-selected item, so we set the bound SelectedIndex property on the View Model to 3 (for example)
However, when we set the bound collection to a collection of T, The SetItemSource call stack eventually c

[2021-03-31 08:07] InquisitorJax commented on #375
@AndreiMisiukevich good news - not a bug :)
It turns out the CardsView never got notified of the SelectedIndex value change, because the view model was not setting that property on the UI thread.
Hence why it sometimes worked, and sometimes not, depending on if that code was running on the UI thread or not.

[2021-03-31 08:07] #375 closed

[2021-04-01 08:58] InquisitorJax opened #376 "Templates remain in cache"
reloading the collection where data template should be different still loads an old data template.
What's interesting is that it seems to only happen if the CollectionView hosting the template is scrolled.
![carousels](https://user-images.githubusercontent.com/1822976/113269567-dfc8c480-92d8-11eb-9e2c-c580e3e25a25.gif)
[CardsCarouselSample.zip](https://github.com/AndreiMisiukevich/CardView/files/6

[2021-04-01 11:46] InquisitorJax commented on #376
The problem is compounded when setting IsAutoNavigatingAnimationEnabled="False":
![carousels2](https://user-images.githubusercontent.com/1822976/113289501-971d0580-92f0-11eb-9efd-ce1b86e2fbb7.gif)

[2021-04-01 23:58] AndreiMisiukevich commented on #376
Seems I cannot reproduce it on iOS. Can you?

[2021-04-03 01:12] AndreiMisiukevich commented on #376
Wow, it was a hard time debugging this issue.

[2021-04-03 01:21] AndreiMisiukevich commented on #376
v2.7.2

[2021-04-03 01:21] #376 closed

[2021-04-03 01:29] AndreiMisiukevich commented on #329
Hey @stanbav this issue should be fixed ;)

[2021-04-08 06:44] rheesbeen opened #377 "Animation for card leaving the screen is in the wrong direction on UWP."
When you move to the left (you go from say position 10 to 9) the animation for the card that is leaving animates/slides to the right. Expected behaviour is that it should animate/slide to the left.

Thnx for your time and please let me know how/when i can help.

[2021-04-08 06:47] rheesbeen opened #378 "When making the window bigger on UWP, you see the card on the right side."
When you make the window bigger on UWP. The card outside the window becomes visible.
Expected behaviour is that it shouldn't become visible.

Thnx for your time and please let me know how i can help.

[2021-04-08 20:50] AndreiMisiukevich commented on #377
@rheesbeen hi. I am not sure I understood the problem.
Can you please record a video and attach the sample to show what is the issue?

[2021-04-08 20:52] AndreiMisiukevich commented on #378
@rheesbeen do you see the card only during resizing (and once you end resizing it disappears again). Or it is still visible after the end of resizing.

[2021-04-09 07:13] rheesbeen commented on #378
It is still visible after the resize. It will rectify when you scroll a little or select a other page.
I just saw that sometimes the item on the left side moves in during resize.

![resize-right](https://user-images.githubusercontent.com/34963849/114142983-db715c80-9913-11eb-833d-8698de68c813.png)
![resize-left](https://user-images.githubusercontent.com/34963849/114142991-ddd3b680-9913-11eb-9c54-6

[2021-04-09 07:42] rheesbeen commented on #377
Here is the requested recording. Hopes this helps, if not let me know what I can do.

https://user-images.githubusercontent.com/34963849/114146473-e8904a80-9917-11eb-82cb-8d88432d3fa1.mp4

[2021-04-09 14:15] AndreiMisiukevich commented on #377
@rheesbeen can you build a small sample app (And can you reproduce the same on Android or iOS, I guess you should be, cuz they use the same code base).

It's a weird behavior I have never seen before (cuz direction is determined based on two indices - Old and New)

Maybe, the problem is with your bottom "navigator"... So, I need a simple sample app that I can debug on Android or iOS (I believe the

[2021-04-09 14:16] AndreiMisiukevich commented on #377
Basically, you can add IndicatorsControl to your carousel view. Then try to click indicators (they are clickable) and see if the issue exists.

[2021-04-09 14:17] AndreiMisiukevich commented on #378
interesting.

[2021-04-09 14:20] AndreiMisiukevich commented on #378
Can you override the OnSizeChanged (OnSizeAllocated) of your page that you resize?

And perform a call there

```carousel.ForceRedrawViews();```

[2021-04-09 14:28] AndreiMisiukevich commented on #378
Or even better, subclass the carouselView and override the method.

[code]

[2021-04-09 16:19] rheesbeen commented on #377
I will try it on Android and with your Indicatorcontro, but the navigator only changes the selectedindex (It also works with the xamarin forms carousel). I will let you know a.s.a.p.

[2021-04-09 16:27] rheesbeen commented on #378
Overriding the OnSizeAllocated does the trick. Did not try the subclass option, do you want me to try that also?

[2021-04-10 23:55] AndreiMisiukevich commented on #378
yes please

[2021-04-10 23:55] AndreiMisiukevich commented on #378
how does overridden method look like?

[2021-04-12 00:38] AndreiMisiukevich commented on #378
try 2.7.3

[2021-04-12 00:38] #378 closed

[2021-04-12 00:38] AndreiMisiukevich commented on #377
try 2.7.3

[2021-04-12 00:38] #377 closed

[2021-04-12 05:59] rheesbeen commented on #377
YES! That fixes the issue. Thanks for your time.

[2021-04-12 06:01] rheesbeen commented on #378
Yes! That resolved the issue. Thanks for your time,

[2021-04-12 08:43] IeuanWalker opened #379 "When swipping back on iOS the menu page opens up"
Is there a way to prevent the menu page from opening up on iOS when swiping back

[2021-04-12 14:24] InquisitorJax opened #380 "UI doesn't update when setting SelectedIndex binding mode to OneWay"
When setting SelectedIndex property binding mode to OneWay, the Carousel doesn't update it's position when the ViewModel property is set to a different value.
One Way Binding:
![OneWay](https://user-images.githubusercontent.com/1822976/114410331-9404fd80-9bab-11eb-8b21-2488a82057be.gif)

TwoWay Binding (default):
![TwoWay](https://user-images.githubusercontent.com/1822976/114410709-dfb7a700-9bab-1

[2021-04-12 22:06] AndreiMisiukevich commented on #379
Hi @IeuanWalker
What menu page do you mean?

[2021-04-13 00:22] AndreiMisiukevich commented on #380
Hey @InquisitorJax after investigation I realized that it's is not supposed to be workin in non TwoWay binding mode.
Because of SelectedIndex is set by CardsView what causes clearing your binding (cuz it's not TwoWay).

[2021-04-13 00:34] AndreiMisiukevich commented on #380
if you wish, I can expose additional command property NavigateToCommand + NavigateTo method (so you will be able to call this command with desired index and that index will be set to SelectedIndex)

[2021-04-13 06:15] InquisitorJax commented on #380
Would the property change event that's fired for SelectedIndex not be the same as a request for NavigateTo?
I could probably work around the issue by not updating other bindings when SelectedIndex property changes - I'll give that a try.
I think there'll be an expectation for SelectedIndex to work in both Binding Modes - if that's really not possible, you should probably mention something about th

[2021-04-13 08:20] IeuanWalker commented on #379
the master-detail/ flyout page

[2021-04-13 12:25] InquisitorJax commented on #380
Just leaving the explanation here:
TwoWay binding wasn't working, because on Android CarouselView would set SelectedIndex halfway through the swipe animation.
We were setting a SelectedItem property in the setter of SelectedIndex ViewModel property - which other UI elements are bound to. This was causing the swipe animation not to be smooth as the other UI updates would take up CPU cycles on the U

[2021-04-13 12:25] #380 closed

[2021-04-13 13:43] AndreiMisiukevich commented on #380
@InquisitorJax thanks for posting that :)

[2021-04-13 22:48] AndreiMisiukevich commented on #379
@IeuanWalker does it work fine on Android?

[2021-04-13 22:51] AndreiMisiukevich commented on #379
@IeuanWalker I cannot reproduce it with "MasterDetailPage"
Do you use Shell Flyout insted?
Can you build a small sample?

[2021-04-13 23:03] AndreiMisiukevich commented on #379
```if (parent is MasterDetailPage && (Element?.IsHorizontalOrientation ?? false))```
Probably we just need to add FlyoutItem check in iOS renderer, but I do prefer to see reproduction before committing. Cuz as I said, I cannot reproduce it on old MasterDetailPage

[2021-04-14 15:33] IeuanWalker commented on #379
@AndreiMisiukevic Android seems fine.

Here is a repo (slimmed down version of our app) -
[Repo.zip](https://github.com/AndreiMisiukevich/CardView/files/6311903/Repo.zip)

Also, I couldn't find any docs to show how you could change the display index from the code behind. There are 2 arrows on that page, that when clicked should go to the next/ previous year.

[2021-04-14 20:10] AndreiMisiukevich commented on #379
Bind SelectedIndex to ViewModel's property and change it to desired value. Don't forget to trigger PropertyChanged event.

[2021-04-14 22:57] AndreiMisiukevich commented on #379
v.2.7.4

[2021-04-14 22:57] #379 closed

[2021-04-19 08:38] IeuanWalker commented on #379
Thanks, works like a charm :)

[2021-04-20 11:48] InquisitorJax opened #382 "[iOS] OppositePanDirectionDisablingThreshold has adverse effect on swipe performance + missing template"
Test Device: iPad 5th Gen.

related issue?
https://github.com/AndreiMisiukevich/CardView/issues/328

When an item in the CarouselView as scrollable content:
- works great on android (no horizontal scrolling happens when swiping the list)
- iOS: when swiping the list, horizontal scrolling is also activated, and accidental swipes to the next CarouselItem can happen
- tried implementing OppositePanDi

[2021-04-26 02:51] AndreiMisiukevich commented on #382
Updated code)
v.2.7.6

[2021-04-26 02:51] #382 closed

[2021-04-26 14:12] LegendaryB opened #384 "Having the indicators control external and not in CarouselView body"
Hey,

any way possible to move the indicators control outside of the carousel view body?
Already tried with setting itemssource manually but then the current position is not shown.

[2021-04-26 14:23] LegendaryB commented on #384
Can be closed. My workaround is to give the CarouselView a x:Name.
After that I use the IndicatorsControl like this:
[code]

[2021-04-26 14:30] #384 closed

[2021-04-26 22:44] AndreiMisiukevich commented on #384
Or
[code]

[2021-04-27 15:38] IeuanWalker opened #385 "Screen reader issues"
Hi,

The screen reader on iOS _(haven't tested android)_ doesn't stay on the current slide and starts readying stuff from the other slides.

Attached is a vid of what is happening.
https://user-images.githubusercontent.com/6544051/116270371-ed0d8d80-a776-11eb-8d5f-49f18d4f213e.MOV

[2021-04-27 20:48] AndreiMisiukevich commented on #385
Hey, I don't know how to help with that. This is a very tricky.

You can try to set IsEnabled to False for none selected views.

[2021-04-27 21:02] AndreiMisiukevich commented on #385
Or you even can make next/prev items invisible (don't forget to make them visible again before navigating)

[2021-04-27 21:41] AndreiMisiukevich commented on #385
Or this approach

[code]

it will help to remove unnecessary elements from the accessibility tree.

I mean make current view's elements accessible and make unaccessible all other elements

[2021-04-27 21:51] AndreiMisiukevich commented on #385
I propose next approach

1) In your data template view make all elements `IsInAccessibleTreeProperty = false`
2) Subscribe ItemDisappearing event and perform setting  `IsInAccessibleTreeProperty = false` to all elements as well (Work with CurrentView)
3) Subscribe ItemAppeared and perfor setting `IsInAccessibleTreeProperty = true` to all elements on CurrentView

if you wish, I can add a new event

[2021-04-27 23:16] AndreiMisiukevich commented on #385
I implemented something.
Please try 2.7.7

[2021-04-28 09:00] IeuanWalker commented on #385
@AndreiMisiukevich Your fix worked :D thanks so much

[2021-04-28 12:30] AndreiMisiukevich commented on #385
Then need to implement something similar for Android

[2021-04-28 12:33] AndreiMisiukevich commented on #385
Need to do the same, but set importantForAccessibility = no-hide-descendants

[2021-04-28 19:08] mergehez opened #386 "HtmlLabel in CarouselView"
The html is not loaded well when I swipe twice. The line breaks don't work.

[code]

[2021-04-28 22:30] mergehez commented on #386
I figured out that the problem is not CarouselView, it is HtmlLabel... If possible, please delete this issue...

[2021-04-28 22:30] #386 closed

[2021-04-28 23:49] AndreiMisiukevich commented on #385
Implemented for android in 2.7.8

[2021-04-28 23:49] #385 closed

[2021-04-29 07:39] IeuanWalker commented on #385
@AndreiMisiukevich Great thanks.

I haven't started looking at android accessibility atm.
But will let you know if there are any issues :)

[2021-05-16 19:15] BlueRaja opened #387 "Setting BackCardsDepth causes items to flash in and out"
Repro steps:
1. Have a list with a bunch of items (eg. 6). Use `IsCyclical="False"`
2. Set BackCardsDepth to a large number (eg. 10)
3. Create two buttons which increment/decrement `SelectedIndex`
4. Scroll to the end of the list, then scroll back to the start

Expected Results:
Nothing unusual

Actual results:
When you scroll back to the first item, the last item briefly (~250ms) flashes on the s

[2021-05-16 22:16] AndreiMisiukevich commented on #387
Hi, @BlueRaja thanks for your report.
Can I ask what's the purpose of setting ```BackCardsDepth``` to SO BIG value?

[2021-05-16 22:18] AndreiMisiukevich commented on #387
This property makes a sense for CoverFlowView only (for showing more than 1 element at the same time)

[2021-05-16 22:27] AndreiMisiukevich commented on #387
Anyway, that's not a bug. That's the limitation of Forms. XF can't render so many views at the same time, that's why some glitches appear.

If you want to forbid reusing views among different items while scrolling the carousel, then just set ```IsViewReusingEnabled``` to ```False```

And optionally set ```DesiredMaxChildrenCount``` to ```12``` for example

[2021-05-16 22:27] #387 closed

[2021-05-19 07:06] dzebas opened #388 "Calculating height of non visible item"
Hi,

I've a complex situation, will try to describe as much as I can, sorry for a long explanation.

I'm trying to build something similar to Gmail/Outlook email apps, so user can swipe between emails and also scroll up/down inside email. You'll notice in my XAML below that I use custom WebView renderer (to set WebView height same as contents) inside another ScrollView so everything can be scrolle

[2021-05-20 22:51] AndreiMisiukevich commented on #388
Hi,
Weird, if you scroll left/right all is good, but if up/down the issue appears?
I don't think I can do much w/out reproduction.

Maybe try to remove ```DesiredMaxChildrenCount="3"```
That's not what you think, I guess)

[2021-05-20 22:51] AndreiMisiukevich commented on #388
Also, change ItemSwiped="CarouselView_ItemAppeared" to ItemAppeared

[2021-05-20 23:09] dzebas commented on #388
Hi Andrei,

Yes, it's a weird problem. It also happens with Xamarin CarouselView. For some reason when you first swipe up/down on page 1, then layout is triggered on page 2 even if not visible yet. If you swipe left then page 2 gets visible a little and then layout height is calculated correctly.

Changing DesiredMaxChildrenCount didn't fix it. I completely understand that it's very hard to reprod

[2021-05-20 23:28] AndreiMisiukevich commented on #388
@dzebas hm, if the same issue exists on XF carousel, then it's not a CardsView bug. That's more WebView issue.

[2021-05-20 23:29] AndreiMisiukevich commented on #388
Try to switch CarouselView to CoverFlowView (just replace one view with another. That's it)

[2021-05-21 02:47] dzebas commented on #388
Thank you. Interesting, switching to CoverFlowView seems to be better, but still calculates heights incorrect in some cases, but this time too short. Also I get this strange zoom in/out bounce animation when you switch pages?

[2021-05-21 12:26] AndreiMisiukevichEmobilitydv commented on #388
@dzebas it depends on how do you switch pages? if just swipes, then it should be regular animation, but if you select index from ViewModel with diff more than 1 (e.g. was 0, and you push 2), then bounce animation will be played

[2021-05-21 12:30] AndreiMisiukevich commented on #388
Yes, you probably switch indices from VM? For example set index = 2 when it was 0?

If yes, then it's expected

But yeah, I think I need the reproduction sample

Also, I propose to load the page not when the card is built, but when the card is appearing

[2021-05-22 03:24] dzebas commented on #388
It works this way:

1. In VM Prism's InitializeAsync is called and I retrieve data from the sever
2. Once I get email from server I set Html (bindable property of WebView as per my example in 1st post)
3. This triggers ItemAppeared (see my code in 1st post) so I retrieve second email and add it to ItemsSource
4. Then I manually swipe to second page (email) this again triggers ItemAppeared, so repe

[2021-05-22 10:03] AndreiMisiukevich commented on #388
@dzebas sorry, I don't think I can help much here w/out reproduction.
if this issue exists with other carousels then it's not related to CardsView. That's more about your approach to achieving your design goals.

It can be a WebView issue then.

Closing this issue as I can't help

[2021-05-22 10:03] #388 closed

[2021-05-25 14:14] IhorVolodko opened #389 "Обработка нажатия на вложенный элемент."
Добрый день. Столкнулся с проблемой обработки нажатия на вложенный элемент. Он содержит 2 кнопки с разными командами. На Android все работает замечательно, на  iOS Tap перехватывается.

[2021-05-25 16:34] AndreiMisiukevich commented on #389
Привет, можешь пожалуйста создать тестовый проект? Не совсем понимаю, что имеется в виду.
Спасибо

[2021-05-25 16:36] AndreiMisiukevich commented on #389
[code]

Как это выглядит в коде, можешь скинуть, пожалуйста? Лучше создай отдельный небольшой проектик)

Спасибо

[2021-05-25 19:26] IhorVolodko commented on #389
Здесь в ресурсах TemplateSelector, и CarouselView на странице. А так же прикрепил сам DataTemplate в виде ContentView

 <selectors:StartViewTemplateSelector.StartPageContentTemplate_4>
                    <DataTemplate>
                        <controls:StartPageContent_4/>
                    </DataTemplate>
                </selectors:StartViewTemplateSelector.StartPageContentTemplate_4>

carous

[2021-05-25 22:40] AndreiMisiukevich commented on #389
@IhorVolodko Окей, я вижу что у кнопок нет ни команд, ни обработчиков эвентов кликов. В таком случае, конечно, это не будет работать.

Именно поэтому я прошу создать отдельный Проект, который я смогу запустить и посмотреть.
Убери, пожалуйста, все лишнее, оставь только важные детали и приаттчь сюда zip архив

[2021-05-26 07:29] IhorVolodko commented on #389
Работает. Если нацепить GesrureRecognizer. не работает сама анимация нажатия кнопки на iOS

[2021-05-26 07:29] #389 closed

[2021-05-26 17:36] AndreiMisiukevich commented on #389
не совсем понял, а просто Button Command или Clicked не работает?

[2021-05-26 17:37] AndreiMisiukevich commented on #389
Можно тогда анимацию добавить с помощью TouchEffect из Xamarin Community Toolkit

https://andrei-misiukevich.medium.com/touch-effect-xamarin-forms-xamarin-community-toolkit-91fb6691f99e

[2021-05-26 18:38] IhorVolodko commented on #389
Я не заметил отсутствие рендера и а кастомный контрол, проблема оказалась в
этом. Дополнительно сбила отсутсвие анимации на кнопке

ср, 26 мая 2021 г. в 20:38, Andrei ***@***.***>:

[2021-06-01 12:49] yonkahlon commented on #387
Hi @AndreiMisiukevich,

I'm experiencing something similar - I'm using CarouselView, and when I set BackViewsDepth to 3 a different view flashes
when you change view.

![Animation](https://user-images.githubusercontent.com/13463301/120325879-648b8b00-c2e8-11eb-9a95-b7bf0c1a7a0d.gif)

In each view I'm basically just loading an image (using FFImageCache). Each image is hosted on our server and I use

[2021-06-01 22:07] AndreiMisiukevich commented on #387
@yonkahlon can I ask you what the reason you set this property to 3?

I guess I need to hide this property...

Well, just don't do it. You load too many views at the same time it causes bad performance.
If you need it for some reason, then replace CarouselView by CoverFlowView (btw it has 2 as the default value for this property).

But I don't see any reason to do it in your design.