[2018-01-30 08:22] 207713 opened #1 "[Request] Show card's "swipe animation" when position changed from code"
It would be awesome if the cards were animating when we change position from code, just like if a user swiped! :)

Thank you!

[2018-01-31 15:08] AndreiMisiukevich commented on #1
@207713
Validate this feature in the next release (1.2.5)
It will be available in 30-40 minutes on nuget (I've just published new version)

[2018-01-31 16:18] 207713 commented on #1
@AndreiMisiukevich I have just tested it, it works perfect!
Thank you for your fast work and your time!

[2018-01-31 18:49] #1 closed

[2018-01-31 18:49] AndreiMisiukevich commented on #1
I think, I can close this issue

[2018-02-09 21:27] AndreiMisiukevich opened #2 "Set up UWP project sample"
I'm working on Mac.. So, I can't test this pack on UWP.
Maybe, somebody want to help?
I will be grateful)

[2018-02-10 13:28] 207713 commented on #2
PR is done :)

[2018-02-10 13:30] AndreiMisiukevich commented on #2
@207713 thanks) I will validate it)

[2018-02-10 13:51] 207713 commented on #2
@AndreiMisiukevich i have just pushed the updated code :)

[2018-02-10 13:52] AndreiMisiukevich commented on #2
Merged https://github.com/AndreiMisiukevich/CardView/pull/3

[2018-02-10 13:52] #2 closed

[2018-02-10 13:53] AndreiMisiukevich commented on #2
@207713 Thanks a lot!)

[2018-02-11 08:50] K232 opened #4 "Updatable Carousel with lazy loading?"
Hi Andrei,
I have the following problem: I need a full-page carousel. It should contain dozens (or hundreds) of pages, so it should render the pages only when needed, not all at the start. Additionally each page has a button where a popup opens. On this popup, user could make changes (increase a counter) which should be updated on the current carousel page as soon as the user closes the tab.
I've

[2018-02-11 09:30] AndreiMisiukevich commented on #4
@K232 Hi Kai
I think, yes. Because my plugin has got cache for views and you are able to manage it!
If you want, i can add sample special for you :)

Could you explain, what issue exactly did you face with my plugin?

[2018-02-11 10:04] K232 commented on #4
Hi Andrei,
that sounds great! Unfortunately I deleted my tests yesterday as I tried so many plugins that I don't know exactly where the problem appeared :-( I've your plugin downloaded last thursday, but my tests are deleted. If you are able to do such a sample that would be awesome!

[2018-02-11 10:50] AndreiMisiukevich commented on #4
@K232 Kai, now you can look at samples. I've just added new one for 1000 views in carousel view (4th sample)

Also you can look at 2nd sample (With custom context)
It's sample for CardsView, but it's easy to setup it as carousel view. Just change CardsView to CarouselView. This sample shows, how you can manage prev/next/current views by yourself.

[2018-02-11 10:53] AndreiMisiukevich commented on #4
I sure, it's not a problem to show popup and change BindingContext of current card =)

[2018-02-11 11:53] AndreiMisiukevich commented on #4
@K232 Is it you need?

[2018-02-11 12:07] K232 commented on #4
Thanks a lot Andrei, I'm still testing so I did not give a feedback yet but it looks very cool! I'll contact you via email later on. Thanks a lot so far!!

[2018-02-11 12:09] AndreiMisiukevich commented on #4
@K232 You are welcome!
I'm glad to help you.

[2018-02-11 13:27] K232 commented on #4
I've now changed the content of the items to be in a scrollview instead of just a label. While everything works fine in iOS, the carousel effect on Android is gone... I could scroll up down, but not left right anymore...?
This is what I've changed in GetCardItem:
[code]

[2018-02-11 14:41] AndreiMisiukevich commented on #4
@K232 Ok, I see.
ScrollView steals touch events from superview..

So, it need to create custom renderer for scrollview and try to resolve touches..

[2018-02-11 15:27] AndreiMisiukevich commented on #4
@K232
I'm able to create ability for workaround, if you want.

You will have to set IsEnabled = false in ScrollView and CarouselView will scroll content.
But it doesn't look like native scroll animation.

What do you think?

[2018-02-11 15:49] AndreiMisiukevich commented on #4
@K232 Validate it now, i've just implemented this workaround
I can pack new version, if you need :)

[2018-02-11 15:53] K232 commented on #4
Great! Yes, if you do a new version i'll wait for it. I fear to forget something somewhere ... ;-)

[2018-02-11 15:55] AndreiMisiukevich commented on #4
@K232
Don't forget to star this repository haha xD

So, Can I create new pack, or you want to test it much more time?

[2018-02-11 16:04] AndreiMisiukevich commented on #4
@K232 1.2.8 version will be available on nuget in about 10 minutes, i've just pushed it

[2018-02-12 09:03] #4 closed

[2018-02-21 02:33] grantwardle opened #5 "View indicator"
Is there anyway to add a view indicator to this to see what page you're on?
I can't find any code for it however all other views have them included

[2018-02-21 08:31] AndreiMisiukevich commented on #5
@grantwardle Hi
I thought that it was redundant feature, because everybody are able to add it himself
Because there are a lot of types of indicator (circle, square, some image... etc.)

But if you want, I can implement it =) It will be circles only

[2018-02-21 09:11] grantwardle commented on #5
Circles are perfect, I can’t find any implementation fit them any where.

Grant Wardle
Chief Executive Officer
Newcastle-Under-Lyme • Staffordshire, United Kingdom
AWSCO
  +44 78273 44868
  +44 74022 77106
  grantwardle@awsco.co.uk
  www.awsco.co.uk

[2018-02-21 11:00] AndreiMisiukevich commented on #5
@grantwardle Okay) I see
I will implement it soon, i hope. Then I contact you for getting feedback

Thanks for your reaction!

[2018-02-21 11:39] grantwardle commented on #5
That’s great!

Thank you very much

Grant Wardle
Chief Executive Officer
Newcastle-Under-Lyme • Staffordshire, United Kingdom
AWSCO
  +44 78273 44868
  +44 74022 77106
  grantwardle@awsco.co.uk
  www.awsco.co.uk

[2018-02-22 15:17] VadyaVL opened #6 "Very slow and infinite cycle. Use it in xaml"
Hello. I'm using a not very complicated template. However, your component is running slowly with it.
I would like to see the possibility of easy use in xaml (without CardViewItemFactory, use DataTemplate).
Also, when we initialize an empty list, we have an infinite loop (see CardsView.cs line 1066).
if index = 0 and _itemsCount = 0
0 >= 0
0 -= 0
........ infinite

[2018-02-22 15:35] AndreiMisiukevich commented on #6
As for first remark.. DataTemplate just creates Views, with this, we will lose ability to cache views

As for second - I will check it

[2018-02-23 00:34] AndreiMisiukevich commented on #6
@VadyaVL haha) it's my bad, that I haven't implemented view creator via DataTemplate)
I overthought in this case, but you opened my eyes)

Thanks!

[2018-02-23 00:45] AndreiMisiukevich commented on #6
Check 1.2.9 version pls

[2018-02-23 16:42] AndreiMisiukevich commented on #6
@VadyaVL Have you checked it yet?)

[2018-02-23 17:06] AndreiMisiukevich commented on #5
@grantwardle Hi)
I will push new version soon) You can check sample now, there is an update by your issue :)

[2018-02-23 17:14] grantwardle commented on #5
Thank you very much!

Grant Wardle
Chief Executive Officer
Newcastle-Under-Lyme • Staffordshire, United Kingdom
AWSCO
  +44 78273 44868
  +44 74022 77106
  grantwardle@awsco.co.uk
  www.awsco.co.uk

[2018-02-25 23:09] #6 closed

[2018-02-25 23:14] AndreiMisiukevich commented on #6
@VadyaVL if you like this package, please, set star on this repository) I will be grateful!

[2018-02-25 23:14] AndreiMisiukevich commented on #5
@grantwardle
I updated package. Check version 1.3.0) Also look through [Readme](https://github.com/AndreiMisiukevich/CardView/blob/master/README.md)

if you like this package, please, set star on this repository) I will be grateful!

[2018-02-25 23:14] #5 closed

[2018-02-26 11:43] VadyaVL opened #7 "Trouble with ScrollView, ListView"
Hello.
When I use CarouselView with ScrollView, it not swiped. Swipe event on CarouselView blocked by Swipe event ScrollView.
Сan i get around it?
Thank.

[2018-02-26 11:54] AndreiMisiukevich commented on #7
Hi
Check this conversation https://github.com/AndreiMisiukevich/CardView/issues/4
And this sample https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleStressView.cs

.. you will have to control max and min "scroll" position..

Maybe you have any ideas, how we can avoid this?
It would be awesome, if you get me any advices or make PR =)

T

[2018-02-26 12:00] AndreiMisiukevich commented on #7
Does not TapGesture work in scrollView or at all?

[2018-02-26 12:14] VadyaVL commented on #7
I will think about how it can be done.
ScrollView, ListView, or TapGesture prevent Swipe.

When using Xamarin.Forms.CarouselView, the event spread to it.

Thanks. There will be ideas - I will report.

[2018-02-26 12:18] AndreiMisiukevich commented on #7
@VadyaVL Is it only Android issue?
I think, it can be fixed via renderer.. but I don't know how.. for now

Thanks

[2018-02-26 12:29] AndreiMisiukevich commented on #7
iOS is OK..

[2018-02-26 12:30] AndreiMisiukevich commented on #7
I think, it can be fixed in future releases of Xamarin.Forms..

[2018-03-03 12:07] AndreiMisiukevich commented on #7
I created issue on XF project

https://github.com/xamarin/Xamarin.Forms/issues/1977

[2018-03-06 06:14] gtgatsby opened #8 "BindingContext caching broken"
There seems to be a problem with the way the views are being cached.

1. In your DataTemplate, let's have two buttons, with their Backgrounds bound.
2. Update button 1 to have a background of Red.
3. Go to next carousel page, then back to the first page. No problems.
4. No update button 2 to have a red background, and button 1 to have a grey background.
5. Go to next carousel page and back again.

[2018-03-06 07:49] AndreiMisiukevich commented on #8
@gtgatsby thanks for your feedback, colleague!
Yes, you are right.. I made this package for MVVM pattern. I decided, that everybody would use bindings..

But, I think, It's high time to add solution to disable caching! :)

I can add IsCachedEnabled property, what do you think?

[2018-03-06 07:55] AndreiMisiukevich commented on #8
@gtgatsby, You DON'T use bindings for managing colors of these buttons, do you?
Or Did I understand you incorrectly?

[2018-03-06 10:48] AndreiMisiukevich commented on #8
@gtgatsby, hm.. it must be, you use bindings, but they don't work..
It would be awesome, if you send me zip-archive with full reproduction!
Sometimes bindings don't trigger if bindingContext changing NOT in UI thread..

[2018-03-07 11:27] AndreiMisiukevich commented on #8
@gtgatsby could you please provide me a sample with reproduction?

[2018-03-08 00:26] AndreiMisiukevich commented on #7
Hi, I've just pushed new version 1.3.3
It should work ok with scrollers and tapgestures inside card

[2018-03-08 00:27] AndreiMisiukevich commented on #7
@VadyaVL

Reopen please this issue, if problem still occurs

[2018-03-11 21:31] AndreiMisiukevich commented on #7
@VadyaVL
https://www.nuget.org/packages/CardsView/1.3.4

should be fixed

[2018-03-13 03:14] gtgatsby commented on #8
Hi, sorry - will try to put together a sample project. But yes, I use a ViewModel setup with Bindings. Thanks for the quick workaround!

[2018-03-16 17:16] Nixon-Joseph opened #9 "System.NullReferenceException: Object reference not set to an instance of an object."
Getting a null reference exception when trying to initialize the carousel view. I don't have a lot of info, because I can't track down the source of the exception, and no amount of try-catches have been able to narrow it down.

I'm trying to use your carousel, because the only other decent option has stopped support, and is giving me too much grief.

My code for initializing the carousel is:

[cod

[2018-03-16 17:22] AndreiMisiukevich commented on #9
Hi
Thanks for feedback
Could you please change ViewCell yo ContentView and try it ?

I will investigate this problem little bit later

[2018-03-16 18:13] Nixon-Joseph commented on #9
ContentView worked! thanks.

[2018-03-16 22:07] Nixon-Joseph commented on #9
Let me know if you want me to open a new issue or not. But I've found that (in android) swiping between images can be finicky. Sometimes the image will stick slightly off to the side, sometimes it won't detect the swipe at all.
I haven't tested as extensively in ios, but my initial impression is it works a little better.

This plugin is great though. Excellent work.

I might ask for one addon thou

[2018-03-16 22:55] AndreiMisiukevich commented on #9
Yes, please. Creating separate issue would be awesome.

I think, you can close this, because this plugin supports only views as card items.. viewcell doesn't match t

[2018-03-16 22:56] AndreiMisiukevich commented on #9
Sorry.. i'm writtinf from my mobile phone...
I just want to say, that viewcell isn't view.. it extends from visualelement directly

[2018-03-16 22:59] AndreiMisiukevich commented on #9
But as for detecting swipe, try to set InCourse property to false

[2018-03-16 23:01] AndreiMisiukevich commented on #9
By the way, you can add tap or click by youself)
Just add tapgesture to your card item (check sample)

[2018-03-17 13:12] #9 closed

[2018-03-19 09:52] AndreiMisiukevich commented on #9
@Nixon-Joseph Where did you go?(

[2018-03-19 13:05] Nixon-Joseph commented on #9
Sorry, it was my weekend, and this is a work project. I ViewCell not being a view makes a lot of sense, I'll keep that in mind. I guess I was thinking of it as a ListView.

I'll try the InCourse property today and see if that helps. And I did add a tap event myself, it's not a huge thing, just thought it would be nice to have built in :)

The last carousel I used was intercepting all input, I coul

[2018-03-19 14:24] Nixon-Joseph opened #10 "Swiping issues in Android"
On android only (so far as I've been able to see). swiping seems to fail sometimes. In testing, I've found that if I do large fast swipes, the image will move over a little, and then stick. If I do large slow swipes, it does a little better, but still doesn't move to the next image. The only consistent way to swipe over is a small quick swipe, maybe half an inch or so (5.5" display).

Andrei sugge

[2018-03-19 21:19] AndreiMisiukevich commented on #10
@Nixon-Joseph
One question. Will it work OK, if you use simple contentview? without image at all.

I think, it can be issue of Xamarin's Image realization.. Could you test it pls?
And if it will be OK, i suggest you to install FFImageLoading.. But firstly test it) I will be grateful!

Thanks a lot for feedback, you help me to make it better!)

[2018-03-19 22:07] Nixon-Joseph commented on #10
@AndreiMisiukevich I will try using a contentView without an image tomorrow.

And I'm using FFImageLoading, it's amazing, speeds everything up. My `ClickableCachedImages` extends `CachedImage` from FF.

[2018-03-19 22:32] AndreiMisiukevich commented on #10
check pls samples.. is it working better than yours?

[2018-03-23 11:50] AndreiMisiukevich commented on #10
@Nixon-Joseph Have you checked it yet?)

[2018-03-23 20:18] Nixon-Joseph commented on #10
Sorry, I don't think I'll be able to get to it until Monday. Will try to duplicate your sample code then.

[2018-03-24 22:39] AndreiMisiukevich commented on #10
@Nixon-Joseph you may clone my repo and just start sample solution.

[2018-03-27 19:19] Nixon-Joseph commented on #10
@AndreiMisiukevich I've cloned the repo, and tried it out. It seems far more stable than what is happening on my app.

I think I've narrowed down (somewhat) the inconsistency I'm seeing in my carousel. I looks like, if the swipe at any points stop being a full left or right swipe (like if I accidentally also move my finger up or down a certain amount) than it just freezes the images in mid swipe.

[2018-03-28 08:38] AndreiMisiukevich commented on #10
@Nixon-Joseph Thanks a lot!
I will dive into this issue and try to create a workaround.

[2018-03-28 17:50] AndreiMisiukevich commented on #10
@Nixon-Joseph check samples again..
But use ParentScrollView class instead of ScrollView.. Does it match your expectation?

[2018-03-28 18:19] Nixon-Joseph commented on #10
So it seems like it's just a custom renderer on ScrollView that disables the touch intercept if the touch is already working on something? That's a good approach, and that certainly solves the symptom.

Would it be possible to instead only block scrolling over CardsView if the carousel is *currently* being swiped (sideways)?

I don't like the UI block, as my carousel in my app is roughly half the

[2018-03-29 08:48] AndreiMisiukevich commented on #10
@Nixon-Joseph hmm, i tested on iOS simulator and got described behavior
"You aren't able to scroll over cardsview... and this scenario - _user could try to scroll, and get no feedback._"

Do you have another behavior for iOS?
So, can you scroll your ScrollView by swiping over CarouselView for iOS ?? It's strange.. because on simulator I cannot...

[2018-03-29 09:33] AndreiMisiukevich commented on #10
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/ParentScrollViewRenderer.cs

Looks into this class
Uncomment 24 line and comment 25 line - you will get behavior, which you want.. but it doesn't work on iOS =(

[2018-03-29 13:04] AndreiMisiukevich commented on #10
@Nixon-Joseph
check https://github.com/AndreiMisiukevich/CardView/blob/master/README.md
1.3.8 version should have fix for your issue.
Just use ParentScrollView instead of ScrollView

[2018-03-29 13:09] Nixon-Joseph commented on #10
Scrolling vertically on iOS over the carousel seems to work fine for me on emulator and phone. If it matters, my emulators and phone are running iOS 11.2. I'm on the latest xamarin forms and latest visual studio.

And thank you, I pulled your latest commit and the test app seems to be working exactly how I'd expect.

Great job!

I'll update the package on my main app and give it a go.

[2018-03-29 13:09] #10 closed

[2018-03-29 13:12] AndreiMisiukevich commented on #10
Nice) I will be grateful if you set star on this repo :)

[2018-03-29 13:17] Nixon-Joseph commented on #10
Seems to work exactly how it should. There is one little thing though. For some reason, when starting a vertical scroll from over the carousel, the image does a quick flicker almost every time. So far have only tested on an emulator, but will test on a real device momentarily.

iOS seems to be fine.

And it's been starred - never knew that was a thing before.

[2018-03-29 13:26] AndreiMisiukevich commented on #10
@Nixon-Joseph I'm glad to hear it)
Thanks for your feedback!

[2018-03-29 16:11] Nixon-Joseph opened #11 "Suggestion - not issue"
On the CarouselView
It would be nice if ItemTemplate was not required. In my case I have my app's checkout steps are in a carousel, and each page is a different ContentView.
I had to create an ItemTemplate for the carousel for it not to throw an exception.
If your control had a default ItemTemplate of something like:
[code]
Then it would just work by letting you set a list of views to the carousel

[2018-03-29 16:18] AndreiMisiukevich commented on #11
Hm.. Why don't you want to use DataTemplateSelector?.. https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/data-templates/selector
OR don't you want to use bindings at all ?

Because in this case, I think it would be right to use it..

[2018-03-29 16:22] AndreiMisiukevich commented on #11
If you have infinite count of your views, I suggest you to set IsViewCacheEnabled

[2018-03-29 16:33] AndreiMisiukevich commented on #11
@Nixon-Joseph if you want to contribute to this repo, firstly you should fork it, create new branch, then create PR from your repo to mine one =)

But, I can do it myself, as you want)

[2018-03-29 16:35] Nixon-Joseph commented on #11
Oh okay. I'll give that a go. I've made one other change too that I think is important. Give me a moment, and I'll try to get the pr to work.

[2018-03-29 16:45] AndreiMisiukevich commented on #11
PRs are good)) I like PRs xD

[2018-03-29 16:53] Nixon-Joseph commented on #11
Done! :)

[2018-03-29 16:53] #11 closed

[2018-03-30 14:09] AndreiMisiukevich opened #13 "[Documentation] Create full documentation of this plugin"
Something like this https://github.com/jamesmontemagno/SettingsPlugin/tree/master/docs

[2018-04-04 16:30] Nixon-Joseph opened #14 "CarouselView crashing app (sometimes OS) when swiping down in scrollview"
The app is crashing (sometimes causing OS reboot) when I'm scrolling from over the carouselView in Android (haven't tested iOS yet).

My hierarchy looks like this...

[code]

And the code behind does this:

[code]

GIF showing behavior:

![6ff8288a-f3c5-4f0d-9c7c-a1ecea70b4ed](https://user-images.githubusercontent.com/10250222/38320574-98c64198-37fa-11e8-89cd-b6bc4f784275.GIF)

On a related note,

[2018-04-04 16:32] Nixon-Joseph commented on #14
I'll work on getting a reproduction project when I get some time.

[2018-04-04 21:29] AndreiMisiukevich commented on #14
Hi.. I will investigate it..

[2018-04-05 12:29] AndreiMisiukevich commented on #14
@Nixon-Joseph I need reproduction project =(
Honestly speaking, I want to ask you.. Could you pls debug it?
I think, it can be OS/Device specific issue.. because I didn't reproduce it on my Xiomi Redmi 4 (Android 6.0)

[2018-04-05 12:55] Nixon-Joseph commented on #14
@AndreiMisiukevich Cool, thanks for looking. I'll see what I can do. Maybe it's just my emulators. I'll see what I can do.

[2018-04-05 12:59] AndreiMisiukevich commented on #14
@Nixon-Joseph hm, i think, you closed it in vain)
It's better to really resolve it :)

[2018-04-05 13:02] Nixon-Joseph commented on #14
I closed it so it's not just sitting there in your queue forever. I don't know when I'll have time to get to it.

[2018-04-05 13:07] AndreiMisiukevich commented on #14
I want to fix it very much)
I can't sleep if i know, that there are any bugs :)

Ok, let's set specific label "Can't reproduce"
If I catch it, I will reopen it.. Or reopen it yourself..) thx

[2018-04-05 13:29] AndreiMisiukevich commented on #14
I found another bug with it) And will fix it) thanks a lot)))

[2018-04-05 14:07] AndreiMisiukevich commented on #14
@Nixon-Joseph are you sure, that crashing is related to this plugin?

[2018-04-05 14:09] Nixon-Joseph commented on #14
Not 100%, but it only started after creating the carouselView on the page. I'll try again with Xamarin.Forms.Image instead of CachedImage, and see if that makes a difference.

[2018-04-05 16:08] AndreiMisiukevich commented on #14
@Nixon-Joseph I suggest to update cardsView up to 1.4.1 version and XF to latest stable one... maybe, it will help us to fix it) I hope..

[2018-04-05 16:15] Nixon-Joseph commented on #14
Will attempt to give it a try soon. Thanks.

[2018-04-05 18:36] Nixon-Joseph opened #15 "CarouselView.PositionChanging no longer being fired when manually setting CurrentIndex"
In version 1.4.0 and 1.4.1 I'm no longer getting any event on `CarouselView.PositionChanging` when manually setting the `CurrentIndex`. Is this intentional?

[2018-04-05 18:39] Nixon-Joseph commented on #15
Downgrading to 1.3.9 works. Will use it for now.

[2018-04-05 18:53] Nixon-Joseph commented on #15
Nevermind, not getting it on Android in 1.3.9... Just cleaned and rebuilt project, still not getting it. Not sure what's happening, but not certain it's the plugin. Trying some things.

[2018-04-05 19:01] Nixon-Joseph commented on #15
Was able to get around it by running the logic I need to manually whenever I update that index, so non-critical.

[2018-04-05 21:12] AndreiMisiukevich commented on #15
Hi
Yes, I did it intentionally.
Because I need to differentiate, whether it hand's changing or autonavigating..
So, I added two new categories

AutoNavigationStartedCommand
AutoNavigationStarted //event

AutoNavigationEndedCommand
AutoNavigationEnded //event

[2018-04-05 21:30] AndreiMisiukevich commented on #15
It's regarding to one plugin's feature..namely ability to manage prev/next/current card by hands..

Check this class **CardsSampleCustomView** in samples. As you can see, it hasn't got any Items collection. PrevContextProperty/NextContextProperty/CurrentContextProperty manage it.

So.. we need to know exactly if it was autonavigating or swipe gesture, because we need to know, if we should change c

[2018-04-05 22:06] Nixon-Joseph commented on #15
Sounds good to me, thanks!

So in your project, the term 'Auto Navigating' is just referring to the index being set manually in the code?

I had guessed that it meant there were some way to make it automatically start scrolling through the views on a timer.

[2018-04-05 22:17] AndreiMisiukevich commented on #15
So in your project, the term 'Auto Navigating' is just referring to the index being set manually in the code?

yes

[2018-04-06 08:26] AndreiMisiukevich commented on #15
So, if CurrentIndex changing from ViewModel, autonavigating will start (or just from code)
OR
If you use "Context Feature"... if you change CurrentContext from code too

[2018-04-06 09:15] AndreiMisiukevich commented on #15
I think, i can close this issue.

[2018-04-06 09:15] #15 closed

[2018-04-12 00:58] ldw9981 opened #16 "is it possible to override swipe ?"
i want to distinguish vertical swipe and horizontal swipe.
how can i make cardview worked only when absX is lager than absY  ?
and i want my app use  vertical swipe event.

i wrote code like this . this code work to swipe on UWP but it doesnt work to swipe on Andriod.

namespace PanCardViewSample.Views
{
    public class FlashCardsView : CardsView
    {
        double x, y;
        public FlashCar

[2018-04-12 08:39] AndreiMisiukevich commented on #16
Hi, thanks for feedback
So, you want to disable default animation and just handle swipes (vertical and horizontal), don't you?

[2018-04-12 08:42] AndreiMisiukevich commented on #16
Check this class https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/CardsViewRenderer.cs

Try to create your own renderer which will be extended from that one and write such code

[code]

[2018-04-13 05:54] ldw9981 commented on #16
i tried to understand cross platform swiping in this project and rewrite code.

`namespace PanCardViewSample.Views
{
    public class FlashCardsView : CardsView
    {
        double accX, accY;
        public FlashCardsView()
        {

        }

        protected override void OnTouchStarted()
        {
            accX = 0;
            accY = 0;
        }
        protected override void OnTouch

[2018-04-13 07:43] AndreiMisiukevich commented on #16
Thanks, I will look through this.

[2018-04-17 08:05] sorenverhagen opened #17 "Is it possible to preview next item?"
Is it possible to preview the next item, like in example underneath?

![previewitems](https://user-images.githubusercontent.com/4601061/38856423-bc06c2aa-4226-11e8-9be3-e286c92d7fd1.PNG)

[2018-04-17 13:44] AndreiMisiukevich commented on #17
Hi
Sorry, but now - there is no such possibility.
But I'm working on this..

[2018-04-18 06:36] sorenverhagen commented on #17
Thnx for your reponse! Looking forward to see this feature. :)

[2018-04-18 12:44] thedjnova opened #19 "ListView within CardView Card"
I have been working with CardView to produce a page system and found that having a ListView within a Card on Android has issues with the list items not being scrollable and also that Command binding on the ListView Items templates do not fire.

On iOS the problem does not exist, on further digging I found that the SelectedItemChanged also does not fire on Android.

Any ideas where I should look to

[2018-04-18 12:45] thedjnova commented on #19
Sidenote: This is within a SceneView, but I find this is also appearing within the base CardView.

[2018-04-18 12:49] AndreiMisiukevich commented on #19
@thedjnova Hi
SceneView hasn't been released yet..
I think, you meant CarouselView

So, for fixing this issue check readme (Workarounds section) https://github.com/AndreiMisiukevich/CardView/blob/master/README.md

[2018-04-18 12:54] thedjnova commented on #19
Thanks for such a quick response, I have been using the following class.

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/SceneView.cs

The ReadMe only covers the opposite situation of putting CardView inside a ScrollView/ListView, my issue is in attempting to do the opposite, a ListView inside CardView/SceneView.

Everything else works brilliantly apart from having to set th

[2018-04-18 12:56] AndreiMisiukevich commented on #19
Did you clone this repo? Because on Nuget (https://www.nuget.org/packages/CardsView) there are no such class (SceneView)

Could you pls provide your code?
I will check it later

[2018-04-18 12:57] AndreiMisiukevich commented on #19
And try pls CarouselView instead of SceneView. Deal?)

[2018-04-18 12:59] thedjnova commented on #19
Yes, I am running from your bleeding edge code, CardView wasn't enough for my use.

I will put together a demo of the issue now as can't share the entire codebase unfortunately.

[2018-04-18 13:06] AndreiMisiukevich commented on #19
There is a problem.. Because SceneView isn't stable now. It hasn't been released. And I cannot guarantee that it will work perfect.. Now it isn't working at all.

But send you demo) I appreciate it

[2018-04-18 13:56] thedjnova commented on #19
Here is a sample of the issue built using the NuGet version (Confirmation the issue exists deeper than SceneView, I love SceneView btw, very stable for my use case :)).

Running the iOS project will display 2 cards with ListViews, selecting a ListView Item will then throw an expected Exception.

Running the Android project will display the same 2 cards with the same ListViews, selecting a ListView

[2018-04-18 14:04] AndreiMisiukevich commented on #19
@thedjnova thanks
I will try to figure out what's the matter

[2018-04-18 14:12] thedjnova commented on #19
Further investigation shows that the command will be fired on the first Card before any swipes have been made.

If you have swiped to another page, then the command is not triggered.

[2018-04-18 15:29] AndreiMisiukevich commented on #19
I think, it can be Xamarin.Forms bug
Because, almost whole project's code is crossplatform...

[2018-04-18 15:41] thedjnova commented on #19
Agreed, I have a feeling its related to placing ListViews within ScrollViews.

There is apparently now support within Xamarin.Android that resolves this in API 21+, as mentioned here.

https://stackoverflow.com/questions/6210895/listview-inside-scrollview-is-not-scrolling-on-android/6211286#6211286

If it is a case of it being related then with some luck we may be able to get this fixed.

I will b

[2018-04-18 19:36] AndreiMisiukevich commented on #19
@thedjnova I noticed several strange moments in your sample
I will add demo project into my samples and try to debug it

[2018-04-18 20:11] AndreiMisiukevich commented on #19
@thedjnova tell me pls your goal)
What do you want to achieve?)

Several different cards with ONE binding context from parent?

[2018-04-18 20:48] AndreiMisiukevich commented on #19
@thedjnova I found the reason.
So, TextCell has bug..
Check the sample. I changed TextCell to ViewCell with label and it works.

[2018-04-19 07:58] thedjnova commented on #19
Yes I think its safe to say the issue isn't within CardView.

As for the BindingContext, I was only using the single context for the time being as I was trying out CardsView before tearing the original view model apart within my project.

End game will be to have a different context for each card, the way its meant to be :)

[2018-04-19 08:00] JTOne123 opened #20 "[Feature request] Clickable indicator dots (for desktop UWP especially)"
It would be nice to have the opportunity to switch to an adjacent slide by clicking on the indicator dot.

I guess it important for the desktops because don't convenient to swipe by a mouse cursor.

[2018-04-19 08:03] AndreiMisiukevich commented on #20
nice idea) It won't be difficult to implement this.

[2018-04-19 08:05] #19 closed

[2018-04-19 09:35] JTOne123 commented on #20
It's ok, normal click area for a cursor but on mobile, nobody will click on this indicators

[2018-04-19 09:40] AndreiMisiukevich commented on #20
@JTOne123 so, i think, we can close this issue
it will be available in the next release)

[2018-04-19 09:40] #20 closed

[2018-04-19 09:43] thedjnova opened #21 "Feature Request - Ability to set Front and Back Processors via property/xaml"
Would remove the need to setup control in code-behind.

Currently the only way to not need to place code for injecting processors is to sub-class CardsView/CarouselView and pass them into base().

Allowing the setup of processors from Xaml via static resources/bindings would make control much cleaner and MVVM'y.

Looks possible, but I will try it out to see.

[2018-04-19 09:44] JTOne123 commented on #20
thanks! good job!

[2018-04-19 09:52] AndreiMisiukevich commented on #21
hmm)
1) How do you want to create processors via xaml?) It's smth impossible, because they require animations.
2) You can pass any parameters to constructor via xaml (https://forums.xamarin.com/discussion/47886/xaml-setting-a-constructor-parameter)
3) It's not obligatory to pass processors (you can use default ones). But if you want to customize them, you can extend cardsView/carouselView controls

[2018-04-19 09:52] #21 closed

[2018-04-19 09:58] thedjnova commented on #21
This kind of system would remove the need for any extending or code behind?

`
<ContentPage>
<ContentPage.Resources>
        <ResourceDictionary>
            <selectors:BriefingCardSelector x:Key="CardSelector" />
            <processors:CustomFrontProcessor x:Key="FrontProcessor" />
            <processors:CustomBackProcessor x:Key="BackProcessor" />
        </ResourceDictionary>
    </ContentPag

[2018-04-19 10:00] AndreiMisiukevich commented on #21
Okay, but you can pass them as parameters https://forums.xamarin.com/discussion/47886/xaml-setting-a-constructor-parameter

[2018-04-19 10:41] thedjnova commented on #21
I agree that passing them as an argument works.

However from a performance stand point, being able to have processor instances in the Resource library, which are then reused throughout an application would be much better than having an instance created for every use of CardsView/CarouselView.

[2018-04-19 10:58] AndreiMisiukevich commented on #21
I don't see benefits)
1) You can pass them as parameters
2) You can extend base control and set processors by default instead of mine ones

[2018-04-23 15:34] Nixon-Joseph opened #22 "Issue with Samsung S7"
Hey, I'm currently using your `CarouselView` as a type of 'Wizard' for my app's checkout. It seems to work fine for the post part, except for on my co-worker's Samsung S7.

The issue is, there are several buttons/tap events inside each view in the carousel, but on his phone (and select emulators), it takes several taps for one to fire (still looking into it for further information).

I've gone dow

[2018-04-23 16:28] Nixon-Joseph commented on #22
I was actually able to get my `ScrollView` carousel working as I had hoped to, so this is no longer an issue for me. However it may be an issue still worth looking into.

[2018-04-23 17:43] AndreiMisiukevich commented on #22
Hi, Joseph
Thank you.
I will be glad, if you create repo for me.

I'm on vacation and i will be available for workin only at May 3rd.
As for preventing of creating views:
Do you use itemTemplate?
You can set views to items directly (create 4 views)

[2018-04-23 18:00] Nixon-Joseph commented on #22
Yes,

[code]

[2018-04-23 18:28] AndreiMisiukevich commented on #22
try to remove it

[2018-04-23 18:40] AndreiMisiukevich commented on #22
And I think, I should to add the property for providing this functionality
Maybe, IsSingleViewForContextEnabled.. (Or suggest, pls, your variant of name, because I'm not native speaker 😄 )

[2018-04-30 04:21] 4gDad opened #23 "CarouselView Not Found"
I am trying to implement the CarouselView in my app following the instructions outlined but I am getting this runtime error?  I am using the sample application as a reference.

{Xamarin.Forms.Xaml.XamlParseException: Position 29:22. Type cards:CarouselView not found in xmlns clr-namespace:PanCardView;assembly=PanCardView   at Xamarin.Forms.Xaml.CreateValuesVisitor.Visit (Xamarin.Forms.Xaml.Element

[2018-04-30 06:14] AndreiMisiukevich commented on #23
Hi, do you use nuget package?
Yes, that's because you didn't add reference to this control.

"cards"

[2018-04-30 15:41] 4gDad commented on #23
Thanks for responding.
Yes, I did use the nuget package.
My Nuget dependencies shows CardsView 1.4.1 and I added this namespace as part of my view .xaml
xmlns:cards="clr-namespace:PanCardView;assembly=PanCardView"

[2018-04-30 15:44] AndreiMisiukevich commented on #23
Hmm.. try to remove all bin and obj and packages

Restart VS , restore packages..
And maybe try to create control via code.

I think it can be something with VS..

[2018-04-30 16:01] 4gDad commented on #23
Do I need to add the PanView project as part  of my solution?

[2018-05-01 07:18] AndreiMisiukevich commented on #23
If you added nuget TO PCL/IOS/ANDROID/UWP, you needn't add project as part of solution.

[2018-05-01 17:42] cbwalther1 opened #24 "carouselView iOS IOrdinateHandler"
The custom scroll function for the ParentScrollView (HandleOrdinateValue) is performing incorrectly. It will go past the height of my outer scrollview.

[2018-05-01 17:54] cbwalther1 commented on #24
I got it to work by changing
`var newValue = ScrollY + _prevY - y`
to
`var newValue = - y`

[2018-05-01 17:54] #24 closed

[2018-05-01 17:56] AndreiMisiukevich commented on #24
Thanks for feedback)

[2018-05-04 06:33] AndreiMisiukevich commented on #23
Have you resolved it yet?

[2018-05-06 19:56] #23 closed

[2018-05-13 08:37] troyvnit opened #25 "Items source won't update"
Hi Andrei, currently, your CardView can't update Items collection if it's updated. Is it right? So, I have to dispose current CardView and create the other to init new Items collection.

[2018-05-13 09:35] AndreiMisiukevich commented on #25
Hi)
Share sample please
Because it must work

Which kind of collection do you use? You should use Observable Collection

[2018-05-13 18:10] Pomezny opened #26 "Problems with view when updating collection"
Hi,
I think there is some bug in View handling or caching. I have this situation:CarouselView with Items bound to ObservableCollection. In ItemTemplate there is simple Grid with Image and Label. I use Label.GestureRecognizer to remove current Item. When I remove item from ObservableCollection CurrentIndex is reset to 0, it can be easily workarounded by "holding" current index and then setting it b

[2018-05-13 20:28] AndreiMisiukevich commented on #26
Thanks for feedback
I will dive into the issue

But if you add sample, I will appreciate

[2018-05-13 23:58] Pomezny commented on #26
I managed to put together quick repo which should help reproducing (and hopefully solve) this issue. Issue is in my case present in linked repository. Testing was done on Samsung Galaxy S9 running Android 8.
Link to the repository https://github.com/Pomezny/CarouselViewIssue26Repro
Decription:
- Simple app with CarouselView on MainPage and log of actions done below. One remove button is in every I

[2018-05-14 07:01] AndreiMisiukevich commented on #26
I will investigate it ) tomorrow, maybe

[2018-05-14 07:02] AndreiMisiukevich commented on #25
https://github.com/AndreiMisiukevich/CardView/issues/26
Is it your case too ?

[2018-05-14 07:05] AndreiMisiukevich commented on #26
@Pomezny
Martin, one more question from me..

Does this bug occur on android only ? Or on iOS too? Or you haven't tested yet?

[2018-05-14 07:11] Pomezny commented on #26
@AndreiMisiukevich I will test reproduction repository in few hours on iOS and report back to you.

[2018-05-14 07:38] AndreiMisiukevich commented on #26
@Pomezny I've already tested it
Yes, this bug occurs on iOS too)

[2018-05-14 07:52] AndreiMisiukevich commented on #26
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L1084-L1110

This method is the reason of our "pain" ))
I need extra time for refactoring it, because it looks like invalid

[2018-05-14 09:02] troyvnit commented on #25
@AndreiMisiukevich Not really, but similar. My issue is if I create a button on the same page with CardsView and click it to update the ObservableCollection Items (Add 1 more, update or replace by other ObservableCollection), then the CardsView always keeps the origin ObservableCollection. For example, I use your sample (CardsSampleView) to add a ToolbarItem and SetBinding it to ItemsChangedComman

[2018-05-14 09:07] AndreiMisiukevich commented on #25
@troyvnit thanks ) I will check it =)

[2018-05-14 12:12] AndreiMisiukevich commented on #26
I extended the sample (first button is buttons list) - http://prntscr.com/jhnzw1
Could you pls validate my fix?

[2018-05-14 13:01] AndreiMisiukevich commented on #25
Could you pls try again with latest sample's code
It seems, that I fixed it with https://github.com/AndreiMisiukevich/CardView/issues/26

[2018-05-14 14:55] AndreiMisiukevich commented on #25
@troyvnit good) I will create new release after confirmation of fixing #26 (Today-tomorrow)

[2018-05-14 15:19] #25 closed

[2018-05-14 15:31] AndreiMisiukevich commented on #16
I checked it
Your realization doesn't consider gesture time..

So

protected override void OnTouchChanged(PanUpdatedEventArgs e)
    {
        var absX = Math.Abs(e.TotalX);
        var absY = Math.Abs(e.TotalY);

        accX += e.TotalX;
        accY += e.TotalY;
    }

It can be very long operation.. but swipe must be rather fast.
So, I think it would be better to leave current solution for det

[2018-05-14 15:31] #16 closed

[2018-05-14 15:34] AndreiMisiukevich commented on #13
I will appreciate any help.
Maybe, somebody wants to start creating of Properties/Description table? =)

[2018-05-14 15:38] AndreiMisiukevich commented on #17
I have been working on this feature..) but I haven't got a lot of spare time..)

I need implement this classes (Moving items during user's interaction)

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseSceneFrontProcessor.cs

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseSceneBackProcessor.cs

[2018-05-14 16:10] Pomezny commented on #26
Sample looks awesome, thanks. Although I will create PR since there are minor bugs in sample(typos I guess). I will try to hotwire this fixed version to my app to further verify expected behaviour. Will reply soon.

[2018-05-14 17:36] AndreiMisiukevich commented on #26
@Pomezny nice) I'm waiting your PR

By the way, if you enjoy this plugin, please, set "STAR" on the project here)

[2018-05-14 17:42] AndreiMisiukevich commented on #26
@Pomezny Don't forget to give me feedback) I will create new version

[2018-05-15 14:42] Pomezny commented on #26
@AndreiMisiukevich Hi, I tested your fixes and they indeed seem to work on my app where I discovered them. The flickering after clicking item still persist, but its not crucial at the moment. Can you please publish corrected NuGet?
I will try to dig deeper to the flickering issue soon if I find some time for it and eventally open a new issue.
Thanks for your awesome work!

[2018-05-15 15:03] AndreiMisiukevich commented on #26
@Pomezny okay, i will publish it today's evening

[2018-05-15 15:03] #26 closed

[2018-05-15 19:52] AndreiMisiukevich commented on #25
1.4.2 have been published
It will be available soon

[2018-05-15 19:52] AndreiMisiukevich commented on #26
1.4.2 have been published
It will be available soon

[2018-05-29 08:04] MaxenceMax opened #30 ".net standard compatibility"
Ca your cardiview be compatible with .net standard in the future ?

[2018-05-29 08:07] AndreiMisiukevich commented on #30
@MaxenceMax Hi
It's compatible now.
Can't you install package?

[2018-05-29 08:15] MaxenceMax commented on #30
You got right, sorry for this question, i didn't try to install it, i just read the readme. Nice work on this !

[2018-05-29 08:16] AndreiMisiukevich commented on #30
@MaxenceMax thanks for feedback
I will be grateful if you set star on this pepo) it helps me to develop this plugin

[2018-05-29 08:16] #30 closed

[2018-05-29 14:34] thedjnova commented on #17
If using SceneView (I know we aren't meant to be yet). You can change the InitialBackPositionPercentage to a value lower than 0.6 in the Scene Processors and it will give the preview ability your after provided the Cards themselves are of a decent size (in my case 90% width and height of screen)

[2018-06-13 15:46] mclillill opened #31 "setting CurrentIndex != 0 is not working Related to Issue #15"
With 1.3.9 this still works. With latest version it does not.
Doesn't matter if I set to
IsAutoNavigating="True"
or
IsAutoNavigating="False"

How am I supposed to set the CurrentIndex with latest version?

[2018-06-13 16:11] braulio-oc commented on #17
I using SceneView, set the InitialBackPositionPercentage at 0.9 or lower give you that result

This is my code example

`
                    var cardCarousel = new SceneView(
                        new PanCardView.Processors.BaseSceneFrontProcessor{ InitialBackPositionPercentage = 0.88 },
                        new PanCardView.Processors.BaseSceneBackProcessor{InitialBackPositionPercentage = 0.

[2018-06-13 22:19] AndreiMisiukevich commented on #31
Hi
Can you provide the small sample with reproduction?

As for IsAutoNavigating - you shouldn't assign any values to this property, because this one just shows us, whether cards are navigating now or not.

[2018-06-13 22:35] AndreiMisiukevich commented on #31
So, you can set you CurrentIndex manually, if you don't use bindings, or through bindings..

[2018-06-14 05:52] mclillill commented on #31
Unfortunately this is part of a big project. So I can't easily provide a sample. I can try higher versions than 1.3.9 to narrow it down.

[2018-06-14 07:22] AndreiMisiukevich commented on #31
Could you create new small project with carousel view only.
Because I can't reproduce it?
Can you show me markup of your carousel and code, where you try to change index.

[2018-06-14 07:29] AndreiMisiukevich commented on #31
No problem)
I'm glad to receive feedbacks.
Thank you.

[2018-06-14 10:24] rraallvv opened #32 "Black blinking / Orientation changed issues"
[Here](https://www.dropbox.com/s/p5wlwam8bvk4ba6/test.zip?dl=0) is a sample project with the issue.

![video](https://user-images.githubusercontent.com/1840524/41406800-7243073a-6f9b-11e8-84ea-751d44c5532a.gif)

[2018-06-14 12:14] AndreiMisiukevich commented on #32
Super!

But why did you write, that carousel doesn't want to update children?
I see only one issue - black color blinking.

[2018-06-14 12:53] AndreiMisiukevich commented on #32
So, I've resolved black blinking
Is it your issue?)

[2018-06-14 15:45] rraallvv commented on #32
@AndreiMisiukevich Sorry about the lack of specificity on the title, I really didn't have a clue of what could be the problem, except for what it could be some maybe related to CarouselView not "updating" the state of the individual pages, their position maybe!?

There is still something weird going on when the device changes orientation, I've attached a screen-capture  below:

![video2](https://u

[2018-06-14 17:00] rraallvv commented on #32
@AndreiMisiukevich , it seems adding a call to `RaiseChild()` immediately after the modification in your last commit solves the problem, but I'm not sure if I'm messing with something else by doing so. Maybe the call should be put in some other place, I don't know.

    if (ItemTemplate != null)
    {
        SetupBackViews();
    }
    RaiseChild(CurrentView); // <--- here

Thanks again for looki

[2018-06-14 17:47] AndreiMisiukevich commented on #32
Thank you
I will figure out it a little bit later

[2018-06-15 10:27] AndreiMisiukevich commented on #32
Btw, if you like this plugin, star pls this project)

[2018-06-15 11:59] deakjahn opened #33 "Changing page"
How can I change the items shown? Neither replacing Items completely or using a bound ObservableCollection and modifying its contents seem to do the trick. I have a hierarchical data set to display and when the user taps on an item, I'd like to replace the whole carousel with the items one level below.

[2018-06-15 12:12] AndreiMisiukevich commented on #33
Hi, can you create small sample with demo of this issue?
Because it must work

[2018-06-15 12:27] deakjahn commented on #33
Well, I'll try but not easy to cut out a demo from a larger app. :-) What I know that I only use XAML, not code to assemble the page and, strangely, if I fill the Items after InitializeComponent(), I don't get the carousel at all. Could be linked, I guess.

[2018-06-15 12:30] AndreiMisiukevich commented on #33
I would appreciate you, if you create a sample)
..without redundant controls/models etc.. Only minimum code for reproducing the bug)

[2018-06-15 12:51] rraallvv commented on #32
Ok... just stared your plugin, I almost always forget about the staring system.
btw, is this plugin being merged into Xamarin Forms?

[2018-06-15 13:02] deakjahn commented on #33
A complete SLN, shall I upload it here zipped?

[2018-06-15 13:55] AndreiMisiukevich commented on #32
@rraallvv no..
I suggested them it, but they are very busy for review.
__
I create new pack version on weekend. Is it ok for you?

[2018-06-15 13:57] AndreiMisiukevich commented on #33
@deakjahn thanks a lot!
But, unfortunately, I've got mac only and can test it on iOS and Android =(
But I will try..

[2018-06-15 14:00] rraallvv commented on #32
Awesome! It's very much appreciated. Thanks again!

[2018-06-15 14:10] AndreiMisiukevich commented on #33
I looked through you sample
Very well! I Will dive to this issue with my iOS simulator a little bit later.

[2018-06-15 14:22] thedjnova commented on #17
Ive expanded on this bit more and started using a MultiProcessor, essentially a Processor that wraps a collection of child processors and runs each one in order.

I'll pull it out from my main project over the weekend and put it in my local repo to stick a pull request in for @AndreiMisiukevich

[2018-06-15 14:36] AndreiMisiukevich commented on #17
@thedjnova sounds interesting)

[2018-06-15 22:02] deakjahn commented on #33
I wonder if it's a platorm issue. I tried Alex's plugin and it sure has the same two problems. No update on changing ItemSource, and consequently, no view at all if the items are set after InitializeComponent. Strange.

[2018-06-16 07:55] deakjahn commented on #33
OK, forget it, sorry for the false alarm. It was my error. I supposed an ObservableCollection, well, being an observable collection, is enough. No, you have to make it a BindableProperty, no matter what.

[2018-06-16 08:28] AndreiMisiukevich commented on #33
@deakjahn so, there is no bug and we can close this issue, right?

[2018-06-17 19:44] AndreiMisiukevich commented on #17
@thedjnova hi) Don't forget to rebase on top of master origin) because today i changed code a little.
Thanks

[2018-06-18 03:41] donovancarthew opened #34 "Non-public API usage - iOS Issue"
When I try to upload the binary to the app store I get the following message from apple:

"We identified one or more issues with a recent delivery for your app, "<<APP_NAME>>". Please correct the following issues, then upload again.

Non-public API usage:

The app references non-public selectors in <<APP_NAME>>.iOS: applicationWillTerminate, setOrientation:animated:, terminateWithSuccess

If metho

[2018-06-18 08:05] AndreiMisiukevich commented on #34
Why do you think, that this errors is referring to CardsView plugin?

[2018-06-18 08:13] AndreiMisiukevich commented on #34
- As for iOS part, this plugin is fully cross-platform and depends on Xamarin.Forms package ONLY.
..
I'm sure, you should look for the reason in your code or other 3rd party packages.
..
Do you use calabash framework? It can be the reason.
And try set linker, if you haven't done it.

[2018-06-18 11:21] AndreiMisiukevich commented on #34
You can investigate source code
I don't use such methods.

[2018-06-18 21:31] deakjahn commented on #33
Yep. Sorry.

[2018-06-19 07:51] JTOne123 opened #35 "[Slideshow | indicators fade] features"
Do cardview has auto-slide and pause on hover?

[2018-06-19 07:56] AndreiMisiukevich commented on #35
What exactly do you mean?
This plugin has got autosliding, just try to change CurrentIndex property from code.

[2018-06-19 07:56] #34 closed

[2018-06-19 08:00] JTOne123 commented on #35
yep, but I'm looking for in-box solution without handling timer on my side

[2018-06-19 08:17] AndreiMisiukevich commented on #35
I think, it can be interesting enhancement. But now - there is no such opportunity

[2018-06-19 09:50] JTOne123 opened #36 "Сhanging the list causes an error"
Steps to reproduce:
App has 2 screens and typical navigation

1. List with 2 items (in the cardview) on the first screen
2. Switch to the second item
3. Go to the second screen
4. Delete the second item
5. Back to the first screen
6. Set new data to cardview on appeared event
7. You'll get the exception

[code]

[2018-06-19 09:54] AndreiMisiukevich commented on #36
Do screens use the same bindingContext?

[2018-06-19 09:57] JTOne123 commented on #36
Nope

Here is my code:

[code]

[2018-06-19 10:01] AndreiMisiukevich commented on #36
hmm, it must be there is a bug with getting context.
So, your index is still 1, but there is only one element in the collection.

Paul, can you try to set index to 0 before changing your collection. I think it can be a workaround for you. I will figure out with this issue later. I hope it something easy

[2018-06-19 10:09] JTOne123 commented on #36
Hmm, I think so also, but it didn't help

`        protected override void OnDisappearing()
        {
            base.OnDisappearing();

            favoritesCarousel.CurrentIndex = 0;
        }
`

[2018-06-19 11:31] AndreiMisiukevich commented on #36
if it's possible, can you create small sample that demonstrate this behavior

[2018-06-19 16:45] #36 closed

[2018-06-19 18:56] AndreiMisiukevich commented on #35
Hey, I thought, that it would be great to have opportunity to fade out indicator if there is no any interactions)

[2018-06-19 18:57] AndreiMisiukevich commented on #35
As for slideshow, you can adjust it through setting next property SlideShowDuration (milliseconds of course)

[2018-06-20 01:57] donovancarthew commented on #34
Sorry, I assumed that is was this package because I saw on another forum that someone else had the same issue and said it was this package.

I have done further investigation and found that it was to do with the Xamarin.Forms.TestCloud package that was being included in the release build for some reason. Removing that fixed the issue for me.

Thanks for your help!

[2018-06-20 06:18] JTOne123 commented on #35
Oh boy!! it's great, I did it with timer on my side. With pleasure, delete my code :)

[2018-06-20 06:32] JTOne123 opened #37 "iOS: If the carousel in the scrollview, then there is no possibility of pulling it down or up"
I don't dig it deeply yet, may be it's an issue in ffimageloading.

I have the ffimageloading in the carousel, and carousel in the scrollview.

For some reason, I can touch and pulling it down in Android, but I can't did the same on iOS(and UWP as well)

Have you come across this?

[2018-06-20 06:38] AndreiMisiukevich commented on #37
Hi, have you looked through the workarounds section of Readme file?)
Pay attention at ParentScrollView

[2018-06-20 06:41] JTOne123 commented on #37
Сорян, провтык

[2018-06-20 06:41] #37 closed

[2018-06-20 07:31] AndreiMisiukevich commented on #37
It's ok

[2018-06-20 11:46] JTOne123 commented on #35
looks like it does not start automatically without pan it once

[2018-06-20 11:50] AndreiMisiukevich commented on #35
@JTOne123 what platform do you use?

[2018-06-20 11:51] JTOne123 commented on #35
tested only on iOS

[2018-06-20 11:53] AndreiMisiukevich commented on #35
[code]

Check the sample (CarouselView Xaml)

[2018-06-20 11:53] AndreiMisiukevich commented on #35
I've just tested it and it works fine

[2018-06-20 11:54] JTOne123 commented on #35
maybe magic in at CurrentIndex because I do not set it

[2018-06-20 11:56] JTOne123 commented on #35
yes, it is! with currentindex it works

[2018-06-20 11:57] AndreiMisiukevich commented on #35
no, i see another reason
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L509

ItemsCount can be 0, because you can initialize Slideshow before setting items.. hmm.. or no)

[2018-06-20 11:58] AndreiMisiukevich commented on #35
oh.. so, you just set it 0, didn't you?

[2018-06-20 12:00] JTOne123 commented on #35
yes, you are right, I did it

[2018-06-20 12:13] #35 closed

[2018-06-20 12:28] AndreiMisiukevich opened #38 "Right/Left arrows feature"
Something like this
![image](https://user-images.githubusercontent.com/10124814/41658268-8803e58c-749e-11e8-8e64-94c92201a6c6.png)

[2018-06-20 15:48] AndreiMisiukevich commented on #38
Somebody wants to get in "from box" ?

[2018-06-21 07:35] jaspervanmegroot commented on #17
Any updates on this? Need this feature to for this:

![knipsel](https://user-images.githubusercontent.com/19607572/41704417-7f5ddf94-7536-11e8-96e0-ea8b7f06292d.PNG)

[2018-06-21 07:46] jaspervanmegroot commented on #17
Can i use the scene view to archive this? (scrolling between items on one row)
![knipsel](https://user-images.githubusercontent.com/19607572/41704927-d9a62ba4-7537-11e8-9a2a-c394d0316482.PNG)

[2018-06-21 07:47] AndreiMisiukevich commented on #17
Hi, I'm still waiting for PR ...

[2018-06-21 07:48] jaspervanmegroot commented on #17
Okay but it is possible with Scene view?

[2018-06-21 07:52] AndreiMisiukevich commented on #17
It will be possible, if somebody creates PR )

[2018-06-21 19:39] braulio-oc opened #39 "Default constructor not found for type PanCardView.Droid.CardsViewRenderer"
Hi!

I used the CardsView control inside the PullToRefreshLayout from jamesmontemagno control, when the app start throws me the error:
Default constructor not found for type PanCardView.Droid.CardsViewRenderer

How could I avoid this error? first I try not link the assemblies in config properties, then I try creating a custom render with default constructor without luck.

I used xamarin forms 2.4

[2018-06-21 23:41] braulio-oc commented on #39
Ok, I resolved implementing the custom render in android without context in the constructor for xamarin 2.4 and deleting the reference PanCardView.Android in Android project

[2018-06-22 06:28] AndreiMisiukevich commented on #39
Hm, does compiler say you, that default constructor is obsolete/deprecated?
Or this update came with Xamarin Forms 2.5...

[2018-06-22 06:30] AndreiMisiukevich commented on #39
This is cool work around.
I think, we needn't add it to the project, because Forms 2.4 is rather old

[2018-06-22 08:47] AndreiMisiukevich commented on #39
I didn't want to update this plugin to excepting XF versions less then 2.5..

https://forums.xamarin.com/discussion/106796/avoiding-obsolete-default-constructor-with-android-custom-renderers-in-2-5

So, I think, this issue can be closed.. =)

[2018-06-22 08:47] #39 closed

[2018-06-22 08:48] AndreiMisiukevich commented on #17
@thedjnova do you remember about your promise ?)))

[2018-06-22 12:23] robertmiles3 opened #40 "Binding issue"
When I attempt to bind to a property on the main page's view model, it doesn't work. I have created an example here...

https://github.com/robertmiles3/CardsViewBindingIssue

I have your CardsView library as the top example on the MainPage, and I have a CarouselView example below it. I like how your CardsView properly lays out in design mode while CarouselView doesn't layout properly. However, Car

[2018-06-22 12:48] AndreiMisiukevich commented on #40
I this case I suggest you to use ItemTemplate property for creating card template. All your cards are the same, but have got different bindingContext

Set ItemTemplate - your view, and Items - Stats collection.
And bind what you want))

[2018-06-22 12:50] robertmiles3 commented on #40
`Stats` isn't a collection. It's a single object with properties on it. How would that work?

[2018-06-22 12:51] AndreiMisiukevich commented on #40
Redesign it to collection of int
new List<int>()

[2018-06-22 12:52] robertmiles3 commented on #40
I'm pulling a few counts as stats from a DB, so it doesn't make sense for it to be a list of ints.

[2018-06-22 12:53] AndreiMisiukevich commented on #40
By the way, make this class as IPropertyChanged

    public class DashboardStats
    {
        public int Count1 { get; set; }
        public int Count2 { get; set; }
        public int Count3 { get; set; }
        public int Count4 { get; set; }

        public int Count5 { get; set; }
        public int Count6 { get; set; }
        public int Count7 { get; set; }
        public int Count8 { get;

[2018-06-22 12:54] AndreiMisiukevich commented on #40
And try to call this method first of all

https://github.com/robertmiles3/CardsViewBindingIssue/blob/master/TestCarousel/MainPage.xaml.cs#L32

[2018-06-22 12:55] robertmiles3 commented on #40
I had that first at the beginning of my testing. Didn't work, so I moved it around testing different things.

[2018-06-22 12:55] AndreiMisiukevich commented on #40
So, your issue is clear for me, I'll try to help you =) I will look through your code/xaml this weekend

Thank you for feedback

[2018-06-22 13:01] AndreiMisiukevich commented on #40
I think, I know the reason...
Look here https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L1068-L1103

if you doesn't use itemTemplate, your view has itself as bindingContext..
It seems like a bug, what do you think, colleague?

[2018-06-22 13:04] AndreiMisiukevich commented on #40
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L1031

if view == context, we needn't set it as context.. maybe it's the reason of our headache)

[2018-06-22 13:05] AndreiMisiukevich commented on #40
Probably, you want to test this case and contribute to this project? Or you can wait until I fix it myself

[2018-06-22 13:06] robertmiles3 commented on #40
Hmm, yes possibly so. So, what would be the fix? Can it somehow just use the parent/page binding context?

[2018-06-22 13:09] AndreiMisiukevich commented on #40
I believe if we leave BindingContext as null the view will get parent's context

[2018-06-22 13:11] robertmiles3 commented on #40
Gotcha. I'll try that in a bit.

[2018-06-22 13:11] AndreiMisiukevich commented on #40
And it must be here https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L526
We should to extend this check

			if (CurrentView.BindingContext == context || CurrentView == context)
			{
				return false;
			}

[2018-06-22 13:14] AndreiMisiukevich commented on #40
So, only two check (the first is above) and the second is below

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L1029

			if (view != null && view != context)
			{
				view.BindingContext = context;
			}

[2018-06-22 13:45] robertmiles3 commented on #40
Those 2 changes (L526 and L1029) worked. You want to put those in or want me to submit a PR?

[2018-06-22 13:53] AndreiMisiukevich commented on #40
Create PR please

[2018-06-22 14:52] #40 closed

[2018-06-22 14:53] AndreiMisiukevich commented on #40
I will create new pack on weekend

[2018-06-22 19:17] ryanherman commented on #40
I just ran into this issue where I set the BindingContext to my main view.  When I load the CarouselView, it sets it to the main view, then overrides it to the view set.

[2018-06-22 19:39] AndreiMisiukevich commented on #40
Sorry, I didn't understand your matter.

[2018-06-22 19:40] AndreiMisiukevich commented on #40
But it doesn't seem to be the same issue

[2018-06-22 19:56] AndreiMisiukevich commented on #40
https://www.nuget.org/packages/CardsView/1.4.7
pack with fix

[2018-06-22 19:58] robertmiles3 commented on #40
Awesome, thanks. Just updated in my main app and it resolved my issue.

[2018-06-28 16:35] abner86 commented on #38
![screenshot_2018-06-28-09-19-33 1](https://user-images.githubusercontent.com/5524692/42047860-5e3e958a-7ab6-11e8-88a5-2e5f88d12e74.png)
Something like this?

[2018-06-28 16:49] AndreiMisiukevich commented on #38
@abner86, yep)
Would you like to get this feature in next releases?
Because I don't know, if it would be useful feature or not.

[2018-06-28 17:04] abner86 commented on #38
Honestly, I don't think this is a useful feature. But we can add this feature in the next releases since I added a boolean property that gives devs an option if they want to display this feature to the user.

[2018-06-29 07:12] mzhukovs opened #42 "CarouselView IsAutoNavigating Does not work?"
Hi there,

THanks for this package.

I have a CarouselView and i set IsAutoNavigating to True, but in the view, the carousel does not move from item to item automatically (without user interaction) as expected. Am I supposed to set something else for this to work or am I misunderstanding the point of IsAutoNavigating?

Please let me know, thanks.

[2018-06-29 13:05] AndreiMisiukevich commented on #42
Hi)
Thanks for feedback.. I think, i need to make some properties as internal or add comment, that they are only for Internal use =)

So, this porperty just demonstrate, that carousel view is autoNavigating now. It means, that now one card changes another one without user interaction.

If you want to make slideshow, please, see SlideShowDuration property (Set milliseconds delay)

Enjoy it! =)

[2018-06-29 18:12] AndreiMisiukevich commented on #42
Let me know, if you have any troubles with setting up slideshow

[2018-06-29 18:12] #42 closed

[2018-07-02 01:46] mzhukovs commented on #42
Ah got it, yes using SlideShowDuration gets me what I was after. Yes it may help prevent confusion if some comments were provided for the properties. Спасибо за помощь!

[2018-07-02 11:53] 2092015 opened #43 "Sizing carousel view to full width without weird margins"
For example
In Iphone emulator 2436x1125 i need to specify a height of ~250px
In Android device 782x480 i need to specify a height of ~215px

Something weird in iphone emulator for example, with 1125px width, for the image to fully cover horizontally no way the carousel should have less than ~500px height while testing it needs ~250px height.

[2018-07-03 07:35] thedjnova commented on #17
sorry guys been overloaded.

In honesty when I look at it it isn't actually an improvement, its purely using whats already there in the right way.

I created scene processors that held a lists of other scene processors for front and back which I set as the scene processors for the control.

Those Multiprocessor containers cycle each method of the child processors in order.

Simply create one for S

[2018-07-03 07:39] AndreiMisiukevich commented on #17
Could you share your code? I will think, how we would to embed this

[2018-07-03 07:40] AndreiMisiukevich commented on #43
Did you try to change aspect of image?
Aspect.Fill etc

[2018-07-03 07:54] nhdanh commented on #14
Im using 1.4.7 version with XF 3.1. I putted a Cardview into the ParentScrollView. So when I scroll up in section cardview. It scroll to header. And when I scroll down. My App was crash.
System.Collections.Generic.KeyNotFoundException: The given key 'd2cc4fca-7b8a-4712-9a96-662f8f265049' was not present in the dictionary.

How to fix it ?

[2018-07-03 07:57] AndreiMisiukevich commented on #14
Hi
I need some time for reproducing

[2018-07-03 08:01] nhdanh commented on #14
Do you need a screenshot for this error ?

[2018-07-03 08:02] AndreiMisiukevich commented on #14
Maybe, video or code/xaml sample

[2018-07-03 08:08] thedjnova commented on #17
https://github.com/AndreiMisiukevich/CardView/pull/44

[2018-07-03 08:15] nhdanh commented on #14
Here is my code in Homepage

`<ParentScrollView VerticalOptions="FillAndExpand" x:Name="outerScrollView">
            <Grid x:Name="layeringGrid" RowSpacing="0" VerticalOptions="FillAndExpand">
                <Grid.RowDefinitions>
                    <RowDefinition Height="Auto" />
                    <RowDefinition Height="90" />
                </Grid.RowDefinitions>
                <Grid Colum

[2018-07-03 08:16] nhdanh commented on #14
Here is my error :

https://www.youtube.com/watch?v=ywGtP9cKerg

When I scroll up. It scroll to header. And scroll down. It crash

[2018-07-03 12:21] Juansero29 opened #45 "ItemTemplate visual BindingContext getting copied between the Items property of the CarouselView"
I use the CarouselView inside a ContentView. This CarouselView has a binding to a list of Weeks (in order to print out the weeks for a certain year). Then, I use the ItemTemplate to print each week as I want to.  Each week then has to print its 7 days via a DayCell custom control (another ContentView) to which I assign the BindingContext from the XAML code. Here's the XAML:

[code]

Each DayCell h

[2018-07-03 13:52] AndreiMisiukevich commented on #45
Try to disable view caching

[2018-07-03 19:14] AndreiMisiukevich commented on #43
https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.aspect?view=xamarin-forms
--

I hope, it will help you.
Point is that isn't CardsView issue.. this is something with image settings

[2018-07-03 19:14] AndreiMisiukevich commented on #43
Contact me pls after trying this way

[2018-07-03 19:14] #43 closed

[2018-07-03 19:17] AndreiMisiukevich commented on #14
@nhdanh hmm, but it works fine in your video.. no?

[2018-07-03 19:33] AndreiMisiukevich commented on #45
Just try to set IsViewCacheEnabled = false

And Let me know, please, if it doesn't help you =)

[2018-07-04 01:09] nhdanh commented on #14
oh you can see in this video. When I scroll. It has scroll very long into header. My layout hasn't height like this. So when I scroll down. It crash my app

[2018-07-04 08:45] AndreiMisiukevich commented on #14
ok, got it
I will try to figure out with this issue.
But you can try to work around if you extend ParentScrollView https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/ParentScrollView.cs

You may manage scroll permission there.

[2018-07-04 12:39] Juansero29 commented on #45
I'll try that and tell you

[2018-07-04 12:48] AndreiMisiukevich commented on #45
hope it will help you)

[2018-07-04 12:49] AndreiMisiukevich commented on #38
Ok, let's close this issue for now.. maybe return to it later

[2018-07-04 13:51] Juansero29 commented on #45
No, it doesn't help at all. It just makes it worse. One of the views stays on top on the others while I swipe and the selection stays on for every week now...

![image](https://user-images.githubusercontent.com/19156405/42280772-f472716c-7fa1-11e8-9dcd-e4a0bc655921.png)

[2018-07-04 14:02] AndreiMisiukevich commented on #45
@Juansero29 could you please fork this repository and add the sample to your forked repo?
Then send me a link to this repo.
I will debug it and find the problem, then i fix it =)

I hope it's easy for you)

[2018-07-04 14:03] AndreiMisiukevich commented on #45
or you can create new xamarin.forms solution with one screen page which reproduces this issue

[2018-07-04 14:51] Juansero29 commented on #45
I will do it, but I can't do it right now. I'm having electricity problems at home :/ I'll do the fork and add the sample as soon as I can.

[2018-07-04 14:53] AndreiMisiukevich commented on #45
Wow, fantastic! Thanks a lot!
no problem, i'm waiting =)

[2018-07-05 08:41] rraallvv opened #46 "ListView item selection without gesture recognizers fails on Android"
It seems `ListView` elements won't invoke the `ItemSelected` and `ItemTapped` callbacks, and sometime they just do it the first time the item is tapped.

To reproduce the issue change the class `BuildCard` in [CarouselSampleListView.cs](https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleListView.cs#L45) as follows:

	private object Bui

[2018-07-05 08:50] AndreiMisiukevich commented on #14
try to fork my repo and create sample in your cloned repo.
I hope, I've just fixed this issue, but can't promise)

[2018-07-05 09:00] AndreiMisiukevich commented on #46
I think, this can be XF bug, it would be better to make research.

Probably, do you want to debug this case?
There is no a lot of Android specific code

[2018-07-05 09:05] rraallvv commented on #46
I see. I'll try to find out is this is XF related and report back.

[2018-07-05 20:39] thedjnova commented on #46
Is this related to the Command bindings not being fired do we think?

[2018-07-05 20:42] thedjnova commented on #46
If so the issue isn't within the ViewCell's, it must be within the ListView within Forms.

[2018-07-05 21:04] rraallvv commented on #46
@thedjnova I didn't want to use Command and gesture recognizers like in the sample, although that seems the recommended [way](https://stackoverflow.com/a/36871882/1436359), because the ripple effect is not being triggered on Android.

[2018-07-05 21:08] thedjnova commented on #46
You could just override your pages OnPropertyChanged and check for SelectedItem or SelectedIndex changes?

Pretty much the same thing just the more verbose version.

Doesn't resolve the issue but would get you up and running until we get it nailed.

[2018-07-05 21:17] rraallvv commented on #46
@thedjnova Thanks for your suggestion, I'll give it a try.

[2018-07-05 21:30] rraallvv commented on #46
Hmmm... it doesn't seen to work either, except for the first time a cell is tapped. This is how I've set the callback:

	list.PropertyChanged += (sender, e) =>
	{
		if (e.PropertyName == nameof(list.SelectedItem) && list.SelectedItem != null)
		{
			Application.Current.MainPage.DisplayAlert("Tapped", null, "Ok");
			list.SelectedItem = null;
		}
	};

I'll try subclassing `ListView` to override tho

[2018-07-06 18:43] rraallvv commented on #46
This seems to solve the issue in [this](https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseCarouselFrontViewProcessor.cs#L81) line of code:

	public virtual Task HandlePanReset(IEnumerable<View> views, CardsView cardsView, AnimationDirection animationDirection, IEnumerable<View> inactiveViews)
	{
		var view = views.FirstOrDefault();
		if (view != null)
		{
			var

[2018-07-06 20:45] ThothsCoderDev opened #47 "Help with carousel in tabbed page"
I am using your carousel in a page within a tabbed page but when i try to swipe the carousel it changes tabs I may be doing something wrong but it would mean a lot if you could help me.
Thanks

[2018-07-07 06:41] AndreiMisiukevich commented on #47
Hi) thank you for feedback
I think, you should switch off tabbed page swipe animation, because app can't understand, which animation it should strat.

Could you try this work around? You will have to create custom renderer and disable swipes there

[2018-07-07 06:45] AndreiMisiukevich commented on #46
Wow, fantastic.
I will adjust this fix. Really too strange issue)

[2018-07-07 08:14] thedjnova commented on #47
Agreed, tabbedpage and cardview cant exist together without disabling the swipe on one or the other. Nothing we can really do aboit it either, they share the same gesture.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andrei <notifications@github.com>
Sent: Saturday, July 7, 2018 7:41:51 AM
To: AndreiMisiukevich/CardView
Cc: Subscribed
Subject: Re: [AndreiMisiu

[2018-07-07 08:29] AndreiMisiukevich commented on #45
I can suggest an extra workaround

Override OnBindingContextChanged method in this class AgendaHelpers:DayCell and make the cell unselected on each call of this method.

[code]

[2018-07-07 14:34] AndreiMisiukevich commented on #45
ok, i think you can use it as workaround
I closed this issue, but if you provide me a sample, i will reopen it)

[2018-07-07 14:34] #45 closed

[2018-07-09 19:08] AndreiMisiukevich commented on #46
will be available in next release =)

[2018-07-09 19:08] #46 closed

[2018-07-10 07:40] AndreiMisiukevich commented on #39
Hi @braulio-oc
I pushed new version of package with Forms 2.4 fix
So, you can try to remove you duplicated code and install droid part again =)

[2018-07-10 08:52] JTOne123 opened #48 "Strange crash on Micromax Q415 Android 5.1.1 (LMY47V)"
Hi Andrei,
I cannot reproduce this issue locally.

But maybe you will have ideas

[code]

[2018-07-10 08:57] JTOne123 commented on #48
1.4.6

[2018-07-10 09:29] AndreiMisiukevich commented on #48
https://github.com/AndreiMisiukevich/CardView/issues/14

I added some checks for preventing crashes in latest release 1.4.8
I suggest you to update your plugin

[2018-07-10 09:32] JTOne123 commented on #48
I will do. Thank you!

[2018-07-10 09:38] AndreiMisiukevich commented on #48
but I'm afraid.. it can be android 5 issue..

you can check code regarding to your stacktrace.

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L1310

But if dictionary doesn't contain such gesture, it means that Up/Down flow is incorrect for this kind of phone (or android OS).

Any ideas?

[2018-07-10 09:40] AndreiMisiukevich commented on #48
I will mark it as resolved, but if this issue occur, reopen it, then let's think, how to fix it =)
Sure, we can add check for gestureId existing in gestureDictionary.. but it's bad idea (just trick, not solution).. it would be cause memory leaks etc.

[2018-07-10 09:40] #48 closed

[2018-07-10 10:59] JTOne123 opened #49 "CardsViewRenderer ObjectDisposed crash"
The same, I cannot reproduce

Maybe you have ideas...

CardsViewRenderer.OnTouchEvent (Android.Views.MotionEvent e)
System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Android.Views.GestureDetector'.
JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)
JniPeerMembers+JniInstanceMethods.InvokeVirtualBooleanMethod (System.String encodedMember, Java.Interop.IJavaPeer

[2018-07-10 11:12] AndreiMisiukevich commented on #49
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/CardsViewRenderer.cs#L57

This is the line of code, where crash occurs.
Well, this is Xamarin.Forms bug, i believe, but we can catch this exception and recreate gestureDetector.
What do you think?

[2018-07-10 11:16] JTOne123 commented on #49
Yep, it looks the android part and the fix does not affect other platforms.
We differently should try

[2018-07-10 11:19] AndreiMisiukevich commented on #49
Hope it will be enough
This fix will appear in next release
For now, you can copy this renderer to your project)

[2018-07-10 11:19] #49 closed

[2018-07-10 11:24] JTOne123 commented on #49
thank you!

[2018-07-10 13:36] rexconcepcion opened #50 "Xamarin.Forms.Xaml.XamlParseException: Position 189:26. Type cards:CarouselView not found in xmlns clr-namespace:PanCardView;assembly=PanCardView"
Hi,

It is ok during designing but when I run the application I am getting this error.
Xamarin.Forms.Xaml.XamlParseException: Position 189:26. Type cards:CarouselView not found in xmlns clr-namespace:PanCardView;assembly=PanCardView

btw I am using Xamarin.Forms.3.1.0.583944

[2018-07-10 13:43] AndreiMisiukevich commented on #50
Show please whole xaml markup

[2018-07-10 13:45] AndreiMisiukevich commented on #50
I think, this is something with your visual studio..(

[2018-07-10 13:45] thedjnova commented on #50
Have you added cards as a xmlns on the page/views root element?

[2018-07-10 14:39] AndreiMisiukevich commented on #50
![image](https://user-images.githubusercontent.com/10124814/42517310-11977ce0-8468-11e8-9680-4f5cb11c39dd.png)

oh) but you declare Items property two times..

[2018-07-10 15:09] rexconcepcion commented on #50
I clean the xaml file and set the Sample as the main page, clean, rebuild, and  still getting the error.
I already restarded vstudio.

Type cards:CarouselView not found in xmlns clr-namespace:PanCardView;assembly=PanCardView

[code]

[2018-07-10 15:14] AndreiMisiukevich commented on #50
hmm, try to remove package from the solution
Remove all bin and obj folders
install package again (into all projects)

[2018-07-10 15:33] rexconcepcion commented on #50
Removed Package
Removed Bin and Obj folders
Install CardsView Package

I am still getting the same error.

Theres no problem during design time. Usually the IDE will detect if the Type is not found during design time and there is no error there. It is only during the run time that error shows up.

[2018-07-10 16:23] AndreiMisiukevich commented on #50
@rexconcepcion could you try with code?
I'm sure, it's VS error.. because I have no such error on VS for Mac

[2018-07-10 16:24] AndreiMisiukevich commented on #50
Send me small sample with this error, please. I will try it on my VS for mac

[2018-07-12 02:24] marcelinhovt opened #51 "How to use this ??"
I added the Nuget and trying to use on XAML. But i am not getting where is the "cards:CarouselView". What do i have to declair to get this assembly ?

<cards:CarouselView  >

[2018-07-12 02:37] marcelinhovt commented on #51
Sorry !! Now, its working...the Nuget didn´t install on the main project. Now, its working.

[2018-07-12 03:14] marcelinhovt commented on #51
Sorry guys... my images are not appearing.
I need to set some images to a list and show them on carouselview. 1 sec wich one, scrolling automatic. How to do this ?

Thanks

[2018-07-12 05:52] AndreiMisiukevich commented on #51
Hi, did you look through the samples?

[2018-07-12 09:42] AndreiMisiukevich commented on #51
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleXamlView.xaml

I suggest you to use FFImageLoading plugin for images instead of native xamarin Image

[2018-07-12 09:44] AndreiMisiukevich commented on #50
Probably, this is the reason of our headache

[code]

[2018-07-12 09:45] AndreiMisiukevich commented on #50
@rexconcepcion  Did you resolve this issue?

[2018-07-12 10:06] AndreiMisiukevich commented on #50
try latest PRE-release version https://www.nuget.org/packages/CardsView/1.5.0-netstandard2.0-possible-fix

if issue is still reproducing, reopen this issue please

[2018-07-12 10:06] #50 closed

[2018-07-12 11:06] thedjnova commented on #50
I use .Net Standard 2 already and everything is fine.

[2018-07-12 11:23] AndreiMisiukevich commented on #50
@thedjnova very-very strange issue..

[2018-07-12 16:02] marcelinhovt commented on #51
Yes...and i did exactly...but instead of ffimage i used the native image.
Its showing blank.
I will try with the ffimage

Em quinta-feira, 12 de julho de 2018, Andrei <notifications@github.com>
escreveu:

[2018-07-12 20:32] AndreiMisiukevich commented on #51
reopen this issue, if you face with troubles =)

[2018-07-12 20:32] #51 closed

[2018-07-13 07:41] MaxenceMax commented on #4
@AndreiMisiukevich I don't understand your sample with factory and I don't find it in sample ! Does't it work now ?

[2018-07-13 08:29] AndreiMisiukevich commented on #4
Hi @MaxenceMax yes, factory was marked as deprecated and removed a few month ago)
Now you should use ItemTemplate (DateTemplate/DataTemplateSelector).

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleXamlView.xaml

[2018-07-13 11:35] b-hub opened #52 "Ways to handle 'micro-scroll'"
Hello,
Currently I have a button inside a PanCardView, but it is very hard to register a tap on the button as moving your finger slightly will cause the page to begin to swipe (move with your finger). I see properties like 'SwipeThresholdDistance', but it doesn't seem to be having an effect.

Is there a way to limit the swipe sensitivity to give an opportunity for the button to be clicked? This mi

[2018-07-13 12:28] AndreiMisiukevich commented on #52
Hi @b-hub and thanks for your feedback. I appreciate it.

Look at this method https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/CardsViewRenderer.cs#L96

I think, we should add property for Android regarding to your request.. because SwipeThresholdDistance - it's distance, when cardsView understands, that it should start animation of navigating. So, you can move your card

[2018-07-13 15:18] marcelinhovt opened #53 "How to change the color of indicators ?"

[2018-07-13 15:20] marcelinhovt opened #54 "How to change the color of indicators ?"
All the background images are white backgrounded. So, i need to change the color of indicators, because i need to put the indicators at the end of the image.
You said: " If you want to customize indicators, you need set SelectedIndicatorStyle "

But i don´t understand the steps. Do i need to create a class to style the colors ?

My code:

[code]

I am lil bit newbie. Sorry if the question is stupi

[2018-07-13 15:25] AndreiMisiukevich commented on #53
https://github.com/AndreiMisiukevich/CardView/issues/54 duplicated

[2018-07-13 15:25] #53 closed

[2018-07-13 15:40] AndreiMisiukevich commented on #54
Hi @marcelinhovt no problem
You did a mistake

[code]

Indicators control should be right INTO cardsView, So the parent of Indicators control should be CarsoueselView (Check xaml above).. Or you want to have a lot of indicators controls on each cards? =)

And yes, for customizing indicators color you will have to set styles

Declare them where you want (For example in you content page)
[code]

And

[2018-07-13 15:40] #54 closed

[2018-07-13 15:41] AndreiMisiukevich commented on #54
if you like this plugin, please, set star on the project)

[2018-07-13 15:47] b-hub commented on #52
Hi @AndreiMisiukevich Thank you for getting back so fast!

Looking at the code I can see that when SetIsTouchHandled is true -> OnInterceptTouchEvent will return true. I don't know enough about this, but by debugging I can see it prevents the tap event from firing.

Do you have an idea to resolve this?

[2018-07-13 15:50] AndreiMisiukevich commented on #52
I will debug it on weekend, i hope

[2018-07-13 15:51] AndreiMisiukevich commented on #52
[code]

Could you try to change this line as i wrote above and check the behavior

[2018-07-13 15:57] b-hub commented on #52
Yes that works! So I think we could have another configurable property to hold the '20'?

[2018-07-13 20:03] AndreiMisiukevich commented on #52
For sure) I will add it on this weekend
BTW, if you like my plugin, you may set stat on this repository :)

[2018-07-13 20:06] AndreiMisiukevich commented on #52
Oh, and if you want, you can contribute to this project :)
Just fork my repo, create new bindable property with name Android{PropertyName} and default value 0, and handle this case at renderer :)

[2018-07-14 14:29] deakjahn opened #55 "Size only settles after first SizeChanged event"
Well, I don't know where the problem is. :-) I received both updates at the same time, yours (1.4.9) and the latest Xamarin Forms (3.1.0.637273). On UWP, all pages that have a CardView on them are a bit oversize, meaning that the bottom 40-50 pixel high strip isn't visible at first (for instance, where we usually put the indicator control). As soon as I move the main window size a little bit, ever

[2018-07-14 16:09] marcelinhovt commented on #54
Ok...worked..thank youuu...

Em sexta-feira, 13 de julho de 2018, Andrei <notifications@github.com>
escreveu:

[2018-07-15 11:54] AndreiMisiukevich commented on #55
Hi)
So, on 1.4.8 you didn't see this issue, right?
---
If it is true, I will validate my changes for sure, but unfortunately I have only Mac in my own and won't be able to make sure in resolving the problem :(

[2018-07-15 11:57] AndreiMisiukevich commented on #55
Could you please check the problem with previous version of Xamarin?

[2018-07-15 14:50] deckerix opened #56 "Is it possible to hide the indicator?"
I have a long ItemList

<cards:CarouselView
        Items="{Binding Items}"
        SlideShowDuration="0"
         CurrentIndex="{Binding CurrentIndex}">

And I would like to know if it is possible to hide the indicador, or show a simple page indicator: "showing 3 of 2500 records" style
thanks

[2018-07-15 15:52] AndreiMisiukevich commented on #56
Yes, sure, just remove Indicators control from your xaml :)
Find "IndicatorsControl" and delete it.

Hope it's clear )

[2018-07-15 17:33] AndreiMisiukevich commented on #55
Three commits between 1.4.8 and 1.4.9

https://github.com/AndreiMisiukevich/CardView/commit/24334b7619a2f215be6c9c5f7fd72c5a9b2e05db

https://github.com/AndreiMisiukevich/CardView/commit/113fc07f795ad7cca3d1a2920d57dbfb57856d24

https://github.com/AndreiMisiukevich/CardView/commit/e0ed6437dd0249d3d6754d8108dde172767cca7c

So, I'm sure, that it is Xamarin.Forms issue. Validate this case with previo

[2018-07-15 17:57] AndreiMisiukevich commented on #52
Ok, cool, it will be available in the next release 1.5.0 =)

[2018-07-15 17:57] #52 closed

[2018-07-15 18:02] AndreiMisiukevich commented on #55
I would be grateful, if you are able to check this case.. or debug my project
Probably, you can suggest any workaround for the time being ? :)
I will appreciate any help )

[2018-07-15 18:13] AndreiMisiukevich commented on #52
MoveTresholdDistance property

[2018-07-15 23:06] marcelinhovt opened #57 "Appearing a transparente Item on Items collection."
I have a list of Images and using it on the Items Binding.
But when the images are crossing, always has a "empty item" appearing.
The problem happens with local images or links.

[code]
[code]

[2018-07-16 06:53] AndreiMisiukevich commented on #57
Hi, could you please check the samples ?
It's strange issue

Also tell me please what version of cardsview, xamarin.forms and ffimageloading do you use?
Oh, and try please use regular Image instead of FFinage.. for local images

[2018-07-16 07:37] AndreiMisiukevich commented on #57
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleXamlView.xaml

As you can see, I use the same xaml for my sample.
It must be something with XF or FFImage

[2018-07-16 14:40] AndreiMisiukevich commented on #57
Btw,
you use binding Items="{Binding Items}"  and setting items directly carouselView.Items = Items together =) Why?
You should select only one flow

[2018-07-16 19:47] AndreiMisiukevich commented on #55
@deakjahn did the trick help?

[2018-07-17 10:21] deakjahn commented on #55
Sorry, I didn't get notification.

Yes, I'm suspecting XF, too, but for some reason I only found the problem on pages that have cards as well. But this must be a coincidence somehow.

[2018-07-17 11:16] AndreiMisiukevich commented on #55
try this please >> Maybe it will be enough to set HeightRequest for CarouselView and for each card.. ?

[2018-07-17 13:46] JTOne123 opened #59 "KeyNotFoundException on old iPhones and iPads"
Version is 1.4.8
[code]

[2018-07-17 14:20] AndreiMisiukevich commented on #59
Got it, I will have to redesign gestureId handling and make it through list of gestureIds

[2018-07-17 14:30] AndreiMisiukevich commented on #59
hmm, it means, that new interaction stats before ending of previous..
yes, i think it would be much more better to have a list of all gestures =0

[2018-07-17 14:33] JTOne123 commented on #59
In my app, I have a slideshow
Maybe user interacts and slideshow...

[2018-07-17 14:35] AndreiMisiukevich commented on #57
Check the sample attentively please.. otherwise try to remove image and try with colors instead of images (just to detect what the reason of the problem) I can't reproduce this issue.

if you want, you can attach the sample (small project) and i will help you. For now I am closing this issue

[2018-07-17 14:39] AndreiMisiukevich commented on #55
well, try to work around with setting HeightRequest, calling ForceLayout etc.. obviously it's XF issue =(
I will close this issue, but if you find work around, leave it here for other guys =)

[2018-07-17 14:39] #55 closed

[2018-07-17 14:42] deakjahn commented on #55
Yes, sure that helps but in normal life, I don't know how high it would need to be. :-)

I reported it on the XF issue queue, we'll see. And I returned to the previous XF while I bumped up yours to 1.5.0 so it's definitely a XF issue now.

[2018-07-17 14:45] AndreiMisiukevich commented on #59
yes, exactly.. because now gesture id is created in two places.
Ok, cool, i will figure out with it

[2018-07-18 08:54] #59 closed

[2018-07-18 09:01] AndreiMisiukevich commented on #59
1.5.1 hope will be working

[2018-07-18 20:04] AndreiMisiukevich commented on #57
@marcelinhovt ok, I'm checking it now, but i want to ask you to create small sample project with this issue (zip archive with small solution).
Does it happen on ios or android?

[2018-07-18 20:13] AndreiMisiukevich commented on #57
![image](https://user-images.githubusercontent.com/10124814/42905239-16cb4786-8ae0-11e8-9c9a-d9e79082ce8a.png)

Do you see the space before start of http url? It's can be the reason

[2018-07-18 20:16] AndreiMisiukevich commented on #57
[code]

[code]

That's my sample (I removed SlideShowDuration just for testing, i noticed that your images is too heavy.. and the app can't download them for 1,5 seconds.

So, fix your url and try to set SlideShowDuration 9 seconds for test..

[2018-07-18 20:29] AndreiMisiukevich commented on #57
I think, you should reduce this size of  server images.. and i will be working...

Btw, i changed CachedImage to Image (Xamarin.Forms regular Image) aaaand it works great for me with your images too..

So, reduce the size of images OR try to use regular xamarin Image

[code]

[2018-07-18 20:30] #57 closed

[2018-07-19 01:24] marcelinhovt opened #60 "How to get the Tap gesture on the Cards image?"
I tried the code above and didn´t work. I have a class and the image is a property of the class. I need to get it.
Can you help me ?

[code]

When using this, i just get the image obviouslly!!

[2018-07-19 06:10] AndreiMisiukevich commented on #60
Hi @marcelinhovt. You should add tapGesture to each your CARD, but you tried to add it into the main carousel view. Check the code below =)

[code]
and code behind

[code]

It works fine for me)

P.S. I will appreciate, if you STAR this repository )

[2018-07-19 06:10] #60 closed

[2018-07-19 22:42] marcelinhovt commented on #60
Thaaaaankss bosssss ! I gave a star...

[2018-07-19 23:03] marcelinhovt commented on #60
![sem titulo](https://user-images.githubusercontent.com/17338668/42974719-c864b046-8b8e-11e8-812a-fa94954a1a56.png)

[2018-07-19 23:28] AndreiMisiukevich commented on #60
@marcelinhovt yes, because you need to get BindingContext of your sender

[code]

[2018-07-20 00:28] AndreiMisiukevich commented on #60
Hi, I just release 1.5.3 version (I refactored names and added one useful event)

So, now you can use ItemTapped event =)

[2018-07-20 00:40] marcelinhovt commented on #60
Thanks bosssss.

[2018-07-21 01:52] baranpirincal opened #61 "Logo Design: CardView"
Hello!

I'm a graphic designer and I like to support open source projects. I would like to design a logo for your project if you interested, I will be happy to work with you! :)

Best Regards

Baran Pirinçal

Graphic Designer

[2018-07-22 11:34] deakjahn opened #62 "XA0106 warnings in Adroid project"
Right now I have 38 warnings: "Skipping .... Please check that your Nuget Package versions are compatible". These are supposed to be XA0106 warnings but VS fails to show a code and, consequently, they can't be disabled, either. But all items mentioned in the warnings come from CardView. You should bump up the support package versions, I suppose.

CardsView: 1.5.5
XF: 3.1.0.583944 (I know there is

[2018-07-22 11:36] deakjahn commented on #62
Warning		Skipping XXX.Droid.Resource.Id.withText. Please check that your Nuget Package versions are compatible.	XXX.Android
Warning		Skipping XXX.Droid.Resource.Styleable.ActionMenuView. Please check that your Nuget Package versions are compatible.	XXX.Android
Warning		Skipping XXX.Droid.Resource.Id.useLogo. Please check that your Nuget Package versions are compatible.	XXX.Android
Warning		Skippin

[2018-07-22 13:36] AndreiMisiukevich commented on #62
So, do you want to create PR with fix ?)

[2018-07-22 18:05] deakjahn commented on #62
Never created a nugget in me life. Do you think it would be wise to wait for it now? ;-))

[2018-07-23 00:46] AlfredoSolisFrausto opened #63 "Error XLS0503 Error in CarouselSampleEmbeddedView"
When open CarouselSampleEmbeddedView.xaml appear the error XLS0503: A value of type 'ArrayExtension' cannot be added to a collection or dictionary of type 'IList'. It does not prevent the execution, however it's problematic to work with de xaml code looking at the whole page underlined.

[2018-07-23 07:30] AndreiMisiukevich commented on #63
Hi @AlfredoSolisFrausto
It's good point, i think.
I will have to change type of ItemsSource property to IEnumerable and create additional private property for internal needs =)

[2018-07-23 07:32] AndreiMisiukevich commented on #62
Any ideas?

[2018-07-23 08:55] deakjahn commented on #62
I'm trying to identify what commit solved the issue for other packages (these warning are to be found everywhere, many other packages complained about it). As far as I can tell, but I'm not yet finished investigating, the XF version number should be changed to something up-to-date.

[2018-07-23 09:04] deakjahn commented on #62
This seems to be a relevant comment: https://forums.xamarin.com/discussion/comment/272488/#Comment_272488

In .Droid/packages.config the support packages seem to be rather new but the XF is terribly old. Is this necessary for some reason?

[2018-07-23 09:46] AndreiMisiukevich commented on #62
backwards compatibility

So, what do you suggest? Update XF to latest version?

[2018-07-23 09:48] AndreiMisiukevich commented on #62
I read that comment, and there we knew, that the reason can be XA support packages, but cardsView package has got latest XA.. Do you think, that we should update XF package too?

[2018-07-23 10:01] deakjahn commented on #62
Huh, that's why I said I never built a Nuget package for Xamarin. :-) I grabbed a package now just to see, FFImageLoading, just to look into it and XF versions are up-to-date. So, I'm not sure backwards compatibility really depends on this. But I really don't want to be reponsible for ruining this. :-)

If you might be able to make a test, bring everything up to-date and put it up as a prerelease,

[2018-07-23 11:56] AndreiMisiukevich commented on #62
Hm, sure, I can create prerelease package (You will be able to updated it via local nuget storage.. or you want to receive it from alpha channel?

[2018-07-23 11:59] deakjahn commented on #62
I found one SO reference to a local Nuget store but I never tried it out before. Might be worth a try.

[2018-07-23 12:50] AndreiMisiukevich commented on #62
Yes, exactly
I will create the package for you today's evening

[2018-07-23 12:58] deakjahn commented on #62
OK, thanks, I'll try to look back from time to time. GitHub doesn't seem to send out notifications, although I have them enabled for sure.

[2018-07-23 16:50] b099l3 commented on #13
Made a start to this, should be able to have a look at #64

In terms of a GitHub page, are you wanting just the one page for each control your making or to put all the controls under one?

[2018-07-24 10:14] AndreiMisiukevich commented on #62
@deakjahn forgive me please =( I will do it today ( i was very busy yesterday

[2018-07-24 10:19] AndreiMisiukevich commented on #13
@b099l3 on you wish
I don't know, how it would be more comfortable for developers =)
But I think, now, it's much more better!

Thanks again!

[2018-07-24 10:30] AndreiMisiukevich commented on #13
I think, we should leave base information about controls on the main Readme of the project. For more info developers will have to follow the link =)

[2018-07-24 14:08] IgorPopov56 opened #65 "RTL support"
Hi. Are you going to implement RTL support in CarouselView in nearest future?
For example, I set "FlowDirection" to "RightToLeft" and in this way items in carousel will revert theirs positions. "SelectedIndex == 0" would be the rightest item in Carousel. Also it would be first shown. Thanks for response =)

[2018-07-24 15:42] AndreiMisiukevich commented on #65
Hi @IgorPopov56
Good question, I haven't thought of it yet

[2018-07-24 18:43] AndreiMisiukevich commented on #65
How does  this plugin behave now if you set FD to RTL ?)

[2018-07-24 20:19] AndreiMisiukevich commented on #62
@deakjahn hi

https://drive.google.com/open?id=1EnD1LvwpwkpIn2TU78xWyuyj2XqOaXFI

[2018-07-25 00:35] marcelinhovt commented on #60
My friend. The tap gesture is not recognizing 100%. Some times I tap, but no action happens on debug.

So, i tried to update to the new stable release, but its crashing my app.
I changed the Items for ItemSource and CurrentIndex for SelectedIndex, but its crashing. Appeared the message "System.MissingMethodException: void PanCardView.CardsView.set_SelectedIndex(int)"
I am trying to put the index w

[2018-07-25 06:04] AndreiMisiukevich commented on #60
- remove package from all projects
- delete all bin and obj folders
- close VS
- open VS
- install package again

[2018-07-25 07:23] deakjahn commented on #62
Well, I don't, know, the same warnings. :-(

I can't check what gets compiled into the DLL but the .nuspec still references XF 2.4. If that has got anything to do with it at all, I don't know...

[2018-07-25 07:37] IgorPopov56 commented on #65
@AndreiMisiukevich The property affects the content of each slide, but doesn't affect the actual Carousel.

[2018-07-25 07:54] deakjahn commented on #62
Oops, now they disappeared after the third build. This IntelliSense is really a pain. Let's see if it stays that way.

[2018-07-25 08:54] AndreiMisiukevich commented on #65
@IgorPopov56 there is one small trouble
Now this package support XF from 2.4, but RTL appeared at 3.0, as I know..
Any ideas, how can we work around?.. only one idea - to use reflection for determining, whether control contain FD property and is's RTL..

[2018-07-25 09:47] IgorPopov56 commented on #65
@AndreiMisiukevich Yeah... Can't come up now with the good solution. Indeed, on my mind only reflection.

[2018-07-25 10:14] AndreiMisiukevich commented on #65
hmm, maybe OnPropertyChanged can help us too =)

[2018-07-25 19:33] AndreiMisiukevich commented on #63
@AlfredoSolisFrausto try it now please

[2018-07-25 19:34] AndreiMisiukevich commented on #63
I don't know, why this issue appears at your machine. Probably, you use Win PC/Laptop.. because on Mac it works fine

[2018-07-25 21:50] #63 closed

[2018-07-25 21:51] AndreiMisiukevich commented on #63
if you like this plugin, you can set star on the project)

[2018-07-25 23:02] AlfredoSolisFrausto opened #66 "Error ListView within CarouselSampleEmbeddedView"
Hi again, I found a problem in CarouselSampleEmbeddedView.xaml, if you insert a ListView in a layout of a TabItem.Content (I tried with a StackLayout), you change of TabItem in the execution and then return to the TabItem that has the ListView giving a tab on the header text, the ItemTemplate's ListView disappears.  When do you drag in the TabItem.Content, doesn't happen.

[2018-07-25 23:03] AlfredoSolisFrausto commented on #63
Yeah, you have my star!

[2018-07-26 06:09] AndreiMisiukevich commented on #66
Hi
It's difficult for understanding

Could you please fork this repo, modify the sample, then I will debug this case

[2018-07-26 07:40] AndreiMisiukevich commented on #65
Yes, I will try, but only at weekend

[2018-07-26 07:41] AndreiMisiukevich commented on #65
Maybe, anybody wants to assist me according to this issue?

[2018-07-26 07:44] IgorPopov56 commented on #65
Ok. Thanks ;)

[2018-07-26 08:03] AndreiMisiukevich commented on #62
I think, it's something with you visual studio =(

[2018-07-26 08:11] deakjahn commented on #62
Everything's possible. Still, currently, CardsView is the only Nuget package that shows this behavior. :-)

It became much better, just not perfect (and that's the strangest part of it). I don't have the warnings most of the time, still, sometimes they reappear and linger on until about the first full Android rebuild. Yes, I cleared the .vs folder, more than once.

So, in the end, I can't see anyt

[2018-07-26 08:47] IgorPopov56 commented on #65
@AndreiMisiukevich "Maybe, anybody wants to assist me according to this issue?"
I can. Which type of help you need?

[2018-07-26 08:51] AndreiMisiukevich commented on #65
How should we implement this feature?)

So, first items is on the right side and it still has 0 index
by swiping left cardsView should increment its index..
How can we do it without dozens of checks / tricks etc. I want to find pretty way)

[2018-07-26 08:55] AndreiMisiukevich commented on #62
Cool, i will create prerelease package at weekend, i think

[2018-07-26 09:06] IgorPopov56 commented on #65
@AndreiMisiukevich I didn't see source code of plugin. I need time to investigate your current implementation. Maybe after that I can propose some way.

[2018-07-26 14:52] AlfredoSolisFrausto commented on #66
That's right, I pushed a commit in the fork to reproduce the error found in CarouselSampleEmbeddedView.xaml. I also include a reference image: https://drive.google.com/open?id=1szRW4xD1laGSOXe2jELtq_T-6eInfhXS

Note: In android ocurrs the same.

[2018-07-26 15:22] AndreiMisiukevich commented on #66
very well)
--
If somebody wants to investigate this issue, i will be grateful =)
Or i will look through it on weekend

[2018-07-26 20:12] AndreiMisiukevich commented on #62
Latest XF breaks one of my sample) EmbeddedViewSample
But it isn't matter, i'm sure, that updating packages in sample doesn't affect your project.
Because the plugin uses that version of forms, which is used by your code =)

I'm not going to update forms in my samples now.. maybe later

-- .nuspec still references XF 2.4

It means, that XF 2.4 is lowest supported version =)

[2018-07-26 20:12] #62 closed

[2018-07-26 20:21] deakjahn commented on #62
The latest XF breaks more than one thing, apparently. :-) I'm waiting for that navigation trouble to be fixed, too. The one we were not sure whether it's Card or XF initially but it's XF all right.

[2018-07-26 20:31] AndreiMisiukevich commented on #62
@deakjahn btw, if you like this plugin, you may set star on the project)

[2018-07-26 21:29] AlfredoSolisFrausto commented on #66
Excellent @AndreiMisiukevich now it works correctly!

[2018-07-26 21:35] AndreiMisiukevich commented on #65
**IsRightToLeftFlowDirectionEnabled** - use this property for achieving such feature)

[2018-07-26 21:41] #65 closed

[2018-07-27 16:01] AlfredoSolisFrausto opened #67 "Improvement proposal"
Hi again, I have a proposal for you, using the cardview, I find it very useful be able to use IsCurrent (TabView) as BindableProperty to bind his value to a ViewModel. Also, it would be very useful include a IsVisible property to can control the flow in the interaction. I hope you understand my english.

[2018-07-27 21:14] AndreiMisiukevich commented on #67
IsCurrest - is a property for determining, whether card is selected now, right?
And IsVisible - is a property for determining, whether we need to display this card or should skip..

If i understood you, i think, it's redundant / specific logic, which you are able to realize if you need =)
So, let's skip it for now

[2018-07-27 21:14] #67 closed

[2018-07-29 01:27] dblookup opened #68 "Memory accumulation or memory leak (FFImageLoading + PanCardView)"
Hi everybody,

I am trying to use PanCardView and FFImageLoading (Xamarin Forms) to display pictures fullscreen.
Usually one image weighs about 1MB (format jpg) in 1920px.

I tried 100+ photos images but the app suddenly closes when it reaches the third image (Message Failed to Stop app: IDB410101).

By the way, this is only occurs on iOS (used an iPad). I tried CarouselView and CardsView.

I noti

[2018-07-29 09:17] AndreiMisiukevich commented on #68
Hi
This is very interesting

Did you try to use regular Xamarin Forms image instead of FFImage ?

[2018-07-29 18:13] dblookup commented on #68
Hi Andrei,

Thank you for your prompt reply. I did not try it with simulator yet.

I just tried now with your suggest for insert 4 in MaxChildrenCount and DisiredMaxChildrenCount properties. It worked perfectly, I tried with +120 photos. I think that it was resolved.

Thank you so much for your assistance and congratulations for cardview.

[2018-07-29 18:45] AndreiMisiukevich commented on #68
awesome :)
If you like this plugin, you may set 🌟 star on the repository)

[2018-07-29 19:28] deakjahn opened #69 "[Android]: FFImageLoading image appears too wide"
I have the following very simple layout. If I use a stock XF `Image`, everything is all right. If I use an FFImageLoading `CachedImage`, the image display will be wider than the carousel page, on both sides. This extra image strip will stay there when I swipe to another page, and won't go away until the next swipe touch.

    <cards:CarouselView Items="{Binding Categories}" VerticalOptions="FillAn

[2018-07-29 19:58] AndreiMisiukevich commented on #69
Hi, it seems to be Ffimageloading bug  https://github.com/luberda-molinet/FFImageLoading/issues/1086

@Daniel-luberda

[2018-07-29 20:03] dblookup commented on #68
Sure, I did it.
Tks!

[2018-07-29 20:51] AndreiMisiukevich commented on #69
https://github.com/luberda-molinet/FFImageLoading/releases

Check release notes of 2.3.6
Perhaps, it can be useful to try to set FixOnMesureBehavior to false or try to enable/disable fast renderer

[2018-07-29 21:10] deakjahn commented on #69
I tried another trick that seems to work: I put the FF image inside an extra Grid that has its dimensions bound to the page width and height. But this means that the bug should have been fixed already, we're at 2.4.3 now.

[2018-07-29 21:16] AndreiMisiukevich commented on #69
Got it.. strange issue..

[2018-07-29 21:17] deakjahn commented on #69
OK, the fast renderer seems to be the final culprit. Without it, there is no need for either the FixWhatever static field nor the extra Grid. Did you try without the fast one? I'll note it in Daniel's issue if that's the case.

[2018-07-29 21:30] deakjahn commented on #69
I'm only allowed by GitHub to do that once. ;-))

[2018-07-29 21:31] AndreiMisiukevich commented on #69
What a pity !)) Haha

[2018-07-29 21:32] deakjahn commented on #69
Anyway, thanks for the help and nice catch, I wrote about it there (as I mentioned you, GH had to notify you by now).

[2018-07-29 22:00] AndreiMisiukevich commented on #69
Very well!

[2018-07-30 08:05] #69 closed

[2018-07-30 08:06] #68 closed

[2018-08-01 10:04] wireless-r commented on #54
Setting color worked fine. Is it possible also to set size of the indicator?

I tried to set this but no effect:

[code]

[2018-08-01 10:18] AndreiMisiukevich commented on #54
Try set **double** value
[code]

[2018-08-01 10:37] wireless-r commented on #54
I tried this with no effect:

[code]

[2018-08-01 10:50] AndreiMisiukevich commented on #54
It seems that Xamarin styles was brooken

[2018-08-01 10:57] AndreiMisiukevich commented on #54
You can try to set it directly, without styles
Just override methods at IndicatorsControl

[2018-08-01 11:00] AndreiMisiukevich commented on #54
Create new issue please and let's solve it, maybe find work around

[2018-08-01 16:18] dblookup commented on #32
Strange, I have the same problem. Please, is this resolved?
On android and ios, when I switch from portrait to landscape, the previous page is in the middle of the current one.

[2018-08-01 17:37] dblookup commented on #32
Hi Andrei,
Xamarin.Forms 3.1.0.637273
CardsView 1.5.6

[2018-08-01 19:51] AndreiMisiukevich commented on #32
Could you confirm that this use reproduces on my test samples ? (Which one)
Or send me please your sample

[2018-08-01 19:52] AndreiMisiukevich commented on #54
Ok?

[2018-08-01 22:41] dblookup commented on #32
Sure, I just create a sample. Please find attached.
[PanCardViewApp.zip](https://github.com/AndreiMisiukevich/CardView/files/2251329/PanCardViewApp.zip)

[2018-08-02 07:13] JTOne123 opened #70 "CardsView.RemoveRangeViewsInUse (System.Guid gestureId, System.Boolean isProcessingNow) System.Collections.Generic.KeyNotFoundException: The given key 'df8fc5b0-43bd-4a4f-80fb-967beafc9d44' was not present in the dictionary."
Hi there,

I have this issue again at version 1.5.6.
I have the issue on all version indeed.

[code]

I have a very similar issue on iOS also. (nuget 1.5.6)

[code]

[2018-08-02 09:15] AndreiMisiukevich commented on #70
hmmm, that is VERY strange.
Well, i can add check for existing such key in dictionary, before starting work with it.. but it isn't right way, it seems like OnTouchEnded is called two or more times.
Ok, let's try to figure out with this

[2018-08-02 09:16] AndreiMisiukevich commented on #32
@dblookup  thanks a lot) i will look through it a little bit later (maybe tomorrow, maybe at weekend)

[2018-08-02 09:16] AndreiMisiukevich commented on #70
Perhaps, do you have steps to reproduce this crash?

[2018-08-02 09:33] JTOne123 commented on #70
Unfortunately, I don't know how to reproduce.

It happens very rarely, on iOS I had the crash 3 times on 2,5K seances
Android only once

Maybe it happens because SlideShowDuration and user clicks at an inopportune moment

[2018-08-02 09:59] AndreiMisiukevich commented on #70
certainly..

[2018-08-02 10:11] AndreiMisiukevich commented on #70
Ok i will validate this case tomorrow/on weekend

[2018-08-02 10:12] JTOne123 commented on #70
thank you!

[2018-08-02 11:55] baranpirincal commented on #61
Hey!

I made a logo design for CardsView.

I hope you like it! I am waiting your comments.

![cardsview](https://user-images.githubusercontent.com/37786733/43582119-ec1f4412-9663-11e8-92d3-e117362b12ab.jpg)

Best Regards
Baran Pirinçal

[2018-08-02 16:30] AndreiMisiukevich commented on #61
Thats awesome!
Could you please split them and create 4 images (Colored image with text and without text and black-white image with text and without text) and create PR to my repo (you can create additional folder "images"

[2018-08-02 20:49] AndreiMisiukevich commented on #70
I found one bug in code.
Hope next release will be OK (will create it on weekend)

[2018-08-03 01:51] baranpirincal commented on #61
@AndreiMisiukevich

Hey!

I created pull-request and uploaded files as you wish.

Good luck with that!

Best Regards

Baran Pirinçal

[2018-08-03 07:40] AndreiMisiukevich opened #72 "Pan-Zoom issue (Swipe gesture)"
More info here
https://forums.xamarin.com/discussion/comment/341723

[2018-08-03 08:18] AndreiMisiukevich commented on #32
@dblookup why don't you want to user ItemTemplate and any ItemsSource?
A added one extra check/attempt, but don't think, that it will help.

So, as you use Views collection instead of ItemTemplate, there is only one instance of you view at one time, and when you change orientation of you device, sometime app cannot get in time all animations etc. And i think, it can be the reason.

Btw, could you

[2018-08-03 08:27] AndreiMisiukevich opened #73 "[Enhancement] Disable autonavigation animation"

[2018-08-03 08:28] AndreiMisiukevich commented on #73
Added property **IsAutoNavigatingAimationEnabled**

[2018-08-03 09:54] BlackRamsis opened #74 "[iOS] Swipe Crash CarouselView 1.5.6"
Hy,

i used the Carousel with webviews in 1.5.0 and everything was fine. But in 1.5.6 i get a crash in iOS after about 10 swipes. (if i switch back to 1.5.0 everything is fine again)

I catched the bug with Hockeyapp  -> Collection <CALayerArray: 0x61000024c660> was mutated while being enumerated.'

[2018-08-03 10:05] AndreiMisiukevich commented on #74
Hi @BlackRamsis thank you very much for your feedback
Could you please create small sample with this issue?

It means, that i need to lock something in additional palace..

[2018-08-03 10:20] BlackRamsis opened #75 "Items are not disposed"
Hy,

i use the Carousselview with webviews. After someone swipes to the next page i use javascript to get the filter settings of the user. next time he comes back i set them again.

I use Safari/Chrome to test the javascript directly on the device via debugging. While doing this i have seen a strange behavior with the first items in the Caroussel

iOS:
When i open the Caroussel on position 0. i se

[2018-08-03 10:56] AndreiMisiukevich commented on #75
Could you try to set IsViewCacheEnabled = false ?

[2018-08-03 11:14] BlackRamsis commented on #74
i tried to reproduce this with an simple app, but the error is not showing. seems like  a race condition only happening while heavy load

[2018-08-03 11:27] BlackRamsis commented on #75
still the same

[2018-08-03 11:28] MaxenceMax commented on #74
since the new update, I have some lag and crashes to

[2018-08-03 11:54] BlackRamsis commented on #75
i set backviewdepth=1 and DesiredMaxChildrenCount = 1, now its working much better. Maybe after 20 swipes i see one page twice

[2018-08-03 12:28] reense opened #76 "IndicatorsControl color?"
Hello all,

Is there a way to make the color of the indicatorscontrol black?

[2018-08-03 13:03] dblookup commented on #32
Hello Andrei,
Ok, but it is occured in both situations (ItemTemplate and ItemsSource). Please, find attached the video.

[cardview_mov.zip](https://github.com/AndreiMisiukevich/CardView/files/2257434/cardview_mov.zip)

Thank you so much!

[2018-08-03 14:36] br-oc opened #77 "[iOS] CarouselView inside PullToRefresh control"
Hi,

I use the carouselview inside of pulltorefresh control, in Android work as expected but on iOS don't!
I hope  some one can help me to find a solution.

Greatings!

[2018-08-03 14:38] braulio-oc commented on #76
Hi you can define the style in the constructor, this is my sample

`var indicators = new IndicatorsControl
            {
                SelectedIndicatorStyle = new Style(typeof(Frame))
                {
                    Setters = {
                        new Setter { Property = BackgroundColorProperty, Value = Color.DarkGray.MultiplyAlpha(.8)},
                        new Setter { Property =

[2018-08-03 14:45] AndreiMisiukevich commented on #77
Hi @braulio-oc
I will help you, for sure, if you provide me small sample, please )

[2018-08-03 14:47] AndreiMisiukevich commented on #76
@reense hi
Yes, for sure
https://github.com/AndreiMisiukevich/CardView/issues/54

[2018-08-03 14:49] AndreiMisiukevich commented on #13
I think, it can be closed.
For now it is more than enough)

[2018-08-03 14:49] #13 closed

[2018-08-03 14:57] reense commented on #76
Thanks!!

[2018-08-03 14:57] #76 closed

[2018-08-03 16:11] braulio-oc commented on #77
Thanks Andrei
Here is the repro, also use ParentScrollView inside

[https://github.com/braulio-oc/CardViewInsidePullToRefresh](url)

Greatings

[2018-08-03 20:28] AndreiMisiukevich commented on #76
@reense if you like this plugin, you can support it by setting star on this repo ;)

[2018-08-03 20:30] #73 closed

[2018-08-03 20:47] AndreiMisiukevich commented on #70
it will be available in next release )

[2018-08-03 20:47] #70 closed

[2018-08-05 23:12] AndreiMisiukevich commented on #32
@dblookup hope these fixes will help you.
You may check reproducing of this issue this in my samples or create local nuget ..

[2018-08-05 23:12] #32 closed

[2018-08-05 23:31] AndreiMisiukevich commented on #77
Indeed, there is such issue.
It seems, PanGesture steals gestures from PullToRefreshLayout

I think, we should end with SwipeGesture, and it would be great work around https://github.com/AndreiMisiukevich/CardView/issues/72

[2018-08-05 23:32] AndreiMisiukevich commented on #77
also, you can ask developers of that plugin, how can we solve this issue =)

[2018-08-05 23:33] AndreiMisiukevich commented on #74
hmmm, how can we emulate it?

Maybe, you can download source code and debug it with your heavy project.
Probably, we can retrieve more info..

[2018-08-06 15:11] IgorPopov56 commented on #65
@AndreiMisiukevich Hi =) Thanks for enhancement. But there is a bug with indicators. Selected indicator is left when IsRightToLeftFlowDirectionEnabled=true. But should be the right one.

[2018-08-06 15:12] AndreiMisiukevich commented on #65
@IgorPopov56 great point ) I forgot about it..
create bug please

[2018-08-06 15:23] IgorPopov56 opened #78 "RTL indicators bug"
There is a bug with indicators. Selected indicator is left when IsRightToLeftFlowDirectionEnabled=true. But should be the right one.

[2018-08-06 15:25] AndreiMisiukevich commented on #78
Cool, i will fix it asap

[2018-08-06 23:48] #78 closed

[2018-08-06 23:49] AndreiMisiukevich commented on #75
could you send me reproduction project?

[2018-08-07 08:07] IgorPopov56 commented on #78
Big thanks =)

[2018-08-07 09:12] AndreiMisiukevich commented on #78
@IgorPopov56 you are welcome) you may star this repo)) it helps to support it)

[2018-08-07 09:55] IgorPopov56 commented on #78
Done =)

[2018-08-07 16:33] requenaxii commented on #50
I'm facing the same issue right now, I tried with latest release and 1.5.0-netstandard2.0-possible-fix and still happens.

Was working until I updated Visual Studio for Mac elements to the latest version due requirement this noon... any clue?

[2018-08-07 16:39] AndreiMisiukevich commented on #50
Try to create it from code

[2018-08-07 19:08] AndreiMisiukevich commented on #75
@BlackRamsis ?

[2018-08-07 19:33] AndreiMisiukevich commented on #77
@braulio-oc does it work for iOS at all?
I tried with such markup

[code]

And it didn't work

[2018-08-07 19:35] AndreiMisiukevich commented on #77
Can you make it working without carouselView.
_
I added IsPanInteractionEnabled property (true by default).
If you make it working WITHOUT carouselView, try next steps

1) Instal latest pre-release package (1.5.8-pre1)
2) In AppDelegate call CardsViewRenderer.Preserve()
3) Set IsPanInteractionEnabled to false

[2018-08-07 21:29] braulio-oc commented on #77
Yes, its work without CarouselView, I'll try repro yours steps and I'll report you my results
Thansk Andrei
Greatings!

[2018-08-08 06:56] BlackRamsis commented on #75
Hy Andrei, sry i have alot to do at the moment. I hope i can create something next week

[2018-08-08 09:43] AndreiMisiukevich commented on #75
@BlackRamsis i'm waiting )

[2018-08-08 09:44] AndreiMisiukevich commented on #74
and this issue too =)

[2018-08-08 16:25] br-oc commented on #77
Hi Andrei,

In the latest builds there is no PositionChanged and  OnCardCarouselAutoNavigationEnded, this events are very useful for me, How can I achieve the same behavior?
I'm trying to implement your solution with IsPanInteractionEnabled

Thanks Again!

Greatings!

[2018-08-08 16:35] AndreiMisiukevich commented on #77
@br-oc yes, they were marked as obsolete some builds ago and recently were removed.

Now you should use these ones

public event CardsViewItemDisappearingHandler ItemDisappearing;
public event CardsViewItemAppearingHandler ItemAppearing;

[2018-08-08 22:51] br-oc commented on #77
Hi, just reporting my results.

It Works!!!!

Here the sample:
[https://github.com/br-oc/CardViewInsidePullToRefresh](url)

Needs use a scrollview inside the pulltorefreshlayaout and the steps that you mention before

Greatings!!!

[2018-08-08 23:06] AndreiMisiukevich commented on #77
@br-oc very well!
I will close this issue, it will be available as stable version soon

[2018-08-08 23:06] #77 closed

[2018-08-08 23:27] AndreiMisiukevich commented on #72
IsPanInteractionEnabled = false

[2018-08-08 23:27] #72 closed

[2018-08-08 23:32] AndreiMisiukevich commented on #74
could you please update package step by step and tell me, what version breaks your app =)
It isn't very difficult, use binary search for it)

firstly check version 1.5.3, and
if it's fine, check 1.5.2 - 1.5.1,
else check version 1.5.4 - 1.5.5

[2018-08-08 23:33] AndreiMisiukevich commented on #77
you may use 1.5.8 version

[2018-08-09 09:46] AndreiMisiukevich commented on #75
Video/Screenshots at least...

[2018-08-10 07:29] grammatnMcK opened #79 "ParentScrollView doesn't work properly on the version 1.5.8 on iOS"
The scrolling function is working but not the swiping

[2018-08-10 07:34] #79 closed

[2018-08-10 07:34] grammatnMcK commented on #79
The IsPanInteractionEnabled was blocking the swiping. Sorry :)

[2018-08-10 08:33] AndreiMisiukevich commented on #79
@grammatnMcK no problem) enjoy it)

[2018-08-10 15:50] shoeIT opened #80 "Crash on iOS: Name: NSInternalInconsistencyException Reason: Invalid parameter not satisfying: [views count] == 3"
Hello,
I'm evaluating your control and I'm using it more and more but I get this error sometimes:
Unhandled Exception:

Foundation.MonoTouchException: Objective-C exception thrown.  Name: NSInternalInconsistencyException Reason: Invalid parameter not satisfying: [views count] == 3
Native stack trace:
	0   CoreFoundation                      0x0000000113f131e6 __exceptionPreprocess + 294
	1   libob

[2018-08-10 16:34] AndreiMisiukevich commented on #80
Hi, could you show me your xaml/csharp ?

[2018-08-10 16:38] AndreiMisiukevich commented on #80
It seems like Xamarin
It's native crash otherwise CardsView is almost fully cross platform..
Also tell me please your Xamarin Forms version

[2018-08-11 03:25] hameedibrahim commented on #80
How to get scroll direction??

[2018-08-11 04:15] AndreiMisiukevich commented on #80
@hameedibrahim what exactly do you mean?

[2018-08-11 05:28] hameedibrahim commented on #80
I want to get right and left scroll direction listner of carousel view

[2018-08-11 05:40] AndreiMisiukevich commented on #80
@hameedibrahim what do you try to achieve?)
Could you describe an example?

[2018-08-11 06:08] hameedibrahim commented on #80
In my code If I hit the button first time it will get first two item from sqlite db and it will be store  in the list. and first time list count will be 2 and i will set the list to the
                      **carousel.ItemsSource = list;**
If I am swiping to right direction i will clear the list and I will fetch the items from sqlite db and now it will be store in the list. and now the list count

[2018-08-11 14:15] AndreiMisiukevich commented on #80
Check ItemAppearing event..
But if you have only one element at your CardsView, you can't swipe, because there are no more element.
As you have 2 items and try to swipe right, nothing will happen..
Do I understand you correctly? You want always to have ability to handle swipe, right?

[2018-08-11 15:15] AndreiMisiukevich commented on #80
@hameedibrahim Ok, you may use ItemAppearing event

[2018-08-12 16:57] AndreiMisiukevich commented on #80
@shoeIT sample please

[2018-08-12 17:09] AndreiMisiukevich commented on #80
https://github.com/ermalkaleci/CarbonKit/issues/177

it seems, you calling something not it UI thread.
Probably, you update ObservableCollection ?

btw, the same issue had alexrainman carouselView (check link below)  https://github.com/alexrainman/CarouselView/issues/226

[2018-08-12 17:09] #80 closed

[2018-08-13 10:31] AndreiMisiukevich opened #81 "ItemTapped event issues"
The user reported, that this feature breaks ListView itemTap event handling.
So, i think, it would be proper to remove this feature at all or provide possibility to enable this functionality by adding a behavior to card (e.g. CardsViewTapListenerBehavior).

Any ideas?.. maybe, removing would be more right, because everybody can add tapGesture by himself)

[2018-08-13 13:39] shoeIT commented on #80
"Probably, you update ObservableCollection ?"

jep that's possible I try this...unfortunately its not easy to reproduce. Thanks

[2018-08-13 15:08] shoeIT opened #82 "condition never true, because of wrong comparison"
that's the line I'm talking about:
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs#L1226
 if (ItemsSource[i] == CurrentView.BindingContext)

In my case the BindingContext of a view is the ViewModel since I'm using MVVM and therefore the condition is never true and the selected index always 0.

I think this addition would help, it fixes my issues atm:

ItemsSource

[2018-08-13 19:55] AndreiMisiukevich commented on #82
https://github.com/AndreiMisiukevich/CardView/issues/81

btw, i think, i will remove ItemTapped event.. )

[2018-08-13 20:02] AndreiMisiukevich commented on #81
This event has been removed

[2018-08-13 20:02] #81 closed

[2018-08-14 00:38] LeoJHarris opened #83 "IsPanInteractionEnabled doesn't work"
I just updated the nuget package and when I launch my page with the CardView in it with the field:

IsPanInteractionEnabled = false

I am getting an exception:

System.MissingMethodException: void PanCardView.CardsView.set_IsPanInteractionEnabled(bool)

I am trying to enable the pinching / zoom of images and read somewhere else this was the way to do it in the new version but am now getting an exc

[2018-08-14 03:09] AndreiMisiukevich commented on #83
Hi Leo
I saw similar issue.. I suggest you to try next approach:
1) Remove nuget package fro
m all projects
2) Close Visual Studio
3) remove all bin / obj folders
4) Open VS again
5) install CardsView package again

If exception doesn't go away, try to set this property from code (if you used to work with xaml)

[2018-08-14 03:11] LeoJHarris commented on #83
Ill give it a go now. As a side note the property was initially being set in from code.

[2018-08-14 03:28] LeoJHarris commented on #83
sure.. one moment

[2018-08-14 03:45] LeoJHarris commented on #83
[SampleCardView.zip](https://github.com/AndreiMisiukevich/CardView/files/2285429/SampleCardView.zip)

Sample attached

[2018-08-14 03:58] #82 closed

[2018-08-14 04:11] #83 closed

[2018-08-14 04:12] AndreiMisiukevich commented on #74
@BlackRamsis any updates?)

[2018-08-14 04:13] LeoJHarris commented on #83
Okay so its one or the other cannot have both?

[2018-08-14 04:17] AndreiMisiukevich commented on #83
@LeoJHarris you may have both if set IsPanInteractionEnabled = false (and only if set this property to false).

But as I noticed, you haven't used them PanGestureRecognizer / PinchGestureRecognizer

[2018-08-14 06:21] acidbless opened #84 "Add ItemSwiped event and command"
Hi,
First of all I want to say thank you for your nice library. I have a specific task to enable vertical swipe gestures on a currently visible card. For example top swipe will remove the current item from the items collection and the bottom swipe will perform a certain business task. So the question is how to implement this functionality?

[2018-08-14 06:36] AndreiMisiukevich commented on #84
Hi, thanks for feedback

You can check platform-specific code and make vertical swipes regarding to existing implementation.
Or probably it can an enhancement for next release

[2018-08-14 08:19] AndreiMisiukevich commented on #84
@acidbless what do you think?
Will you implement it by yourself? Or want to get "from box" ?

[2018-08-14 08:34] acidbless commented on #84
I think it would be a good addition to your component. Thanks!

[2018-08-14 16:08] ernestoyaquello opened #85 "Vertical scroll doesn't work properly on iOS"
Hi, I am using the control `CarouselView` (version 1.5.5) in a Xamarin Forms app this way:

[code]

This works fine on Android, but the vertical scrolling doesn't seem to work properly on iOS (I can scroll up and down, but it is very hard and wonky because the view stops scrolling as soon as I put my finger up). Interestingly enough, it seems to scroll perfectly when using two fingers.

Is there a

[2018-08-14 16:42] AndreiMisiukevich commented on #85
Hi @ernestoyaquello
Only one workaround
Set **IsPanInteractionEnabled** to **False**

In this case you will lose possibility to pan cards, but you will preserve possibility to swipe them and ScrollView, i hope, will work well.

[2018-08-14 16:45] ernestoyaquello commented on #85
Hi @AndreiMisiukevich, thanks for the response. Would it be possible to pan cards while also having vertical scrolling working properly on iOS? I need the ability to pan cards...

[2018-08-14 16:46] AndreiMisiukevich commented on #85
@ernestoyaquello unfortunately, no. I didn't find a solution, how to handle this case.
if you know, i will appreciate you suggestions PR's.

[2018-08-14 16:47] #85 closed

[2018-08-14 16:47] ernestoyaquello commented on #85
I will take a look. Thanks for the quick response anyway!

[2018-08-14 16:55] ernestoyaquello commented on #85
@AndreiMisiukevich I removed the outer `ParentScrollView`, implemented a normal `ScrollView` as the parent of my carousel item template view... and now everything seems to be working fine on both platforms.

[2018-08-14 17:03] AndreiMisiukevich commented on #85
Thanks for your investigation.
That's fine to read , but it is a little bit strange.. what version of Xamarin Forms do you use?

[2018-08-14 20:42] ronaldosena opened #86 "IndicatorsControl overflow"
First, thanks for the tool!

I want to put the Indicators Control between the cards and the colored button group, but when I try to TranslateY it is being cut by the end of the CarouselView.

![screenshot_20180814-172527](https://user-images.githubusercontent.com/23301665/44116955-4bd1c988-9fe8-11e8-8f9b-42065810b52c.png)

I tried making the CarouselView bigger and the Card smaller, so there would

[2018-08-14 23:34] eamreyes commented on #86
I to need to control the location of the IndicatorsControl. I defined an IndicatorsControl outside of the Carousel/Cardview which allowed me to move it wherever I needed to in a layout. Then the IndicatorsControl properties need to be bound to the Carousel/CardView.

[code]

Its important to assign false to the UseParentAsBindingContext property. The current implementation of the control assumes y

[2018-08-15 03:26] AndreiMisiukevich commented on #86
Hi all
@ronaldosena yes, as @eamreyes said, it's possible.

But as I remember, you needn't have to bind every property, next lines would be enough:

[code]

Because all bindings are defined at constructor. Indeed, as @eamreyes noted, you should set **UseParentAsBindingContext** to **False** and bind indicators bindingContext to your Carousel/Cards control.

[2018-08-15 03:27] #86 closed

[2018-08-15 08:07] acidbless commented on #84
Can you tell when it's ready? I'm currently trying to get workaround through implementation of IOrdinateHandlerParentView, but it looks like this option works only for iOS, CardsView.cs: 1385.

[2018-08-15 08:34] ernestoyaquello commented on #85
@AndreiMisiukevich My Xamarin Forms version is `2.5.0.91635`. I forgot to mention that I updated the plugin to the version `1.5.9`, but the vertical scroll still didn't work properly until I changed the layout.

[2018-08-15 09:36] AndreiMisiukevich commented on #84
@acidbless i will do it on weekend, i think

[2018-08-15 09:38] AndreiMisiukevich commented on #85
@ernestoyaquello so, regular ScrollView is fine for both platforms?

[code]
?

[2018-08-15 09:46] AndreiMisiukevich commented on #84
iOS: https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.iOS/CardsViewRenderer.cs#L24-L31

Need add Up and Down gestures

Android: https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/CardsViewRenderer.cs#L188-L204

Handle vertical swipes as well I've already implemented it..

[2018-08-15 10:36] ernestoyaquello commented on #85
@AndreiMisiukevich No, sorry if I didn't explain it correctly. I wanted to be able to swipe between pages horizontally while also being able to scroll vertically inside each one of the pages. My final layout, which seems to be working fine on both platforms, looks like this:

[code]

As you can see, I got rid of the `ParentScrollView`, and so far I haven't seen any errors.

I hope this can be of h

[2018-08-15 11:09] AndreiMisiukevich commented on #75
@BlackRamsis any updates?

[2018-08-15 11:09] AndreiMisiukevich commented on #74
@BlackRamsis  upd.

[2018-08-16 20:02] nawidy opened #87 "Template Selector"
Hi @AndreiMisiukevich,

Do you support the usage of TemplateSelector?

Thanks,
-Nawid

[2018-08-16 20:12] AndreiMisiukevich commented on #87
Hi) of course :)
ItemTemplate supports selector as well as simple template

[2018-08-16 20:12] #87 closed

[2018-08-17 06:36] rkotulan opened #88 "System.InvalidOperationException: Cannot change ObservableCollection during a CollectionChanged event."
We occasionally experience this error.
Android, MvvmCross.

CardsView.AddChild (Xamarin.Forms.View topView, Xamarin.Forms.View[] views)
System.InvalidOperationException: Cannot change ObservableCollection during a CollectionChanged event.
ObservableCollection`1[T].CheckReentrancy ()
ObservableCollection`1[T].InsertItem (System.Int32 index, T item)
Collection`1[T].Insert (System.Int32 index, T item

[2018-08-17 06:57] AndreiMisiukevich commented on #88
Hi and thanks for feedback
Was your changing any collection , when crash appeared ?

Could you please provide repro sample latter?

[2018-08-17 12:50] rkotulan commented on #88
I have quite simple setup

View with CachedImage
[code]

ViewModel
[code]

I will try to prepare repro sample later, but problem is that app crash occasionally.

[2018-08-17 13:49] AndreiMisiukevich commented on #84
Hi @acidbless
Do you want to test pre-release package?

[2018-08-17 14:12] AndreiMisiukevich commented on #84
1.6.0 version

[2018-08-17 14:12] #84 closed

[2018-08-17 14:13] AndreiMisiukevich commented on #84
ItemSwiped and ItemSwipedCommand

[2018-08-17 14:20] AndreiMisiukevich commented on #88
Ok, i'm waiting your sample =) let's figure out

[2018-08-17 14:20] AndreiMisiukevich commented on #74
@BlackRamsis  upd.

[2018-08-18 17:52] deakjahn opened #89 "Carousel with virtual pages"
It's more like a question but I wonder if, judging how the carousel works internally, you could suggest something. Let's suppose a carousel of virtual pages. Virtual in the sense that I'm unable to give you a list up front containing all items. However, at any time, I can provide the current page and I can answer whether there is a previous and a next page. And if there is, I can provide that prev

[2018-08-18 18:03] AndreiMisiukevich commented on #89
Hi) haha, I removed this feature in one of the past releases )
Because, thought, that nobody needs it.

Ok, you may create observable collection of your binding contexts (3 items)
And after every swipe remove redundant item and add new one

[2018-08-18 18:29] deakjahn commented on #89
Now, that's a nice idea. I'll try that but I have a few other hurdles now before that. XF is so enamored of MVVM that it's awfully hard to do things that are not as clear cut as the MVVM crowd thinks... :-)

[2018-08-19 22:31] AndreiMisiukevich commented on #89
Let me know if you have any troubles

[2018-08-19 22:31] #89 closed

[2018-08-19 22:32] AndreiMisiukevich commented on #88
Also I suggest you to try set your items in main thread

[2018-08-20 07:01] rkotulan commented on #88
It seems to be ok. Thanks.

[2018-08-20 07:01] #88 closed

[2018-08-20 10:01] morhung opened #90 "[Android] Don't scroll item in list view"
Hy,

I use the CarouselView with DataTemplate is listview. On iOS, it 's working. But on Android, it not scroll the item in listview?

[2018-08-20 10:09] AndreiMisiukevich commented on #90
Hi
Show your xaml please

[2018-08-20 10:16] morhung commented on #90
Hi bro,
`    <cards:CarouselView
        VerticalOptions="FillAndExpand"
        HorizontalOptions="FillAndExpand"
        ItemsSource="{Binding ItemMenuLists}">
        <cards:CarouselView.ItemTemplate>
            <DataTemplate>
                <ListView
                    ItemsSource="{Binding TestList}">
                    <ListView.ItemTemplate>
                        <DataTemplate>

[2018-08-20 10:33] morhung commented on #90
Yes..set VerticalSwipeThresholdDistance = 1000...It 's working.. Tks bro :)

[2018-08-20 11:17] AndreiMisiukevich commented on #90
@morhung if you like this plugin, you can star it)

[2018-08-20 11:17] #90 closed

[2018-08-21 06:04] nawidy opened #91 "Programmatically Set Position"
Hi @AndreiMisiukevich,
I'd like to be able to programmatically set the position of the carousel view. However I'd like to also have the option to enable the animation and disable it.
It looks like currently, I would need to set the private field to public to be able to do this. Is this right?
I have created a new carousel class and inherits from your carousel class currently. I'd like to to avoid

[2018-08-21 08:30] AndreiMisiukevich commented on #91
Hi
you have already had this possibility

1) IsAutoNavigatingAimationEnabled = false // disable animations
2) Set new index
3) IsAutoNavigatingAimationEnabled = true // allow animations again

[2018-08-21 08:33] AndreiMisiukevich commented on #91
let me know, please, if you have any troubles =)

btw, if you like this plugin, you may star it =)

[2018-08-21 08:35] AndreiMisiukevich commented on #75
closed for now) i will reopen it, if you send me reproduction)
thx

[2018-08-21 08:35] AndreiMisiukevich commented on #74
closed for now) i will reopen it, if you send me reproduction)
thx

[2018-08-21 08:35] #74 closed

[2018-08-21 08:35] #75 closed

[2018-08-21 16:14] nawidy commented on #91
Awesome thanks @AndreiMisiukevich!

[2018-08-21 16:40] nawidy commented on #91
@AndreiMisiukevich this doesn't seem to work. My card seems to ghost and stay static on top.
A bit more on what I'm doing here:
I was using a different carousel package prior to switching over to yours and in that I had written code to switch between templates when a button is clicked.
If a button on my card is clicked, it would switch over to another template. In my case it would switch between e

[2018-08-21 18:15] AndreiMisiukevich commented on #91
Could you please create small sample project ? It would be amazing.

BTW, firstly you can try to set animationEnabled and index in Main thread

[2018-08-21 18:17] nawidy commented on #91
Thanks @AndreiMisiukevich,
How would the code look like if I tried to do this on the main thread? this currently is a result of an image tapped action.

[2018-08-21 18:19] AndreiMisiukevich commented on #91
BTW, you sent me two parts of code. And the first part is related to Alex carousel view.. not mine
Do you use both?

[2018-08-21 18:20] nawidy commented on #91
You are correct. The first part was when I was Alex Carousel view, I have changed my code to the 2nd part which is using your framework. The first part has been changed to be the 2nd part.

[2018-08-21 18:21] AndreiMisiukevich commented on #91
Device.BeginInvokeInMainThread

And insert code below there

CardsCarouselView.IsAutoNavigatingAimationEnabled = false;
            CardsCarouselView.SelectedIndex = position;
            CardsCarouselView.IsAutoNavigatingAimationEnabled = animateTransition;

[2018-08-21 18:27] AndreiMisiukevich commented on #91
I need whole code, please

[2018-08-21 18:42] AndreiMisiukevich commented on #91
Should I wait the sample from you?

[2018-08-21 18:43] nawidy commented on #91
Hi Andrei, I’m currently working on creating a sample for you to see.

[2018-08-21 19:11] nawidy commented on #91
Hi @AndreiMisiukevich,
I have e-mailed you a sample

[2018-08-21 19:16] nawidy commented on #91
Can you let me know if you have received it @AndreiMisiukevich ?

[2018-08-21 22:13] AndreiMisiukevich commented on #91
@nawidy hey, I investigated your issue.
I think, it would be better, if you won't use DataTemplateSelector.

So, every card has got two layouts:

!Main Layout!
-> Primary layout (IsVisible = true if template id = RegularView)
-> Edit layout (IsVisible = true if template id = EditView)

Just bind IsVisible property to your TemplateId with converter.
It is the easiest way.. because it isn't very wel

[2018-08-21 22:14] #91 closed

[2018-08-21 22:17] nawidy commented on #91
Thanks @AndreiMisiukevich,
I was thinking a better approach may be to use the DataTemplateSelector for my various view options, and when wanting to go into edit mode to switch layouts like you have suggested.
Thanks again!

[2018-08-21 22:26] AndreiMisiukevich commented on #91
[code]

[2018-08-21 22:27] AndreiMisiukevich commented on #91
[code]

[2018-08-21 22:29] AndreiMisiukevich commented on #91
Yep, it could be a good approach.. but there is no pretty way to recreate view on property changed...

[2018-08-22 08:59] JTOne123 opened #92 "Droid: CardsView.AddChild (Xamarin.Forms.View topView, Xamarin.Forms.View[] views) System.InvalidOperationException: Cannot change ObservableCollection during a CollectionChanged event."
Hi Andrei,
I got a new exception
Version 1.5.8

[code]

[2018-08-22 09:52] AndreiMisiukevich commented on #92
Hi, do you change your itemsSource elements at your code?
I think you should do it in main thread

[2018-08-22 12:16] AndreiMisiukevich commented on #92
indeed.. every layout is observable collection...
But that is strange we getting crashes, however I add lock(_childLocker) in all places, where we interact with Children collection.

So, I think, this is Xamarin.Forms bug, probably it would be great idea to send them an issue.
From my side, i will try to catch this type of exception, and retry adding.

The same exception, as I see https://github.c

[2018-08-22 12:18] JTOne123 commented on #92
I guess you are right

[2018-08-22 12:26] #92 closed

[2018-08-22 12:30] AndreiMisiukevich commented on #92
1.6.1

[2018-08-23 12:46] karlingen opened #93 "[Android] Add possibility to work with CardsView with "Disabled animations" setting"
I'm on version `1.6.1` and I've initialized it using 3 pages like this:

[code]

And the appearance on a Samsung device is totally messed up once you begin swiping.

Any ideas what the issue might be?
It runs perfectly on iOS devices and on a `Blackview A20` phone.

[2018-08-23 13:25] karlingen commented on #93
The app can be downloaded from here https://play.google.com/store/apps/details?id=se.codehacker.RePT

The initial wizard that is displayed when the app launches uses CardView

[2018-08-23 13:30] karlingen commented on #93
Since I don't own a Samsung device I cannot confirm that the animation was turned off.
This was reported from a Beta-tester and I've tried it on Samsung Test Lab and had the same issue there.

[2018-08-23 13:30] AndreiMisiukevich commented on #93
My device isn't compatible with this app. (I have Android 6.0)

[2018-08-23 13:31] karlingen commented on #93
@AndreiMisiukevich https://play.google.com/apps/testing/se.codehacker.RePT
Try the latest beta, it should have support for v6 and up.

[2018-08-23 13:31] AndreiMisiukevich commented on #93
Could you send me video with this issue?
And I need a small sample with code for reproducing that issu

[2018-08-23 13:37] karlingen commented on #93
Oh boy, I just tried it in a simulator with animations disabled. And I get that exact problem!
So my beta-tester probably had animations disabled and the same must've been the case when I tried it on Samsung Test Lab.  🤦‍♂️ 🤦‍♂️ 🤦‍♂️

Thanks for the heads up....

[2018-08-23 13:38] AndreiMisiukevich commented on #93
Haha) Just wanted to say, that on my Xiaomi it works fine)

So, i'm glad to read it =)
If you like this plugin, you may set STAR =)

[2018-08-23 13:40] karlingen commented on #93
I already did man, long time ago! 👍 It's pure awesomeness!

You might have solved my other error-reports that I have received from the Beta-tester 😂 There were some other places in the app that were causing issues due to animation.

[2018-08-23 13:42] AndreiMisiukevich commented on #93
You are welcome !)

[2018-08-23 13:47] karlingen commented on #93
So correct me if I'm wrong. But shouldn't applications work although users disable their animation?
Like, show next page but without animating to it.

[2018-08-23 13:50] AndreiMisiukevich commented on #93
@karlingen good question, you can investigate this point
I use regular Animation class from Xamarin "box" =)

[2018-08-23 14:11] karlingen commented on #93
I should be able to disable animation for the Carousel if I extend the created processors, right?
I'm thinking of adding a check wether device has animation disabled or not and reflect that setting to the animator for the Carousel. :)

[2018-08-23 19:08] karlingen commented on #93
This piece of code works for checking if animations are disabled on Android:

[code]

[2018-08-23 19:45] AndreiMisiukevich commented on #93
@karlingen do you want to contribute to this project ?)
You may create Interface IAnimationsChecker there https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardView/Utility
-> Create AnimationsChecker service for android https://github.com/AndreiMisiukevich/CardView/tree/master/PanCardView.Droid

Just one Property AreAnimationsEnabled

[2018-08-23 20:09] karlingen commented on #93
I just tried (before seeing your answer) to implement a `NoAnimationCarouselFronViewProcessor` and `NoAnimationCarouselFrontViewProcessor` and it was a pain!

So your solution might work better, if you have plans on fixing it after I've implemented what you've asked for 😊

I can create the interface and the AnimationsChecker service for android. But then what? Will you take over from there?

[2018-08-24 04:07] stevenchingch opened #94 "CarouselView affecting ScrollView"
Hi AndreiMisuikevich,

I encountered an issue using CardView (CarouselView), explained below.
I am using CarouselView at the top of my page.
The CarouselView is within a ScrollView, capable of scrolling up/down.

When I'm at the top of the page, scrolling left/right seems to interfere with ScrollView wanting to scroll up and down. How can I make it where once I start swiping left/right on the Caro

[2018-08-24 09:34] AndreiMisiukevich commented on #94
Hi
Have you read https://github.com/AndreiMisiukevich/CardView#workarounds yet?)

[2018-08-24 10:29] stevenchingch commented on #94
Hi Andrei, thank you so much for your response. Yes. I’ve read and added the necessary workarounds. Even with that, it doesn’t fix the issue I’m experiencing.

I also do have pull to refresh layout too (sorry forgot to mention this, and I think this is the reason) and it is triggering with or without the workarounds in place. Any idea if I can add an onscrolled event so that I can disable the pull

[2018-08-24 11:44] AndreiMisiukevich commented on #94
Sorry, i really don't know
You can try to add IsPanInteractionEnabled = false.

[2018-08-24 20:05] karlingen commented on #93
@AndreiMisiukevich PR created :) As iOS and UWP don't have the option to disable animations, we don't need to create services for them I suppose.

Now what is left is the actual logic for disabling animations.

[2018-08-26 04:15] nawidy opened #96 "Unable to remove element from carousellist"
Hi @AndreiMisiukevich,

I've been trying to use the CarouselView. In my app, I remove an element of my container which is bound to my carousel view. I am expecting only for existing elements to be visible, yet I see an empty slot when I browse through my carousel view, can you please advise?

[2018-08-26 04:17] nawidy opened #97 "Card Ghosting effect"
Hi @AndreiMisiukevich,

I'm using the carousel view controller and notice that sometimes, there's an ghosting effect with my swipes. I'm not sure if this is for any reason because of padding within my carousel view or if this could be something else? I think I was able to reproduce this also if cyclical mode is turned off. Not sure if this could be for swiping too fast, or from the edge or somethi

[2018-08-26 14:07] AndreiMisiukevich commented on #97
@nawidy Hi
Could you provide a video with reproduction?
Perhaps, this effect occurs, because you doesn't use ItemTemplate and pass view to ItemsSource directly

[2018-08-26 14:08] AndreiMisiukevich commented on #96
Hi, sure
But I need a reproduction sample project, if it's possible.

[2018-08-26 14:09] #94 closed

[2018-08-26 17:06] nawidy commented on #97
Hi @AndreiMisiukevich,
Thanks I will look into creating a repro. I've created sample code for the other ticket and trying to reproduce it there as well. I think I also noticed this happen when cyclical mode is turned off

[2018-08-26 17:19] nawidy commented on #96
[CardsSample 2.zip](https://github.com/AndreiMisiukevich/CardView/files/2321709/CardsSample.2.zip)

[2018-08-26 17:21] nawidy commented on #96
Hi @AndreiMisiukevich,
Thank you very much. I have attached the sample to the ticket. I have added a toolbar item to call the delete function directly, it seems that this issue happens only if you use the swipe down animation to delete. If you get a chance, please take a look and advise. If you press the button, it seems to delete it properly and the gesture doesn't have a problem either, so I'm a

[2018-08-27 06:26] AndreiMisiukevich commented on #96
@nawidy sure, i will check it on this week.
Unfortunately, now I have no a lot of time.

[2018-08-27 06:28] nawidy commented on #96
Thanks again for your hard work. Looking forward to seeing what you find, and if I figure it out I’ll make a post.
Thanks,
- Nawid

[2018-08-27 06:29] AndreiMisiukevich commented on #96
@nawidy deal =)

[2018-08-28 06:55] JTOne123 opened #98 "[UWP] Window resizing crash"
Steps to reproduce:

Version 1.6.1

1) Resize the window (a few times)

[code]

2) Get the crash

[code]

[2018-08-28 11:50] AndreiMisiukevich commented on #98
@JTOne123 Hi. Unfortunately, I have no windows PC/Laptop..
Could you try to investigate this issue?

[2018-08-28 12:03] JTOne123 commented on #98
yes, sure

[2018-08-28 14:01] AndreiMisiukevich commented on #93
@karlingen hey) try please 1.6.2-pre version of this package

[2018-08-28 20:41] JTOne123 commented on #98
Fixed https://github.com/AndreiMisiukevich/CardView/pull/99

There are two exceptions here
1 In the adding
2 In the removing

Steps to reproduce
1 In the sample, in CarouselSampleXamlView.xaml need to set SlideShowDuration="100"
2 After that fast resize the app's window a few times

[2018-08-28 22:18] AndreiMisiukevich commented on #98
Wow, great
I will validate the PR on this week

[2018-08-28 22:26] nawidy commented on #97
I have not reproduced this recently, it seems to be a result of doing a quick swipe. If I don't reproduce it soon, I'll go ahead and close this out

[2018-08-28 23:04] nawidy commented on #97
I have not reproduced this recently, if I do. I'll reopen the ticket/let you know what I did.

[2018-08-28 23:04] #97 closed

[2018-08-29 03:54] AlfredoSolisFrausto opened #100 "Bindable properties of TabViewControl don't work"
When I trying bind some value to any Bindable Property of TabViewControl, for example HeaderBackgroundColor or HeaderTabTextFontAttributes, running appears the error: "Cannot assign property {PROPERTY NAME}: Property does not exists, or is not assignable, or mismatching type between value and property". It worked for me adding "static" to bindable properties.

[2018-08-29 11:29] shreyans-wakekar commented on #35
Hello, I just want to know, how to stop slideshow programmatically.
Need Help.

[2018-08-29 11:33] shreyans-wakekar commented on #42
Hello, I just want to know, how to stop slideshow programmatically, after last element has been swiped.
Need Help.

[2018-08-29 11:41] b099l3 opened #101 "Base carousel view processors setting views to hidden, displays as blank views."
Firstly, this is a question rather than an issue (Also possibly a mad rambling as I have been working on this issue for about a week). I have been using this control as a `CarouselView` in my current project.

We are using it to display a grid of items that can be resized, e.g, if we have 20 items in a 4x4 grid page we have 2 pages, one with 16 and the other with 4. We can then resize the grid to

[2018-08-29 19:36] karlingen commented on #93
@AndreiMisiukevich It works perfectly. Good job!!!!

[2018-08-30 07:32] AndreiMisiukevich commented on #93
@karlingen very well
I will add it in next stable release for sure =)

[2018-08-30 07:32] #93 closed

[2018-08-30 07:35] AndreiMisiukevich commented on #35
@shreyans-wakekar you can handle index changed (with event or via viewModel) and if your index equals last index, set SlideShowDuration to 0

[2018-08-30 07:36] AndreiMisiukevich commented on #42
@shreyans-wakekar Replied you in another issue =)

"if current index == last index then slideshowduration = 0 " =) it's just pseudocode

[2018-08-30 07:37] AndreiMisiukevich commented on #100
Hi @AlfredoSolisFrausto
What TabViewControl is ? =)

[2018-08-30 07:55] shreyans-wakekar opened #102 "How to get the Tap gesture on the Cards ?"
**<cv:CarouselView IsCyclical="false" IsVisible="false" IsPanSwipeEnabled="false">
<cv:CarouselView.ItemsSource>
<x:Array Type="{x:Type View}">
<ContentView>
<ContentView.GestureRecognizers>
<TapGestureRecognizer Tapped="Handle_Tapped" />
 </ContentView.GestureRecognizers>
</ContentView>
</x:Array>
</cv:CarouselView.ItemsSource>
</cv:CarouselView>

Getting Error : Common Language Runtime detected

[2018-08-30 08:01] AndreiMisiukevich commented on #101
@b099l3 Wow, amazing!

As for IsVisible.. Do you support both Portrait and Landscape orientation? Probably, i did it for preventing them be visible during orientation changed.. also it saves resources of device (because, if they are IsVisble = true, device draws them. Am not I right ?)

Hmm, it's good question for talk, how should we work with this.

[2018-08-30 08:02] AndreiMisiukevich commented on #102
Whole xaml, please

[2018-08-30 08:03] JTOne123 commented on #35
Is SlideShowDuration bindable?

[2018-08-30 08:05] AndreiMisiukevich commented on #100
Oh, you asked me about the sample
Really, don't know, because somebody sent me this sample for reproducing an issue.
It isn't part of cardsView package.

[2018-08-30 08:06] AndreiMisiukevich commented on #100
ok, i found the issue

[code]
He missed STATIC key word =) (public STATIC readonly) i will fixed it in my sample, thx

[2018-08-30 08:06] #100 closed

[2018-08-30 08:07] AndreiMisiukevich commented on #35
@JTOne123 yes, of course

[2018-08-30 08:08] AndreiMisiukevich commented on #102
Because now i don't see any cardI items

[2018-08-30 08:09] shreyans-wakekar commented on #102
[xml version.docx](https://github.com/AndreiMisiukevich/CardView/files/2335221/xml.version.docx)

[2018-08-30 08:12] AndreiMisiukevich commented on #102
Ok, you can try to add tapGesture to your CarouselView
And determine what items was clicked by checking SelectedIndex

[2018-08-30 13:12] AndreiMisiukevich commented on #98
@JTOne123 thanks
Will be available in next release (I'll create it tomorrow, i think, or on weekend)

[2018-08-30 13:12] #98 closed

[2018-08-30 13:13] AndreiMisiukevich commented on #101
I should test this cases.. probably, we will modify base processors =)
Maybe, somebody wants to assist?)

[2018-08-31 09:58] AndreiMisiukevich commented on #101
@b099l3 i checked this case on my sample... hm, i see side images during orientation changing, but don't know whether it's critical...)

[2018-08-31 09:59] AndreiMisiukevich commented on #101
Probably, we can add a property for determining possibility to change IsVisible... really, don't know

[2018-09-02 12:03] shirish8 opened #103 "Indicators"
Cannot use the indicatorcontrol...
SelectedIndicatorStyle and UnSelectedIndicatorStyle properties...
Can you show an example...where i can change its outline and background color...???

[2018-09-02 12:34] AndreiMisiukevich commented on #103
https://github.com/AndreiMisiukevich/CardView/issues/54

[2018-09-02 12:35] AndreiMisiukevich commented on #103
See this issue

[2018-09-02 12:35] #103 closed

[2018-09-02 16:05] #101 closed

[2018-09-03 04:04] scastria opened #104 "Need UWP support for one of my other projects"

[2018-09-03 04:43] shirish8 commented on #103
@AndreiMisiukevich  Thank you so much... :)

[2018-09-03 05:06] #104 closed

[2018-09-03 05:29] AndreiMisiukevich commented on #104
Oh, what was wrong?

[2018-09-03 07:15] AndreiMisiukevich commented on #104
because I still support UWP

[2018-09-04 15:05] AndreiMisiukevich commented on #17
@Phenek it would be awesome, if you will help me))

[2018-09-04 15:06] AndreiMisiukevich commented on #17
@Phenek
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseSceneBackProcessor.cs
and
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Processors/BaseSceneFrontProcessor.cs

we need to fix these two classes

[2018-09-04 18:55] Phenek commented on #17
I think, we need juste one View processor.
Using two seems to display one item twice at the same time.

[2018-09-04 20:34] AndreiMisiukevich commented on #17
@phenek, hmm, why do you think so?
Front processor responds only for front view, back — only back views

[2018-09-05 10:11] Phenek commented on #17
To see it -> just increase the AnimationLength to 5000ms in both processors

Then you can see that the currentView is still in use by the front processor,
when the back processor is initialising it.
<img width="376" alt="screen shot 2018-09-05 at 11 57 29" src="https://user-images.githubusercontent.com/4518686/45086404-58f0e280-b103-11e8-8b4c-b36c5e0f26b0.png">

I think we just need one processor

[2018-09-05 10:39] AndreiMisiukevich commented on #17
@Phenek yes, i agree with it.. really i though about creating separate class =)
If you wish, we can start to develop it together xD

[2018-09-05 20:31] ronaldosena opened #105 "[Help] Two different ItemTemplates depending on a parameter?"
Hi!

The CarouselView is working fine with it's items source. I'd like to add a last Card to the CarouselView after those wich came from the items source, and the user should tap it to add a new item to the items source. This Card should have a different appearance (let's say just an "+" sign in it's center).

I thought of achieving this by creating a parameter called "isNewItem" or something to t

[2018-09-05 20:40] AndreiMisiukevich commented on #105
Hi, why don't you want to use DataTemplateSelector ?;)

[2018-09-06 08:52] Phenek commented on #17
@AndreiMisiukevich, Yes!
I will start this week-end and, on my availables evenings.
It will be on my fork on a branch "feature/CoverFlow" something like that.

[2018-09-07 08:19] Liuyajun12 opened #106 "TabView里面放ListView滚动有问题"

[2018-09-07 08:32] AndreiMisiukevich commented on #106
Use English please.

TabView isn't part of CardsView nuget, this is just controls for test.
But you can solve all problems, if look through workaround section https://github.com/AndreiMisiukevich/CardView#workarounds

[2018-09-07 08:32] #106 closed

[2018-09-07 12:17] Malikkhoja opened #107 "Carousel View Focus"
I have a requirement of putting the carousel view in ScrollView. However that works fine for me. But I am not able to scroll my page when my focus is on Carousel View.

Any help would be great.

Thanks in advance.

[2018-09-09 11:03] abanoub-labib opened #108 "Issue with Android"
I'm using CardView as carousel component which contains 3 items. each item contains grid with background image. It works well on my S9 only but on other Android devices, the first image is rendered only without others. I don't know yet what is the cause. I changed also the images order, so the problem is not with images.

[2018-09-09 12:03] AndreiMisiukevich commented on #108
Hi) could you please create sample for me?
I guess the problem is with your image control.
Have you tried CachedImage ?

[2018-09-09 12:55] abanoub-labib commented on #108
@AndreiMisiukevich  Yes true you are right. The issue was in the image and the image control thats why it differes between devices. Thank you

[2018-09-09 12:55] #108 closed

[2018-09-09 15:59] AndreiMisiukevich commented on #108
You are welcome
If you like this plugin, you may star 🌟 this repo

[2018-09-09 21:55] Tiotenshi commented on #17
Андрей, добрый вечер. Скажите, пожалуйста, есть ли возможность изменить стиль indicatorsControl из xaml? У меня белый фон и по дефолту белые точки - сливается. Я целый вечер убил на то, чтобы попытаться изменить стиль, создавая его в c#, моих знаний не хватает.

[2018-09-09 21:57] AndreiMisiukevich commented on #17
@Tiotenshi https://github.com/AndreiMisiukevich/CardView/issues/54

[2018-09-10 06:53] rredoh opened #109 "CarouselView inside TabbedPage"
Hi Andrei. Could you please make your carouselview working inside TabbedPage? I read everywhere there's conflict with swiping gesture but not found any fix. Thank you very much and keep up the good work :D

[2018-09-10 06:55] AndreiMisiukevich commented on #109
@rredoh Hi
I think, you will have to disable tabbedPage's swiping
https://forums.xamarin.com/discussion/81092/disable-swipe-on-tabbed-page

[2018-09-10 07:07] rredoh commented on #109
Thanks for the suggestion @AndreiMisiukevich , but do we have another choice?

[2018-09-10 07:12] AndreiMisiukevich commented on #109
@rredoh hm, i don't see any solution
How can we distinguish card swipes and page swipes ?)

[2018-09-10 08:17] rredoh commented on #109
Ah I see. Thanks for the help then :)

But I have seen some apps can have this carousel and swiping tabbedpage. Just curious

[2018-09-10 15:00] tasger22 opened #110 "CachedImages (FFImageLoader) appear with wrong placeholder image in a CarouselView"
Hello Andrei!
We have an application where we would like to use your plugin to show images to users in a CarouselView (just CV from now on) using CachedImages from FFImageLoading. The only issue is that when we have many pictures in a CV and view caching is on, pictures can show the wrong image as they were cached before. However when caching is off, the pictures are fine, but switching quickly be

[2018-09-10 17:18] AndreiMisiukevich commented on #110
Hi
What version of CardsView do you use?
What do you mean, when speak about caching? Is it CardsView IsViewCacheEnabled or FFImage?

Could you please provide me the small sample ? Also it would be great if you could test it with regular Xamarin Image

[2018-09-11 05:53] benazir0 commented on #38
Please implement the feature. It would be nice to have.

[2018-09-11 06:03] benazir0 opened #111 "Dynamically changing the IndicatorsControl color from the ViewModel"
I want to change the color of the indicator according to the color of the item. If I try to use a value converter that returns cardview style, it doesn't even call the converter.

    <controls:IndicatorsControl SelectedIndicatorStyle="{Binding Item, Converter={StaticResource itemToStyle}}"/>

But if I bind the backgroundcolor only like bellow, it works.

    <controls:IndicatorsControl>
        <

[2018-09-11 07:53] AndreiMisiukevich commented on #111
Well, let's investigate it)
Perhaps, you want to debug this view and check, why it doesn't work?)

[2018-09-11 14:09] tasger22 commented on #110
We are using version 1.5.8 currently (used it for it still having an ItemTapped event, definitely gonna update it as I saw giving it a TapGestureRecognizer works now).
By caching I mean IsViewCacheEnabled, since CachedImage does the caching automatically for us without setting any property.
The code that uses these features looks like this: https://pastebin.com/H67dXaeb (Here MediaItems contain th

[2018-09-11 14:57] AndreiMisiukevich commented on #110
I think, you should to update to latest version
Add TapGesture by yourself and try these two approaches again )

[2018-09-11 15:02] tasger22 commented on #110
Alright, I'm going to try it, then come back with the results.

[2018-09-11 16:53] tasger22 commented on #110
Okay, so I checked out the new version. It didn't fix neither the crashing on iOS with IsImageViewCaching=false or the the problem with CachedImage placeholder images appearing on the wrong pictures on both platforms.
Also noticed that even while the mentioned property is off not all views appear in the CarouselView. For example the indicator shows there are 8 views in the CV while it only has 6 c

[2018-09-11 16:57] AndreiMisiukevich commented on #110
Sorry, i don't understand
You said that there is 6 items, but we see 8

[2018-09-11 16:58] AndreiMisiukevich commented on #110
Could you please create small sample project. i will appreciate it

[2018-09-11 19:30] AndreiMisiukevich commented on #111
I would be grateful so much, if you create small sample with reproduction.

[2018-09-11 20:54] ronaldosena commented on #105
Thank you very much!

DataTemplateSelector was exactly what I needed, and worked like a charm with CardsView!

[2018-09-12 05:53] AndreiMisiukevich commented on #105
@ronaldosena if you like this plugin, you may set 🌟 on the repository)

[2018-09-12 09:30] tasger22 commented on #110
Of course, here it is: [CVBugSampleProject.zip](https://github.com/AndreiMisiukevich/CardView/files/2374461/CVBugSampleProject.zip)
Also, the issue in the picture above is probably just a debugger problem, not caused by the code. Sometimes the Visual Studio debugger can show weird results.

[2018-09-12 10:05] AndreiMisiukevich commented on #110
Thank you, i will check it on weekend)

if somebody wants to debug it, i will be grateful))

[2018-09-12 10:06] AndreiMisiukevich commented on #38
I will do it on weekend)
It will be something like indicatorsControl)

[2018-09-12 11:56] Malikkhoja commented on #107
Hi AndreiMisiukevich

Thanks for sharing the link.

It works great in Android.However there is no custom renderer for IOS. How do we handle this scenario in IOS?

Can you please help?

Thanks in Advance

[2018-09-12 12:08] AndreiMisiukevich commented on #107
@Malikkhoja Hi, it works for iOS, but it isn't very pretty.

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Controls/ParentScrollView.cs

This class handle iOS scenario.
Also you can try to set IsPanInteractionEnabled = false . (It will disable panGesture, but preserve possibility to swipe cards)

[2018-09-12 12:14] AndreiMisiukevich commented on #107
This sample works well for me
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleViewNoTemplate.cs

[2018-09-12 12:27] AndreiMisiukevich commented on #107
Just Set IsPanInteractionEnabled="False" in xaml
or CarouselView.IsPanInteractionEnabled=false in code

This prop belongs to CarouselView

[2018-09-12 12:56] Malikkhoja commented on #107
Got it :)

However it doesnt work as expected. May be Swipe Gesture Recognizer we can try to play with IsPanInteractionEnabled value. Not sure how this would work.

[2018-09-12 13:07] AndreiMisiukevich commented on #107
Why doesn't it work?
It should prevent pan gesture, but preserve swiping

[2018-09-12 13:08] AndreiMisiukevich commented on #107
I open for any suggestions) how to fix this issue

[2018-09-12 13:13] Malikkhoja commented on #107
The scrolling issue get solved if you add IsPanInteractionEnabled="False" however you cannot swipe different items of CarouselView. The swipe doesnt work. You cannot see the second image in the carousel.

[2018-09-12 13:15] AndreiMisiukevich commented on #107
@Malikkhoja No, it prevents pan interaction, so you cannot move element, but you may swipe over card (fast move).

[2018-09-12 13:26] Malikkhoja commented on #107
@AndreiMisiukevich  So can we change the element using swipe?

[2018-09-12 13:34] AndreiMisiukevich commented on #107
@Malikkhoja Swipe -- yes
Pan -- no

if IsPanInteractionEnabled = false

[2018-09-13 02:26] LeoJHarris commented on #38
This would be really helpful, tbh I was hoping this already had it  which it didnt so was bit disappointed but would be super to have it. Can we have the ability to either get the dots in the middle bottom or the side indicaters.

[2018-09-13 06:14] AndreiMisiukevich commented on #38
@LeoJHarris yes, you can put IndicatorsControl, where you want

[2018-09-13 07:38] AndreiMisiukevich commented on #93
@karlingen could you explain this problem there https://github.com/xamarin/Xamarin.Forms/issues/3694

[2018-09-13 09:10] Phenek commented on #17
@Tiotenshi так так на русском ?!

@AndreiMisiukevich So I looked, For now I tried just with pan gesture without any processors.
I have 5 Recycled (Content)View, that I put all at the center x=0(So I will know which one is more at the center when translated).
Then I translate them at equal distance from 0 to  x = width back to -x = -Width until 0

Then when translating all got the same translation

[2018-09-13 09:45] AndreiMisiukevich commented on #17
@Phenek i think, it's great idea for name)
I'm look forward this PR =)

[2018-09-15 19:35] AndreiMisiukevich commented on #111
Hi
![image](https://user-images.githubusercontent.com/10124814/45589952-51b5aa00-b937-11e8-87b9-5268defef2fd.png)

Everything works fine for me (I tried from code)
Must be the same with xaml (try to clean/rebuild/delete bin/obj)

if you still have this issue, obligatory create sample with reproduction

[2018-09-15 19:35] #111 closed

[2018-09-15 19:41] AndreiMisiukevich commented on #110
Tried on iOS. It works fine
Is it Android issue?

[2018-09-15 20:00] AndreiMisiukevich commented on #110
Also, what does it mean "we see wrong images".
Does it mean, that we see wrong image during several seconds, then see right image?

[2018-09-15 20:04] AndreiMisiukevich commented on #110
So, you can try such workaround

![image](https://user-images.githubusercontent.com/10124814/45590182-7c096680-b93b-11e8-9bce-c009208f5e26.png)

But set MaxChildrenCount and DesiredMaxChildrenCount to 100 =)

So, every item will have own view =)

[2018-09-15 20:06] tasger22 commented on #110
Okay, thank you. Will try it on monday, hope it will work in our app :)

[2018-09-15 20:10] tasger22 commented on #110
Also the answer for your question is yes, you see the wrong one for 1 second then it fades to the correct picture

[2018-09-15 20:16] AndreiMisiukevich commented on #110
@tasger22 ok, i see)
you can see wrong image, because there are 4-5 views at all. They are shared among all items from itemsSource. I made it for better performance (we needn't create new view each position change).

Well, i think you can create ticket for FFImage (show loading preview if we change source)
As I see, FFImage shows LoadinPlaceholder only if it is first image loading..

[2018-09-15 20:17] AndreiMisiukevich commented on #110
@tasger22 ping me if it won't help you))
I will continue researching

[2018-09-15 20:17] #110 closed

[2018-09-17 07:58] AndreiMisiukevich commented on #38
@benazir0 @LeoJHarris I'm so sorry, guys =( I had no time to implement it on this weekend.
I will try to find time today =)
Thanks for patience )

[2018-09-17 13:17] Phenek commented on #17
Hey What's up?
I can give you a preview [here on my fork](https://github.com/Phenek/CardView/tree/feature/CoverFlow)

I will not do a PR right now.
I have a lot of issues to fix and some features to add on this component.
But enjoy and give me your feedback ))))

[2018-09-17 15:13] AndreiMisiukevich commented on #17
@Phenek looks awesome!)
I like it))

[2018-09-18 00:59] AndreiMisiukevich commented on #38
Hi
Check it on sample project

[2018-09-18 01:02] LeoJHarris commented on #38
@AndreiMisiukevich Will check, just as a side question, in the demo gifs, you have first one that has images going to the next with the images tilting over and fade out and the 2nd example gif give they just swipe across. Is there some setting for this?

[2018-09-18 01:03] LeoJHarris commented on #38
Mine are fading and tilting when I move between but Im trying to just have it so it just just swipes without the effects

[2018-09-18 01:04] LeoJHarris commented on #38
Want this: https://camo.githubusercontent.com/5f26de8f92151b1185d10610a0ae210c5a176c60/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f647530616b5843754f384254487a427561742f67697068792e676966

getting this:
https://camo.githubusercontent.com/a4d6aae8af292dc1db629441f8eefb5c963e0404/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f336f467a6c563574516846317564447849592f6769706

[2018-09-18 07:37] AndreiMisiukevich commented on #38
@LeoJHarris sorry, i can't see it.
![image](https://user-images.githubusercontent.com/10124814/45671693-c7379b00-bb2e-11e8-8c6b-a6ad11a906a3.png)

[2018-09-18 13:28] MaxenceMax commented on #17
i was wating for this feature ! Great !

[2018-09-18 14:47] abanoub-labib opened #112 "Issue With Carousel Indicators Direction in RTL"
I'm using a carousel and working on RTL (arabic layout). But there is an issue while swiping from right to left that the indicators dots navigate on the opposite direction.

[2018-09-18 15:14] AndreiMisiukevich commented on #112
Hi
Have you set IsRightToLeftFlowDirectionEnabled to true?
Show your xaml/core

[2018-09-18 21:19] LeoJHarris commented on #38
![capture](https://user-images.githubusercontent.com/5468757/45717044-d715b480-bbec-11e8-9bca-9948010c5479.PNG)

On your home page for this project you have two gifs the top has a different animation then the below. I would like to get the below animation.

[2018-09-19 03:44] LeoJHarris commented on #38
@AndreiMisiukevich but have to compliment you on a really cool library anyhow :)

[2018-09-19 08:39] AndreiMisiukevich commented on #38
@LeoJHarris

1) if you want to get "Carousel" animation, you should use **CarouselView** instead of CardsView

They are almost the same https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CarouselView.cs#L10
but have different animation processors

2) Yes, arrows don't response during animation process..
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/Contro

[2018-09-19 12:00] AndreiMisiukevich commented on #112
@abanoub-labib ...?

[2018-09-19 12:39] OKameric opened #113 "Choppy scrolling on iOS"
I'm having an issue when scrolling a page where root element is ParentScrollView and its content is CarouselView. The scrolling is OK on Android but iOS doesn't have that smooth scroll when you swipe up or down on the page. The same issue is also here in the sample: CarouselSampleViewNoTemplate. When you swipe down on green BoxView area the scrolling is working fine but if you swipe (up or down) i

[2018-09-19 13:43] AndreiMisiukevich commented on #113
Hi @OKameric
Thanks for your feedback.
Yes, this is known issue. Any ideas how to solve it?

[2018-09-19 13:45] AndreiMisiukevich commented on #113
IsPanInteractionEnabled = false is only one solution
Yes, you can't drag and drop your carousel, but can swipe over card and it must show animation.
Isn't it working?

[2018-09-19 13:58] AndreiMisiukevich commented on #113
I didn't find any solution, how to pass touch event to parent view.. So panGesture stills touches..(

[2018-09-19 13:59] AndreiMisiukevich commented on #112
Well, try IsRightToLeftFlowDirectionEnabled = true
And let me know, if smth is wrong

[2018-09-19 13:59] #112 closed

[2018-09-19 19:16] AndreiMisiukevich commented on #38
Hi
1.6.3 is published
https://github.com/AndreiMisiukevich/CardView/blob/master/docs/ArrowControl%20(Left:Right).md

[2018-09-19 19:20] #38 closed

[2018-09-19 23:47] LeoJHarris opened #114 "Weird lines appearing"
![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/5468757/45787897-a789a980-bccb-11e8-8b2c-17eb53d985d8.gif)

Hi there, noticing an issue have attached gif:

Part of code is this::

`PanCardView.CarouselView cardsView = new PanCardView.CarouselView()
            {
                ItemTemplate = new DataTemplate(() => new ImageCardItemView()),
                ItemsSource = list,

[2018-09-20 10:42] AndreiMisiukevich commented on #114
Hi
Probably, you the reason is in Xamarin.Forms
Could you provide fully reproduction?

[2018-09-20 10:44] AndreiMisiukevich commented on #113
if you want, you can report a bug for xamarin team.
Perhaps they are able to resolve it

[2018-09-20 10:44] #113 closed

[2018-09-20 12:02] OKameric commented on #113
Sorry, I didn't search through closed issues to see that someone else had the same problem. I will try to find some workaround in my layout to accomplish this.

Btw, thank you for a great library :)

[2018-09-20 12:06] AndreiMisiukevich commented on #113
@OKameric thank you)

[2018-09-20 16:47] Phenek commented on #114
Is this a video from the simulator?

[2018-09-20 19:27] AndreiMisiukevich commented on #114
@Phenek it seems to be a real device
https://play.google.com/store/apps/details?id=com.duapps.recorder&hl=en
But I'm not sure

[2018-09-20 21:04] LeoJHarris commented on #114
@AndreiMisiukevich @Phenek Yes using DU Recorder app as the link @AndreiMisiukevich mentioned

[2018-09-20 21:05] AndreiMisiukevich commented on #114
@LeoJHarris could you create small sample?
What version of XF do you use?

[2018-09-20 21:07] LeoJHarris commented on #114
Xamarin.Forms version I am using is 3.1.0.697729. Small sample to follow soon

[2018-09-20 21:52] AndreiMisiukevich commented on #114
@LeoJHarris also what api level does your device use

[2018-09-20 22:11] LeoJHarris commented on #114
Have tested on two device 5.1.1 and 7.1.1. Seeing the same issue on both.

[2018-09-20 22:28] LeoJHarris commented on #114
@AndreiMisiukevich Will get a sample before the weekend today hopefully, just a bit hands tied atm

[2018-09-21 08:27] Phenek commented on #17
@AndreiMisiukevich
Do you have an idea to not show View translated out of the contentPage?
If a view is an half inside and an half outside, just the half inside should be visible by the user.

I'm asking cause it's an issue on iOS part when sliding pop back from a navigation controller.

[2018-09-21 08:40] AndreiMisiukevich commented on #17
@Phenek maybe it can help https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.layout.isclippedtobounds?view=xamarin-forms

[2018-09-21 08:48] Phenek commented on #17
Nice that made the trick!
Thanks

[2018-09-21 09:45] karlingen commented on #93
@AndreiMisiukevich you already explained it in the issue. What else could I add to it?

[2018-09-21 10:42] LeoJHarris commented on #114
I have made a sample repo will submit soon

[2018-09-21 10:55] AndreiMisiukevich commented on #93
@karlingen hm, probably we need to create sample for them
Or just hold on this issue )

[2018-09-21 16:08] AndreiMisiukevich commented on #112
@abanoub-labib full xaml please)
Did you add IndicatorsControl as child of carousel ?

[2018-09-21 16:42] abanoub-labib commented on #112
<CardsView:CarouselView Grid.Row="0"
                                Grid.RowSpan="5"
                                BackgroundColor="#FF947B66"
                                ItemsSource="{Binding Highlights}"
                                IsRightToLeftFlowDirectionEnabled="True">

            <CardsView:CarouselView.ItemTemplate>
                <DataTemplate>

Content here

</DataTemplate>

[2018-09-21 16:45] abanoub-labib commented on #112
I just cannot send the full xaml, But the scenario is as I explained
do you get my point? If not I may create you a sample of the problem

[2018-09-21 17:28] AndreiMisiukevich commented on #112
Yes, I got it long time ago)
But I tested this flow and it should work correctly.
Well, I will test it again

[2018-09-21 17:36] AndreiMisiukevich commented on #114
@LeoJHarris don't forget

[2018-09-21 21:33] LeoJHarris commented on #114
[Sample.zip](https://github.com/AndreiMisiukevich/CardView/files/2407093/Sample.zip)

Here you go :)

[2018-09-21 21:34] LeoJHarris commented on #114
I copied my own project and stripped out basically everything apart from what was import for the sample. I haven't removed any external .libraries though

[2018-09-22 16:09] AndreiMisiukevich commented on #114
@LeoJHarris
![image](https://user-images.githubusercontent.com/10124814/45919248-f20d5080-be9a-11e8-8bb8-e7c5352b3084.png)

It crashes on start(

[2018-09-22 16:18] AndreiMisiukevich commented on #114
Could you please test it on my sample?
https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardViewSample/PanCardViewSample/Views/CarouselSampleXamlView.xaml

I still think that this is xamarin issue (XF 2.5 works fine)

[2018-09-23 10:31] amrkamal1993 commented on #114
I Have the same issue only in android
XF 3.1.0.697729

[2018-09-23 10:54] AndreiMisiukevich commented on #60
@amrkamal1993 did you check BindingContext of TapGesture holder?
I think, you missed something. Probably, you needed to set x:Reference binding

[2018-09-23 10:55] AndreiMisiukevich commented on #114
@amrkamal1993 try please with Forms 2.5
I guess, we should create issue for Xamarin team

[2018-09-23 11:46] amrkamal1993 commented on #60
It works fine if i implement this in cs .. otherwise if i implement the same using mvvm Bindning it doesn't work

[2018-09-23 11:48] AndreiMisiukevich commented on #60
@amrkamal1993 show your xaml/code

[2018-09-23 14:50] amrkamal1993 commented on #60
<cards:CarouselView  Grid.Row="0" IsViewCacheEnabled="True" Grid.Column="0" Padding="0" HorizontalOptions="FillAndExpand" Margin="0"
        ItemsSource="{Binding Imageslst}"
        SlideShowDuration="3000">
                                    <cards:CarouselView.ItemTemplate>
                                        <DataTemplate>
                                            <ContentView>

[2018-09-23 20:52] LeoJHarris commented on #114
@AndreiMisiukevich That's a bummer let me check that sample project again. I also think the issue exists in Xamarin.Forms version.

[2018-09-24 21:56] LeoJHarris commented on #114
@AndreiMisiukevich Okay

[2018-09-24 22:55] LeoJHarris commented on #114
I think we should remove the CircleFrame with just frame then at least the lines disappear, no issues anymore.

Can we not use RoundTransformation in FFLoadingImage package for corner radius without the need of the frame itself?

https://github.com/luberda-molinet/FFImageLoading/wiki/Transformations-Guide#roundedtransformation

What exactly is the issue with the Xamarin Forms Frame?

[2018-09-25 15:47] Phenek commented on #17
Hey now I'm on the HandlePanApply when touchEnd.

And I'm searching a way to perform the translate animation by checking the position of each view,
to know if any view need to be recycled or displayed.
the new displayed Views have to be added to the animation at runtime for the end.

All my recycler logic depend of the translationX of the displayedViews.
[Here -> CoverFlow Repo](https://github.com

[2018-09-26 02:11] lamvt2306 opened #115 "Error: Type TabItem not found in xmlns clr-namespace:TabSlide.Controls"
I am in this error, Help !
--------------
Page: TabSlide.xaml
-----------
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:tv="clr-namespace:TabSlide.Controls"
             x:Class="CNDEMO.TabSlide">

[2018-09-26 08:16] AndreiMisiukevich commented on #114
@LeoJHarris hi
Thanks, i appreciate any help with investigation.

[2018-09-26 08:17] AndreiMisiukevich commented on #115
@lamvt2306 Hi
TabSlide.Controls

It isn't related to CardsView package.
I don't know such namespace

[2018-09-26 08:18] #115 closed

[2018-09-26 09:51] AndreiMisiukevich commented on #17
@Phenek sorry, now i have no enough time for diving to this issue :(
Have you found any solution?

[2018-09-26 11:57] Phenek commented on #17
For now I had a HandlePanApply func like so:
[code]

[2018-09-26 12:09] AndreiMisiukevich commented on #17
@Phenek i think for first release it would be acceptable =) everybody would be happy to have something working haha)

[2018-09-27 14:20] thedjnova commented on #114
sorry for my absence but im backkkkk....

I think this will be an issue within the circleframe render. Looks most likely to do with when it overrides the original drawing elements, it is momentarily rendering a regular frame, then it is replacing it with the new frame, then on next render it is doing the same.

Ill take a look into the rendererover weekend and see what I can find.

[2018-09-27 16:10] AndreiMisiukevich commented on #17
@Phenek what exactly is working wrong?

[2018-09-28 18:11] Phenek commented on #17
My Problem is that I'm searching a way to perform the translate animation by checking the position of each view, to know if any view need to be recycled or displayed.
the new displayed Views have to be added to the animation at runtime.

And for now it's not like I want it be.

There is the PR #116 with some comments in code.

If you want some click or selection events on Items just do them on you

[2018-10-02 06:54] hectorast opened #117 "horizontal swipe/pan carousel in listview.Header"
Hello.

I need CarouselView in the header of the listview. In IOS works perfect, but in Android, is too difficult to swipe/pan because listview detect also vertical scroll.
Is posible to avoid vertical scroll of the listview when swipe/pan horizontally?

Thanks.

[2018-10-02 07:55] AndreiMisiukevich commented on #117
@hectorast Hi
Have you read https://github.com/AndreiMisiukevich/CardView#workarounds yet?

Try to create listView renderer with the same code https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/ParentScrollViewRenderer.cs

[2018-10-02 08:04] AndreiMisiukevich commented on #117
Try it and back to me with feedback please =)

[2018-10-02 09:48] hectorast commented on #117
Thank for your answer.
But I try all case in workaounds section y didn't work. Probably I'm doing something wrong.
In the other hand I see a probably bug in the carousel. In the ItemTemplate create a Grid with a background image and 2 text with verticalOptions "CenterAndExpand", when swipe heights text are wrong, like actual element (visible) take height from other element in the list.
This proble

[2018-10-02 10:07] AndreiMisiukevich commented on #117
@hectorast could you please create sample project with that issue?

[2018-10-02 11:17] AndreiMisiukevich commented on #114
So, guys
What version of XF broke the Circle frame renderer?
I believe, we can find something new it XF and use reflection for determining current XF version installed on device -)

[2018-10-02 11:54] AndreiMisiukevich commented on #114
@Phenek great!) So, we can check for existing FlowDirection property in any view =)

[2018-10-02 11:55] AndreiMisiukevich commented on #114
also I think, i should change arrow from label to image
unicode arrow work so bed (align is wrong)

[2018-10-02 13:45] hectorast commented on #117
Here is the example. Is a fork of your project.
https://github.com/hectorast/CardView

[2018-10-02 14:30] AndreiMisiukevich commented on #117
@hectorast thanks a lot, i will check it

[2018-10-02 23:13] AndreiMisiukevich commented on #117
@hectorast do you want to investigate this issue a little?
I spent a lot of time, but don't see any solution

Any ideas, how to stop scrolling ?

[2018-10-04 18:46] AndreiMisiukevich commented on #17
@Phenek Hi
I think we should rename CoverFlow to SceneView (Remove old sceneview)
And maybe try to release it)

[2018-10-04 18:47] AndreiMisiukevich commented on #17
@Phenek i appreciate any new pull requests

[2018-10-05 09:36] AndreiMisiukevich commented on #17
@Phenek
Ok, maybe CoverFlowView would be acceptable name?

As for recycledView, i'm going to refactor code (fix naming convention (_constructor method), remove redundant code etc.)

I didn't dive to code so much, but as for recycler ...
So, you can check TranslateX and Width, and if TranslateX + Width/2 doesn't intersect with ScreenSize, we can reuse this view =)

Sorry if i said something stupid

[2018-10-05 09:37] AndreiMisiukevich commented on #17
@Phenek btw, where are you from?

[2018-10-05 10:00] Phenek commented on #17
Я французский, который немного жил в Питере ))).
и ты Белорусский?

At first CoverFlowView was my first idea, so Ok

[2018-10-05 10:07] AndreiMisiukevich commented on #17
@Phenek
=) Да, я белорус)
Ok, let's go ahead in English. I though, that you are native Russian speaker, because i'm not PRO in English and it would have better performance in communication =)
Ok, great, no problem

[2018-10-05 11:44] jolugarbe opened #118 "Problems when touch an element inside the CardView"
Hi,

First of all thank you very much for this plugin.

I have a problem that I don't know how to resolve. When I touch inside the CardView on elements that I have added TapGestureRecognizer sometimes not work well. I some devices works perfect but others like Samsung Galaxy S8 works very bad and it is necessary touch sometimes to open o make the corresponding action.

I changed the CardView by Li

[2018-10-05 11:47] AndreiMisiukevich commented on #118
@jolugarbe hi) Thanks for feedback
Try please set MoveThresholdDistance = 20

[2018-10-05 11:57] AndreiMisiukevich commented on #118
Is it possible to reproduce on android emulator? Or it's just device issue

[2018-10-05 12:49] jolugarbe commented on #118
Thank you very much!!

I have set MoveThresholdDistance = 20 and now works perfect on Galaxy S8 so surely works well on other devices that happened the same. On android emulator can't reproduce it.

Thanks again!

[2018-10-05 12:59] AndreiMisiukevich commented on #118
@jolugarbe could you please set less value? (default value is 3), try please with 5,6,7 etc.
It would be great to know, what value is most acceptable =)

[2018-10-05 13:01] AndreiMisiukevich commented on #118
@jolugarbe if you like this plugin, you may set *star* )

[2018-10-05 14:02] jaspervanmegroot commented on #17
When is this awesome feature available?

[2018-10-05 14:19] AndreiMisiukevich commented on #17
@jaspervanmegroot good question.
I'll try to find time for refactoring on this weekend.. probably, i'll create pre-release package then

[2018-10-05 14:27] OKameric commented on #17
Really excited about this feature!

[2018-10-06 12:40] AndreiMisiukevich commented on #118
@jolugarbe have you investigated it ? )

[2018-10-06 12:40] #118 closed

[2018-10-06 13:17] jolugarbe commented on #118
Sorry, this monday I will check it like you say from 3 until 20 and I will comment you here.

[2018-10-08 11:09] jolugarbe commented on #118
Hi,
I have checked it with Samsung S8 that it is the device with I had these problemas and my feedback is next:
- Setting between 3 and 6 there are times that the touch does not detect well and I must press again.
- Setting between 7 and 9 is almost perfect. Maybe I have the problem 1 time between 15-20 touchs.
- Setting 10 onwards no problem.

I repeat that is only my feedback with this device. I

[2018-10-09 12:30] AndreiMisiukevich commented on #117
@cyrilcathala very strange issue
Is there a sample?

[2018-10-12 10:18] Phenek commented on #17
Hello there,
I would like to add a moving command (next or prev) with arrows today.
Arrows need a SelectedIndex property but CoverFlowView will never get it,
 because it can display more than 5 items at the same time.

I think ArrowControl should have a command on tap, but shouldn't use SelectedIndex Property
Also, the Left & Right ArrowControl should be in samples and not in the nugget.

Did you

[2018-10-12 10:34] AndreiMisiukevich commented on #17
@Phenek hi
Unfortunately, I have extremely little time for open source now :(
I haven't refactored code yet.

[2018-10-12 10:39] Phenek commented on #17
Okay just to inform you the CoverFlow is unstable,
because I'm forcing Recyclerlogic on touchEnd before animation.
it's could crash the application.

We need to fix this before adding other properties.
Let me know when you will get some time, I'm on stanby.

[2018-10-12 14:29] jonasrembratttetrapak opened #119 "Issue when resizing UWP apps"
There's a problem with rendering in UWP. Here's the repro:

1. Open UWP app and navigate to view containing a `CarouselView`
2. Maximize UWP window
3. Slide to next CarouselView item

= Result: Previous item appears to be partially rendered over the current one.
![screenshot](https://user-images.githubusercontent.com/28783954/46875437-027e6e80-ce3c-11e8-9f4d-fb5e1e83cb1c.PNG)

[2018-10-12 14:45] AndreiMisiukevich commented on #119
Hi. thanks for your report
Unfortunately, i don't have a windows PC in my own.

Maybe, somebody wants to investigate this issue, solve and make a PR ?)

[2018-10-12 22:35] AndreiMisiukevich commented on #17
@Phenek when you go ahead with new part of PR's, could you please refactor code too and write code regarding to my convention? =)

So)
1) All Methods starts from **capital** letter, camel case(CreateItem())
2) All fields starts from **_** , camel case(_age, _userName)
3) Write **private** keyword directly, please
4) Class structure is next, from top to bottom (events, static fields, constructors,

[2018-10-12 22:40] AndreiMisiukevich commented on #17
@Phenek i think, we should refactor code totally, then create package without recycling
And then try to solve recycling issue for improving package, what do you think?

[2018-10-12 22:43] AndreiMisiukevich commented on #17
@Phenek frankly speaking, i can't understand, what exactly is wrong and how to solve it )

[2018-10-12 22:53] AndreiMisiukevich commented on #119
try 1.6.4-pre

[2018-10-12 22:53] #119 closed

[2018-10-12 22:53] AndreiMisiukevich commented on #114
try 1.6.4-pre

[2018-10-12 22:54] #114 closed

[2018-10-15 08:06] jonasrembratttetrapak commented on #119
I'll check it out ASAP. Thanks!

[2018-10-15 11:50] AndreiMisiukevich commented on #119
@jonasrembratttetrapak I'm glad to know it)
If you like this plugin, you may support it by setting STAR 🌟 :)

[2018-10-15 13:28] AndreiMisiukevich commented on #79
@grammatnMcK hi
Could you please explain, what version was ok for you, and what version broke it?
Also, if it's possible, create small sample please

[2018-10-15 13:34] grammatnMcK commented on #79
Hello Andrei,

in the 1.5.8 was ok and in 1.6.3 doesn't work anymore.
All what I have is a listview and the itemssource is getting filled with an ObservableCollection<IList<ImageSource>> .

Is it a little more clear now?

[2018-10-16 10:28] ZeMidF10 commented on #17
Looking foward to test this new feature.
Nice job! 👍

[2018-10-16 11:41] grammatnMcK opened #121 "[QUESTION] CardsView | CarouselView in ListView"
Hi,

could you please provide a possible implementation of the IOrdinateHandlerParentView for a listview?
It would be nice to see how somebody could handle the cardview inside the listview.

Thanks

[2018-10-16 11:42] grammatnMcK commented on #79
I just created a new issue/question in a new thread because I think this was irrelevant.

Thank you very much for the good work.

[2018-10-16 20:00] AndreiMisiukevich commented on #17
@ZeMidF10 =) @Phenek  is workin on it =) Good job

[2018-10-16 20:02] AndreiMisiukevich commented on #121
@grammatnMcK hi
Unfortunately, i don't have it.
And honestly speaking think that it can be very difficult for implementing =/

[2018-10-16 20:05] AndreiMisiukevich commented on #121
https://github.com/AndreiMisiukevich/CardView/issues/79#issuecomment-429854389

hmm, we need to investigate it.. relay it's strange
I will appreciate if you create small sample project (the best solution would be fork my repo and create small sample in forked repo for faster debugging)

[2018-10-17 12:42] alicint opened #122 "does this control recycle the invisible views?"
like recyclerview in android. to prevent excess memory consumption etc.

[2018-10-17 12:44] AndreiMisiukevich commented on #122
@alicint yes, that's correct

[2018-10-17 12:44] #122 closed

[2018-10-17 12:54] alicint commented on #122
thanks, I will try it out

[2018-10-18 14:19] alicint opened #123 "how to Get the scroll position?"
I found that there is a universal event handler called CardsViewUserInteractedHandler which is called also when user only swipes a little, but not enough to go to the next page, now I want to get the current scroll position but can't seem to find it in the CardsView (or CarouselView). is there a way to access it?

[2018-10-18 14:31] alicint commented on #123
Thanks for quick reply 👍

[2018-10-18 18:17] renyg25 opened #124 "ListView in CarouselView"
Hi,

When a ListView contains more items in the CarouselView. The ListView is very difficult to scroll up and down. Are there any properties from the CarouselView that I can use to make the ListView work correctly? I tried disabled the Carousel but it was still not working.

Thanks!